[2017-07-24 10:42] ShRoO0oM opened #1 "cannot install using pod"
i'm getting [!] Unable to find a specification for `YPImagePicker` and when I force source using :
pod 'YPImagePicker',:git => 'https://github.com/Yummypets/YPImagePicker'

it says no such module for Stevia and when I add stevia to project I get lots of syntax error

[2017-07-31 09:45] SalmanGhumsani commented on #1
Swift 3.x

Now you can download the code and find the `Source` folder and copy `Source` into your project after that install `Stevia` with `pod 'SteviaLayout'` and run it :)

[2017-08-09 15:35] wegweiser6 commented on #1
me too, can not install pod  'YPImagePicker'
is 'SteviaLayout'   'YPImagePicker' ?

[2017-08-09 16:47] s4cha commented on #1
Hello @mohammadZ74, @SalmanGhumsani, @wegweiser6

The pod installation is broken at the moment but I will let you know when it's back up.
In the meantime, installing through Carthage should work though.

Sorry for the inconvenience :/

Cheers,

[2017-08-22 15:50] s4cha opened #2 "images broken when using cocoapods installation"

[2017-08-22 15:51] s4cha opened #3 "Cocoapods install needs full git path"
[code]

[2017-08-23 08:07] Zedd0202 commented on #3
Thank you very much :)

[2017-08-23 08:07] s4cha commented on #3
- Just needed some time to be deployed to Cocoapods

[2017-08-23 08:08] s4cha commented on #3
now works as expected

[2017-08-23 08:08] #3 closed, assigned to nobody

[2017-08-23 08:10] s4cha commented on #1
@mohammadZ74  @SalmanGhumsani @wegweiser6
The pod installation is now up and running but we still have issues with assets and translations.
This must be something bundle related since it works fine using Carthage :/
I need to look into this, I already had something similar on another project.

[2017-08-23 08:18] Zedd0202 opened #4 "camera issue"
Now that I've used the library, where's the button to take a picture on the camera screen?

[2017-08-23 08:45] Zedd0202 commented on #4
I received the icon, but it does not seem to apply.

[2017-09-10 19:44] MHX792 commented on #2
They are not included in the example project either.

[2017-09-10 19:45] MHX792 opened #5 "Provide a way to customize wordings"
Hi,
I cannot see any option for chaning the button titles. They are called:
"Ypimagepickerlibrary", "Ypimagepickerphoto", ... and in the navigation bar "YPimagePickerNext".

[2017-09-10 20:46] MHX792 opened #6 "White Bar offset in Library"
When the camera starts first and then you change to the library, there is a white bar ontop of the first row of library images (roughly 40pt). It goes away if you scroll down.

[2017-09-12 08:56] dongdong3344 opened #7 "it will crash when run on a real iPhone"
I have set 'Privacy - Photo Library Usage Description' and 'This lets you take photos and record video.'And let it run on iPhone 6plus, when present the picker, it will crash.On the simulatorm, it crashs at ' videoInput = try? AVCaptureDeviceInput(device: aDevice)'

[2017-09-12 08:57] dongdong3344 commented on #7
Another issue,how to change the title ?Any property?

[2017-09-29 07:56] s4cha commented on #7
@dongdong3344,

You need more plist entries :

- Privacy - Camera Usage Description (photo/videos)
- Privacy - Photo Library Usage Description (library)
- Privacy - Microphone Usage Description (videos)

The simulator should log an error message though :)

Hope this helps,

PS: Please excuse the long reply, I was on holiday :)

[2017-09-29 07:58] s4cha commented on #6
@MHX792 , Thanks for noticing that.
This is a problem indeed :/
I am going  to look into it.

PS : Please excuse the late reply I was on holiday :)

[2017-09-29 08:00] s4cha commented on #4
@Zedd0202,

Looks like there's an issue with resources and the cocoa pods integration.
I need to look into it. In the meantime, Carthage integration works fine :)

PS: Please excuse the late reply I was on holiday :)

[2017-09-29 12:46] s4cha commented on #6
@MHX792
This should be solved in https://github.com/Yummypets/YPImagePicker/releases/tag/2.0.0

Let me know if that solves it on your side :)

[2017-09-29 22:41] MHX792 commented on #6
Thanks, but can't test it yet, because 2.0.0 is not pushed to cocoapods yet and I don't use Carthage.

[2017-10-02 08:21] s4cha commented on #7
@dongdong3344 Does that solve the crash on your side?

[2017-10-02 08:25] s4cha commented on #6
@MHX792 I'm going to take a look at Cocoapods integration :)

[2017-10-02 09:30] s4cha commented on #4
@Zedd0202 2.0.1 should fix your issue :)

[2017-10-02 09:31] #4 closed, assigned to nobody

[2017-10-02 09:31] s4cha commented on #2
@MHX792 2.0.1 fixes Cocoapods integration :)

[2017-10-02 09:31] #2 closed, assigned to nobody

[2017-10-02 09:32] s4cha commented on #1
@mohammadZ74 @SalmanGhumsani @wegweiser6
Cocoapods integration is now fixed in 2.0.1 :)

[2017-10-02 09:33] s4cha commented on #6
@MHX792 2.0.1 should fix the issue :)

[2017-10-02 09:37] s4cha commented on #5
@MHX792 now that cocoapods integration is fixed, you should see "Library", "Photo" and "Video"
Please be aware that there are also Spanish and French translations provided out of the box.
Those are not customisable right now but maybe in a later version ;)

[2017-10-04 09:59] theolof opened #8 "Memory increases for each use"
Before starting the YPImagePicker from my app, I'm around 40MB of used memory (real device).

* After starting the picker/camera the memory goes up a couple of MBs.
When I dismiss the picker, the used memory is still at the increased amount.
* After using filters, the memory goes up around 50MB more.
When I dismiss the picker, the used memory is still at around 150MB.

So, after opening, using som

[2017-10-04 15:04] s4cha commented on #8
@theolof

Thanks for such a detailed explanation.
The picker will always use quite a lot of resources since tapping into the camera library and filters
are memory usages but it should let go of them as soon as it's over.
This looks like an issue then, thanks for the eagle eye !
I am going to look at this into more detail :)

Cheers,

[2017-10-04 15:07] s4cha commented on #8
@theolof by the way have you found a way to add the Swedish translations?

[2017-10-10 17:22] KazimAhmad opened #9 "videos picking is not working"
There,
i was having an issue while using your library, nothing happens when it comes to videos neither in the video capturing tab nor when we select a video from the photo album.
it starts the video capturing but on the stop button the video just gets vanished away and nothing significant happens, technically it should take the video to the filter view and then to the main view like instagram.
can

[2017-10-11 16:37] s4cha commented on #9
@KazimAhmad ,
This sounds weird to say the least !
We're using the lib in production for white some time and such a thing never happened to us before :/
Are you having the issue in your app or in the example project provided ?
Concerning the filters, this is only for photos (at least for the moment).

Cheers,

[2017-10-12 08:51] s4cha commented on #8
@theolof
I have found an issue in the example project. The picker's callback was creating a retain cycle so that the picker would still live in memory after being dismissed.
I don't know if you were dismissing the picker that way in your app, but adding `[unowed picker]` will break this retain cycle and allow for the whole hierarchy to be released (Library / Photo/ Video / Filters ...)

[code]

Be

[2017-10-12 09:53] s4cha commented on #6
@MHX792 Were you able to make it work?

[2017-10-12 09:53] s4cha commented on #7
@dongdong3344 any news ?

[2017-10-13 09:05] #6 closed, assigned to nobody

[2017-10-13 09:25] #1 closed, assigned to nobody

[2017-10-13 09:27] s4cha commented on #7
Closing for lack of activity

[2017-10-13 09:27] #7 closed, assigned to nobody

[2017-10-18 14:33] s4cha commented on #8
@theolof any updates?

[2017-10-19 06:20] theolof commented on #8
Thanks, it fixes the problem.

[2017-10-19 06:20] #8 closed, assigned to nobody

[2017-10-19 07:44] s4cha commented on #8
@theolof  Awesome ! Thanks :)

[2017-10-23 21:57] Guerrix opened #10 "ETA for Multiple Image selection?"
First of all, Thank You!! for your great work.

I was wondering if you have in your future improvements the multiple image selection?? Or even if there is a way that I can help with it, in my spare time 😄

Thanks!

cc @s4cha

[2017-10-25 14:33] BilalAkram commented on #1
Carthage ain't working properly .
-I added the YPImagePicker project through Carthage in my project and it shows the following error "dyld: Library not loaded: stevia and image not found" at build time.
-it also didn't add the framework files for both  YPImagePicker and Stevia
And my project is build in swift 3.2 , so how can I use this library in my project using cocoa pods ???

[2017-10-25 14:53] artemsmikh opened #11 "Is there a way to take non-squared photos?"
I'm wondering if I can somehow took non-squared photos using the "Photo" tab. Is that possible?

[2017-10-26 12:20] s4cha commented on #11
@artemsmikh the capture itself is actually full screen but is cropped right away using `image.cgImage?.cropping(to: rect)`

It is not possible at the moment but it should be fairly simple to support this use case.
The pain point will be the preview I guess. Should the preview reflect the actual photo taken? (which is the case in square mode)

[2017-10-26 12:26] s4cha commented on #10
@Guerrix thanks for reaching out !

This is definitely in our roadmap :)
I've already looked at how we could support it and I think the only limiting factor is time :)
If you are willing to participate that would be awesome !

[2017-10-26 23:21] artemsmikh commented on #11
@s4cha that is a thing to think about. In my opinion, yes, it should. Perhaps you could extend the preview down to the bottom buttons so that the capture button will be inside the preview (not sure if it's possible though).
But anyway, it would be great to have an option to get photos in the original size,  no matter whether the preview is squared or not.  🙂

[2017-10-30 10:24] s4cha commented on #5
Closing for lack of activity.

[2017-10-30 10:29] s4cha opened #12 "Crashes When permissions denied"
Crashes happen when people denied photo/video access and tap Photo taking related buttons (flash/ shot, focus etc)

- If permission is denied -> show a popup with a link to grant access in the settings
- If user taps a restricted button -> show the popup again

[2017-10-30 16:39] s4cha commented on #11
@artemsmikh I'm going to look into it I'll keep you posted :)

[2017-10-30 16:50] s4cha commented on #1
Hi @BilalAkram,

YPImagePicker depends on Stevia, which needs to be linked as well.
In Build Phases > Carthage Run Script > Input files
Make sure you have :
`$(SRCROOT)/Carthage/Build/iOS/YPImagePicker.framework`
`$(SRCROOT)/Carthage/Build/iOS/Stevia.framework`
and that those are also linked under `Link Binary with Libraries`

Concerning the swift version, not sure if Swift 3.2 code is allowed to

[2017-11-02 11:02] s4cha commented on #12
Fixed in : https://github.com/Yummypets/YPImagePicker/releases/tag/2.2.0

[2017-11-02 11:02] #12 closed, assigned to nobody

[2017-11-02 17:09] s4cha commented on #11
@artemsmikh, after looking at it, I believe it might be better to keep the same UI at least for now, 4:3 sized preview kind of breaks the existing designs. A full screen approach would be weird as well since not all devices have a 4:3 ratio screen :/

The api would look like this :

[code]
This would default default to `true` to play nice with previous versions.

Let me know if such an api would w

[2017-11-06 17:31] artemsmikh commented on #11
@s4cha yeah, that's great! Thank you. 😃

[2017-11-06 19:09] artemsmikh opened #13 "Crashes (and black square) when Photo Library permission is denied"
When I open the picker for the first time it asks me for permissions. If I deny the first request (Photo Library), then allow the second (Camera usage) and then deny the third one (Microphone) then, at first, it shows a black square instead of a camera preview (although the camera permission was granted). If I switch to the photo library picker (which is unaccessible due to denied permission and i

[2017-11-07 09:04] s4cha commented on #13
@artemsmikh I just reproduced the issue, thanks for the detailed explanation :)
I'm on it! In the mean time there is v2.2.0 that improves denied permissions if you missed it https://github.com/Yummypets/YPImagePicker/releases/tag/2.2.0

[2017-11-07 11:09] s4cha commented on #13
This is V weird :/ I thought the crash was happening when we try to save the pic, but no it's when the Picker is destroyed. Still searching but nothing for the moment. maybe it's an Apple bug ? -> http://www.openradar.me/22376207

[2017-11-07 11:32] s4cha commented on #11
You should be good to go as of 2.3.0 -> https://github.com/Yummypets/YPImagePicker/releases/tag/2.3.0

Cheers,

[2017-11-07 19:04] artemsmikh commented on #11
Great, thanks!

[2017-11-07 19:04] #11 closed, assigned to nobody

[2017-11-25 19:32] tomasbykowski opened #14 "More detailed install description?"
Hey! As someone fairly new to Swift, i have a trouble installing this library. Could anyone please help me out? (Preferably through cocoapods!)

[2017-11-27 10:21] Deepakepaisa opened #15 "Type 'UILayoutPriority' (aka 'Float') has no member 'defaultHigh'"
Respective Team,
there is a error "Type 'UILayoutPriority' (aka 'Float') has no member 'defaultHigh"
in  Stevia+Constraints.swift class. Please guide us to solve that.

[2017-11-30 15:53] s4cha commented on #15
Hi @Deepakepaisa this must have happened with swift 4, we'll update it in the next few days :)

[2017-12-04 12:32] ChintanWeapp opened #16 "make library option to open first"
When we are creating object of YPImagePicker and present it as view controller I need to open Library option first insted of Photo. How to do that? Thanks.

[2017-12-08 11:28] s4cha commented on #14
@tomasbykowski using this in you pod file doesn't work?

[code]
Can you elaborate a bit more on where exactly you're stuck ?

Please excuse the late reply,

Cheers

[2017-12-08 11:36] s4cha commented on #15
Hi @Deepakepaisa seems like you need to use Swift 4 with the release you're using. This warning happens when Stevia is built with Swift 3.2.

Hope this helps :)

[2017-12-18 13:32] s4cha commented on #15
@Deepakepaisa Were you able to fix the issue ?

[2017-12-18 14:15] s4cha commented on #16
@ChintanWeapp I'm looking at it at the moment it shouldn't be too difficult to implement :)
Please excuse the late reply,

Cheers

[2017-12-18 14:25] s4cha commented on #16
would such an api work for you?

[code]

[2017-12-21 19:41] artemsmikh commented on #13
Hmm. I can't reproduce this issue now. Have you done something to fix it?

[2017-12-28 04:27] ChintanWeapp commented on #16
I have write this line in the code as following block  func showPicker() -> Void {

        var config                          = YPImagePickerConfiguration()
        config.startOnScreen = .library
        config.onlySquareImagesFromLibrary  = false
        config.onlySquareImagesFromCamera   = true
        config.libraryTargetImageSize       = .original
        config.showsVideo

[2017-12-28 18:25] s4cha commented on #16
@ChintanWeapp,
It's totally normal, the api above is not yet released. I wanted to make sure you agreed before releasing it :)

[2017-12-29 04:03] ChintanWeapp commented on #16
Oh! Ok Sir. Thanks for the support.

On Thu, Dec 28, 2017 at 11:55 PM, S4cha <notifications@github.com> wrote:

[2018-01-02 14:54] s4cha commented on #13
@artemsmikh Indeed I fixed it a couple days ago but haven't made a version yet so it's weird it's fixed on your side :)
https://github.com/Yummypets/YPImagePicker/commit/eac13d97112831e1f2f520d10ea8a58123849438
Are you using the latest code or Carthage/ Cocoapods ?

[2018-01-02 15:10] s4cha commented on #15
?

[2018-01-03 09:05] s4cha commented on #16
@ChintanWeapp  This is now available in 2.4.0
https://github.com/Yummypets/YPImagePicker/releases/tag/2.4.0

Thanks for the request @ChintanWeapp  :)

Let me know if that works as you expected,

Have a fantastic day and year 2018 !

[2018-01-03 09:06] s4cha commented on #13
@artemsmikh 2.4.0 release should solve you issue, at least the crash :)

https://github.com/Yummypets/YPImagePicker/releases/tag/2.4.0

Have a fantastic day !

[2018-01-03 09:07] s4cha commented on #14
@tomasbykowski  can we close this?

[2018-01-04 13:54] userdar commented on #16
well @s4cha  it works but there is a problem when set startonscreen = .library there is no next button up right :). when you switch to another mode (photo in my case) next button comes :)

[2018-01-10 06:09] JigneshParekh7165 commented on #15
Respective Team,
there is a error "Type 'UILayoutPriority' (aka 'Float') has no member 'defaultHigh"
in Stevia+Constraints.swift class. Please guide us to solve that. how can I fix this issue.

[2018-01-12 09:37] s4cha commented on #14
Closing this for lack of activity

[2018-01-12 09:37] #14 closed, assigned to nobody

[2018-01-12 09:39] s4cha commented on #13
Closing this for now, feel free to reopen if it ever comes back :)

[2018-01-12 09:39] #13 closed, assigned to nobody

[2018-01-12 09:46] s4cha commented on #16
@userdar oops that's weird indeed! I'm going to look into this now, thanks for your help and patience :)

[2018-01-12 10:24] s4cha commented on #16
@userdar https://github.com/Yummypets/YPImagePicker/releases/tag/2.4.1
should solve your issue ;)

[2018-01-12 10:29] s4cha commented on #15
Hi @Deepakepaisa, @JigneshParekh7165 , do you have the issue when testing the library with
`pod try YPImagePicker` ?

[2018-01-15 22:55] sebastienboulogne commented on #15
hi @s4cha even when compiling in swift 4 (Build settings => swift version => 4.0), i have the same problem :(
Is it possible to use your pod while compiling with Swift 3.2 ? Thanks man ;)

[2018-01-15 23:00] sebastienboulogne commented on #15
trying to get the Swift 3 version with : pod 'YPImagePicker', '~> 1.2.1'
but get an error :(
How to get the Swift 3 version ? thx

[2018-01-16 22:36] cwestMobile commented on #10
Has this been added?:)

[2018-01-19 11:21] s4cha commented on #16
Closing this for now, don't hesitate to reopen if you encounter issues :)

[2018-01-19 11:21] #16 closed, assigned to nobody

[2018-01-19 11:23] s4cha commented on #10
@cwestMobile not yet but I'm going to take a look. I will keep you posted :)

[2018-01-19 11:24] s4cha commented on #9
@KazimAhmad are you still having the issue? I can't reproduce it on my side :/

[2018-01-20 11:35] Vivekthakur647 opened #17 "Getting an error : Type 'UILayoutPriority' (aka 'Float') has no member 'defaultHigh'"
public func constraint(item view1: AnyObject,
                       attribute attr1: NSLayoutAttribute,
                       relatedBy: NSLayoutRelation = .equal,
                       toItem view2: AnyObject? = nil,
                       attribute attr2: NSLayoutAttribute? = nil, // Not an attribute??
                       multiplier: CGFloat = 1,
                       constant: CGFloat =

[2018-01-20 11:54] #17 closed, assigned to nobody

[2018-01-20 16:03] sebastienboulogne commented on #15
Take a look Guys : https://useyourloaf.com/blog/easier-swift-layout-priorities/

[2018-01-20 16:04] sebastienboulogne commented on #15
@s4cha You mentioned that we had to build in Swift 4 to avoid this error but even compiling in Swift, i still have the same error :(

[2018-01-22 21:26] iantfang opened #18 "Camara preview black first time startup when config.startOnScreen = .photo"
User has to swipe to library view and back to camera view to start capture photo. This issue happens on first time YPImagePicker is shown after the app starts running. Sometimes the app freezes on photo capture view for 5 seconds.

Issue also exists in the example app.

[2018-01-23 09:35] Vivekthakur647 commented on #9
Hello i have an issue regarding videos , whenever view select video it wont preview like instagram , just creating its thumbnail and also after selecting video it wont go to filterVC .
Suggest me or correct me if i'm wrong

[2018-01-23 09:36] Vivekthakur647 commented on #9
![screen shot 2018-01-23 at 3 06 07 pm](https://user-images.githubusercontent.com/25250207/35268386-fc23922e-004e-11e8-8022-72ccd3bd0330.png)

[2018-01-23 10:56] s4cha commented on #18
@Tinyik Thanks for spotting that out ! I'm looking into it at the moment and will let you know :)

[2018-01-23 15:23] s4cha commented on #9
@Vivekthakur647 it is weird, Video preview works fine on my side both on device and simulator :/

Could you please elaborateon theses points:

- Version of the picker are you using
- Provide me the video so that I can try on my side with the same file
- Simulator type
- iOS Version

Concerning the filters, this is normal, the feature is only enabled for photos at the moment :)

Cheers,

[2018-01-23 15:46] s4cha commented on #18
@Tinyik This should be fixed in the latest version 2.4.2
https://github.com/Yummypets/YPImagePicker/releases/tag/2.4.2

Have a great day :)

[2018-01-23 17:50] iantfang commented on #18
@s4cha Thank you! Congrats on the amazing framework.

[2018-01-29 08:50] JustinBeBoy commented on #10
i wait it

[2018-01-30 05:52] cwestMobile opened #20 "Navigating with 'Next' and 'Done' buttons"
Apologies beforehand as this is probably a dumb question with a simple solution.

Can you point me in the right direction for getting the selected photo and navigating to another VC by clicking on the 'Next' or 'Done' button? The best case scenario is the transition looks the same as the transition from initial image picker to the filter page.

I would also want the image to carry over to the othe

[2018-02-01 04:58] ChintanWeapp opened #22 "Display only gallery option in picker"
Currently in the SDK we've default options as either we can select images/videos from library or we can take it using camera. But it would be useful if SDK provides options so we can set only option from (library or photos or videos) for media selection.

[2018-02-01 17:17] eddieespinal commented on #22
@ChintanWeapp, I added a logic for Video Only which you can easily duplicate for library only or photo only.  I created a PR to see if it can be implemented here.

https://github.com/Yummypets/YPImagePicker/pull/21

[2018-02-01 19:02] s4cha commented on #22
@ChintanWeapp, @eddieespinal

I was thinking that in a later version we could have something like:

[code]
(Don't pay attention to the naming)

Such a thing would enable to customise the screens shown with a simple api.

for instance :
[code]

Let me know if you like the idea :)

[2018-02-01 22:31] eddieespinal commented on #22
@s4cha I like that solution, let me know if you need help with the integration.

[2018-02-02 04:00] ChintanWeapp commented on #22
@s4cha <https://github.com/s4cha>  I think that is a good idea.

On Fri, Feb 2, 2018 at 4:01 AM, Eddie Espinal <notifications@github.com>
wrote:

[2018-02-02 08:59] iantfang commented on #18
Hello, there are still issues when config.startOnScreen = .photo.
1. After snapping the photo, if user swipe back from the filterVC to the cameraVC, the cameraCapture layer is stuck at the previous photo instead of showing live preview.
2. If now click on "Cancel" and enter the ImagePicker again, the entire ImagePicker freezes.
3. To preventing freezing as described in 2., user needs to manually s

[2018-02-05 17:16] s4cha commented on #20
Sure @cwestMobile

YPImagePicker is a plain `UINavigationController` so you can push whatever view  controller you want into it :

[code]

Please excuse the late reply ;)

[2018-02-05 17:19] s4cha commented on #22
Here is the link of the PR :) https://github.com/Yummypets/YPImagePicker/pull/23

[2018-02-05 18:41] gdelarosa opened #24 "Suggestions for adding filters to videos?"

[2018-02-06 13:22] viktorgardart opened #25 "Slow to display camera."
It takes around 7-8 seconds for the camera to display its content after displaying the `YTImagePicker`, I'm using the default configuration.

[code]

Preview:
https://imgur.com/a/3HktU

Devices: iPhone X, iPhone 7+
iOS: 11.2.5

[2018-02-06 15:23] s4cha commented on #25
@viktorgardart,
First thanks a ton for taking the time to open an issue for this.
I had the issue before on and off, on my side the issue was quite hard to reproduce, it seemed to happen more often in release configuration.
I came to the conclusion that this was thread related, something like a data race for instance.
This would explain the freeze and the randomness of the issue.
This is quite ann

[2018-02-06 17:31] s4cha commented on #25
@viktorgardart  oO i'Ve found :) thanks so much for bringing this up I had gave up earlier :)

[2018-02-06 17:31] s4cha commented on #25
will post the fix

[2018-02-06 18:01] s4cha commented on #25
[code]

[2018-02-06 18:04] s4cha commented on #25
Something that is very strange though concerning the dispatchQueue
[code]

From what I believed, `userInteractive` should've been the fastest but somehow that's not the case :/

The second part of the fix is doing `let videoLayer = AVCaptureVideoPreviewLayer(session: session)`
in the session queue.

[2018-02-06 18:11] cwestMobile commented on #20
Thanks for the response. I will try this out tonight and close out if it works.

[2018-02-06 18:12] s4cha commented on #25
PR here : https://github.com/Yummypets/YPImagePicker/pull/26
I'll take time tomorrow to issue a new version with the fix :)

[2018-02-06 18:20] s4cha commented on #20
@cwestMobile awesome :)

[2018-02-06 18:33] viktorgardart commented on #25
Thanks a lot for the quick reply, I’ll check out the fix later today/tomorrow! 🙂

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-07 03:57] cwestMobile commented on #20
So I'm not quite getting what I was hoping. I have attached a video showing the issue. First issue being the lag when changing views as seen in the video. The second being it is just showing a black screen when it is pointing to a view with many items. Any help is appreciated.

https://vimeo.com/254616670

[2018-02-07 08:34] s4cha commented on #20
@cwestMobile The scenario in the video usually happens if the `backgroundColor` of the view controller is clear. Have you tried setting the view controller's `vc.view.backgroundColor = .white` ?
Hope it helps :)

[2018-02-07 09:42] s4cha commented on #25
https://github.com/Yummypets/YPImagePicker/releases/tag/2.5.1
:)

[2018-02-07 13:37] userdar opened #27 "custom crop template"
Hello there, first of all i love your work. it's awesome and easy to customize. i want to create a custom rectangular (2:1 aspect ratio) crop area for certain use cases. (such as cover photos) can you implement such a feature maybe something like:
config.customCrop = true
config.cropRectangleRatio(width:1,height:2)
and maybe something like
config.cropCircle = true

can you walk me through or what

[2018-02-07 20:23] s4cha commented on #27
Hey @userdar thanks for the kind words !

It sounds like a very good idea :) We could provide crop support like we provide filters indeed. I will start a PR tomorrow so that we can discuss the api and start coding.

[2018-02-07 20:54] viktorgardart commented on #25
Works! 💃  Thanks @s4cha

[2018-02-07 21:34] viktorgardart commented on #25
Or.. hmm 🤔
It went from always being slow to being slow sometimes. 😕

[2018-02-08 18:32] s4cha commented on #25
mm that's V weird :/ not happening anymore on my side what device are you testing on?

[2018-02-08 18:35] s4cha commented on #18
@Tinyik Good news is the slow startup should be fixed in the latest version.
Concerning the preview stuck when coming back from the filters I can reproduce on my side so I'll try to fix it when I have some time, if you want to have a look in the meantime, don't hesitate :)

[2018-02-08 18:37] s4cha commented on #18
I can't reproduce (3) with the latest version so might be fixed as well :)

[2018-02-08 19:01] s4cha commented on #22
@ChintanWeapp
You should be able to do what you wanted in the latest version with:
[code]

https://github.com/Yummypets/YPImagePicker/releases/tag/2.6.0

Hope it helps :)

[2018-02-08 20:09] #24 closed, assigned to nobody

[2018-02-08 20:50] viktorgardart commented on #25
The same device as previously, but haven't seen it since.. Closing for now and reopening if I find anything new!

[2018-02-08 20:50] #25 closed, assigned to nobody

[2018-02-08 20:54] viktorgardart opened #28 "Video not squared when playing it back."
With the configuration below, after recording the video it's not saved as squared. When playing it back in an AVPlayerLayer it's in portrait mode.

**Configuration:**
[code]

[2018-02-08 20:58] viktorgardart commented on #28
Setting the `videoGravity` on the layer makes it look correct on the screen but when saving the video to camera roll it's saved in portrait mode.

[2018-02-08 21:19] s4cha commented on #28
@viktorgardart yep it wasn’t something we needed internally which is why it’s never been done but it’s definitely something we can add. No idea how hard it is to define a output format for videos though. Would you be willing to have a look?

[2018-02-08 21:33] viktorgardart commented on #28
Can do 🙂

[2018-02-08 22:52] viktorgardart commented on #28
Hmm, appears to be more work than expected, (to get it right). And I don't really need it either. Might look at this at a later time!

[2018-02-09 04:14] cwestMobile commented on #20
Thanks for your help :)

[2018-02-09 04:14] #20 closed, assigned to nobody

[2018-02-11 18:46] s4cha commented on #28
Ok we can keep that here for reference, there are higher priority issues at the moment but it will be a welcome improvement :)

[2018-02-12 09:10] s4cha commented on #18
@Tinyik I just fixed the freeze issue so it'll be good in the next version (later today) :)

[2018-02-12 21:36] s4cha commented on #27
@userdar here is the PR where we can discuss this new api :)
https://github.com/Yummypets/YPImagePicker/pull/29

[2018-02-12 21:41] s4cha commented on #18
@Tinyik it is now live in
https://github.com/Yummypets/YPImagePicker/releases/tag/2.6.1
Hope that fixes all your issues :)

Cheers,

[2018-02-12 21:58] userdar commented on #27
awesome :). this library will be great with your attitude and care. I have another question, as soon as i choose image from library the quality goes from 100 to 10, why do you think it's happening i'm developing some kind of social media app so image quality is important,

[2018-02-14 21:32] cwestMobile opened #30 "Video Thumbnail Selection?"
I was wondering if there was currently a way to choose a specific thumbnail for a video?

Thanks.

[2018-02-15 11:01] aneena-thomas opened #31 "Run time error"
When run the git project it shows,

Module compiled with Swift 4.0.3 cannot be imported in Swift 4.0: /Users/Aneena/Downloads/YPImagePicker-master 2/Carthage/Build/iOS/Stevia.framework/Modules/Stevia.swiftmodule/x86_64.swiftmodule

[2018-02-15 18:23] gdelarosa opened #32 "Camera takes long time to open"
I've updated the code to the 2.6.1 build but have noticed that the camera will take 7-10 seconds to open and sometimes will not open at all. I'm testing on an iPhone 6s, iOS 11.2.5.

[2018-02-16 16:37] eddieespinal commented on #32
I'm having the same problem too. I'm testing on different iPhones, but mainly iPhone X.

[2018-02-18 10:04] s4cha commented on #30
@cwestMobile At the moment the thumbnail is the first frame of the video, so customisation is not supported. I think you could push a custom view onto the picker if you'd like to customise this with your own UI.
Here is the code to generate a thumbnail `UIImage` out of a video URL file.

[code]

Hope this helps,

[2018-02-18 10:12] s4cha commented on #32
@gdelarosa, @eddieespinal, @viktorgardart  Yikes, I thought we had it in https://github.com/Yummypets/YPImagePicker/issues/25.
I have trouble reproducing it on my side (iPhone 6/X).
This looks like a threading issue, which explains the randomness & freeze.
I could surely use some help if you guys are willing to investigate :)
What helped me the first time was activating the Thread Sanitizer in Xco

[2018-02-18 10:24] s4cha commented on #31
@aneena-thomas,
You downloaded manually right ?
`Github > Clone or Download > Download Zip > Run`
This works fine on my side :/
 What is your Xcode version? (mine is 9.2)

Cheers,

[2018-02-18 10:28] s4cha commented on #31
@aneena-thomas If you are using `Carthage`

Running:
`carthage update --platform iOS --no-use-binaries`

will rebuild dependencies with your local Xcode version (here Stevia)
That can save you form having to update Xcode in the meantime :)

Hope this helps,

[2018-02-18 10:32] s4cha commented on #22
@ChintanWeapp @eddieespinal closing this for now as this is now supported in the latest version :)

[2018-02-18 10:32] #22 closed, assigned to nobody

[2018-02-18 10:32] s4cha commented on #18
@Tinyik any updates?

[2018-02-18 10:36] s4cha commented on #15
@sebastienboulogne
Sorry for taking so long to reply.

There might be a way but Swift 3 is not officially supported.
Could you document the whole process? The way you download and your Xcode version please, so that I can try and reproduce it on my end?

Cheers,

[2018-02-18 10:37] s4cha commented on #9
@Vivekthakur647 any updates on this?

[2018-02-18 10:40] s4cha opened #33 "Photo & Video Quality Drops when selecting from Library"
@userdar
"As soon as i choose image from library the quality goes from 100 to 10, why do you think it's happening i'm developing some kind of social media app so image quality is important"

[2018-02-18 10:41] s4cha commented on #33
@userdar,

Are you using the default crop to square or filters?

[2018-02-18 10:41] s4cha commented on #27
@userdar Concerning the quality
I just opened another issue to track that separately: https://github.com/Yummypets/YPImagePicker/issues/33

[2018-02-18 10:51] s4cha commented on #33
I am checking the outputted `image.size` like so
[code]
and have the same as the original  (3024.0 x 4032.0) in iPhone X :/

Are you sure you don't have
[code]
We never know :)

[2018-02-18 19:50] gdelarosa commented on #32
Hi @s4cha , I enabled the thread sanitizer in Xcode. for my screens configuration I have,
` public var screens: [YPPickerScreen] = [.library, .photo, .video]` . Not sure if this matters but I am opening the camera (.photo) first and not the library.

Furthermore, I did take a look at issue #25 and tried using the different DispatchQueues but left it as `DispatchQueue(label: "YPCameraVCSerialQueue"

[2018-02-18 20:26] Ewg777 opened #34 "Why NSMicrophoneUsageDescription?"
[code]
Is there a way to avoid asking the permission (NSMicrophoneUsageDescription)? The lib should allow to pick images only
@s4cha

[2018-02-19 10:35] s4cha commented on #34
@Ewg777 This is needed for taking videos.
Indeed it is still even when videos is not shown, I am going to take a look.
Thanks for spotting that :)

[2018-02-19 11:06] s4cha commented on #34
@Ewg777 You should be good to go as for 2.6.2 🎉
https://github.com/Yummypets/YPImagePicker/releases/tag/2.6.2
Thanks a ton for taking the time to report an issue :)

[2018-02-19 14:12] NikKovIos commented on #10
@s4cha How can i help you with it? I can spent some hours for making this feature.

[2018-02-19 18:09] iantfang commented on #18
@s4cha Hi! Sorry for the late reply, and I was busy with school in past two weeks. I’ll get back to you as soon as I tested it out. They you so much for your support and dedication in this open source project! I genuinely appreciate it.

[2018-02-19 18:41] Ewg777 opened #35 "Fatal Exception: NSInternalInconsistencyException"
1. Open YPImagePicker. Library mode;
2. Switch to an another app;
3. Save some image to the library.
4. Switch back to the app. Crash!
@s4cha

[code]

[2018-02-19 19:03] Ewg777 commented on #34
Awesome! Thanks! Closed!

[2018-02-19 19:03] #34 closed, assigned to nobody

[2018-02-19 22:05] s4cha commented on #18
@Tinyik no problem, no rush, I just wanted to know you were still alive 🙃
Thanks for the kind words :)

[2018-02-19 22:31] s4cha commented on #35
@Ewg777 nice catch, I will take a look tomorrow 👍

[2018-02-19 23:41] iantfang commented on #18
@s4cha Hahaha. In that case, rest assured

[2018-02-20 14:18] s4cha commented on #35
@Ewg777 This should be fixed in 2.7.0
https://github.com/Yummypets/YPImagePicker/releases/tag/2.7.0
Thanks for taking the time to report the issue 👍

[2018-02-20 14:20] s4cha commented on #27
@userdar  Very happy to have the v1 of the crop live in 2.7.0
https://github.com/Yummypets/YPImagePicker/releases/tag/2.7.0
Thanks so much suggesting this cool addition 👍

[2018-02-21 05:32] aneena-thomas commented on #31
My also 9.2.

[2018-02-21 07:40] aneena-thomas commented on #31
when i run in Xcode 9.1,its working

[2018-02-21 07:42] #31 closed, assigned to nobody

[2018-02-21 16:06] s4cha commented on #31
@aneena-thomas glad to know it fixes your issue :)

[2018-02-22 07:01] iantfang commented on #18
@s4cha Can confirm the latest version resolves the issues mentioned above and it works as charm. Pleas keep on the great work! I'm now closing the issue.

[2018-02-22 07:01] #18 closed, assigned to nobody

[2018-02-23 22:23] nCr78 opened #39 "Feature request: multiple photo & video selection"
Would this be possible in a future release? 😃

[2018-02-24 08:26] #35 closed, assigned to nobody

[2018-02-25 10:05] gasparuff commented on #39
Please! This library is so awesome, but if it had multiple asset selection, it would be unbeatable!!!

[2018-02-26 07:42] boboxiaodd opened #40 "libraryVC title don't modify when change album"
YPPickerVC.swift

[code]

[2018-02-26 16:43] s4cha commented on #40
@boboxiaodd You mean the `title` property right ?
Can you confirm the displayed title is indeed updated on your side ?

Cheers,

[2018-02-26 19:43] s4cha commented on #10
@NikKovIos I suggest we open a PR where we can start implementing multi selection and refine the related api. (I just gave you commit access so that you don't need to create a fork and we can both contribute to the branch.
I believe some forks have implemented it already so you can might inspiration there.

_Side note_ - As many of you out there I have a full time job as well and it can be hard to

[2018-02-27 02:53] boboxiaodd commented on #40
@s4cha
first in library page, change Album,
then nav to camera  ,
and back to library , the navbar 's title restore to old

in func updateUI

https://github.com/Yummypets/YPImagePicker/blob/80f49bc8579f7b761a17be037bed31f494e96e83/Source/YPPickerVC.swift#L269

[2018-02-27 08:42] s4cha commented on #40
Ahhhhh!
My bad, I couldn't reproduce it at the time, I was missing the navigate and come back step :)
Your fix works as expected I am going to bump the version with it.
Nice one ;)

[2018-02-27 08:57] s4cha commented on #40
@boboxiaodd that should be fixed in 2.7.1
https://github.com/Yummypets/YPImagePicker/releases/tag/2.7.1
Thanks for taking the time to report this and finding the fix :)

[2018-02-27 11:26] #40 closed, assigned to nobody

[2018-03-01 11:35] NikKovIos commented on #10
@s4cha So, do you want me to create a branch for this feature?
I checked forks - there are no implementations of the multiple selection yet.

[2018-03-05 05:21] arvidurs opened #41 "Expose startCamera stopCamera"
Please give access to those functions for custom dismissal etc.
Currently its private

[2018-03-06 13:27] relaxsus opened #42 "How can I get both the original and cropped image?"

[2018-03-06 19:19] NikKovIos opened #43 "Warnings"
let imageOutput = AVCaptureStillImageOutput()
![2018-03-06 22 01 21](https://user-images.githubusercontent.com/16647690/37052296-f168e080-2189-11e8-8abe-07a097303062.png)
let data = AVCaptureStillImageOutput.jpegStillImageNSDataRepresentation(buffer!)
`'AVCaptureStillImageOutput' was deprecated in iOS 10.0: Use AVCapturePhotoOutput instead`
v.flashButton.setImage(flashImage(forAVCaptureFlashMode:

[2018-03-07 02:23] pngo-hypewell opened #44 "showsVideoInLibrary"
How to scroll up/down with rectangle video in library

[2018-03-07 09:20] s4cha commented on #44
@pngo-hypewell I'm not sure I understand well, you would like to crop videos into squares right?
Unfortunately, this feature is not implemented, at least yet :)

[2018-03-07 09:25] pngo-hypewell commented on #44
@s4cha  Thanks for your reply.
I mean in YPImagePicker screen, the scroll is disable when I load a video from Library. The video preview is square, so in case I load a rectangle video, the bottom is lost. Is it possible for me to enable scroll to see any part of video ?
It doesn't happen when I load a image.

[2018-03-07 09:26] s4cha commented on #10
@NikKovIos sure, feel free to create a "multipleSelection" branch :)
You can check https://github.com/ytakzk/Fusuma which implemented it recently for inspiration.

[2018-03-07 09:46] s4cha commented on #41
@arvidurs Sure this can be done,
I am quite curious, could you show me how you're to implementing your custom dismissal ?
I guess this is something that could be documented later in the readme :)

[2018-03-07 09:47] s4cha commented on #41
@arvidurs  Actually, have you tried using `tryToStartCamera` instead?

[2018-03-07 09:49] s4cha commented on #42
@relaxsus This is not possible at the moment but this should be pretty straightforward to implement.
I will let you know when this is available :)

[2018-03-07 09:57] s4cha commented on #43
@NikKovIos Nice catch, YPImagePicker's target is still 9.0 at the moment to remain inclusive but as soon as we drop iOS 9 I'm all for changing to the new apis. What do you think?

[2018-03-07 10:53] NikKovIos commented on #43
It would be necessary to fix them sooner or later. But people use this lib and already get this errors. Why not to fix it now so.

[2018-03-07 13:30] s4cha commented on #43
@NikKovIos Sure, `AVCapturePhotoOutput` won't be available in iOS 9 so we'll need to have both in parallel for a while. When we finally drop iOS9 we'll just have to remove the  ` if #available(iOS 10.0, *)` clause. Sooner is better yep :)

[2018-03-07 13:48] NikKovIos commented on #43
Yes)

[2018-03-07 16:02] s4cha commented on #44
Alright indeed the preview being square, parts of the video is lost when previewing.
As you might have seen, the output video will still be the correct though, uncropped.
This looks like a very welcome addition :) I am going to look at what it implies in terms of code and will keep you posted.

[2018-03-07 16:13] s4cha commented on #44
@pngo-hypewell would an aspect fit preview work for you ? No scroll but white banners in the case of a rectangle video. The scroll would seem misleading since the library doesn't crop videos.

[2018-03-07 16:22] s4cha commented on #44
![img_0470](https://user-images.githubusercontent.com/1812953/37103965-c6e9f37e-222b-11e8-8a7b-16b72474ca33.PNG)

that would look like this

[2018-03-07 16:33] s4cha commented on #44
The fix is in the starting blocks here https://github.com/Yummypets/YPImagePicker/pull/45/files :)

[2018-03-07 18:52] s4cha commented on #43
OK @NikKovIos I started researching and experimenting with AVCapturePhotoOutput today and I'll push the first code changes for discussion on a branch tomorrow :)

[2018-03-07 19:23] pngo-hypewell commented on #44
@s4cha: thanks so much for your quick fix.
The crop videos into squares is also a perfect feature at this time. Hope you guys can implement it soon. Someone made it in PryntTrimmerView
https://github.com/prynt/PryntTrimmerView

[2018-03-09 13:57] s4cha commented on #42
@relaxsus, Thinking about it, I am quite curious. If the user cropped their picture, why exactly do you need the original ? I am genuinely curious about the use case :)

[2018-03-09 14:02] s4cha commented on #39
@nCr78 @gasparuff @RobinBecker @tin612 @rumnat we are tracking this feature here : https://github.com/Yummypets/YPImagePicker/issues/10

[2018-03-09 14:04] s4cha commented on #10
I just created a multipleSelection branch to start this feature :)

[2018-03-09 19:29] #39 closed, assigned to nobody

[2018-03-09 22:34] CIronfounderson commented on #5
I would like to have dutch translations. (I can provide them)

[2018-03-10 10:52] NikKovIos commented on #42
Good question. I don't either understand why it could be needed. Only to safe the original into the album, but there is already such a functional.

[2018-03-10 11:30] NikKovIos opened #48 "Additions and changes in LIB (Discussion)"
I've created this issue in order to tell what i did updated for my project. And maybe something of this could be extracted to the public api.

Strings:
- All `ypLocalized` strings.

Images:
- arrow.image = imageFromBundle("arrow_down_dotted")
- videoStartImage = imageFromBundle("record")
- videoStopImage = imageFromBundle("record_on")
- v.flipButton.setImage(imageFromBundle("rotate"), for: .normal

[2018-03-11 10:26] s4cha commented on #48
@NikKovIos
Having an api entry point to change images and texts sounds like a good addition to me.
The last three bullet points might be more delicate to have a customisation entry point for but I'; not against it per se.
If you have already done such a thing, would you mind issue a Pull request?
Thank you so much for your involvement in the project so far, you rock!

[2018-03-11 10:44] s4cha commented on #10
Here is the associated PR/Discussion if you want to follow the api design, feel free to chime in !
https://github.com/Yummypets/YPImagePicker/pull/47#issuecomment-372020567

[2018-03-11 10:58] s4cha commented on #5
@CIronfounderson
If you can translate these I'll add Dutch to the supported languages in the next version :)

[code]

[2018-03-11 18:06] MehdiBrandoMahdloo opened #49 "in version 2.7.1 the status bar disappear on all iphones but iphone x"

[2018-03-11 20:29] CIronfounderson commented on #5
Here you are:
"YPImagePickerLibrary" = "Bibliotheek";
"YPImagePickerPhoto" = "Foto";
"YPImagePickerVideo" = "Video";
"YPImagePickerNext" = "Volgende";
"YPImagePickerFilter" = "Filter";
"YPImagePickerVideoTooLongTitle" = "Video lengte";
"YPImagePickerVideoTooLongDetail" = "Selecteer een video korter dan %@ seconden.";
"YPImagePickerPermissionDeniedPopupTitle" = "Toestemming geweigerd";
"YPImagePick

[2018-03-12 09:12] s4cha commented on #5
@MHX792 perfect I'll make sure to include it in the next version 👍

[2018-03-12 09:13] s4cha commented on #5
I can make one today :)

[2018-03-12 09:39] s4cha commented on #44
@pngo-hypewell your fix is now available in 2.7.2 https://github.com/Yummypets/YPImagePicker/releases/tag/2.7.2
Concerning the video crop we're going to track this in a new issue, thanks a ton for you help :)

[2018-03-12 09:39] #44 closed, assigned to nobody

[2018-03-12 09:40] s4cha opened #50 "Crop video to square"
@pngo-hypewell
The crop videos into squares is also a perfect feature at this time. Hope you guys can implement it soon. Someone made it in PryntTrimmerView
https://github.com/prynt/PryntTrimmerView

[2018-03-12 09:41] s4cha commented on #5
@MHX792
Your Dutch translation is now available in 2.7.2 https://github.com/Yummypets/YPImagePicker/releases/tag/2.7.2
Thanks for taking the time to make this better ! 👏

[2018-03-12 11:23] MHX792 commented on #5
@s4cha I think you mixed up the situation a little bit. @CIronfounderson is the dutch guy. ;)

[2018-03-12 15:06] s4cha commented on #5
haha @MHX792 indeed sorry about that!

[2018-03-12 15:49] s4cha commented on #48
@NikKovIos as discussed together I'm going to start with the text customisation on the `textCustomization` branch, I'll have you review it once done :)

[2018-03-12 17:06] s4cha commented on #5
@MHX792 I haven't forgotten your request, better late than never :p
Feel free to leave your feedback here: https://github.com/Yummypets/YPImagePicker/pull/52

[2018-03-13 10:49] PawanManjani opened #54 "Where is the option for multiple selection of Image/Video?"
Where is the option for multiple selection of **Image/Video**?

[2018-03-13 12:46] s4cha commented on #54
@PawanManjani It is not supported at the moment but we're working on it. You can track advancement here : https://github.com/Yummypets/YPImagePicker/pull/47

[2018-03-13 13:32] PawanManjani commented on #54
@s4cha Thanks for responding, When you guys will complete this multiple selection feature?

[2018-03-13 13:33] s4cha commented on #54
@PawanManjani hopefully by the end of the month :)

[2018-03-13 13:52] NikKovIos commented on #54
@PawanManjani you can take a participation in it ;)

[2018-03-14 05:29] PawanManjani commented on #54
@s4cha you will complete with both image and video multiple selection??

[2018-03-14 11:11] NikKovIos commented on #54
@PawanManjani yes

[2018-03-15 00:09] AhmedSalahAli opened #55 "photo from gallery"
when pick photo from gallery quality reduce and photo resolution down

[2018-03-15 08:41] s4cha commented on #41
@arvidurs Any updates?

[2018-03-15 08:54] s4cha opened #56 "Saving Videos taken"
It would be great to enable saving in the library the videos taken by the picker.

[2018-03-15 09:00] s4cha commented on #55
@AhmedSalahAli this looks like a duplicate of https://github.com/Yummypets/YPImagePicker/issues/33
We're going to track it there if you don't mind :)

[2018-03-15 09:00] #55 closed, assigned to nobody

[2018-03-15 09:08] s4cha commented on #49
@MehdiMahdloo Good catch! I guess hiding the status bar made sense to leave more room for the rest of the UI.  iPhone X having the notch, hiding the status bar would'nt have such a benefit.
Actually, Instagram keeps it too on iPhone X's.
Let me know what you think :)

[2018-03-15 09:20] MehdiBrandoMahdloo commented on #49
I think you should make it optional for all devices.
Not every UI gets well with a View where the status bar completely disappears.
It’s just a suggestion but it may help someone :)

[2018-03-15 14:22] s4cha commented on #49
@MehdiMahdloo I like the idea of an opt out feature, definitely makes sense, and shouldn't be too hard to implement.
I'll let you know when there's news on this front :)

[2018-03-15 14:25] MehdiBrandoMahdloo commented on #49
Thank you so much. I’ve found a quick “turn around” trick.
In my app i’ve removed the ability of a view to manage the status bar (in my plist), and set a global status bar in AppDelegate.
But it may be useful to have the option to make it disappear or appear, based on the UI you have. Anyway, thank you :)

[2018-03-15 17:44] pngo-hypewell opened #57 "Slo-mo video recorded"
Endless loading on attempt to load a slo-mo video recorded using native camera app

[2018-03-16 04:22] devender54321 opened #59 "Not Working for swift 3"
your code is not updated for version 1.2.1 and also there is no Edit option like Instagram . Please update it for swift3 and multiple image selection is not working.

[2018-03-16 09:39] s4cha commented on #57
@pngo-hypewell Thanks for reporting, I'll take a look. Quite under the water at the moment so If you can feel free to take a look as well :)

[2018-03-16 11:58] robertodias180 commented on #59
@devender54321 the current version is 2.7.2.
What the min iOS version you are supporting? From version 1.2.1 onward it is iOS9+ only.

[2018-03-16 12:49] devender54321 commented on #59
I am using iOS 10.3.2 , And using code 1.2.1 of your framework.

On Fri, Mar 16, 2018 at 5:28 PM, Roberto Dias <notifications@github.com>
wrote:

[2018-03-16 13:20] s4cha commented on #59
@devender54321 multiple image selection is not available at the moment, we are working on it :)

[2018-03-16 13:42] s4cha commented on #15
@sebastienboulogne, @Deepakepaisa, @JigneshParekh7165 Are you still experiencing the issue? and if so can you go into details about your installation process and all the versions involved? It's very hard to find the cause when I cannot reproduce it :/
Cheers,

[2018-03-16 13:44] s4cha commented on #49
@MehdiMahdloo thanks for your time and ideas! I'm going to take a look and will let you know if there's related news :)

[2018-03-17 08:51] devender54321 commented on #59
And What about the Edit Option like Instagram

On Fri, Mar 16, 2018 at 6:50 PM, S4cha <notifications@github.com> wrote:

[2018-03-17 09:09] NikKovIos commented on #59
https://github.com/Yummypets/YPImagePicker/pull/47

[2018-03-17 09:29] s4cha commented on #59
@devender54321 not sure I understand what edit means, do you mean the filters ?

[2018-03-17 09:39] devender54321 commented on #59
No sir the two option found in Instagram Filter and Edit (Brightness)

On Sat, Mar 17, 2018 at 2:59 PM, S4cha <notifications@github.com> wrote:

[2018-03-17 14:32] s4cha commented on #59
Edit is not supported neither at the moment but feel free to contribute :) update your version to 2.7.X to get the latest updates.

[2018-03-18 10:20] carmelogallo opened #61 "Crash after delete image from photo library"
iOS 11.2.x
iPhone X

Hey guys, I found this issue. If you are in library section in YPImagePicker and go to native photo library of the device and delete an image, the app crash when you come back to it.

[2018-03-18 10:22] carmelogallo opened #62 "Camera is not enabled after going back from filter + crash"
iOS 11.2.x
iPhone X

Hey guys, I found this issue. If you are in filter view after you took a photo and go back, the camera is not activate so it seems that is frozen. Also, if you tap on shot button it will crash.

[2018-03-18 10:34] carmelogallo opened #63 "[QUESTION] Is it possible to change the buttons image and texts font/text?"
Hey guys, nice work with this project!

I was wondering if is there a possibility to customised the UI Objects like it was possible in Fusuma?

[2018-03-18 17:08] s4cha commented on #62
Hey @cikpis what version of the picker are you using? Because this bug is supposed to have been fixed already :)

[2018-03-18 17:10] s4cha commented on #61
@cikpis this bug is supposed to have been fixed as well :)

[2018-03-18 17:12] carmelogallo commented on #62
- YPImagePicker (2.6.0):
    - SteviaLayout (~> 4.2.0)

[2018-03-18 17:13] carmelogallo commented on #61
- YPImagePicker (2.6.0):
    - SteviaLayout (~> 4.2.0)

[2018-03-18 17:15] carmelogallo commented on #61
I'm using cocoapods
[code]

[2018-03-18 17:15] carmelogallo commented on #62
I'm using cocoapods
[code]

[2018-03-18 17:18] carmelogallo commented on #61
I had to update my cocoapod master repo. Now I have the 2.7.2

[2018-03-18 17:18] #61 closed, assigned to nobody

[2018-03-18 17:19] carmelogallo commented on #62
I had to update my cocoapod master repo. Now I have the 2.7.2

[2018-03-18 17:19] #62 closed, assigned to nobody

[2018-03-18 18:15] s4cha commented on #61
Awesome! Cheers 👍

[2018-03-18 18:56] s4cha commented on #63
@cikpis Thanks for the kind words !
Latest release (2.7.3) will enable you to customize wordings :
https://github.com/Yummypets/YPImagePicker/releases/tag/2.7.3

As for UI elements they're not (yet) but this is definitely on our shorterm roadmap, we will keep you posted :) There is an ongoing discussion here: https://github.com/Yummypets/YPImagePicker/issues/48

Side note, in the meantime there mi

[2018-03-18 19:00] carmelogallo commented on #63
Nice! Do you know when the 2.7.3 is out? And the 2.x.x for the UI elements?

[2018-03-18 19:11] s4cha commented on #63
@cikpis the Carthage version is up and I'm trying to get the pod out at the moment but having a hard time with the wifi (I'm in the train) :) So hopefully in a few hours when I get home !

[2018-03-18 19:15] carmelogallo commented on #63
nice! I guess the one for the ui elements is gonna happen later right?

[2018-03-18 19:28] s4cha commented on #63
yep, hopefully by the end of the month :)

[2018-03-18 19:44] carmelogallo commented on #63
👍

[2018-03-19 05:24] PawanManjani commented on #54
Okay, Please update me once you update it...

[2018-03-19 10:07] om-ha commented on #33
@s4cha @badoux
Any followup on this? Seems like setting every occurrence of `sessionPreset` and `deliveryMode` to highest quality solves this problem partially.

It's still very evident in videos though, specially for portrait videos. In this case cropping reduces the video quality.

[2018-03-19 10:10] s4cha commented on #33
@om-ha Thanks for the details, I'm going to take a look at it today then. Last time I tried to find the issue, I only checked for photos. l I will keep you posted :)

[2018-03-19 10:11] om-ha commented on #33
@s4cha thanks man! :D

[2018-03-19 10:15] s4cha commented on #63
2.7.3 is up on cocoapods https://cocoapods.org/pods/YPImagePicker :)

[2018-03-19 10:24] om-ha commented on #33
Pretty much here are the changes that solved the problem partially (cropping videos still has a drop in quality)
- setting `videoCompression` to `AVAssetExportPresetHighestQuality`
- setting `deliveryMode` of every `exportSession` to `AVAssetExportPresetHighestQuality`
- setting `sessionPreset` to `AVCaptureSessionPresetHigh`

Found two interesting discussions regarding this issue that might help

[2018-03-19 10:50] s4cha commented on #5
@MHX792 Thanks to 2.7.3 https://github.com/Yummypets/YPImagePicker/releases/tag/2.7.3
You can now customize the default wordings :)

[2018-03-19 10:50] #5 closed, assigned to nobody

[2018-03-19 11:40] aspek opened #64 "installing via cocoapods still 2.4.1"
Hello sir, Pods is still old version

[2018-03-19 11:44] NikKovIos commented on #64
It is ok there. https://cocoapods.org/?q=ypimage
I think you didn't updated your pods.
`pod update`

[2018-03-19 11:58] aspek commented on #64
I'm not sure about my pods version. But I've updated on last month for sure.
Maybe the cause is `[!] Failed to connect to GitHub to update the CocoaPods/Specs specs repo - Please check if you are offline, or that GitHub is down`

[2018-03-19 13:20] NikKovIos commented on #64
The problem is on your side. Try to update cocoapods repo.

[2018-03-19 15:14] s4cha commented on #64
@aspek have you tried running `pod repo update` ?

[2018-03-19 16:11] s4cha commented on #33
@om-ha thanks so much for your help.

[2018-03-19 16:18] s4cha commented on #33
By the way @om-ha are you experiencing the issue with photos as well? or only videos?

[2018-03-19 16:32] s4cha commented on #33
@om-ha
- `videoCompression` is already set to `AVAssetExportPresetHighestQuality` in the project
- Concerning `deliveryMode` it is applied  to`PHVideoRequestOptions` or `PHImageRequestOptions `, I don't see it on `AVAssetExportSession` objects.
- `sessionPreset` is already set to `AVCaptureSession.Preset.high`

I continue my research :)

[2018-03-19 16:41] s4cha commented on #33
@om-ha silly question but are you using the latest version (2.7.x) ? I have a hard time reproducing the issue.

[2018-03-19 16:47] s4cha commented on #41
Closing this for lack of activity.

[2018-03-19 16:47] #41 closed, assigned to nobody

[2018-03-19 17:59] carmelogallo commented on #63
awesome! waiting the one for the UI then!

[2018-03-20 00:19] aspek commented on #64
@s4cha Yes I have,It always `Failed to connect to GitHub` However I have solved my problem. It came from my Pods issue. spent for hour for fix this :(
Thanks all you guys

[2018-03-20 08:47] om-ha commented on #33
@s4cha  thank you so much for the followup and research, hugely appreciated.
To correct my previous comments:

- Each object occurrence of `AVAssetExportSession` could have its `presetName` set to the highest i.e. `AVAssetExportPresetHighestQuality` from the constructor.
- Each object occurrence of `AVCaptureSession` could have its `sessionPreset` to the highest i.e. `AVCaptureSessionPresetHigh`
-

[2018-03-20 09:05] s4cha commented on #64
@aspek With pleasure! Glad that it's fixed :) Can we close this ?

[2018-03-20 09:07] aspek commented on #64
Oh, I forgot it.

[2018-03-20 09:07] #64 closed, assigned to nobody

[2018-03-20 18:23] carmelogallo opened #66 "Losing image quality in filter screen."
Take a look at the screen shot. I have zoomed the photo and tapped on next.

![image uploaded from ios 1](https://user-images.githubusercontent.com/895478/37674847-0fb6bad6-2c74-11e8-9069-c0c0175eac6e.jpg)
![image uploaded from ios](https://user-images.githubusercontent.com/895478/37674848-0fcf73c8-2c74-11e8-9d50-1b2e9e315612.jpg)

[2018-03-20 18:25] carmelogallo opened #67 "[QUESTION] Force app to crop the image to square"
Would be possible to force the app to crop the image to a square one from library to filter?

[2018-03-21 11:54] nathankonrad1 commented on #32
Hey @s4cha
I am experiencing this also, but only when open VIDEO.
`config.screens = [.library, .photo, .video]
  config.startOnScreen = .video`

Any idea how to get this done ?
What I observed also is that delay may be because of hiding status bar: I mean I present picker, and its up, then it takes 5-7 seconds to hide status bar, after hide , camera can record.
And in this time, if I tap record, t

[2018-03-21 15:01] s4cha commented on #67
@cikpis have you tried using `config.onlySquareImagesFromLibrary = true` ?

[2018-03-21 15:03] s4cha commented on #66
@cikpis this looks like a duplicate of https://github.com/Yummypets/YPImagePicker/issues/33
We are going to track it there if you don't mind :)

[2018-03-21 15:03] #66 closed, assigned to nobody

[2018-03-21 15:08] s4cha commented on #49
@MehdiMahdloo You can now set `config.hidesStatusBar = false` to prevent the status bar from hiding starting 2.7.3  https://github.com/Yummypets/YPImagePicker/releases/tag/2.7.3

Hope this helps :)

[2018-03-21 15:12] MehdiBrandoMahdloo commented on #49
I’ve updated the library yesterday. It’s great to see you’ve introduced the possibility to set the status bar.
Thank you so much and keep on the great job. :)

[2018-03-21 15:15] s4cha commented on #49
@MehdiMahdloo  Thanks for the kind words! can we close this ?

[2018-03-21 15:18] MehdiBrandoMahdloo commented on #49
Definitely

[2018-03-21 15:24] MehdiBrandoMahdloo opened #68 "Weird arrow icon and ability to change font title in Gallery"
So, I just found out that the little “down arrow” icon in the gallery/library screen, is not an icon but a whole screenshot cropped.
I’ve looked closely to the icon and found out that the background isn’t transparent but a sort of grey, and i’ve decided to export it to Sketch.
Opening the icon in Sketch made me discover a very weird thing.
The icons, is a huge screenshot of a chat, cropped with a

[2018-03-21 15:30] #49 closed, assigned to nobody

[2018-03-21 16:05] carmelogallo commented on #67
Nice! For that I asked a question :) I'll try it out today, thanks!

[2018-03-21 16:05] #67 closed, assigned to nobody

[2018-03-21 16:06] carmelogallo commented on #66
👍

[2018-03-21 16:07] carmelogallo commented on #33
Same problem for me :)

[2018-03-22 07:20] Pircate opened #69 "'YPWordings.PermissionPopup' initializer is inaccessible due to 'internal' protection level"
'YPWordings.PermissionPopup' initializer is inaccessible due to 'internal' protection level

[2018-03-22 08:41] om-ha commented on #33
@cikpis  check out this [commit](https://github.com/Yummypets/YPImagePicker/pull/65) by @s4cha

[2018-03-22 08:44] s4cha commented on #69
It's weird because https://github.com/Yummypets/YPImagePicker/blob/master/Source/Configuration/YPWordings.swift
is public
[code]

[2018-03-22 08:52] s4cha commented on #33
@om-ha
No problem! Every bit of info you provided was very useful to pinpoint the origin of the issue. Indeed previous versions of the picker were not using the highest quality settings by default.
Actually, even though the fix works, I am still puzzled as to why `requestImage` api doesn't return the highest quality image :/
Are you now able to use the latest version in the project you talked abou

[2018-03-22 09:41] carmelogallo commented on #33
@om-ha when is it going to be merged?

[2018-03-22 09:52] Pircate commented on #69
@s4cha  You could write it like this:
[code]
or
[code]

[2018-03-23 08:00] carmelogallo commented on #33
@s4cha when are you going to merge the pull request about image quality after zoom?

[2018-03-25 02:04] wawilliams003 opened #70 "UILayoutPriority.defaultHigh Error"
I am using the latest version YPImagePicker 2.7.3 with swift 4.

For some reason I am getting this error:
Type 'UILayoutPriority' (aka 'Float') has no member 'defaultHigh'

on this line  **c.priority = UILayoutPriority(rawValue: UILayoutPriority.defaultHigh.rawValue + 1)**

[2018-03-27 15:39] Palando opened #71 "Get image source (library/camera)"
I need to know if the image comes from the camera or from the library. Am I correct that this information is not available at the moment? Would someone add this?

[2018-03-29 15:54] youngvz opened #72 "Handling Cancel Events"
Hey everyone, I had a question regarding how to handle the picker when a user decides to press cancel. I'm wondering how I would achieve something like this:

[code]

Thanks,
V ✌🏼

[2018-03-30 09:29] PawanManjani commented on #54
Hey @s4cha  have to uploaded a new version with multiple selection?

[2018-03-30 10:09] Cez95 opened #73 "Memory Leak when first using picker"
I have tested this multiple times and every device possible. Whenever I open my app fresh and grant the device permission to access my photos etc, the first time YP opens it creates a memory leak. Specifically on line 44 - 48,  `
    private let loadingContainerView: UIView = {
        let view = UIView()
        view.backgroundColor = UIColor(white: 0, alpha: 0.8)
        return view
    }()`

I

[2018-04-02 17:26] s4cha commented on #73
@Cez95 Thanks for the report, I'm taking a look at the moment and let you know if I have any updates :)

[2018-04-02 17:30] s4cha commented on #73
Silly question in the meantime,
Are you using [weak picker] or [unowed picker] when using the api?
[code]

[2018-04-02 18:20] s4cha commented on #54
@PawanManjani not yet, NikKovIos is on it. By the way @NikKovIos, don't hesitate if you need a hand on something :)

[2018-04-02 18:37] s4cha commented on #72
@youngvz This is not supported at the moment but I add this to the improvements for the next version.
This is not a big deal to implement :)

[2018-04-02 19:20] Cez95 commented on #73
unowned

On Mon, Apr 2, 2018 at 1:30 PM, S4cha <notifications@github.com> wrote:

[2018-04-02 19:23] Cez95 commented on #73
I have tried it with both weak and unowned and still get a memory leak btw

On Mon, Apr 2, 2018 at 3:20 PM, Christopher Olson <ceolson95@gmail.com>
wrote:

[2018-04-02 20:20] s4cha commented on #71
@Palando, You're right, this is not available at the moment but this should be fairly simple to implement so we'll try to it have it in the next version :)

[2018-04-02 20:22] s4cha commented on #72
@youngvz, what would the `bool` used for in your example ?

[2018-04-02 20:34] s4cha commented on #72
@youngvz your request will be implemented in https://github.com/Yummypets/YPImagePicker/pull/76
Feel free to chime in the refine the api if needed :)

[2018-04-02 20:36] s4cha commented on #33
@om-ha @cikpis you should be good starting in 2.8.0
https://github.com/Yummypets/YPImagePicker/releases/tag/2.8.0
:)

[2018-04-02 20:41] s4cha opened #77 "Support circular Crop"
Thanks @userdar for suggesting this cool addition.

[2018-04-02 20:44] s4cha commented on #27
@userdar the quality issue should be fixed in the latest version 2.8.0
Also we are going to close this one and track the circle crop in a separate issue if you don't mind :
https://github.com/Yummypets/YPImagePicker/issues/77

[2018-04-02 20:44] #27 closed, assigned to nobody

[2018-04-02 20:47] s4cha commented on #43
@NikKovIos I guess we can close this now that 2.8.0 is out :)

[2018-04-02 21:00] s4cha commented on #70
@wawilliams003 how did you install the tool ? Carthage or Cocoapods?

[2018-04-02 21:03] s4cha commented on #68
@MehdiMahdloo , nice Catch!
This makes a lot of sense, I'll keep you posted when any of this improves :)

[2018-04-02 21:04] MehdiBrandoMahdloo commented on #68
Can’t wait

[2018-04-02 21:18] NikKovIos commented on #43
Yeah!

[2018-04-02 21:19] NikKovIos commented on #54
Yes. Im gonna make it at this or next week.

[2018-04-02 21:52] youngvz commented on #72
@s4cha Thanks for the quick response! In hindsight, I don't think I need to handle the bool case!

[2018-04-02 21:52] #72 closed, assigned to nobody

[2018-04-03 05:33] carmelogallo commented on #33
@s4cha awesome! thanks!

[2018-04-03 14:19] #33 closed, assigned to nobody

[2018-04-03 14:22] #43 closed, assigned to nobody

[2018-04-03 20:58] s4cha commented on #68
@MehdiMahdloo you should be good in version 2.8.1 -> https://github.com/Yummypets/YPImagePicker/releases/tag/2.8.1
Enjoy !

[2018-04-05 17:04] Palando commented on #71
That would be great. Thank you.

[2018-04-05 21:17] nathankonrad1 commented on #32
Hey @s4cha
Any update on this ? any idea when we will see this fixed ?
Thanks a lot!

[2018-04-06 05:46] devender54321 commented on #54
ok thanks we are waiting for it. Also work for Edit option (like brightness) like Instagram to make this third party complete

[2018-04-08 11:17] onurgenes opened #81 "Warning: "Unable to load image data, /var/mobile/Media/DCIM/101APPLE/XXXX.JPG""
Getting this warning in console.

It happens both JPG and HEIC images.

[2018-04-09 12:08] GShushanik opened #82 "How to Push ImagePicker instead of showing Modally?"
Hi. Thanks for this amazing library. :)
I have one question,
Can I push ImagePicker to my Navigation Stack, or there's only supported Modal presenting?

[2018-04-12 14:17] cenkingunlugu opened #83 "Only image picking"
I dont want to show Video section ever. But there is no possibility for that.

[2018-04-12 17:20] #83 closed, assigned to nobody

[2018-04-12 17:33] cenkingunlugu opened #84 "First screen title color is black and can not be configured"
Is there a possibility to change it? I could not succeed.

[2018-04-13 12:36] NikKovIos commented on #69
Just now i've tried to integrate YPImagePicker with cocoapods.
[code]
Works like a charm. Check your code please. Also how did you install the library?

[2018-04-13 12:38] NikKovIos opened #86 "OnlySquareImages"
We got three properties in config
[code]

Maybe one of them is not necessary? At least we should write if `onlySquareImages` force `onlySquareImagesFromLibrary` to be true or something like that.

[2018-04-13 12:40] NikKovIos commented on #86
Oh, sorry, didn't see `unavailable`
So maybe remove this config at all when multiple selection will implemented?
And remove other stale configs too.

[2018-04-13 15:23] NikKovIos commented on #71
I'll implement it https://github.com/Yummypets/YPImagePicker/pull/47

[2018-04-13 15:27] #68 closed, assigned to nobody

[2018-04-13 15:27] #59 closed, assigned to nobody

[2018-04-13 15:29] NikKovIos commented on #9
Closed due to lack of activity. Feel free to reopen.

[2018-04-13 15:29] #9 closed, assigned to nobody

[2018-04-13 15:35] NikKovIos commented on #63
The continue of discussion here https://github.com/Yummypets/YPImagePicker/issues/48

[2018-04-13 15:35] #63 closed, assigned to nobody

[2018-04-14 10:22] s4cha commented on #86
@NikKovIos Yes Indeed `onlySquareImages` was the previous setting that then got separated into two different ones. I'm ok with removing it in the next version :)

[2018-04-14 10:23] NikKovIos commented on #86
Then i'll remove it in https://github.com/Yummypets/YPImagePicker/pull/47

[2018-04-14 10:23] #86 closed, assigned to nobody

[2018-04-15 19:01] entwickler-witze opened #88 "Only show videos"
Hey how can I manage to only show videos?
I use:
        config.screens = [.video]
        config.startOnScreen = .video

but it always crashes immediately

moreover it always crashes when I try to switch the sections (library to photo or video)

my code

        var config = YPImagePickerConfiguration()

        config.showsVideoInLibrary = true
        config.onlySquareImagesFromLibrary = false

[2018-04-16 06:03] Didar1994 commented on #54
Hi! Have you finished multiple selection feature? Really looking forward to it!

[2018-04-16 09:43] s4cha commented on #88
@SashaMeyer

That's weird :)
You should be able to only show video with just `config.screens = [.video]`
`config.startOnScreen = .video` would be redundant in this case.

Here is the code that I tested against the master branch which worked :
[code]
Are you using the latest version 2.8.1 ?
- What iOS version/ Device version is the crash happening on?
- Could you log the crash logs if you have some

[2018-04-16 10:00] NikKovIos commented on #54
@Didar1994 The basic implementation is finished, you can fetch it directly from the multipleSelection branch. But it still in development.

[2018-04-16 10:18] s4cha commented on #42
@relaxsus Could you give us a bit more info about the use case?
Thanks,

[2018-04-16 15:43] entwickler-witze commented on #88
i am using 2.8.1 as a version and it crashes on the simulator iPhone x
its pausing them but after a couple of seconds it starts playing again, I will further test it now on a real device, the simulator may be bugging

[2018-04-16 16:44] entwickler-witze commented on #88
app always crashes, even with your code and on real device, iPhone 8 sim and iPhone X sim

[2018-04-17 18:55] hardikJoshi123 opened #90 "any similar for Android ?"
Hi,

 its a great library for iOS. do you have also same version for Android ?

[2018-04-17 19:28] NikKovIos commented on #90
Hello, sorry, but ios and Android is a separate worlds) Even if it exists, than i don't know.

[2018-04-17 19:29] hardikJoshi123 commented on #90
Hi @NikKovIos

 Thank you so much for quick reply. Ok no problem 👍

[2018-04-17 19:30] #90 closed, assigned to nobody

[2018-04-17 19:52] meditrine opened #91 "Let's create more than a crop, draw on the image"
Hey,

What do you think about add a feature which allowing us to draw (or blur) on the image we just took.
If i want to hide something on the image for example, like a face or some text.

All best :)

[2018-04-17 20:07] NikKovIos commented on #91
Great feature! You can add a PR with it)

[2018-04-17 20:10] meditrine commented on #91
Lack of time for the moment,
But I am saving this repo, it is interesting
If anyone would like to do it, feel free of course :)

[2018-04-18 09:40] NikKovIos commented on #48
https://github.com/Yummypets/YPImagePicker/issues/91

[2018-04-18 09:40] #91 closed, assigned to nobody

[2018-04-18 09:41] NikKovIos commented on #84
Added to multipleSelection branch

[2018-04-18 09:41] #84 closed, assigned to nobody

[2018-04-18 09:44] #69 closed, assigned to nobody

[2018-04-18 09:45] NikKovIos commented on #10
Continue discussion here https://github.com/Yummypets/YPImagePicker/issues/54

[2018-04-18 09:45] #10 closed, assigned to nobody

[2018-04-18 09:57] NikKovIos commented on #88
Pausing videos is not supported in 2.8.1
However you can clone multilpeSelection branch directly and it's support pausing.

[2018-04-20 13:20] AndreiBoariu commented on #32
Hey @s4cha
I am using *Using YPImagePicker (2.8.1)* on my side, and I see the same issue like @nathankonrad1
Its happening only for ` config.startOnScreen = .video `. Library and Photo are working very ok.
I am testing on iOS 11 + , on multiple devices and the same flow happening.
Any idea ?

Thanks in advance

[2018-04-20 13:39] AndreiBoariu commented on #32
@s4cha I just took a look into code for a while, and I think you should do the same `qos: .background` in `YPVideoHelper` class also.

`//private let sessionQueue = DispatchQueue(label: "YPVideoVCSerialQueue")`
`private let sessionQueue = DispatchQueue(label: "YPVideoVCSerialQueue", qos: .background)`

What do you think ?

[2018-04-21 09:37] relaxsus commented on #42
Customer requirements. Send to the server two pictures (original and cropped). I solved this question.

[2018-04-22 12:31] NikKovIos commented on #48
Got to look at `YPHelpers.swift` and rebase this functions from global to YPHelpers struct. Because global functions is a bad practice.

[2018-04-23 12:13] NikKovIos commented on #48
Should move the video fetching to the last step and async, because when selecting big video, the interface is unnecessary holding.

[2018-04-23 14:57] s4cha commented on #32
@AndreiBoariu Thanks for the suggestion, I'm going to try that, It's very hard for me to debug since it's not happening every time :)

[2018-04-23 15:10] s4cha commented on #32
Still having the issue :/
Maybe we should use only one `AVCaptureSession` that would be shared among both photo and video. I think the issue lies in the fact that two `session` try to run in parallel, resulting in a race condition.
Going to try an alternative, will report back.

[2018-04-24 10:27] devender54321 commented on #54
not found . Multiple selection for images and video

[2018-04-24 13:26] goribchat commented on #54
can i use the multiple selection option?

[2018-04-24 14:33] NikKovIos commented on #54
The multiple selection is under construction currently. Also there would be add a video trimming and cover image fetching features **from the box** 😀

To use it in pre release mode, write in your podfile:
`pod 'YPImagePicker', :git => 'https://github.com/Yummypets/YPImagePicker.git', :branch => 'multipleSelection' # Instagramm like image picker`

Thumbs up if helped!

[2018-04-24 15:08] s4cha commented on #82
Hi @GShushanik, YPImagePicker being UINavigationController itself, you cannot push a UINavigationController inside another one.
This is not supported. It could be in the future but it's not something high priority in our roadmap right now :)

Hope this helps,)

[2018-04-24 15:12] NikKovIos commented on #82
You can use something like [this](https://stackoverflow.com/questions/37722323/how-to-present-view-controller-from-right-to-left-in-ios-using-swift) to mimic the push animation.

[2018-04-24 15:12] #82 closed, assigned to nobody

[2018-04-25 04:37] goribchat commented on #54
Okay.. please inform once the multiple selection is done..

[2018-04-25 07:41] goribchat commented on #54
Hey NikKovIos it is fine. but can you help me to send the multiple image to another viewController. previously i am using ImagePickerController, and i sent the image in the doneButtonDidPress. where to implement that particular code here? i have found that   When pressing "Next"  done() function is calling but i am unable to send the image. please help

[2018-04-25 09:24] goribchat commented on #54
Sir here's no any delegate or method that returns selected image. Can you help me regarding this matter

[2018-04-25 12:04] fsalom opened #99 "Buttons are not showing"
Hi, I am using YPImagePicker for my project but when I access to it, all buttons in the navigation and in the toolbar are not showing.

<img width="1003" alt="captura de pantalla 2018-04-25 a las 14 02 41" src="https://user-images.githubusercontent.com/6815781/39244609-6cc4020e-4891-11e8-98d5-227793ebba8a.png">

My code is quite simple:
[code]

I must be doing something bad but I can not find it,

[2018-04-25 12:25] NikKovIos commented on #99
Please, create a separate project from the scratch and upload it in .zip archive here.

[2018-04-25 12:30] NikKovIos commented on #54
@goribchat The way to do it with multiple selection is like this:

[code]

[2018-04-25 13:30] fsalom commented on #99
After 2 hours debugging I found what was the problem. It was not related with the library, it works great. Sorry for the inconvenience

[2018-04-25 13:30] #99 closed, assigned to nobody

[2018-04-26 01:06] NikKovIos commented on #30
Going to be here https://github.com/Yummypets/YPImagePicker/issues/54 😁

[2018-04-26 01:06] #30 closed, assigned to nobody

[2018-04-26 01:07] NikKovIos commented on #28
Would be there https://github.com/Yummypets/YPImagePicker/issues/54 😉

[2018-04-26 01:07] #28 closed, assigned to nobody

[2018-04-26 01:08] NikKovIos commented on #15
Closed due to lack of activity. Feel free to reopen 🤪

[2018-04-26 01:08] #15 closed, assigned to nobody

[2018-04-26 01:09] NikKovIos commented on #42
@relaxsus How did you solved it?

[2018-04-26 01:09] NikKovIos commented on #50
https://github.com/Yummypets/YPImagePicker/issues/54

[2018-04-26 01:09] #50 closed, assigned to nobody

[2018-04-26 01:10] NikKovIos commented on #70
@wawilliams003 please, provide more info.

[2018-04-26 01:11] #71 closed, assigned to nobody

[2018-04-27 17:19] alisafilip opened #101 "Filter for taken video"
Hello,
I can see the filters for the photos. Can we set filters on video, too?
Thanks.

[2018-04-27 22:41] djaygit opened #102 "Preview Recorded video?"

[2018-05-01 14:33] s4cha commented on #102
@djaygit This is actually being implemented as part of https://github.com/Yummypets/YPImagePicker/pull/47
Stay tuned :)

[2018-05-01 15:00] s4cha commented on #101
Hi @alisafilip this is not supported at the moment but this is on our roadmap :)

[2018-05-02 11:58] praveen4D2 opened #103 "Mutiple selection"
Please update the mutiple selection (image & videos) option and also maintain whenever change the album folder also the selection states can maintain. Please update its as soon as possible. Waiting for your update .

[2018-05-03 06:10] devender54321 commented on #103
Update library with multiple image selection

[2018-05-03 20:30] s4cha commented on #103
@praveen4D2 @devender54321
Multiple selection is still in development and not suited for production yet.
Please be patient :)

[2018-05-04 05:07] devender54321 commented on #103
yes sir we are waiting for it for our app

On Fri, May 4, 2018 at 9:47 AM, praveen4D2 <notifications@github.com> wrote:

[2018-05-05 05:33] NikKovIos commented on #103
@praveen4D2 you can clone it directly from the multipleSelection branch already now. The basic implementation is ready. But it still need some bugfixes.

[2018-05-07 11:49] praveen4D2 commented on #103
Thanks for responding
But kindly update the multiple selection feature as soon as possible

[2018-05-07 14:30] AndreiBoariu opened #106 "Strange crash"
Here is the report:
http://crashes.to/s/8af761e87ac

[2018-05-07 14:32] AndreiBoariu commented on #106
`Fatal Exception: NSInvalidArgumentException`
`0  CoreFoundation                 0x184582d8c __exceptionPreprocess`
`1  libobjc.A.dylib                0x18373c5ec objc_exception_throw`
`2  AVFoundation                   0x18a05a124 __copy_helper_block_.845`
`3  libdispatch.dylib              0x183e74ae4 _dispatch_client_callout`
`4  libdispatch.dylib              0x183e7d640 _dispatch_queue_barrie

[2018-05-07 15:46] cwestMobile commented on #103
@praveen4D2 cmon man just be patient. You've asked like 6 times in the last few days. They have been working on it for a long time, it'll happen when it happens.

[2018-05-07 19:04] NikKovIos commented on #106
You should describe the steps to reproduce the crash.

[2018-05-08 07:53] s4cha commented on #106
@AndreiBoariu Thanks for providing the crashlytics log, this is very helpful. Indeed, if you could find the steps that reproduce the crash in a deterministic way that would be even better :). By the way, very glad ClaimItApp uses the picker !!

[2018-05-08 11:05] AndreiBoariu commented on #106
@NikKovIos @s4cha Thanks guys for reply!
Sorry because I did not provide any steps, but I am not very sure how to catch this.
I big words, I think it refers to #32 . User opens picker, but because it takes too long time to enable session, user taps on recording video, or take picture and this crash happens.

Guys, really appreciate your efforts to help with this great library. It helps our app a l

[2018-05-10 10:06] alisafilip commented on #101
When can we expect for this?

[2018-05-10 16:45] NikKovIos commented on #101
Not in the nearest future(

[2018-05-11 16:15] kerimsener opened #110 "only video from the library"
how to get only videos from the library?

[2018-05-14 13:03] Viktormax opened #111 "Italian translation"
Wonderful job!

[YPImagePicker-master plus ita version.zip](https://github.com/Yummypets/YPImagePicker/files/2000788/YPImagePicker-master.plus.ita.version.zip)

[2018-05-14 13:41] chintanMaisuriya opened #112 "Add video cropping option"
When we need to select and upload video from application, there should be an option of video cropping into YPImagepicker so users can easily select video of any duration instead of current option we're applying of duration-limit. It would be useful feature. Hope you guys will look into this ASAP.

Thank you :)

[2018-05-14 15:08] s4cha commented on #112
@chintanMaisuriya We're actually working on video trimming in the multipleSelection PR here https://github.com/Yummypets/YPImagePicker/pull/47 :)

[2018-05-14 15:13] s4cha commented on #111
@Viktormax Thank YOU so much, we will add this to the next release :) Actually I'll come back to you to check the translation for the newly introduced wordings.

[2018-05-14 15:15] Viktormax commented on #111
OK, when u’ll have some news, I’ll be glad to help with Italian translation.

V.

[2018-05-14 20:26] MehdiBrandoMahdloo opened #113 "Dismiss without animation"
Hello!
I need to dismiss the Picker view without the animation ("YPPickerVC class, line 299).
Can you add the parameter so it can be set to true or false?
It may be very useful!
Thank you again for your awesome library!
Cheers!

[2018-05-14 22:24] s4cha commented on #111
Well if you could check the following wordings that would be 👌  !
Some also need tranlsation (marked with 🔴 )
[code]
Here are the English ones for comparison
[code]

Cheers :)

[2018-05-16 06:33] DullBottle commented on #110
I have the same problems，any one have some ideas?

[2018-05-16 08:08] s4cha commented on #110
@abdulkrm & @DullBottle This is not possible at the moment but this is something that's on our roadmap short term :)

[2018-05-16 09:39] DullBottle commented on #110
@s4cha thx for reply :)

[2018-05-16 12:10] sakthinath opened #114 "Multiple selection library"
Hi
May i please know when are you going to update a multiple selection library ?

[2018-05-16 16:32] s4cha commented on #110
Actually https://github.com/Yummypets/YPImagePicker/pull/107 just got merged which is going to enable this feature soon! Thank @portellaa  :)

[2018-05-17 10:33] s4cha commented on #114
https://github.com/Yummypets/YPImagePicker/releases/tag/3.0.0 !!!

[2018-05-17 10:34] s4cha commented on #54
https://github.com/Yummypets/YPImagePicker/releases/tag/3.0.0 🎉

[2018-05-17 10:34] s4cha commented on #103
https://github.com/Yummypets/YPImagePicker/releases/tag/3.0.0 🎉

[2018-05-17 10:34] s4cha commented on #110
https://github.com/Yummypets/YPImagePicker/releases/tag/3.0.0 🎉

[2018-05-17 10:34] s4cha commented on #42
https://github.com/Yummypets/YPImagePicker/releases/tag/3.0.0 🎉

[2018-05-17 12:19] #114 closed, assigned to nobody

[2018-05-17 12:19] #103 closed, assigned to nobody

[2018-05-17 13:27] praveen4D2 opened #116 "Latest Version not updated"
Hi,
I am trying to update latest version of library using pod but the same version has updated.

[2018-05-17 14:59] s4cha commented on #116
Hey @praveen4D2 my bad, Carthage was up, but not Cocoapods, could you try again now please?

[2018-05-18 04:43] praveen4D2 commented on #116
Hi,
I again tried but its not updated , kindly fix the issue ?

[2018-05-18 08:10] s4cha commented on #116
Hi @praveen4D2,
The pod is up here https://cocoapods.org/pods/YPImagePicker.
I just tried integrating it through Cocoapods on my side and it worked well.
Have you tried running `pod repo update` before calling `pod update` ?

Let me know how this goes,

[2018-05-19 13:10] PawanManjani commented on #54
@s4cha You are Awesome

[2018-05-20 22:07] 10000TB commented on #116
ACK: latest Pod works for me.  Thanks @s4cha

[2018-05-21 14:23] ljs19923 opened #117 "Module compiled with Swift 4.1 cannot be imported in Swift 4.0.3:"
I got this error... do you know why ?

[2018-05-21 15:16] cwestMobile commented on #117
You probably aren't on the latest version of Xcode. I had this same error and updated versions to get it to go away. Cheers.

[2018-05-22 09:42] s4cha commented on #117
Hey @JulienLevallois, I think @cwestMobile is right.
I assume you are using Carthage.
If you don't want to use the latest version of Xcode (with which the pre-packaged framework was built) . You can force Carthage to build locally, (with your Xcode version)
Just run `carthage update --no-use-binaries`

Hope this helps,

[2018-05-22 13:11] s4cha commented on #116
Awesome ! @praveen4D2 can we close this?

[2018-05-23 07:56] mirjalolbahodirov opened #118 "Creates a new duplicated photo after cropping, even if nothing changed"
In my situation, `config.showsCrop = .rectangle(ratio: 1.0)`
If I select photo which is already square, ImagePicker shows cropping step.
After this I changed nothing and clicked **Save** button (there is not other option to pick photo in this step).
I successfully chose a photo, but I got another **duplicate** of the chosen photo in the album

Thanks in advance! 😃

[2018-05-23 08:19] mirjalolbahodirov commented on #118
Sorry, I found `config.shouldSaveNewPicturesToAlbum = false`
My bad 👎

[2018-05-23 08:28] NikKovIos commented on #118
Btw, if you need to let user take only square, there is another option for this in the framework. With it the crop rect would be taken from the library. However, I think that the photo shouldn’t be saved if it’s already cropped and not filtered.

[2018-05-23 09:18] mirjalolbahodirov commented on #118
Yes you are right. It would be better if the library did not save the unchanged photo

[2018-05-23 15:43] yybot1 opened #120 "Camera flash doesn't work on iOS 10.3.3"
iPhone 5c, iOS 10.3.3, YPImagePicker 3.0.0, Xcode 9.3.1

Camera flash doesn't work when turning on.  And if swap front/back camera then click the flash button, the flash button will disappear.

[2018-05-23 16:10] s4cha commented on #120
@yybot1, Just tried, not happening on my side (iPhone X)
Do you have other devices around to confirm this is only happening on iPhone 5c?
I am going to try on other devices in the meantime :)
Cheers,

[2018-05-23 16:25] s4cha commented on #120
@yybot1 Works fine on iPhone6 (iOS11). Is there a way you could try on iOS 11?

[2018-05-23 17:41] yybot1 commented on #120
Currently, I only have iPhone 5c around. Older devices cannot update to iOS 11, so I think iOS 10 still needs to be supported. As the title says, I just reported flash doesn't work on iOS 10.3.3, older devices still use this version. It seems other features work fine on iOS 10, just the flash doesn't work.

[2018-05-24 22:42] DamascenoRafael commented on #81
The same thing happens to me when I tap some image (not all) in the library. Despite this, everything works normally. Using the v3.0.0 on the iPhone X iOS 11.3

[2018-05-24 22:52] DamascenoRafael opened #121 "Define Target Image Size for photos taken with the camera"
The `.libraryTargetImageSize` option already exists but I believe it would make more sense if it were an  option to affect not only images from the library but also from pictures taken with the camera.

Otherwise it would be interesting to see an equivalent option for pictures taken with the camera.

[2018-05-24 23:12] DamascenoRafael opened #122 "Asking for all permissions on the first screen"
Currently as soon as the picker is displayed all the permissions related to the selection methods are displayed, even if they are not related to the screen that is shown at launch.

For example even my launch screen being the library, when the picker is opened the permission to use the camera is already displayed.

I believe it would be interesting if the use permissions were only shown when reall

[2018-05-25 08:11] s4cha commented on #116
Closing this for now, don't hesitate to reopen if needed :)

[2018-05-25 08:11] #116 closed, assigned to nobody

[2018-05-25 08:13] s4cha commented on #54
@PawanManjani Thank this guy -> @NikKovIos . Thanks for your patience :)

[2018-05-25 08:13] #54 closed, assigned to nobody

[2018-05-25 08:24] s4cha commented on #81
Hi @onurgenes & @DamascenoRafael apparently we're not the only ones experiencing the issue (cf: https://stackoverflow.com/questions/46377824/ios-11-imagemanager-unable-to-load-image-data)
Some say it's an iOS 11 bug. As you said, everything works fine in spite of the warning. I'm going to look into it :)

[2018-05-25 08:25] s4cha commented on #117
@JulienLevallois Were you able to solve the issue?

[2018-05-25 08:31] s4cha commented on #42
@relaxsus
`3.0.0` now has  `originalImage: UIImage` & `modifiedImage: UIImage?` which should solve your use case. The `originalImage` takes into account the crop made in the Library though.
Closing this for now, feel free to reopen :)

[2018-05-25 08:31] #42 closed, assigned to nobody

[2018-05-25 11:53] NikKovIos commented on #122
Thought about it too.

[2018-05-25 12:11] s4cha commented on #111
The Italian translation is available in the latest release (3.0.0) :)

[2018-05-25 12:11] #111 closed, assigned to nobody

[2018-05-25 12:11] s4cha opened #124 "Help needed for translations"
Hey guys, as you may know `3.0.0` came with some extra features and extra wordings.

We are missing some translations and that would be awesome if you could help us fill in the gaps !

### Dutch
"YPImagePickerCrop" = "Crop";
"YPImagePickerProcessing" = "Processing..";
@CIronfounderson

### Brazilian
"YPImagePickerProcessing" = "Processing..";
@DamascenoRafael

### Turkish
"YPImagePickerCrop" = "Cr

[2018-05-25 12:22] s4cha commented on #48
@NikKovIos can we close this ?

[2018-05-25 12:35] s4cha commented on #112
@chintanMaisuriya in the latest release `3.0.0` we have now Video cropping and video trimming.
you can restrict video time beforehand by using:
[code]
Then the user is free to trim the video
[code]

Cheers !

Closing this for now, don't hesitate to reopen if needed :)

[2018-05-25 12:36] #112 closed, assigned to nobody

[2018-05-25 12:37] s4cha commented on #102
@djaygit in 3.0.0 you can now preview the video you just captured :)
https://github.com/Yummypets/YPImagePicker/releases/tag/3.0.0

[2018-05-25 12:37] #102 closed, assigned to nobody

[2018-05-25 12:40] s4cha commented on #110
The new api is
[code]

Enjoy :)

[2018-05-25 12:40] #110 closed, assigned to nobody

[2018-05-25 12:46] ljs19923 commented on #117
Yes its okay thanks

[2018-05-25 12:47] s4cha commented on #113
@WeDrinkInAssembly This is a very good point!
Actually users will be responsible for dismissing the picker themselves in the future versions. This gives more control, such as animation as you pointed out.
I'll ping you when it's live :)

[2018-05-25 13:38] NikKovIos commented on #48
Yes

[2018-05-25 13:38] #48 closed, assigned to nobody

[2018-05-25 13:59] s4cha commented on #117
Great! Closing this then :)

[2018-05-25 13:59] #117 closed, assigned to nobody

[2018-05-25 14:16] NikKovIos commented on #124
I LOVE that international collaboration =)

[2018-05-25 14:29] ihtiht opened #127 "Design contribution proposal"
Hi,

I am a graphic designer. I guess there is not yet a logo of this new and wonderful project. If you need a logo, I can do something. You add me to the list as 3rd Turkish contributor.  :)

[2018-05-25 14:32] s4cha commented on #127
Hi @ihtiht Thanks for asking!
Well I'm not against the idea of having a cool-looking logo if you want to suggest one :)

[2018-05-25 15:13] s4cha commented on #121
@DamascenoRafael This make a ton of sense. I agree that the use case is:
"I want to have an output image that is no bigger than X in size".
I can't think of a use case where I would want to cap library pics but not the images taken from the camera, this would be weird.
In that case `libraryTargetImageSize` could be renamed into `maxOutputImageSize` or something like that :)

The implementation sho

[2018-05-25 15:17] ihtiht commented on #127
I will do it with pleasure. I only need a few ideas for design. "YP Image Picker" I think so. What does YP mean? What exactly is YPImagepicker doing? If you have an idea for design, I can evaluate it.

[2018-05-25 15:33] NikKovIos commented on #127
One of the ideas is to play with instagramm name/icon, cos it's an instagramm clone. But, of course, don't forget about copyrights)

[2018-05-25 16:09] i-arun-samui commented on #32
Same crash here, if remove .video the app doesn't crash. Works fine on simulator but append on device only (iPhone 7+)

[2018-05-25 19:06] ihtiht commented on #127
Hello again,

 I made some designs.

![denemeler1](https://user-images.githubusercontent.com/36369736/40561737-e499ea72-6066-11e8-8e17-0e80b0a4d4aa.jpg)

The main idea of ​​designs is as follows;

![benefit](https://user-images.githubusercontent.com/36369736/40561784-2041dc7e-6067-11e8-8768-295f8ba863d4.jpg)

I wanted to use an item and letter Y that generally represent the photos. Thus, both the

[2018-05-25 21:22] MV-EricDeHaan commented on #124
"YPImagePickerCrop" = "Crop" => "Bijsnijden"
"YPImagePickerProcessing" = "Processing.." => "Verwerken..."
@CIronfounderson

[2018-05-26 01:00] DamascenoRafael commented on #121
Hey @s4cha, that's great!

I was taking a look and the `resizedImageIfNeeded` method belongs to the `YPLibraryVC`, so I was thinking of creating an extension for UIImage and using it in both `YPLibraryVC` and `YPCameraVC`.

Additionally, I would rename `YPLibraryImageSize` to `YPImageSize` and move the `targetImageSize` property out of the `YPConfigLibrary` struct. I think the name could stay as j

[2018-05-26 15:16] s4cha commented on #121
@DamascenoRafael it's sounds perfect, and if you suggest making the changes yourself, then go for it  🚀 👍 😄

[2018-05-27 16:15] s4cha commented on #127
@ihtiht Sweet !
YP stands for Yummypets which is our [App](https://itunes.apple.com/us/app/yummypets-animaux/id527910229?mt=8) for pet lovers from which the picker comes from.

@NikKovIos
Thinking about it, I don't really like the `YP` prefix, I mean since it's meant to be used by others I don't think the YP prefix in the name adds any value.
I would actually suggest renaming from `YPImagerPicker`

[2018-05-27 21:16] ihtiht commented on #127
I think the `YmagePicker` idea is not bad. It sounds good. :)

Regarding design. In terms of color, I tried to apply the Instagram gradient, but I did not do the same. I do not think there will be a problem with copyright because it is not the same as the original. Here are some color experiments;

![ymagepicker](https://user-images.githubusercontent.com/36369736/40590660-432d3756-620b-11e8-9f41-4

[2018-05-28 04:37] DamascenoRafael commented on #122
Any idea how we can achieve this?

[2018-05-28 08:02] s4cha commented on #122
@DamascenoRafael Pretty busy this week to tackle any feature but I'll have time to give it a shot next week. Honestly don't know if we can request single permissions via Apple api. I'd have to look into it.

[2018-05-28 09:45] NikKovIos commented on #127
@ihtiht Great job, look professional 👍
1) YmagePicker is a good idea but there is a little problem with searching. For example: imagine that you didn't ever heart about this lib. You need an image picker. So u'll google `image picker ios`. Got it? So i think it's better to use `image` and `Picker` words with any prefix. The prefix could be anything, that you prefer. Also it's not good to have YP a

[2018-05-28 10:19] lewisloofis opened #134 "Result of video recording is rotated 90 degrees"
Hello.

I'm configuring YPImagePicker for my video taking app. The only problem I get is the video is getting rotated to left, even if I didn't intend to do that. Here is my config code

[code]

[2018-05-29 16:15] s4cha commented on #113
@WeDrinkInAssembly this should be resolved in https://github.com/Yummypets/YPImagePicker/releases/tag/3.1.0 :)
Thanks for taking the time to report the issue 👍

[2018-05-29 20:24] ihtiht commented on #127
Hello again,

I am sorry for being late. @NikKovIos   I developed the design as you like.

* I made the design a bit more saturated.
*  I changed the color scheme.
* I applied the fonts you selected one by one.

I just got undecided about the font color. As a result, the final state of design;

![fonts](https://user-images.githubusercontent.com/36369736/40678628-b0b32d60-6389-11e8-9c68-0a4d766755f

[2018-05-29 20:48] NikKovIos commented on #127
I like B, C 1,2,3
What @s4cha say? Maybe there is a font, you prefer not from these?

[2018-05-29 22:29] cwestMobile opened #135 "After multiple selection enable paging of images"
I noticed yesterday evening that if you select 2+ images when you reach the page to review the images, while scrolling through paging is not enabled. This just feels a little weird, I can take a crack at it for you guys if you would like it implemented. If you have any questions I'll send a video.

Cheers.

[2018-05-30 02:24] ghost commented on #73
Hi guys,

Great lib - continue the good work because it's shaping to become one of the best imagePicker out there (and I've checked quite a few out)!

I wanted to also chime here as I am having a huge memory spike (60-70MB) as well but for me it happens when I apply any filter. It's not surprising as I can see the lib is loading a bunch of GC related frameworks (Metal, etc.) but they don't appear

[2018-05-30 08:16] s4cha commented on #121
@DamascenoRafael This should be good in https://github.com/Yummypets/YPImagePicker/releases/tag/3.1.0
Thank you so much for your time and effort on this release 💪

[2018-05-30 08:38] s4cha commented on #88
@SashaMeyer

Question: Are you testing on the Example Project or in a separate project that you made?

On the latest release 3.1.0, here is the code that works on my side (on iPhone X)
This replicates your use case aka library only showing videos + Video section.

[code]

Could you try that code and tell me if you still have the issue?
Also if any crash occurs, could you report the log? It's very

[2018-05-30 08:39] s4cha commented on #70
@wawilliams003 closing this for lack of activity, don't hesitate to reopen when you have more info :)

[2018-05-30 08:39] #70 closed, assigned to nobody

[2018-05-30 08:58] NikKovIos commented on #135
Sorry, but i didn't understand, where is a bug.

[2018-05-30 09:01] NikKovIos commented on #73
Hello guys! For sure, the picker has memory leaks. I tested it with Xcode instruments, but not enough professional in them. If you could help us with eliminating these leaks, respect for you))

[2018-05-30 09:02] s4cha commented on #73
@fschaus First of all thanks a ton for the kind words 😊. We're trying our best to become to go-to solution for image picking 🚀 .
I am going to look at the memory usage and will report back.

Cheers,

[2018-05-30 12:36] s4cha commented on #135
@NikKovIos I think it refers to the paging in the gallery scrollview.
Looking at Instagram app, paging only occurs when coming back, scrolling from right to left. This shouldn't be to hard to implement :)

[2018-05-30 14:22] GShushanik opened #136 "Camera doesn't work second time, if there are two screens ` Gallery and Photo."
iPhone 6s, iOS 11.3.1, YPImagePicker 3.1.0 (commit: a1ee2edcfd074b54c33ef0cbd0b6273b4dfa3856), Xcode 9.3.1
After giving access to camera and photo, Gallery and Photo tab updated well. But after rebuilding app again I see Photo tab frozen (camera not working).
I tested it on demo project, and change only this configuration
config.screens = [.library, .photo]

Thanks in advance.

![image uploaded fr

[2018-05-30 22:01] pngo-hypewell opened #137 "Cropping not work with video recording."
Seem now, the cropping feature only work for video on library, right ?
Or I need enable something to do that ?

[2018-05-30 22:18] pngo-hypewell commented on #134
I have the same problem with this.

[2018-05-31 01:00] ghost commented on #73
Thanks for the quick response guys! @NikKovIos I am also pretty bad at instruments (+ it keeps crashing on my app) so I can only use the visual memory debugger... I took a quick look at the code for the filter and there is no super obvious retain cycles there as far as I can tell.

Happy to continue digging a bit and reporting what objects I see retained in memory; that might then help you both ge

[2018-05-31 08:19] s4cha commented on #137
@pngo-hypewell you mean the extra view to trim the video ?

[2018-05-31 08:24] s4cha commented on #137
@pngo-hypewell any chance you have `config.showsFilters = false`
Actually this setting displays both filters (for photos) and trimming feature (for videos)
I think This should be distinct settings in a future release.

@NikKovIos ?

[2018-05-31 12:16] eslammohamed99 opened #138 "can customise the Camera and Video View layout height"

[2018-05-31 13:02] s4cha commented on #134
Well I have the same issue :/ ca you confirm this is only happening with camera and not when picking from the library?

[2018-05-31 13:06] s4cha commented on #138
@eslammohamed99 Could you provide a bit more information please?

[2018-05-31 13:09] eslammohamed99 commented on #138
can i increase the height of the camera layout instead of the square layout
to take more space from the view

On 31 May 2018 at 15:06, S4cha <notifications@github.com> wrote:

[2018-05-31 13:13] s4cha commented on #134
Also looks like this doesn't happen when `config.showsFilters = false`

[2018-05-31 14:40] s4cha commented on #134
Well the culprit seems to be `assetByTrimming` called in `YPVideoFiltersVC`, I am experimenting at the moment :)

[2018-05-31 14:49] s4cha commented on #134
Well looks like I've found the fix :)

[code]

[2018-05-31 15:21] lewisloofis commented on #134
How do I override this function btw? or is it available on newer version?

[2018-05-31 15:27] s4cha commented on #134
@lewisloofis I'm going to update the version with the fix, I'll let you know when it's live :)

[2018-05-31 16:17] s4cha commented on #134
@lewisloofis @pngo-hypewell  it should be good as of 3.1.1
https://github.com/Yummypets/YPImagePicker/releases/tag/3.1.1
👍

[2018-05-31 16:31] pngo-hypewell commented on #137
@s4cha I mean the **square cropping** (_not video trimming_) for video recording. Now, after recording a video, it shows the trimming page and I can't make the video square.

I agree that **showsFilters** and **showsVideoTrimming** should be distinct settings.

P/S: The square cropping is working very well with video from library.

[2018-05-31 20:06] NikKovIos commented on #138
If you mean to increase the height of the camera in the Photo and Video capture screens, than i think it could be a good feature.
For example as setting the aspect ratio for the height. If 1:1 then the camera view would be with the full screen height.

@s4cha i think we should add a template for the new issues, what do you think? Also what do you think about this suggestion?

[2018-05-31 20:33] cwestMobile opened #139 "Minimum for multiple selection"
Hey guys...still best library ever!!!

I have a quick question, currently we have the ability to set a maximum number of photos
`config.maxNumberOfItems = 4`

Would it be possible to also set up a minimum number of items like this?
`config.minNumberOfItems = 2`

 I have a need and am hoping it is an easy implementation for you guys. Thanks again

[2018-05-31 20:37] s4cha commented on #139
@cwestMobile 🚀 🚀 🤣
Well that sounds like a reasonable feature to me :)
It would be at zero by default.
@NikKovIos do you agree ?

[2018-05-31 20:38] NikKovIos commented on #139
Hello and thanks) I think it is not a broad needed feature, so it can be implemented after more fired things)

[2018-05-31 20:53] s4cha commented on #138
Well considering the number of issues yes a template would be great :)
Concerning the feature, yep I think this makes sense 👍

[2018-05-31 20:54] cwestMobile commented on #139
Sounds good. Definitely a specific use case, not going to be used often. I completely understand, thanks again for the library 🥇

[2018-05-31 20:56] s4cha commented on #139
We don't have massive features in the pipeline and this one doesn't introduce api breaking changes so I guess it's a good candidate :)

[2018-05-31 21:05] pngo-hypewell commented on #134
@s4cha The 3.1.1 version works well so far. Thanks!

[2018-05-31 21:08] s4cha commented on #137
@pngo-hypewell Ahhhhhh got it :)
Thanks for you input on the unrelated topic then 👍
Would forcing taking squared video upfront work? I can't really picture a use case where you would take a non squared video then crop it.

In the case where you would want the user to choose squared or not, I think doing it upfront with a toggle on the camera view would make more sense.

Hope I'm clear (it's late :

[2018-05-31 21:08] s4cha commented on #134
🎉

[2018-05-31 23:18] ghost commented on #73
Hey guys,

I updated to 3.1.1 and the memory mgmt is much improved - nicely done! A good and a bad news though - the bad is that the memory leak is still present when applying filter, the good is that I was able to identify the cases in which it happens vs. not by looking closely at the console.

Whenever I select any picture in my picture library, I get one of the two below messages:
- 2018-05-31

[2018-05-31 23:47] pngo-hypewell commented on #137
You can see the attachment. When I record, I assume it's a square video. But the result is a fullscreen video. It should be square for the current version.

![videogif](https://user-images.githubusercontent.com/35468242/40813903-0bf25b6a-64f2-11e8-9075-17220db94edb.gif)

[2018-06-01 00:52] DamascenoRafael commented on #121
Awesome! Thanks for the great lib! Everything working as expected.

[2018-06-01 00:52] #121 closed, assigned to nobody

[2018-06-01 03:23] lewisloofis commented on #134
Solved bro! Thx for fixing

[2018-06-01 03:24] #134 closed, assigned to nobody

[2018-06-01 04:40] lewisloofis opened #140 "It looks like compression is not being implemented"
Hello,

I think I found another weird thing in this library. So whenever I change preset, either to AVAssetExportPresetMediumQuality or AVAssetExportPresetLowQuality my video size is still big, and when I look for your repository, you hardcoded the preset name to AVAssetExportPresetPassthrough so it is not using my video quality config. It's in AVAsset+Extensions.swift, func export

[code]

[2018-06-01 11:51] ihtiht commented on #127
Hey @s4cha what do you think? I can not wait to apply this design.

[2018-06-01 16:38] s4cha commented on #127
@ihtiht away on ad road trip at the moment, I will take time to answer tomorrow pinky promise : )

[2018-06-04 17:13] s4cha commented on #127
@ihtiht @NikKovIos I just broke a pinky promise 🙊 🔫

The icon looks gorgeous :)

**Colors**
I love the gradient in the A category.
In order A > C > B

**Fonts**
My personal favourite is 4.
3 Really looks like the Disney font to me 🙃
5 & 6 are Caps only which feels a bit weird to me.

In order
4 > 1 > 2 > 6 > 5 > 3
From what you previously selected @NikKovIos my favourite font would be :
https://ww

[2018-06-04 18:19] ihtiht commented on #127
Hey @s4cha  @NikKovIos, what are we doing then?

In the A-4 readme file it will look like this:

![readme](https://user-images.githubusercontent.com/36369736/40934005-061b8a7a-683c-11e8-96a9-97c83724a424.PNG)

[source](https://github.com/ihtiht/YPImagePicker)

[2018-06-04 18:32] NikKovIos commented on #127
I would agree about font. The colors i think is too funky or there are too many colors in one title. I prefer to use less colors or not so attention diffuus colors. At least less yellow)
Also, maybe overlap the phones under the logo text and add a shadow from the text on the phones to make it look volume? It's just an ideas, don't bit me)

[2018-06-05 07:29] s4cha commented on #127
Awesome, let's decrease the yellow part in the beginning of the title to make it more legible then.
And we're good?
Concerning the last point I like the way it is now but feel free to try :)

[2018-06-07 13:34] vivekkadam03 opened #143 "Pod install error for Pre release version"
I tried to install Pre release version with -> pod 'YPImagePicker', :git => 'https://github.com/Yummypets/YPImagePicker.git', :branch => 'multipleSelection'

But it is showing something like this...
![screen shot 2018-06-07 at 7 03 41 pm](https://user-images.githubusercontent.com/40030828/41102911-934c5028-6a85-11e8-832f-2ca49ec87ba7.png)
Please help me out from this issue...

[2018-06-08 15:07] pdee2131 opened #144 "Swift 3"
Cant use this library in swift 3

[2018-06-10 16:55] boboxiaodd opened #145 "YPAlbumVC , YPPickerVC 's close button miss setting tintColor"
https://github.com/Yummypets/YPImagePicker/blob/9e9cceaabf27514cda37a96b60c3d98d1ea7b89a/Source/YPPickerVC.swift#L256

insert this code:
[code]

and
https://github.com/Yummypets/YPImagePicker/blob/9e9cceaabf27514cda37a96b60c3d98d1ea7b89a/Source/Pages/Gallery/YPAlbumVC.swift#L41
insert this code:
[code]

[2018-06-10 17:41] NikKovIos commented on #145
Could you please create a PR?

[2018-06-10 20:02] ihtiht commented on #127
I think I'm too late this time. I am sorry about that.

I brought the yellow color as readable as you want. It was better this way. And I sent a PR without delay. https://github.com/Yummypets/YPImagePicker/pull/146  I also added editable versions of files. This way, a possible change can be made in the future. If there is no problem, merge the PR.  If you still want to make any changes, specify th

[2018-06-11 00:59] #145 closed, assigned to nobody

[2018-06-11 09:56] #143 closed, assigned to nobody

[2018-06-11 13:00] boboxiaodd opened #148 "can customise YPBottomPager scrollView.contentSize"
i want to set
scrollView.contentSize = CGSize(width: 0, height: 0)

Because the scroll image is easy to cause the switch page

[2018-06-11 22:39] s4cha commented on #148
@boboxiaodd Could you elaborate a bit more the desired outcome? Not sure I understand fully :)

[2018-06-12 14:11] s4cha commented on #143
@vivekkadam03 the latest version already includes the multiple selection :)

[2018-06-12 15:48] s4cha commented on #127
@ihtiht @NikKovIos Can we close this? @ihtiht Thanks again for your great work and your patience 👍

[2018-06-12 15:51] s4cha commented on #144
@pdee2131 Good question, I believe this is not in our roadmap. Not 100percent sure of how we would approach that but I guess this would be too time consuming to maintain.
If you want to take a crack at it through a PR though, feel free :)

[2018-06-12 16:30] Appswage opened #149 "Cannot run Sample Project"
Installing via pods or a clone gives the following error when trying to run the example project. I don't use Carthage.

`/Users/brower/Library/Developer/Xcode/DerivedData/YPImagePickerExample-coxmzlypcqvlhmdsbwsumvjvzusg/Build/Intermediates.noindex/YPImagePickerExample.build/Debug-iphoneos/YPImagePickerExample.build/Script-99428A261E7BE18700B765A9.sh: line 2: /usr/local/bin/carthage: No such file

[2018-06-12 17:39] pdee2131 commented on #144
@s4cha i have been able to use the library but the last thing is to get the image after applying the filter
after clicking the done the app crashes.

 picker.didFinishPicking { [unowned picker] items, _ in
            if let photo = items.singlePhoto {
                print(photo.fromCamera) // Image source (camera or library)
                print(photo.image) // Final image selected by the user

[2018-06-12 18:07] ihtiht commented on #127
You can turn it off.

[2018-06-12 20:57] #127 closed, assigned to nobody

[2018-06-13 08:07] s4cha commented on #144
@pdee2131 Weird, do you have any crash log by any chance?

[2018-06-13 08:09] s4cha commented on #144
Also, does your `.plist` has the following entries ?
[code]

[2018-06-13 08:18] s4cha commented on #149
@Appswage Indeed, the sample project uses Carthage internally with the
`/usr/local/bin/carthage copy-frameworks` script.
I am going to look into it. In the meantime, you can install Carthage here https://github.com/Carthage/Carthage/releases/download/0.29.0/Carthage.pkg and this should work.
Thanks a ton for the report :)

[2018-06-13 08:50] s4cha commented on #149
@Appswage If you clone again this should work now :)

[2018-06-13 09:26] NikKovIos commented on #144
@s4cha imho we should use apple's policy about deprecations and not supporting legacy versions
What do you think about this?

Concerning the issue. The app not seems to crash here. Please give a log and a line where it crashes. It could be because [unowned self] too.

[2018-06-13 09:38] s4cha commented on #140
@lewisloofis Indeed!
Compression works fine with videos form the library but the setting was not applied when taking videos directly. The fix you suggest is the way to go indeed :) Going to make the change

[2018-06-13 09:41] s4cha commented on #140
https://github.com/Yummypets/YPImagePicker/commit/27377f63d240ad27340b4c37ec934b5587cadf32

[2018-06-13 09:50] s4cha commented on #139
@cwestMobile How do you see this working ?
Should the `Next` button in the library be disabled until the `minNumberOfItems` is reached?
Also this would only work with library right? So when enabled, this feature would hide both `Photo` and `Video` tabs?

[2018-06-13 09:57] s4cha commented on #136
@GShushanik maybe this is linked to https://github.com/Yummypets/YPImagePicker/issues/32
?
I don't reproduce in on my side following your explanation :/
Do you reproduce it everytime?
Also can you try the same on another device model ?
Cheers,

[2018-06-13 10:03] s4cha commented on #144
@NikKovIos Agreed Things move fast and supporting swift 3 will not be worth the invested time for our small team :)

[2018-06-13 12:55] lewisloofis commented on #140
Looks perfect, when it will be available?

[2018-06-13 15:40] s4cha commented on #140
@lewisloofis I'm going to try and make a new version by tomorrow end of day :)

[2018-06-13 22:48] barisozr opened #151 "Two issues on multi selection mode"
1) When I clicked the image (collectionview didSelect) in gallery page, which was opened after selection of images, it crashed. Added breakpoint and saw that the crash occurred at line 72 in YPPhotoFiltersVC.swift file. I didn't want to filter, which I set in configuration, but it still opened.

The shared configuration that I used;
[code]

2) I tried to bypass the crash by changing the setting wi

[2018-06-14 00:47] Appswage opened #152 "Send an asset Directly for Editing?"
I realize this is a "picker" but of course there are other features here for trimming, cropping, etc. Is it possible to send a video or image asset directly for editing versus having to go through the initial picker flow? In other words to instantiate it with an asset.

[2018-06-14 00:47] #149 closed, assigned to s4cha

[2018-06-14 01:34] boboxiaodd commented on #148
@s4cha i don't need swipe to switch Library and Photo , becase when zoom in/out photo , it easy to trigger swipe page

[2018-06-14 03:07] boboxiaodd opened #153 "didFinishPicking trigger twice"
this is my configuration:
[code]

[2018-06-14 03:12] boboxiaodd commented on #153
i think i find the reason:
https://github.com/Yummypets/YPImagePicker/blob/5d70791a68cabeff475cfd34032de7b4f2d89205/Source/YPImagePicker.swift#L89
miss return

[2018-06-14 04:04] Appswage opened #154 "Video Metadata"
There does not appear to be a way to get metadata on the video such as creation date or location. Is it possible to get the PHAsset back with the video (assuming it's from the library) so that metadata can be pulled?

[2018-06-14 05:05] Appswage commented on #154
I had an immediate need around this so I added the functionality myself. I am passing back the `PHAsset `having extended the `YPMediaAsset`. I can now easily get to all metadata. This did not take terribly long on my side and I am not familiar at all with the code base. I imagine it will take those who are, a very short period. I am happy to share my updates here if needed. Thanks a lot for this l

[2018-06-14 06:23] #153 closed, assigned to nobody

[2018-06-14 07:38] luthfifr commented on #152
I need to do exactly as @Appswage described, can somebody help us?

[2018-06-14 07:51] NikKovIos commented on #152
You have an Asset and need to init it like YPImage or YPVideo and present only filters, right? Or describe the flow you need.

[2018-06-14 07:52] NikKovIos commented on #153
Found your PR..

[2018-06-14 07:57] NikKovIos commented on #154
Yeap, i think it can be useful, but this property must be in YPMediaVideo. Create a PR 🙏🏻

[2018-06-14 07:59] NikKovIos commented on #148
This is know interface annoyance, and if you can fix it, it would be nice. But i sew that in instagram there is such thing too)

[2018-06-14 10:13] s4cha commented on #148
Well we can disable scroll to change modes via `v.scrollView.isScrollEnabled = false` in YPImagePickerVC. Going to make a POC :)

[2018-06-14 10:18] luthfifr commented on #152
@NikKovIos exactly, that’s what I mean, I already have an Asset (photo or video) and I want to use only the filter, and rest of the flow (after the filter) stays the same.

[2018-06-14 10:32] s4cha commented on #151
@barisozr Thanks for the detailed report! This surely looks like a bug indeed.
the didFinishPicking calls twice just got fixed so It'll be in the next version (ppbly later today).
I am going to look into it :)

[2018-06-14 13:19] s4cha commented on #154
@Appswage, Do you absolutely need the full `PHAsset` or a  `exifMeta : [String : Any]?` property would suffice?
This is what we did on `YPMediaPhoto` so we'll try to be consistent :)

[2018-06-14 14:25] s4cha commented on #154
@Appswage  Would these info work for you?
[
 "com.apple.quicktime.location.ISO6709" : "+45.5159-001.1255+008.684/",
"com.apple.quicktime.make" : "Apple",
"com.apple.quicktime.model" : "iPhone X",
"com.apple.quicktime.software": "11.3",
"com.apple.quicktime.creationdate": "2018-06-02T23:19:39+0200"
]

[2018-06-14 15:42] s4cha commented on #140
Should be good as of 3.2.0 https://github.com/Yummypets/YPImagePicker/releases/tag/3.2.0
Thanks a ton for your help!

[2018-06-14 16:10] Appswage commented on #152
@NikKovIos - I would suggest the process looks the same as everything you can do once an asset is selected in the existing process. So this means cropping, trimming and filters. Today you tap on an asset (video or image) and then you can manipulate it. This entry point would essentially start with an already selected asset and from there you can do everything you do as of today. Thanks.

[2018-06-14 16:24] Appswage commented on #154
@s4cha - Personally I find a PHAsset more useful and flexible. With a PHAsset you can read metadata in a structured way and perform updates or other functions. I think this is easier and quicker than parsing through the JSON, manually correcting for hemisphere for GPS data, etc. Completely understand wanting to be consistent and I am not trying to pollute this great library, but you get a lot more

[2018-06-14 16:27] s4cha commented on #154
@Appswage No problem, I actually share the point of view that giving the PHAsset is straightforward and will cover all the future needs 👍
Quick question, how do you access the metadata in your case? from what I found I needed to get the AVAsset from the PHAsset first ? Maybe I'm missing something.
Cheers,

[2018-06-14 16:54] Appswage commented on #154
@s4cha - You do not need to create an AVAsset from the PHAsset in order to get the metadata. You get it directly from the PHAsset. When I added to this library I had it return the PHAsset along with the URL and camera boolean. I called that PHAsset `asset` in the return. So with that mind here is how you would get a coordinate from the PHAsset:

`let lat = video.asset?.location?.coordinate.latitud

[2018-06-14 18:34] Appswage commented on #154
As a follow-on. The library doesn't appear to save a video captured within the library, to the device. Is the intention to let the developer handle this if they want via the returned URL? If yes, then no issue. If there is an intention to save a newly created video to the library, then it would also be good to hand back the PHAsset from that rather than nil as I indicated above I am currently doin

[2018-06-14 21:12] Appswage opened #158 "New Images Don't Save Without Interaction"
If you take a new picture within the library and tap "Next" until the library processes are done, the photo is not saved to the phone. The only way to get it to save is to tap a filter which includes "Normal" after which it will save. If the photo is newly taken, it should save regardless of whether a filter is selected.

[2018-06-14 21:48] Appswage commented on #158
Below is my quick hack update to this in `YPImagePicker`. Now if a picture is **newly** taken in the library and no changes are made to it, it will still save as long as the shouldSave boolean is true.

[code]

[2018-06-14 21:56] hixfield opened #159 "Styling"
What is the recommended way to style the presented UI?
- different color of the navigation bar
- different fonts of the items in the navigation bar?
- different colours for the items in the navigation bar
- colours of bottom bar (I do not think its a standard UITabBar?) background and tint color

[2018-06-15 08:10] s4cha commented on #159
We tried to keep things as native as possible, so this will be mostly through native Apis.

### Different color of the navigation bar
[code]
### Different fonts of the items in the navigation bar
[code]

### Different colours for the items in the navigation bar
[code]

## Colours of bottom bar
This is not supported at the moment but it'd be a good idea to provide a customisation entry point for th

[2018-06-15 08:18] NikKovIos commented on #159
What about the thing, that appearance() do change in any instance, when we need to change only in separate class?

[2018-06-15 08:40] s4cha commented on #159
@NikKovIos
If you want to customise the picker only, you can use:
[code]
:)

[2018-06-15 08:43] hixfield commented on #159
I noticed the YPColors in configuration. Would that not do the trick?

[2018-06-15 08:43] NikKovIos commented on #159
Does it affect to SelectionsGallery, Filters also?

[2018-06-15 08:44] s4cha commented on #148
https://github.com/Yummypets/YPImagePicker/pull/157 should do the trick :) @boboxiaodd would the api work for you ?

[2018-06-15 08:51] s4cha commented on #159
@hixfield We rely on `YPConfig.colors` only for things that are specific to the picker, for example the video trimer control color `trimmerMainColor` or the loader via `navigationBarActivityIndicatorColor`.

Hope that makes sense :)

[2018-06-15 09:46] kb100824 opened #160 "Cancel button cannot exit dismiss current viewcontroller"
![1](https://user-images.githubusercontent.com/8489350/41462281-ef81a682-70c4-11e8-8cf2-045a7269418d.gif)

[2018-06-15 09:50] s4cha commented on #160
I think what you are looking for is :
[code]
In the latest releases, it's now the client's responsibility to dismiss the picker :)

[2018-06-15 09:59] kb100824 commented on #160
@s4cha   The code is the same as yours, but clicking the cancel button dismiss the current viewcontroller takes a long delay to dimiss the current viewcontroller

[2018-06-15 10:02] #144 closed, assigned to nobody

[2018-06-15 10:04] s4cha commented on #151
@barisozr https://github.com/Yummypets/YPImagePicker/commit/828aa47c0aca9fb9ffe6ad7f2069cbee0f1551a0 will fix 1 :)
2 should be fixed already in 3.2.0 -->  https://github.com/Yummypets/YPImagePicker/releases/tag/3.2.0

[2018-06-15 10:08] s4cha commented on #160
So it does dismiss but takes a long time? This is weird to say the least :) I am unfortunately unable to reproduce on my end. Have you tried the Example project provided ? Does it happen there on your side?

Cheers,

[2018-06-15 10:09] #124 closed, assigned to nobody

[2018-06-15 12:32] s4cha commented on #57
@pngo-hypewell any updates on this? I can't reproduce this on my side :/

[2018-06-15 14:03] s4cha commented on #73
Hey Francois,

Thank you for taking the time to add details to this issue, this is very appreciated :)

I've tried to look for the possible leak this afternoon but can't. Actually the memory looks pretty sane on my end.

![screen shot 2018-06-15 at 15 46 01](https://user-images.githubusercontent.com/1812953/41471942-47363934-70b5-11e8-811e-52aa1b00a7ef.png)

The spikes are each time I was applying

[2018-06-15 14:11] s4cha commented on #88
@SashaMeyer Any updates?

[2018-06-15 15:00] s4cha commented on #113
@WeDrinkInAssembly closing this for now as this is supported in the latest releases, feel free to reopen if needed :)

[2018-06-15 15:00] #113 closed, assigned to nobody

[2018-06-15 15:02] s4cha commented on #140
Closing this as it should be fixed in latest release, feel free to reopen if needed!
Kudos for the eagle eye 🍻 !!

[2018-06-15 15:02] #140 closed, assigned to nobody

[2018-06-15 15:13] s4cha commented on #32
Ok this is going to be very obscure! Get ready! 👻
I finally found a deterministic way to both trigger and solve the issue.
 This is very esoteric though 👀

From my experience, it only happens with **Video**. And **only** if it is the first screen shown.
aka `config.startOnScreen = .video`

After much trial and error I have found that  replacing `tryToStartCamera` in `YPVideoVC` by the following im

[2018-06-15 16:17] Appswage opened #161 "Landscape Videos Rotated"
It seems all videos that are taken "live" from the library come out in portrait orientation. If a video is taken landscape, it is rotated and sideways for editing and output.

[2018-06-15 17:25] ghost commented on #73
Cool! If anything it might be corner case when using that specific type of picture (HEIC) that the leak appears. I would be happy to dig into this next week and report back if I can find anything specific...

To help me in that could you share with me:
- Your hypothesis of where the print message comes from? It seems to be system message and not coming from a print statement in the code though...

[2018-06-15 17:40] Appswage commented on #161
I've solved this issue by adding the following in `YPVideoHelper`

[code]

Add the `connection` bit.

[code]

[2018-06-16 07:48] hixfield commented on #159
I managed to do some styling, but how to do the red items?

![screen shot 2018-06-16 at 09 47 36](https://user-images.githubusercontent.com/9302613/41496899-6f40a0a0-714a-11e8-9544-3c96cb91a45f.png)

[2018-06-16 16:27] hixfield commented on #159
I made a fork and are looking at the code...

[2018-06-16 16:32] #159 closed, assigned to nobody

[2018-06-18 10:02] barisozr commented on #151
@s4cha seems ok, I'll test and let you know :)

[2018-06-18 12:56] shotat opened #162 "Save drafts"
Hi.
Original Instagram app allows user to save drafts with metadata and show them in gallery view.
Do you have any plans for the feature?

[2018-06-18 20:09] #151 closed, assigned to nobody

[2018-06-19 02:29] boboxiaodd commented on #148
@s4cha good job

[2018-06-19 02:29] #148 closed, assigned to nobody

[2018-06-19 07:46] s4cha commented on #151
@barisozr The second, "config.filters = []" crash is committed already so it'll be fixed in the next version :) (probably later today)

[2018-06-19 07:47] s4cha commented on #148
@boboxiaodd Glad that works for you, this will be available in the next version, later today :)

[2018-06-19 08:32] s4cha commented on #162
@shotat I wouldn't say it's top priority for us but I'm not against it, feel free to take a crack at it :)
@NikKovIos What do you think?

[2018-06-19 09:01] s4cha commented on #161
@Appswage  Your fix is in the pipe here: https://github.com/Yummypets/YPImagePicker/pull/163

I want to say your help as been very precious lately.
And as a maintainer, you gotta love the issues that come with a working fix 👍
Feel free to create Pull requests in the future 🎉
Have an awesome day !

[2018-06-19 09:03] s4cha commented on #152
I've never thought of it but it is a very interesting use case indeed :)

[2018-06-19 09:26] s4cha commented on #158
Once again thanks for the report and the working fix, this is VERY much appreciated 🙏 !

[2018-06-19 13:31] s4cha commented on #122
@DamascenoRafael I'm looking at it at the moment :)

[2018-06-19 13:42] DamascenoRafael commented on #122
Great @s4cha! If the first screen is `.photo` the permission for the `library` will not be requested. The problem seems to be only the `.photo` request (maybe `.video` too) that is always requested if it is between the screens.

[2018-06-19 21:44] cwestMobile commented on #139
@s4cha Sorry I didn't notice this message until today. Yeah I think disabling the Next button until the minNumberOfItems is reached would work well. And yes, this would be library only...so no need for the Photo and Video tabs.

[2018-06-20 09:32] s4cha commented on #139
Proof of concept is available https://github.com/Yummypets/YPImagePicker/pull/166 :)

[2018-06-20 09:41] s4cha commented on #118
@mirjalolbahodirov
Indeed
[code]
This will yield only squared photos :)

[2018-06-20 09:43] s4cha commented on #118
By default with the above conf, filtered photos will be saved, you can use `config.shouldSaveNewPicturesToAlbum = false` to make sure nothing is saved \o/

[2018-06-20 09:44] s4cha commented on #118
Feel free to reopen if needed :)

[2018-06-20 09:44] #118 closed, assigned to nobody

[2018-06-20 09:45] s4cha commented on #88
closing for lack of activity, feel free to reopen if needed :)

[2018-06-20 09:45] #88 closed, assigned to nobody

[2018-06-20 09:46] s4cha commented on #57
Closing for lack of activity, feel free to reopen if needed 👍

[2018-06-20 09:46] #57 closed, assigned to nobody

[2018-06-20 09:54] s4cha commented on #154
@Appswage, Thanks a ton for the info, we are going to take your approach :)

Concerning saving Videos taken live, this is indeed in the roadmap and tracked here:
https://github.com/Yummypets/YPImagePicker/issues/56

[2018-06-20 10:14] s4cha commented on #81
Looks like a common bug in iOS11, let's close this for now, feel free to reopen.
https://stackoverflow.com/questions/46377824/ios-11-imagemanager-unable-to-load-image-data
https://forums.developer.apple.com/thread/85717

[2018-06-20 14:21] s4cha commented on #81
Looking at it I found that replacing
`CGSize(width: asset.pixelWidth, height: asset.pixelHeight)`
 by
 `PHImageManagerMaximumSize`
removes the warning log 🎉 in `requestImage` call in `PHCachingImageManager+Extensions`

Woop Woop!

[2018-06-20 14:52] onurgenes commented on #81
Thanks! Perfect!

[2018-06-21 05:30] samiibnauf commented on #99
what was the problem reason? I'm facing the same

[2018-06-21 13:24] barisozr opened #168 "PHAsset local Identifier addition"
Could you add localIdentifier of PHAsset or whole related asset to YPMediaPhoto/YPMediaVideo (if exists on photo library) for reaching later? Or is there anyway to get the local identifier or related asset on current version?

[2018-06-22 07:02] GShushanik commented on #136
@s4cha I tried it on other devices, but couldn't reproduce it.  :/
I've restart my device and it seems work well. 😮
Thanks.

[2018-06-22 08:14] s4cha commented on #136
@GShushanik Great thanks! Let's Close this for now and we'll see if that comes back :)

[2018-06-22 08:14] #136 closed, assigned to nobody

[2018-06-22 19:03] MandeepSingh1 opened #171 "Application is getting crashed when initialise the config file"
Hi Team, am using your library in lots of projects, but today I update the library to latest code from Cocoapods but now whenever I initialise the library with new swift 4.0 code. My application is getting crashed at this line. I don't know why it happens

   config.library.mediaType = .photoAndVideo
        config.library.onlySquare  = false
        config.onlySquareImagesFromCamera = true

[2018-06-22 19:04] MandeepSingh1 commented on #171
Please help me out asap, because I have to update this and now my application is suffered

[2018-06-22 19:21] MandeepSingh1 commented on #171
<img width="1404" alt="screen shot 2018-06-23 at 12 49 54 am" src="https://user-images.githubusercontent.com/11526089/41795174-76fa26f6-767f-11e8-98b0-7ed0089046b1.png">

Please check this file, application is getting crashed anywhere when ever I try to open the camera with latest code.

[2018-06-22 19:53] MandeepSingh1 commented on #171
@NikKovIos , @s4cha  can you help me guys. I need this urgent

[2018-06-25 08:04] s4cha commented on #171
@MandeepSingh1 As a quick fix, I'd suggest you downgrade the version to the previously working one :) I'm going to look into it in the meantime.

[2018-06-25 08:17] s4cha commented on #171
@MandeepSingh1 I just did `pod repo update` then `pod try YPImagePicker` to get the latest pod (3.2.0). Using your configuration above, it runs fine on both device and simulator on my machine. Could you try the same and see if that works?

[2018-06-25 09:54] om-ha commented on #33
@s4cha Cheers for fixing the bug!

[2018-06-25 09:59] #122 closed, assigned to nobody

[2018-06-25 10:00] #158 closed, assigned to nobody

[2018-06-25 10:03] MandeepSingh1 commented on #171
Yes, Actually I also implement in the demo and it works fine in the demo. But When I implement in my Project it crashes. I don't know why it is crashing in my project. Because I have implement in 2 demos and in both of the demos its working fine. But when it comes to my project config variable releasing their memory. And thats why it gives me excess_bad_code.

So now what I do, I need your SDK in

[2018-06-25 10:32] s4cha commented on #81
@onurgenes this should be good now :)

[2018-06-25 11:01] onurgenes commented on #81
Looks fantastic! Thanks @s4cha !

[2018-06-25 11:01] #81 closed, assigned to nobody

[2018-06-25 12:22] s4cha commented on #122
@DamascenoRafael This is live as of 3.3.0 :) https://github.com/Yummypets/YPImagePicker/releases/tag/3.3.0

[2018-06-25 12:22] s4cha commented on #161
@Appswage This is live as of 3.3.0 :) https://github.com/Yummypets/YPImagePicker/releases/tag/3.3.0

[2018-06-25 12:23] s4cha commented on #139
@cwestMobile this is live as of 3.3.0 https://github.com/Yummypets/YPImagePicker/releases/tag/3.3.0

[2018-06-25 12:36] s4cha commented on #171
@MandeepSingh1, it's quite hard for me to help without more information. One thing you can try is integrate the library via Carthage and see if that solves your issue.
Also we just updated a new version (3.3.0) so you could try this one as well.
It really looks like something on your side so it's quite hard to help you debug without having access the the code :)

Hope this helps,

[2018-06-25 12:37] s4cha commented on #33
@om-ha You're welcome :)

[2018-06-25 12:39] MandeepSingh1 commented on #171
Thanks @s4cha , I would let you know by update the new version, as new version resolve the issue or not.

[2018-06-25 19:16] Appswage commented on #161
@s4cha - Awesome, thanks for being so responsive!

[2018-06-26 00:57] FarisAlbalawi opened #172 "Camera multiple selection"
How to do multiple selection from Camera ?

[2018-06-27 15:54] mohsinka opened #174 "Setting up causing problems Picker deinited 👍"
Hi, so I was trying this library of yours and followed the exact process by first installing the dependencies, giving permissions in info.plist, followed by, using the custom configurations or otherwise, by using the default YPImagePicker instance, and whenever I try to instantiate the Camera or Library i get a console print, "Picker deinited 👍" and nothing else happens.. I can't seem to understan

[2018-06-27 15:58] #174 closed, assigned to nobody

[2018-06-29 15:09] s4cha commented on #174
@mohsinka glad you solved it :)

[2018-07-02 23:45] ghost commented on #73
Hey guys,

I owe you an update on this. It seems that this is now resolved. I did extensive profiling with my release build and don't see any memory traces/ leaks, except for an array of filters (but which is less than 8-16 bits) so all good! Feel free to close this! Thanks again for all the hard work!

[2018-07-02 23:51] ghost opened #176 "Enhancement to the camera picker"
Hi guys,

As previously mentioned, great work on this! I wanted to submit two requests for enhancements:

- Would it be possible to enable zoom on the camera picker? It doesn't necessarily need to be implemented at the time of the picture capture (like the stock camera) but could be done once the picture is taken (more like a crop feature before the filter screen)
- Full screen pictures. While I l

[2018-07-03 08:20] s4cha commented on #73
@fschaus,
Please excuse the late reply,

Indeed the print message was generated and not from our code. Maybe the remaining memory issue was solved along with the log issue https://github.com/Yummypets/YPImagePicker/issues/81.

Thank very much for taking the time to post an update, this is very appreciated :)

Closing this for now,  @Cez95 feel free to reopen if needed.

[2018-07-03 08:21] #73 closed, assigned to nobody

[2018-07-03 08:22] s4cha commented on #160
@KBvsMJ have you had time to try the example project ? any updates on this?

[2018-07-03 08:23] s4cha commented on #139
Closing this,  @cwestMobile feel free to reopen if latest version doesn't work as discussed :)

[2018-07-03 08:23] #139 closed, assigned to s4cha

[2018-07-03 16:32] imzyf opened #177 "config.video.fileType = .mp4 setting not work"
version 3.3.0
iOS 11

set the `config.video.fileType = .mp4`, then record a video, in `didFinishPicking` I print video after the `case .video(let video):` line.

the video file url still end of .mov

any suggest thanks

[2018-07-11 00:15] Appswage commented on #161
@s4cha - I need to make an update to the above code. I found that if the phone is portrait locked from settings, the video would not be properly oriented if taken in landscape mode. I'd suggest replacing my orientation function with this one which can still detect orientation when portrait locked.  This uses CoreMotion which of course needs to be imported at the top of class. Also add a property c

[2018-07-11 09:41] appfrilans opened #178 "Crash"
I got a crash in YPPhotoCaptureDefaults.swift on row with

`   sessionQueue.async { [unowned self] in`

I suggest not using unowned but instead weak. Following code work just fine:

[code]

[2018-07-11 13:49] thewozz opened #179 "File name of a single image or captured photo in the picker"
How can I get the filename or the path of the selected image in the picker.didFinishPicking method ?

[2018-07-12 16:54] datacosmos commented on #160
I had the same issue, but this was caused by checking for cancelled too late, I had sth. like this:
[code]

So the  code above checked for cancellation only **after** an image was chosen!

This worked for me:

[code]

Hope that helps anyone.

[2018-07-17 02:29] subinrevi opened #183 "Error: Module compiled with Swift 4.1 cannot be imported in Swift 4.1.50:"
When trying to run the sample "YPImagePickerExample" its giving the following error.

Module compiled with Swift 4.1 cannot be imported in Swift 4.1.50:

[2018-07-18 12:36] johsem opened #184 "Custom back button"
Is there a way to set a custom UIBarButtonItem (or at least an image) to YPPickerVC?

[2018-07-18 19:40] sharad-paghadal opened #185 "GIF support"
Please add support to show GIF in pickerview and select them.

[2018-07-19 06:37] harjeetk commented on #174
How did you solve the issue? @mohsinka

[2018-07-19 09:32] NikKovIos commented on #184
Yes, use extension for this class, that overrides viewWillAppear method.

[2018-07-19 09:33] NikKovIos commented on #185
Hello)
You can add it, try in new branch and upload a PR;)

[2018-07-20 05:41] peak77 opened #186 "can i use in objective-c"
Can I use in objective-c or consider have a objective-c demo? thx.

[2018-07-20 12:37] s4cha commented on #184
I don't think you can override such a method in an extension :/
My best bet would be to fork the project until we have such an api :)

[2018-07-20 12:42] s4cha commented on #183
Looks like your version of swift is newer than the officially supported one. Do you happen to have a Beta version of Xcode by any chance?

[2018-07-20 12:45] s4cha commented on #160
@datacosmos Thanks for your input :) @KBvsMJ Did that solve your issue?

[2018-07-20 13:11] s4cha commented on #120
@yybot1 I don't have one around, would you mind taking a crack at solving it?

[2018-07-20 13:16] s4cha commented on #172
@fairs-222 This is not supported at the moment, do you have an idea of how it would look like?

PS: Excuse the delayed response, we won the soccer World Cup so I was away for a while 🇫🇷 🍻 :)

[2018-07-20 14:17] s4cha commented on #161
@Appswage Your update is on point 👌. This looks like a micro case, but still, nice catch!

I implemented it here with few amends and it works perfectly :
https://github.com/Yummypets/YPImagePicker/commit/bd28c7c068429e90b39f78c4108a38749005063c
This will probably be live later today.

PS: Excuse the delayed response, we won the soccer World Cup so I was away for a while 🇫🇷 🍻 :)

Totally unrelated,

[2018-07-20 15:02] s4cha commented on #178
This should be ok in 3.4.0 https://github.com/Yummypets/YPImagePicker/releases/tag/3.4.0
thanks to your PR :) Thanks a ton for your help on this, much appreciated !

[2018-07-20 15:03] s4cha commented on #161
This should be ok in 3.4.0 https://github.com/Yummypets/YPImagePicker/releases/tag/3.4.0 :)

[2018-07-20 15:04] s4cha commented on #135
@cwestMobile This should be ok in 3.4.0 https://github.com/Yummypets/YPImagePicker/releases/tag/3.4.0 🚀 🚀

[2018-07-20 15:10] s4cha commented on #106
@AndreiBoariu please excuse the late reply, the 3.4.0 release should fix your issue :)
https://github.com/Yummypets/YPImagePicker/releases/tag/3.4.0

Thanks for the kind words !

[2018-07-20 22:30] NikKovIos commented on #184
Here is the code, i use in my proj to override the back button:

[code]

I didn't try with YPPickerVC thus, so you're right here. But maybe that code would helps;)

[2018-07-20 22:33] NikKovIos commented on #32
@s4cha https://www.muztang.ru/upload/resize_cache/iblock/768/370_370_1/768de3eec8b1bfeff733bed617b39f79.jpg 👍

[2018-07-22 11:41] imbaggaarm opened #189 "Bug: Attempted to read an unowned reference but the object was already deallocated"
Hi, I recently use YPImagePicker, and it's great, but I saw a bug with simulator here. I got a crash with error:
Fatal error: Attempted to read an unowned reference but the object was already deallocated2018-07-22 Fatal error: Attempted to read an unowned reference but the object was already deallocated

Fix:
In file YPPhotoCaptureDefaults.swift, method start(with previewView: UIView, completion:

[2018-07-23 09:15] s4cha commented on #189
Hi @imbaggaarm, thanks for taking the time to report the issue! Actually this has been fixed in the latest version (3.4.0) https://github.com/Yummypets/YPImagePicker/releases/tag/3.4.0
Cheers :)

[2018-07-24 01:37] kb100824 commented on #160
@s4cha  it's ok

[2018-07-24 03:20] #160 closed, assigned to nobody

[2018-07-24 08:18] s4cha commented on #161
Closing this for now, don't hesitate to reopen if needed :)

[2018-07-24 08:18] #161 closed, assigned to nobody

[2018-07-24 08:31] s4cha commented on #189
Closing this for now, feel free to reopen if needed :)

[2018-07-24 08:31] #189 closed, assigned to nobody

[2018-07-24 08:47] s4cha commented on #184
Alright that would work but in this case 'viewWillAppear' has already been overridden in `YPPickerVC`
so not modifiable form an extension anymore @johsem any updates?
<img width="709" alt="screen shot 2018-07-24 at 10 46 39" src="https://user-images.githubusercontent.com/1812953/43127090-e318b682-8f2e-11e8-928f-3adebca7aeb9.png">

[2018-07-24 10:04] NikKovIos commented on #184
I think it should be an option in lib for that too. And it implemented at half part (if i remember well)

[2018-07-24 10:20] s4cha commented on #186
@peakerWu Unfortunately, YPImagePicker relies on swift structs internally which makes it incompatible with Objective-C. Considering our team, improvements ahead, and the fact that swift is the future, this is not something we are willing to support.

[2018-07-24 12:21] s4cha commented on #183
@subinrevi I assume you're trying to build for iOS 12? You could try to build the framework locally via your current version of Xcode by running
`carthage update --no-use-binaries`
Let me know if that helps ;)

[2018-07-24 12:26] s4cha commented on #185
@sharad-paghadal Indeed, we're trying to get as close a Instagram's functionalities as possible and they don't support GiF neither so this is not on our roadmap at the moment. Feel free to contribute :)

[2018-07-24 12:27] s4cha commented on #178
Closing this for now, feel free to reopen if the crash comes back :)

[2018-07-24 12:27] #178 closed, assigned to nobody

[2018-07-24 13:16] s4cha commented on #176
Hi @fschaus,

Firstly, I'd like to thank you for taking the time to submit your ideas, this is much appreciated :)

1- I believe the "zoom feature" you suggest is already possible with the following configuration
[code]
This adds a step after taking a photo where the user can zoom and crop the shot to a square.

In the case of a non-squared photo, you could use a 3/4 ratio
[code]
We are trying to

[2018-07-24 13:46] s4cha commented on #135
Closing this for now, please reopen if the latest version is not what you expected :)

[2018-07-24 13:46] #135 closed, assigned to NikKovIos

[2018-07-24 13:52] s4cha commented on #171
@MandeepSingh1 any updates on this?

[2018-07-24 13:54] s4cha commented on #171
Actually I had such an issue recently and I had to uninstall the app form the phone/simulator and build again. Strange Xcode thing but it solved it. Hope this helps :)

[2018-07-24 15:31] bcalmeil opened #190 "pod crash for the first use video"
**Describe the bug**
I am using the last updated vesion for swift4. I notice that the first time the user, use the video to record, an authorisation pop up appear to require the autorisation of the use of microphone. This crash the apps after autorisation
At the second use no issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
First use of the apps form user
2. Click on '....'

[2018-07-25 01:01] peak77 commented on #186
OK,I know. thx.
 I will start it.haha.

[2018-07-25 01:01] #186 closed, assigned to nobody

[2018-07-25 14:26] NikKovIos commented on #190
Do you approve the authorization to use the mic? I can't reproduce it..

[2018-07-25 22:43] bcalmeil commented on #190
I do approve.
This is my configuration:
Swift4 - last pop released

After the autorisation, i guess the camera dont have enough time to launch and record a blank

please find the catch screen
![img_8048](https://user-images.githubusercontent.com/29054379/43231476-2074e7b4-909f-11e8-9e96-87a96361cde9.PNG)
![img_8045](https://user-images.githubusercontent.com/29054379/43231477-20a17068-909f-11e8-9d2

[2018-07-26 10:42] shotat opened #193 "Multiple selections are cleared when albums changed."
**Describe the bug**

- Multiple selections are cleared when asset collections switched.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Gallery（Library）
2. Click on multiple selections button
3. Click on the title view ( `Gallery` )
4. Click any cells (e.g. `Camera Roll`) and switch albums.
5. Multiple selections are cleared.

**Expected behavior**
Selections should remain unchanged.

[2018-07-28 07:48] subinrevi commented on #183
I will check it.

[2018-07-29 10:33] ljs19923 opened #194 "Do you know why my bottom buttons ( Cancel / Save ) are black and not white ?"
Do you know why my bottom buttons ( Cancel / Save ) are black and not white ?

![image](https://user-images.githubusercontent.com/5727223/43365325-90172954-932b-11e8-8574-d8a728924bef.png)

[2018-07-29 10:51] NikKovIos commented on #194
Check the appearance methods in your app

[2018-07-29 23:57] NikKovIos commented on #190
Please, try to test in branch DifferentHotfixes and tell if it fixed.
To install, write `pod 'YPImagePicker', :git => 'https://github.com/Yummypets/YPImagePicker.git', :branch => 'DifferentHotfixes'` in your Podfile.

[2018-07-29 23:58] #106 closed, assigned to nobody

[2018-07-30 00:04] NikKovIos commented on #162
@shotat @s4cha
I think it's a hard implemented not necessary functional and we have a lot of tasks with more priority than this. So maybe in a far future 🙂
And i think it's better to refactor all code first to support better scalability.

[2018-07-30 00:10] NikKovIos commented on #185
Here is a nice code to take from https://github.com/swiftgif/SwiftGif/blob/master/SwiftGifCommon/UIImage%2BGif.swift

[2018-07-30 00:12] NikKovIos commented on #183
Here is an issues with the same questions: https://github.com/Yummypets/YPImagePicker/issues/117 and https://github.com/Yummypets/YPImagePicker/issues/31

Please, use search first!

[2018-07-30 00:19] NikKovIos commented on #177
That's a bug.

Please, try to test in branch DifferentHotfixes and tell if it fixed.
To install, write pod 'YPImagePicker', :git => 'https://github.com/Yummypets/YPImagePicker.git', :branch => 'DifferentHotfixes' in your Podfile.

[2018-07-30 00:22] NikKovIos commented on #168
Hello! )
Could you please say, why do you need it. We need a reason to add it. )

[2018-07-30 00:24] NikKovIos commented on #56
And also have a single saving method for video in app. Now it's two different)

[2018-07-30 00:29] NikKovIos commented on #171
I had the same issue at the line with `processingLabel.text = YPConfig.wordings.processing`. That's the weird bug. I think it's the problem with Xcode/Derived data. After cleaning the project, everything works well. 🧐

[2018-07-30 00:30] NikKovIos commented on #138
Closing. Further discuss here https://github.com/Yummypets/YPImagePicker/issues/176

[2018-07-30 00:30] #138 closed, assigned to nobody

[2018-07-30 12:06] bcalmeil commented on #190
hello

I have tested your branch but the pod totally crash now.

YPFilterDescriptor is not recognised anymore in my project and when I remove my customise filter and launch the project

When I take a picture from the camera I have a
Thread 1: signal SIGABRT
ligne 66                 self.v.collectionView.selectItem(at: IndexPath(row: 0, section: 0),

YPPhotoFiltersVC.swift

Benoit

[2018-07-30 12:13] NikKovIos commented on #190
Use YPFilter now instead of YPFilterDescriptor.

Please provide step to step to reproduce, unfortunately i can't find a bug.

[2018-07-30 15:06] bcalmeil commented on #190
Hello

I have made the update accordingly,

YPFilter I have an error :

Argument labels '(name:, filterName:)' do not match any available overloads

This is my swift file for the video and picture (just before the crash) -  :

This is the video of the step by step

Still same error
YPVideoFiltersVC
L136                DispatchQueue.main.async {
                    let resultVideo = YPMediaVideo(th

[2018-07-30 15:16] bcalmeil commented on #190
Sorry I forgot
If I wait the initialisation or the video or if I do record -> camera-> record the phone show a picture and not a black screen I can record without issue

I guess there is an issue if the camera is not finished to be initialised by the phone we record a blank and crash the app

I phone SE
IOS 11.4

Benoit

Benoit CALMEIL

20B
Lexington Hill
11 Rock Hill Street
Kennedy Town
Hong Kong

[2018-07-30 21:27] barisozr commented on #168
Hi @NikKovIos
I have 2 reasons.
* I want to save the photo identifier to reach from photos later. If the photo exists still in the library I don't want to download from the server. In short I need this for reducing data usage.
* I want to check the photo is already added/used in the app. Don't want to compare any other stuffs, just want to check the local identifier is same or not.

Is it enough?

[2018-08-01 09:42] s4cha commented on #168
@barisozr, this makes sense indeed ;)
We will add this to our roadmap and let you know when it's implemented :)

[2018-08-01 10:07] s4cha commented on #171
@MandeepSingh1 any updates?

[2018-08-01 10:28] s4cha commented on #194
Indeed the code explicitly sets them to white `cancelButton.tintColor = .white` so there might be something like `UIBarButtonItem.appearance().tintColor = .black` somewhere in your code?

[2018-08-01 12:27] s4cha commented on #193
@shotat Nice catch 👍
Actually it was done on purpose at the time.
Having the selection remain across folders is harder to implement but it's definitely something we want to support in future releases.

[2018-08-01 12:50] s4cha commented on #186
If you fork and replace all the swift structs with classes it should work :)

[2018-08-01 13:30] s4cha commented on #183
@subinrevi did that work ?

[2018-08-01 13:36] s4cha commented on #179
@thewozz
At the moment there's no way to get the filename/path but this is something we are going to tackle in the next version 🚀

This is related to https://github.com/Yummypets/YPImagePicker/issues/168
PS: Please excuse the late reply :)

[2018-08-01 21:37] DariusDresp opened #195 "Squared Video Recording"
While the video is recording it looks like its going to be squared. However the video recording isnt actually squared (recorded video at trimming isnt squared although I expected that). Is it possible to force video recordings to be squared and how do I set that up?

[2018-08-02 09:55] ljs19923 commented on #194
No...so its why i dont understand. its really weird :/

[2018-08-02 09:58] NikKovIos commented on #194
Try to debug your view hierarchy. Maybe there is something, that overlaying these buttons.

[2018-08-02 10:22] ljs19923 commented on #194
So if i add UIBarButtonItem.appearance().tintColor = .white before present YImagePickerVC, that will works ? Because that dont works :/

[2018-08-02 10:33] ljs19923 commented on #194
UIBarButtonItem.appearance().setTitleTextAttributes([NSAttributedStringKey.font: Brain.kItemNavBarFont, NSAttributedStringKey.foregroundColor:UIColor.white], for:.normal)

Thats works but now i dont see cancel / next buttons in the top nav bar in the previous VC because they are white....

Because yes in My app im my launching method i have

UIBarButtonItem.appearance().setTitleTextAttributes([NSA

[2018-08-02 12:30] s4cha commented on #195
@DariusDresp This is a very good point, we actually discussed something similar here: https://github.com/Yummypets/YPImagePicker/issues/137
It is not possible at the moment but recording squared videos is something we're looking at :)

[2018-08-02 13:49] s4cha commented on #177
@NikKovIos @imzyf I tried on latest master commit (not released yet) and I do have ".mp4" when setting `config.video.fileType = AVFileType.mp4`

:)

[2018-08-02 22:48] NikKovIos commented on #177
Wow, that's strange..)

[2018-08-03 06:45] s4cha commented on #177
@NikKovIos I made I typo! I meant that everything works fine :)

[2018-08-03 19:48] gintechsystems opened #197 "Feature - Customize Pager"
Hello everyone! Great project, works well and saved me a lot of development time. I was curious if there is a way to customize the background and bottom button colors (background, title color)? I know you can do an appearance for the app & we can change the navigation styles, but wanted to customize per just the pager. If there is a way, excuse me. I was looking at the code but only saw overlayVie

[2018-08-08 14:55] bcalmeil commented on #190
Hi Nick

I ahem. Quick question, I try to select two picture and get the information like

if let firstItem = items.first {
 switch firstItem {
            case .photo(let photo):
            let scaledImage1 = photo.image ….

}

if let firstItem = items.last {
            switch firstItem {
            case .photo(let photo):
                let scaledImage2 = photo.image.>>
}

But the scaledImag

[2018-08-08 23:02] bcalmeil commented on #190
Hi Nick

Sorry to have bother you with that

I loop in the items and it s all good.

Have a great day

Benoit

Benoit Calmeil

- - -
20 B
Lexington Hill
11 rock Hill Street

[2018-08-09 08:40] ravinagar79 opened #199 "Issues with video grabbed by screen recorder having no audio"
App is not not responding if I am using video grabbed by screen recorder having no audio. I am getting below error:
PHCachingImageManager >>> Problems with audio track

Please check issue on attached video

Please download
[ScreenRecording_08-06-2018 09-27-49.MP4.zip](https://github.com/Yummypets/YPImagePicker/files/2273416/ScreenRecording_08-06-2018.09-27-49.MP4.zip)

[2018-08-09 18:27] MorekeysOfficial opened #200 "Coding Question"
What file dismisses the image picker after pressing the save button in the crop view?
(same thing with the video)

[2018-08-10 11:27] hirenkapoor opened #201 "objective c related problem"
How can i use this lib in my objective c project , i had stuff in this issue. can u show me step for use this lib to obj c project ?

[2018-08-10 13:04] s4cha commented on #201
Hi @hirenkapoor as mentioned in the Readme, Obj-C is not supported and it is not in our Roadmap :)
If you really wan to use it in Obj-C, I think you could fork the project and replace all structs by classes.
Hope this helps :)

[2018-08-10 19:26] #200 closed, assigned to nobody

[2018-08-12 11:20] MandeepSingh1 commented on #171
@s4cha, no still the issue is same am not able to understand about this issue. If am using the pod file into the demo its working fine and I didn't face any issue. But am using the pod file into my project. whenever I initiaize the YPImage picker my app is get crashed.

[2018-08-12 11:21] MandeepSingh1 commented on #171
So for right now, I have go to your code and do the manually changes from my side so that my app can work for current situation.

[2018-08-12 12:51] MandeepSingh1 opened #202 "Video Recording is not working, after pressing back button"
**Describe the bug**
If you record Video, and then come back again your video sessions is not started again and also if you click on button to start the video, it will crash the application.
**To Reproduce**
Steps to reproduce the behavior:
1. Record the video and go to next screen
2. Click on back button to record the video again
3. Now your session is not working, If you click on record the vide

[2018-08-13 17:01] MandeepSingh1 commented on #202
@NikKovIos @s4cha Guys have you find that issue, which is currently creating a huge issue in my app.

[2018-08-14 19:56] MehdiBrandoMahdloo opened #203 "Change TabBar and its BarButtonItems colors."
Might be very useful to be able to change the TabBar and all its BarButtonColors, to make the Picker in line with the app overall style.

Thank you 🤗

[2018-08-14 20:37] Aviru commented on #174
@harjeetk  the solution is
`present(picker, animated: true, completion: nil)`

[2018-08-15 02:43] yokochi commented on #199
I have same problem(ver 3.4.0). but it was fixed with this [commit](https://github.com/Yummypets/YPImagePicker/commit/a6e847cfb822706c49fecf3c831814446b4e0fa2).
That version is not tagged yet. try use master branch.

[2018-08-16 19:33] s4cha opened #205 "PHAsset for a newly taken media"
### Feature
Provide PHAsset for a newly taken media.
Idea: There's a method for saving the image in YPPhotoSaver. we could get the asset after saving is completed.

related to #196

[2018-08-18 06:11] gintechsystems commented on #179
+1

[2018-08-18 06:13] gintechsystems commented on #202
@MandeepSingh1  I tried to reproduce this issue with your exact specs, but I am not seeing it. Can you post some code, maybe your config?

[2018-08-18 14:04] ljs19923 opened #206 "Preview after take photo or video"
Hi ! I want to know if this repo contains preview after taking photo or video ?
I want to show a preview of one video, with one cancel, send button.
I need to create my custom vc or not ?

[2018-08-18 14:18] ljs19923 commented on #206
Filters works for video ?

[2018-08-20 07:48] MandeepSingh1 commented on #171
But i have clean my project, and still the issue is same, when ever I run the application and configuration file is load. The application is getting crashed at configuration file like above the issue mentioned.

[2018-08-20 07:52] MandeepSingh1 commented on #202
@gintechsystems , Hello Sir actually my application is getting crashed at YPImagePickerConfiguration. So am not able to set their configurations. So I have done some changes in their config file. You can refer to this issue #171 . You can see this issue which I have added from last 30 days and still the issue remains same and the team is not helping me out.

[2018-08-20 17:26] portellaa opened #207 "Cannot use videos without audio track"
**Describe the bug**
Videos without audio track fails to import with console error.
⚠️ PHCachingImageManager >>> Problems with audio track

The screen gets stuck with the loading indicator and that's it.

**To Reproduce**
Steps to reproduce the behavior:
1. Get a video without audio track. I recorded one in slow motion with an android phone and sent the video to my device
2. Select that video and

[2018-08-21 10:24] MandeepSingh1 opened #208 "YPImagePicker is getting crashed while initialise the config file"

[2018-08-21 10:26] MandeepSingh1 commented on #208
var config = YPImagePickerConfiguration()
        config.onlySquareImagesFromCamera = true
        let picker = YPImagePicker(configuration: config)

If I print the config in the console, the below error is showing to me and after that app is crashed.

po config
error: Execution was interrupted, reason: EXC_BAD_ACCESS (code=1, address=0x1).
The process has been returned to the state before express

[2018-08-23 07:51] Sieniek opened #209 "Support for orientation change"
**Is your feature request related to a problem? Please describe.**
Once YPImagePicker view controller is opened and orientation i.e from portrait to landscape is changed the layout doesn't resize and it looks like attached screenshot.

**Describe the solution you'd like**
It would be perfect to have autolayout that adjust layout to current orientation.
Minimal working solution is to lock orientati

[2018-08-24 08:22] CocoaML commented on #81
- (PHImageRequestID)requestImageForAsset:(PHAsset *)asset targetSize:(CGSize)targetSize contentMode:(PHImageContentMode)contentMode options:(nullable PHImageRequestOptions *)options resultHandler:(void (^)(UIImage *__nullable result, NSDictionary *__nullable info))resultHandler;
使用此方法获取相册中图片时， targetSize 设置过大，导致 控制台报错 ： [ImageManager] Unable to load image data,

解决方案： 调整参数，适当缩小 targetSize

It work

[2018-08-28 11:38] rajabpour opened #210 "Get selected image physical url for sending to server?!?!?!?"
how to get selected image's physical url for sending to server?!?!?!?

[2018-08-29 09:25] hellocqlsys commented on #202
my app is crashed randomly on video cam

[2018-08-30 08:42] jayjac opened #211 "Video either muted or not automatically played"
Hi,
first of all thanks for your amazing library guys.
I just have one question for you.
When one opens the video library, for example with the following YPImagePickerConfiguration :
[code]
 the first video selected in the library is automatically played with sound.
My question is : is there a config option to change that default behaviour to either playing the video muted or just not playing the

[2018-09-01 03:18] gintechsystems commented on #202
@MandeepSingh1 so are you using the pod or manually adding it to your project? I would assume there is a intermittent bug going on since only certain people can reproduce.

[2018-09-03 05:04] hellocqlsys commented on #202
@MandeepSingh1 hey bro, when I go from camera to video immediately app crashes, but when I go from camera to library & library to video then its working fine, it seems that there is session problem

[2018-09-03 07:50] Out1and3r commented on #207
Another way to reproduce is to use time lapse video from the library.

[2018-09-03 21:27] NikKovIos commented on #207
This is fixed in master branch, but didn't released yet ;)

[2018-09-04 15:15] portellaa commented on #207
great 🎉

[2018-09-04 15:49] dan-leech commented on #208
I have tha same issue with Cordova ios@~4.5.5 Plugin
I use like that:
[code]

I have enabled Zomby objects in XCode 9 but it doesn't help.

Maybe somebody has any ideas what is wrong?

[2018-09-05 06:09] Didar1994 opened #212 "Old videos received by Airdrop are not showing at the top"
Hi!

I tried to send a video that was taken 1 year ago by Airdrop to my iPhone. Video is showing in the library, but not at the top, like the Photos App or Instagram do. It is showing at the end of the list. I tried to change PHAsset fetch option from "creationDate" key to "modificationDate", but this not helped. I tried to remove fetch options, but the list appears is in ascending order, but I ne

[2018-09-06 19:46] Skyb0rg commented on #209
+1
When i open the Library (landscape mode), i can see the Camera Screen on the right.
how to stay in portrait mode?

[2018-09-10 05:44] oah2008 opened #213 "crash because of high memory usage"
app crashes when iCloud photo library is turn on , the app memory usage hits up to  1000 (the range between 300 - 1000 ) when i start scrolling throw the library , there is 445 photos and videos (227 from iCloud )

<img width="385" alt="screen shot 1439-12-30 at 8 27 00 am" src="https://user-images.githubusercontent.com/26074919/45278166-86a7a400-b4d4-11e8-932b-2bdd6d25e560.png">

 - Device: ipad

[2018-09-12 14:36] s4cha commented on #206
Hi @JulienLevallois,

We do not provide a UI for previewing the photo/ video.
You will have to use a custom controller/view for displaying the preview.
The example project shows a way to display the taken photo and preview the taken video full screen.

The filters for videos are not supported, at least yet !

PS: Please excuse the how so late reply :)

[2018-09-12 14:40] #201 closed, assigned to nobody

[2018-09-12 14:56] s4cha commented on #183
Closing for lack of activity, feel free to reopen if needed :)

[2018-09-12 15:01] s4cha commented on #213
Hey @oah2008,

Thanks for reporting the issue,
Would you be able to try on a phone device to see if this happens as well?
Works fine on the phones I tried, so it looks like an iPad-only issue :)

Thanks,

[2018-09-13 03:52] oah2008 commented on #213
i tested on iPhone 6s plus (IOS 11.4.1) and it worked fine , .so it is an iPad issue :)

anyway this is  warning messages that printed in the log when the app crash on the iPad (in case if you need it)

** note : it is impossible to use this library on the iPad when iCloud photo library is turn on , sometimes it crashes as soon as you open the photo library ,  and if you scroll it will crash immed

[2018-09-13 14:32] jlaws opened #214 "XCode 10 GM and Swift 4.2 fails to build"
**Describe the bug**
The pod does not compile with Xcode 10 GM and Swift 4.2

**To Reproduce**
Download XCode 10 GM and try to build the library with Swift 4.2

**Expected behavior**
Build with no errors or warnings

**Screenshots**
n/a

**Environment (please complete the following information):**
 - Device: Simulators
 - OS: iOS 11 + iOS 12
 - Xcode Version 10 GM
 - Swift Version 4.2

**Installat

[2018-09-13 22:01] zipme commented on #208
same issue here

[2018-09-14 06:39] sulaimankhan7 opened #215 "Rotation on cropped image not working"
**Description*
After zooming a image , it crops the image as expected. But if i rotate the image after zoom , view shows the rotated image but don't crop the image as rotated. Crop the image but show in original rotation .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to photo selection
2. Zoom the image for crop
3. Rotate it
4. Now save it
It crops image correctly but in it's original

[2018-09-16 07:46] utgodmode opened #217 "Next button not working in Video Crop"
When User tries to tap on next button in Video Crop View, the app doesn't do anything. There is no action. The app does not crash either, it just denies the action to go next step to save the video.

**To Reproduce**
Steps to reproduce the behavior:
1. Select the Video from Library
2. Tap Next
3. In Crop View, tap next

 - Device: iPhone X
 - OS: 11
 - Xcode Version 10 GM
 - Swift Version - 4.1

U

[2018-09-17 13:57] blurtime opened #218 "AVAssetExportPresetHEVCHighestQuality not supported"
When setting `config.video.compression = AVAssetExportPresetHEVCHighestQuality` and tapping "Next" to select and possibly trim the video nothing happens.

Adding `@available(iOS 11.0, *)` before every struct in `YPImagePickerConfiguration.swift` would enable only iOS 11+ users to use the picker and render it useless to others.

[2018-09-17 17:02] rheligonwbi commented on #197
Hello, i did it easily on YPMenuItem.swift
Just change your colors on  functions: selectedColor() and unselectedColor()

[2018-09-17 17:02] rheligonwbi commented on #203
Hello, i did it easily on YPMenuItem.swift
Just change your colors on functions: selectedColor() and unselectedColor()
The workaround on top is for versions previous to what i will explain next.

If you update to version 3.4.1, you can use a config property now for this:

config.bottomMenuItemUnSelectedColour

[2018-09-17 17:37] rheligonwbi opened #219 "Camera preview Crash"
**Describe the bug**
When i present the picker, i can see the library fine, but the photo preview sometimes takes about a minute to start the camera, and just stays in a black square. If i press cancel, then reopen the picker i get a crash error, because the object was deallocated.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to open picker

**Expected behavior**
The camera preview to

[2018-09-17 18:20] NikKovIos commented on #219
Could you please specify steps to reproduce. I test on iPhone 5s and everything is ok.

[2018-09-17 18:24] #207 closed, assigned to nobody

[2018-09-17 18:26] NikKovIos commented on #194
That most likely on your side. However, u can send a test project, that we can search for a solution or a bug. Also be sure, that u use the last release from master branch.

[2018-09-17 18:28] #195 closed, assigned to nobody

[2018-09-17 18:30] rheligonwbi commented on #219
As i told before, all i do is just open and cancel several times. I will keep on testing and see if i get a procedure to reproduce it all the time, as it not always happens to me. After i restarted my phone it stopped happening.
Thank you for your reply.

[2018-09-17 18:32] NikKovIos commented on #219
Also try to reproduce it in a test project to filter if the bug is on your side.

[2018-09-17 20:05] rheligonwbi opened #220 "Fixed image size"
Is there a way to make the image preview as a fixed height? In my current application we actually are fixing the height at 220 and the width is the device's.
Ive seen you use a squared ratio but i dont know if there is an easy way to customize the picker to preview and output the image with the height at 220.

In case of the final output and not the preview:

I saw in another question that you can

[2018-09-17 20:10] NikKovIos commented on #137
Fixed in https://github.com/Yummypets/YPImagePicker/releases/tag/3.4.1
Fill free to reopen ;)

[2018-09-17 20:11] #137 closed, assigned to nobody

[2018-09-18 04:52] Dranix commented on #208
Same issue with 3.4.0

Edit: fixed by migrating project to Swift 4.1

[2018-09-18 06:32] NikKovIos commented on #208
Try 3.4.1 in master branch.

[2018-09-18 09:58] s4cha commented on #214
Looking at it at the moment :)

[2018-09-18 14:43] NikKovIos commented on #220
Maybe `minWidthForItem` in version 3.4.1 would help you?

[2018-09-18 15:08] s4cha commented on #214
This is being addressed here https://github.com/Yummypets/YPImagePicker/pull/222.
Until it's merged to mater, you can point to `Xcode10` branch :)

[2018-09-18 15:29] s4cha commented on #219
@rheligonwbi Thanks for the detailed report, looking at it I can see that your version uses `[unowned]` tag. Latest releases now use `[weak]` which should solve the crash. What version are you using? Could you try updating it? I believe this is related to https://github.com/Yummypets/YPImagePicker/issues/178, which has been fixed in 3.4.0 :)

[2018-09-18 15:43] s4cha commented on #218
@blurtime Thanks for taking the time to open an issue,

How were you able to compile using `AVAssetExportPresetHEVCHighestQuality` (iOS 11 only)?
I'm not sure I fully understand your second point, could you elaborate?

Have you tried the following code?
[code]
Cheers,

[2018-09-18 15:48] rheligonwbi commented on #219
@s4cha Thank you very much, i had 3.3.1, which was the version the cocoa pods downloaded for me about yesterday? Effectively used the unowned in that code, by looking online i saw it might be an error caused by the unowned so i changed it manually to weak but it didnt work either way, so i figured i had to change more stuff and i decided not to do so.
But i updated today to 3.4.1 and i will see if

[2018-09-18 15:50] s4cha commented on #217
@utgodmode I can't test right now but a new Cocoapods update was just uploaded based on yesterday's release 3.4.1 which probably fixes this issue, could you update the pod and see if the issue persists?

[2018-09-18 16:06] rheligonwbi commented on #206
Hi @JulienLevallois, you might be able to get a pseudo built in preview of the photo if you use the feature:
config.showsCrop
It is supposed to allow you to crop the photo then save, but if you dont want to build one for yourself, you can use that one.

[2018-09-18 16:37] rheligonwbi commented on #220
@NikKovIos thank you for your reply, i didn't actually try your suggestion since it says width and what i need is height.

I think i found a workaround, maybe you can make it into a feature or something in the future or maybe it is intended to work that way but i couldn't find the way to use it as a ratio.

What i did now is that i used your property:

and in the file "YPCropView.swift" i changed

[2018-09-19 03:36] zhangchenzhuo opened #223 "YPImagePickerExample crash"
**Describe the bug**
crash on iPad iOS 12,  privacy permission ok, the photo and library is ok,  when switch from photo to video, looks like the camera does not open yet, start video and crash on file YPVideoProcessor.swift at line 65,  empty array asset. only happens when switch from photo to video.

**To Reproduce**
Steps to reproduce the behavior:
1. Click Pick
2. switch to photo
3. switch to v

[2018-09-19 09:43] aleandro-coppola opened #224 "Pod depends on XCode 10 - swift 4.2"
How can I solve this?

[code]

With Branch XCode10:
[code]

But SteviaLayout 4.2.0 with swift 4.2 not working

XCode 10 - swift 4.2

[2018-09-19 12:33] Giulioo opened #225 "CPU usage goes over 100% and the app is freezed when presenting the picker VC"
When the picker VC is presented, the CPU usage goes over 100% and the app is freezed.
I'm testing the example project with an iPhone 6 and an iPad Air 2 on iOS 11, both devices has over 3 GB of photos, maybe that can be the problem?
This problem does not even allow me to see the media, the loading spin continue spinning and no media is loaded in the VC.

How can this be solved?

EDIT: it was cause

[2018-09-19 12:54] #225 closed, assigned to nobody

[2018-09-19 22:38] blurtime commented on #218
@s4cha Sorry for answering so late, Swift 4.2 conversion had me occupied...

Now (Swift 4.2 and iOS 12) I get an error when I use the code you suggested:

In `LibraryMediaManager.swift (line 136)`, it says: `Fatal error: Unexpectedly found nil while unwrapping an Optional value`, namely the export session (`self.currentExportSessions.append(exportSession!`) which is set earlier (`line 119: let exp

[2018-09-20 18:16] Neelu1112 commented on #208
I have updated YPimagePicker to 3.4.1, still getting crash on

[2018-09-20 18:31] zipme commented on #208
yes, it's the same

[2018-09-22 17:17] gintechsystems commented on #197
@rheligonwbi I haven't checked but aren't those functions private right now? Meaning, we can't just do .config.menu.color for example? We just need to implement easier way.

[2018-09-23 10:01] 5fcgdaeb commented on #224
Pretty much stuck here as well. I have tried the following combination and the pod installation fails with the PryntTrimmerView related error.

What I have tried:
[code]

Error:

[code]

[2018-09-24 13:34] s4cha commented on #224
@Coppola-Aleandro @5fcgdaeb Sorry about that :/ This is being fixed in here: https://github.com/Yummypets/YPImagePicker/pull/222 will keep you posted as soon as it's fixed :)

[2018-09-24 14:19] DariusDresp opened #226 "Square Images and multiple Image Selection"
Hi,

If i just select one image everything works fine. However if I allow the user to select more than one image, the cropping of the images dont work always. The cropping of an image will only work in my case when I move the image manually at least a little bit in the editor. But if I select multiple images without touching the view of the image, the image will be forced into a squared ratio but

[2018-09-25 08:46] s4cha commented on #224
Hey, after some research, it looks like the last issue comes from our PryntTrimmerView dependency.
I opened an issue here https://github.com/HHK1/PryntTrimmerView/issues/37
to have this sorted.

As much as we all love new swift versions, it's always an extra workload for us to update all projects and make sure everything works fine. I'll do my best to solve that asap. Thanks a ton for being so pat

[2018-09-25 08:55] s4cha commented on #214
@jlaws We are tracking this in here as well : https://github.com/Yummypets/YPImagePicker/issues/224
The last bit to solve comes from one of our dependency so I hope they fix it asap so that we can rollout a new version.
Thanks for being so patient 🙏

[2018-09-25 09:28] s4cha commented on #224
In the meantime, Carthage integration is up in 3.5.0 https://github.com/Yummypets/YPImagePicker/releases/tag/3.5.0

[2018-09-25 11:20] yashbarotkunj opened #227 "Video Filter"
Need Video Filters like image or photo

How can I add video filter

can please help me?

Thanks

[2018-09-25 16:06] edbeecroft commented on #211
+1. Interested in hearing about this too. The automatic playback is something I'd like to disable if possible.

[2018-09-25 20:25] #177 closed, assigned to nobody

[2018-09-26 11:16] 5fcgdaeb commented on #176
I am using the library to take a photo from the camera (no library or video support) and I agree with the 2nd point. It is a rather strange UX to see a half empty view, especially when using the library for the first time :)

[2018-09-26 11:18] algrid opened #229 "Swift 3 -> version 1.2.1 not available via Pods"
**Describe the bug**
I have a Swift 3 project and want to use the Swift 3 -> version 1.2.1 but `pod install` fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Add `pod 'YPImagePicker', '1.2.1'` to your Podfile
2. Run `pod install`
3. See error:

[code]

**Environment (please complete the following information):**
 - Xcode Version: 9.4.1
 - Swift Version 3.3

**Installation Type**
 - Coc

[2018-09-26 15:50] s4cha commented on #223
@zhangchenzhuo thanks for such a detailed crash report, it makes our lives so much easier 👍

[2018-09-26 16:26] s4cha commented on #223
I just pushed a fix https://github.com/Yummypets/YPImagePicker/commit/7f343dce610088b64a1533791c0887512411b11e
I can't test on iPad at the moment so I did it kinda blindly :)

[2018-09-26 19:28] gintechsystems commented on #210
You don't need the url just get the data.

[2018-09-26 19:29] gintechsystems commented on #211
Don't think there is an option, I +1 on implementing this too.

[2018-09-27 10:01] JKCai opened #230 "Unsolved identifier 'YPFilterDescriptor'"
Hi, I am new to swift and working on a instagram app. I want to integrate your filter function to the app.
I follow your instructions and it tells me "use unsolved identifier 'YPFilterDescriptor'.

I try:
1) check my pod version and update to the latest
2) import YPFilterDescriptor

Still doesn't work. Could you tell me how to solve this issue? Thanks for your help

[2018-09-27 18:53] cwestMobile opened #231 "Hide bottom bar if only one item activated?"
**Is your feature request related to a problem? Please describe.**
The project looks a bit weird if you only have .library selected for example, it negates the need for the bottom bar.

**Describe the solution you'd like**
Ability to hide the bottom bar, or have it hide automatically when only one item is selected

Let me know if you need more info.

[2018-09-27 18:55] NikKovIos commented on #231
Great suggestion, thank you. By the way you can make it and submit a PR ;)

[2018-09-28 00:34] CtrlJone opened #232 "why i can't pod update about 3.5.0???"
CocoaPods could not find compatible versions for pod "YPImagePicker":
  In Podfile:
    YPImagePicker (~> 3.5.0)

[2018-09-28 04:25] Zyoma108 commented on #224
Any updates? When will version 3.5.0 be available with CocoaPods?

[2018-09-28 06:35] syrakozz opened #233 "dimiss view picker view if the user click don`t allow permission"
can you plz let the picker view dismiss if the user click don`t allow permission

[2018-09-28 07:16] aleandro-coppola commented on #224
I have no idea how it is possible, but also updating the operating system to Mojave, xCode 10, swift 4.2 also works with version 3.4

This is my Pod.lock:

`YPImagePicker (3.4.0)
PryntTrimmerView (~> 2.0)
SteviaLayout (~> 4.2.0)`

[2018-09-28 16:50] dan-leech opened #234 "Can not see collectionView on IPad 2 in landscape"
**Describe the bug**
Can not see collectionView on IPad 2 in landscape. It is hidden by Image Crop View Container.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to choose photo screen in landscape mode
2. See error

**Expected behavior**
Espect that Asset Zoomable view will become smaller inside it container and centered.
Image Crop View Container takes 2/3 of screen or is 1:1 square

*

[2018-09-29 07:31] s4cha commented on #177
@imzyf does that work now?

[2018-09-29 08:23] s4cha commented on #154
`video.asset` is available in production versions so closing this. Feel free to reopen if needed :)

[2018-09-29 08:23] #154 closed, assigned to nobody

[2018-09-29 09:11] s4cha commented on #199
@ravinagar79 & @yokochi
This is indeed fixed as of 3.4.1 & 3.5.0(xcode10) :)

[2018-09-29 09:11] #199 closed, assigned to nobody

[2018-09-29 09:16] s4cha commented on #208
@MandeepSingh1
Could you please fill the info below so that we can try to reproduce on our end?

**Environment (please complete the following information):**
 - Device: [e.g. iPhone6]
 - OS: [e.g. iOS8.1]
 - Xcode Version [e.g. 9.4.1]
 - Swift Version [e.g. 4.1]

**Installation Type**
 - Carthage
 - Cocoapods
 - Manual

@zipme @Neelu1112 @dan-leech  If you could provide a sample project reproducin

[2018-09-29 09:24] s4cha commented on #234
@dan-leech Thanks for reporting this 👍
The picker doesn't support landscape mode as we speak.
I don't know if we plan to ever support it to be honest.
If this is the case then we should probably lock portrait on our side.
Would you be able to lock portrait for your use case in the meantime ?

Cheers,

[2018-09-29 09:27] s4cha commented on #190
@bcalmeil is that fixed now or are your still experiencing the issue?

[2018-09-29 09:30] s4cha commented on #224
@Coppola-Aleandro the mysteries of Cocoapods I guess xD

[2018-09-29 09:32] s4cha commented on #232
@nizenyang We are having an issue with one of our dependencies unfortunately so we are trying to fix it asap. Carthage integration works for 3.5.0 though.
This is tracked here : https://github.com/Yummypets/YPImagePicker/issues/214

[2018-09-29 09:32] #232 closed, assigned to nobody

[2018-09-29 09:43] s4cha commented on #233
@syrakozz Can you explain a little bit more why you'd need such a behaviour? The thing is a user could very well reject library permissions and allow camera ones for instance.
What would you do in such a case?

[2018-09-29 09:44] s4cha commented on #231
@cwestMobile This is a very good UX idea :)

[2018-09-29 09:49] s4cha commented on #230
@JKCai Glad you chose YPImagePicker for your instagram-like app, this should be a perfect fit 👌
Could you tell us a little bit more info about your environment please ?

**Environment (please complete the following information):**
 - Device: [e.g. iPhone6]
 - OS: [e.g. iOS8.1]
 - Xcode Version [e.g. 9.4.1]
 - Swift Version [e.g. 4.1]
- Version of YPImage picker used? (your Podfile)

Thanks!

[2018-09-29 09:57] JKCai commented on #230
@s4cha Thanks for the reply!

My environments are:
Device:  iPhone7 plus
OS:         IOS11.4.1
Xcode Version 9.4.1
Swift Version 4.1
Version of YPImage picker used?  - I am not sure of this one. In my pod file, I just type "pod 'YPImagePicker' ", I did not specify the version. Should I add a version at the end? like "pod 'YPImagePicker', ~3.4.1 "?

[2018-09-29 09:57] s4cha commented on #229
@algrid It seems that "1.2.1" has never been on Cocoapods for some reason. "1.2.0" should be available though. Please be aware that these are very old versions (1 year) and tons of stuff has been fixed / added in the meantime.
I would strongly encourage you to migrate to swift 4.+ whenever possible :)

[2018-09-29 10:05] s4cha commented on #227
@yashbarotkunj Filters are not implemented for videos as we speak. This is something we might want to add in the future but we have no clear roadmap for this feature at the moment.
This is already tracked here : https://github.com/Yummypets/YPImagePicker/issues/101

Cheers,

[2018-09-29 10:06] #227 closed, assigned to nobody

[2018-09-29 10:07] s4cha commented on #217
@utgodmode any updates on this ?

[2018-09-29 10:12] s4cha commented on #219
Closing this for now, feel free to reopen if needed :)

[2018-09-29 10:12] #219 closed, assigned to nobody

[2018-09-29 10:14] s4cha commented on #226
@DariusDresp Thanks a ton for the report, this looks like a serious bug indeed!

[2018-09-29 10:23] s4cha commented on #218
@blurtime No worries Swift 4.2 got us all busy :)
Well this is weird :/ Since it's pretty hard for us to fix without reproducing the issue, could you please create an example project to reproduce your issue? That would help use tremendously 🙏  :)
Concerning your last point this is a very good idea and actually already being discussed here : https://github.com/Yummypets/YPImagePicker/issues/231

Ch

[2018-09-29 13:31] s4cha commented on #215
@sulaimansust Thanks for reporting an issue, When you are in the photo library, I don't understand how you can "rotate" the picture as rotation is not supported in the picker. Could you elaborate? or better yet take a video screenshot of your actions ?

Cheers,

[2018-09-29 13:37] s4cha commented on #202
@MandeepSingh1 Please excuse the late reply, the project got a lot of users recently and we are working hard to try and solve the issues :)
What is the version of the pod are you using?  This has been fixed some time ago if I remember well.

[2018-09-29 13:45] s4cha commented on #197
Hi @gintechsystems Glad you like the project!
I think you could add properties in `YPColor` so the usage would follow the previous customisations via `config.color.[something]`
https://github.com/Yummypets/YPImagePicker/blob/master/Source/Configuration/YPColors.swift
Contributions are always welcome and encouraged of course :)
You can submit a Pull request, don't worry if it's not perfect, we'll r

[2018-09-29 13:48] s4cha commented on #209
Hi @Sieniek, @Skyb0rg , the landscape orientation has never been supported so it's "normal" that this fails 😄 .
This is something that we might support in the future but in the meantime you'll have to force portrait orientation when showing the picker :)

[2018-09-29 14:00] s4cha commented on #210
@rajabpour, as explained by @gintechsystems you should only need the `Data` to send the image to the server as follows :
[code]

Hope this helps :)

[2018-09-29 14:04] s4cha commented on #197
This is similar to https://github.com/Yummypets/YPImagePicker/issues/203

[2018-09-29 14:06] s4cha commented on #197
In the latest version you should be able to use `config.bottomMenuItemSelectedColour` & `bottomMenuItemUnSelectedColour` for the foreground colours. the background is not yet supported though

[2018-09-29 14:10] s4cha commented on #206
@JulienLevallois Were you able to create your own preview?

[2018-09-29 18:30] utgodmode commented on #217
@s4cha I wanted to use it for video but since the crop function and filters are not available, am just not using the library for video. This bug is still unsolved.

[2018-09-30 09:48] Skyb0rg commented on #209
OK thank you.
I will try this answer:
https://stackoverflow.com/questions/28938660/how-to-lock-orientation-of-one-view-controller-to-portrait-mode-only-in-swift

Or do you have a guide / hint for us?

Thanks

[2018-09-30 17:19] gintechsystems commented on #197
Yeah, the background is what I am asking about. I don't think I had the latest version at the time bottomMenuItem was part of the config. Will take a look at that.

Thank you!

[2018-09-30 17:22] gintechsystems commented on #210
@s4cha great example. What are you adding in the next version related to this?

[2018-09-30 21:58] jlaws commented on #214
Thanks for the update!  Just need this and Stevia to update and all my pods will be on Swift 4.2

[2018-10-01 07:12] erickasnetsis commented on #208
Hi @s4cha,

As mentioned by @Dranix, the issue seems to be resolved by updating the core project Swift Language Version from 3.3 to 4.1.

I have attached a sample project where the issue is reproducible. Please read the README file within the project to see how I was able to recreate the issue in the sample project.

**Environment:**

Devices:
    Simulator - iPhone 8 Plus
    Simulator - iPhone X

[2018-10-01 15:03] s4cha commented on #224
@Coppola-Aleandro @5fcgdaeb @Zyoma108
This should be fixed by now, 3.5.1 is available on Cocoapods "
https://github.com/Yummypets/YPImagePicker/releases/tag/3.5.1
http://cocoapods.org/pods/YPImagePicker

Let me know if that works,

Cheers!

[2018-10-01 15:04] s4cha commented on #214
@jlaws
This should be fixed by now, 3.5.1 is available on Cocoapods 🚀
https://github.com/Yummypets/YPImagePicker/releases/tag/3.5.1
http://cocoapods.org/pods/YPImagePicker

Let me know if that works,
Thanks a ton for your patience :)
Cheers!

[2018-10-01 20:35] jlaws commented on #214
Works great, thank you!

[2018-10-01 20:35] #214 closed, assigned to s4cha

[2018-10-02 04:04] Zyoma108 commented on #224
All is ok! Thanks!

[2018-10-02 19:01] fikretsengul opened #235 "Fixed photo size and "minWidthForItem" problem."
I'm creating an application that has some ImageViews with a fixed height at 320 and the width is the device's. I tried the "minWidthForItem" but it just crops a rectangle that is devicesWidthx320. Is there any way to first scale the whole image for the size of width and than crop it's height as 320px.

Sorry for my bad english. Thank you for creating this amazing picker.

[2018-10-02 19:05] NikKovIos commented on #235
I think you can try to use crop view with custom crop ratio. Check for it in settings.

[2018-10-02 20:41] crspybits opened #236 "Command CompileSwiftSources failed with a nonzero exit code"
**Describe the bug**
When I compile the example project with Xcode 10, I get this error.

[2018-10-04 04:40] sulaimankhan7 commented on #215
Sorry . This was not your fault. I was given your library after some modification. To fulfill our client's requirement, i had to  modify your library and added some feature on your library. Sorry for the disturbance

[2018-10-04 04:40] #215 closed, assigned to nobody

[2018-10-05 09:15] liniminil commented on #236
This is a known issue documented in [Swift 4.2 Release Notes for Xcode 10](https://developer.apple.com/documentation/xcode_release_notes/xcode_10_release_notes/swift_4_2_release_notes_for_xcode_10)

Workaround: Disable batch mode by adding a user-defined build setting named SWIFT_ENABLE_BATCH_MODE and set it to NO.

<img width="896" alt="screen shot 2018-10-07 at 9 16 08 am" src="https://user-imag

[2018-10-05 13:07] xuanvinhtd opened #237 "YPImagePicker not deinit when it have been dismiss"
**Describe the bug**
I using sample code of YPImagePicker when I present and dismiss YPImagePicker many time, but I can see it deinit YPImagePicker. So memory of device alway increase when I present and dismiss YPImagePicker.

<img width="1401" alt="screen shot 2018-10-05 at 8 05 11 pm" src="https://user-images.githubusercontent.com/7612264/46536905-1d9c2c00-c8da-11e8-8451-7b1fb92938d9.png">

 - D

[2018-10-06 09:54] 5fcgdaeb commented on #224
Working well, thanks for the quick fix!

[2018-10-06 10:00] 5fcgdaeb opened #240 "Deprecation Warnings - XCode 10 Swift 4.2"
**Describe the bug**
After installing the 3.5.1 version via Cocoapods, the following warnings appear during compile-time.

`didSelectImage, didSelectVideo, didCancel are deprecated; use <alternativeMethod> instead`

**To Reproduce**
Install version 3.5.1 via Cocoapods and build you project.

**Environment (please complete the following information):**
- Deployment Target: 10.0
 - Xcode Version 10.

[2018-10-07 06:18] kkj915 commented on #236
Umbrella header 'PrynTrimmerView.h' not found. after carthage update.
How to fix?

[2018-10-08 12:37] Neelu1112 commented on #208
when this issue will get resolved. I need this urgent basis. @s4cha

[2018-10-08 12:39] Neelu1112 commented on #208
the same issue I'm facing

[2018-10-08 14:56] lazar89nis commented on #57
Hi,
Great Library. I started implementing it and noticed same problem with slow motion video. I get this in console:
error exporting video Optional(Error Domain=AVFoundationErrorDomain Code=-11841 "Operation Stopped" UserInfo={NSLocalizedFailureReason=The video could not be composed., NSLocalizedDescription=Operation Stopped, NSUnderlyingError=0x281bc8360 {Error Domain=NSOSStatusErrorDomain Code=-

[2018-10-08 16:29] datacosmos commented on #213
I have the same problem under ios 11 ipad pro:
![img_45185ddd0db5-1](https://user-images.githubusercontent.com/30296295/46621357-8cba9000-cb27-11e8-943b-2533af65f339.jpeg)

When you scroll through the library in the below line the app crashes due to memory. It crashes also if you resize the film roll line.

The console logs says:
Multiple Times:

and than " [ops] Communications error: Connection i

[2018-10-08 20:55] datacosmos commented on #213
OK I have played around with this for a while and found out that there is a correlation between the setting config.library.numberOfItemsInRow and the crashes:

1.  With config.library.numberOfItemsInRow = 1 or 2 I can scroll  with normal speed and resize the roll view to full screen and scroll for a long time, it crashes only when I scroll really insanely fast through the photos.
2. With more numb

[2018-10-08 22:11] oah2008 commented on #213
this exactly what i did, when i reported about this issue the numberOfItemsInRow  was setting to 6 and the app was crashing immediately  when i start scrolling throw the library (fast or slow)

however before two weeks i changed numberOfItemsInRow to 3 and i noticed the difference , the app will crash only if you scroll super-fast , unlike when you set the number Of Items In Row to number higher t

[2018-10-09 06:54] #236 closed, assigned to nobody

[2018-10-09 07:04] #237 closed, assigned to nobody

[2018-10-09 07:27] s4cha commented on #231
@ylin0x81 just added a way to manually hide the bottom bar 👍 .
I would suggest we hide it automatically when showing a single screen as suggested by @cwestMobile .
Following the same logic, I think hiding the bar when having multiple screens can be misleading UX speaking.
What do you think? @NikKovIos @cwestMobile @ylin0x81 ?

[2018-10-09 07:32] s4cha commented on #224
@Coppola-Aleandro @Zyoma108 @5fcgdaeb Thanks for your patience 🙏  :)

[2018-10-09 07:32] #224 closed, assigned to nobody

[2018-10-09 08:11] s4cha commented on #240
@5fcgdaeb Thanks for reminding us about that, these were left for a while for backwards compatibility purposes, it's been a while so it's time to remove them for good :)
This will be done in next release 👍

[2018-10-09 09:14] s4cha opened #243 "Library Crop button needs 2 taps to work the first time"
**Describe the bug**
When opening the picker, tapping the crop button does not work on the first time. it works on subsequent taps though.

[2018-10-09 09:17] #243 closed, assigned to s4cha

[2018-10-09 09:54] s4cha commented on #208
@erickasnetsis Thanks a ton for the example project, this is really appreciated 🙏

Indeed the issue lies in the fact that your projects are in swift 3 and Cocoapods pulls a version of the YPImagePicker that is written in swift 4.

Somehow 1.2.1 hasn't a pod version, so you can target swift 3 with 1.2.0
https://github.com/Yummypets/YPImagePicker/releases/tag/1.2.0
[code]
Old Readme: https://github.