[2018-10-09 09:57] s4cha commented on #229
@algrid readme has been updated with 1.2.0 for swift 3.
Closing this for now, feel free to reopen if needed :)

[2018-10-09 09:57] #229 closed, assigned to nobody

[2018-10-09 09:59] s4cha commented on #190
Closing this for now, feel free to reopen if need be :)

[2018-10-09 09:59] #190 closed, assigned to nobody

[2018-10-09 10:22] #240 closed, assigned to nobody

[2018-10-09 11:26] datacosmos commented on #213
Just two other points:

1. With numberOfItemsInRow=3 I see only two photos in one row and in the middle column  there is just whitespace. And when I resize the camera roll view to max the app crashes also.
2. On iPads I have only one row of photos on the camera roll view (see my attached screenshot above) (instead of 2-3 rows on iPhones), I would like to have the same distribution between the prev

[2018-10-09 12:49] s4cha commented on #223
Should be fixed in 3.5.2. Don't hesitate to reopen if it ever comes back :)

[2018-10-09 12:49] #223 closed, assigned to s4cha

[2018-10-09 12:51] s4cha commented on #215
@sulaimansust no problem :)

[2018-10-09 13:40] oah2008 commented on #213
this is my settings :

`config.targetImageSize = .original `
`config.library.onlySquare  = false`
`config.library.numberOfItemsInRow = 3`
`config.library.spacingBetweenItems = 2`

with this settings iPad and iPhone will have the same number of rows on the camera roll view

[2018-10-09 17:13] mlazic95 opened #244 "Is there an easy way to set a max height to an image in preview?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-10-09 17:14] mlazic95 commented on #244
Is there an easy way to set a max height to an image in preview? Right now the whole image is viewed no matter of its dimensions and that kind a break my whole app. I would like it to be more like instagram if that is possible. Thank you in advance.

[2018-10-10 04:44] zhangchenzhuo commented on #223
😂😂
Well, it **does not crash** but, the video is not shown on my iPad after i swap from photo to video, like the picture above. But, if i select video from gallery, and then swap to photo, everything is ok, after that, i swap to video, again, the video stopped and shows the last frame.
I tested on iPad and iPhone.
After i change the system language from Chinese to English, the problem happens with

[2018-10-10 09:29] MaximGolovlev commented on #234
Can you please tell me later what to fix when you have done. I don't have an opportunity to switch from swift 4 onto 4.2 because of Locksmith pod.

[2018-10-10 14:11] liniminil commented on #244
@markolazic261 Setting a `minWidthForItem` might fits your needs.
[code]

[2018-10-10 14:59] liniminil commented on #231
Makes sense to me.

[2018-10-10 22:15] mlazic95 commented on #244
It seems to work. Thank you very much!

[2018-10-10 22:15] #244 closed, assigned to nobody

[2018-10-10 22:34] bcalmeil commented on #190
Hello

Thanks sure.

Benoit Calmeil

- - -
20 B
Lexington Hill
11 Rock hill Street
Kennedy Town

[2018-10-11 14:10] syrakozz opened #247 "can`t deselect 1 image if the max allowed image is more than 1"
after i select several images and then I want to deselect them, i can`t deselect 1 image if the max allowed image is more than 1,
if i want to deselect the 1 image I need to select another image and deselect the first

[2018-10-15 11:04] Neelu1112 commented on #208
@s4cha I migrate my project to swift 4, it is working as expected.
thanks.

[2018-10-15 12:59] mohsinka commented on #224
Hi there, I updated the pods and am still getting some 33 errors. Although my Swift version is also set to 4.2, Mojave and have xCode 10. I don't know how to proceed, please help.

<img width="1440" alt="screen shot 2018-10-15 at 5 54 04 pm" src="https://user-images.githubusercontent.com/6949964/46952364-08768880-d0a4-11e8-96d6-e31b9a96a43a.png">

[2018-10-15 13:33] jessonguan opened #250 "customize the language"
I wanted to customize the language, but did not find the corresponding interface. Please help me

[2018-10-15 13:33] jessonguan commented on #250
I want to use Chinese.

[2018-10-15 13:58] NikKovIos commented on #250
Check the configuration class please.

[2018-10-15 13:58] #250 closed, assigned to nobody

[2018-10-16 08:55] Neelu1112 opened #251 "Not getting Assets and Data after recording video"
After recording video,
fetching video using below code,
`if let video = items.singleVideo`
  in which` video.asset` is nil
                 `video.data` is nil
I want PHAsset or Data to upload video in facebook through SDK.

[2018-10-19 05:58] mBilal5674 opened #254 "Can't change camera overlay height"
I want to change camera overlay height.

[2018-10-19 13:13] abdullah-et opened #255 "Is there a feature i show images only , if i give media type images only still shows the video picker"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-10-19 19:43] nderkach commented on #230
For anyone looking, the new class name is `YPFilter`

[2018-10-20 23:00] AdieOlami commented on #174
I am having this issue how do I solve it? my imageview does not show the selected image

[2018-10-20 23:02] AdieOlami opened #256 "Picker deinited imageview not showing selected image"
Hi, so I was trying this library of yours and followed the exact process by first installing the dependencies, giving permissions in info.plist, followed by, using the custom configurations or otherwise, by using the default YPImagePicker instance, and whenever I try to instantiate the Camera or Library i get a console print, "Picker deinited 👍" and nothing else happens.. I can't seem to understan

[2018-10-20 23:04] AdieOlami commented on #255
hi, I am having this issue how do I solve it? my imageview does not show the selected image kindly help contribute https://github.com/Yummypets/YPImagePicker/issues/256

[2018-10-20 23:04] AdieOlami commented on #254
hi, I am having this issue how do I solve it? my imageview does not show the selected image kindly help contribute https://github.com/Yummypets/YPImagePicker/issues/256

[2018-10-20 23:05] AdieOlami commented on #234
hi, I am having this issue how do I solve it? my imageview does not show the selected image kindly help contribute https://github.com/Yummypets/YPImagePicker/issues/256

[2018-10-21 12:48] AdieOlami commented on #256
works now. I was hiding the selected image

[2018-10-21 12:57] #256 closed, assigned to nobody

[2018-10-21 19:38] blurtime commented on #218
@s4cha I'll try my best to do it as soon as I can but currently I barely have to time do get even pretty small things done... sorry :/

[2018-10-21 19:52] blurtime opened #257 "Hide bar at the bottom if only one screen configured"
This is just a small suggestion. I'm sure I could've solved this myself and contributed it but I really do not have the time right now and can barely finish the most essential parts of my projects. Would it be possible to add a boolean somewhere indicating whether to hide the bar at the bottom of the picker that says e.g. "Library" if only one screen is used. Or don't even bother creating a boolea

[2018-10-22 05:07] jksjaz opened #258 "How to get the physical location of the selected image"
I am using realm database in my iOS app and I need the selected Image location that user chose and want to transfer that url to my database for my other view controllers to access it from.

Thanks for your help.

[2018-10-22 05:08] liniminil commented on #257
Duplicate of https://github.com/Yummypets/YPImagePicker/issues/231

[2018-10-22 06:44] mBilal5674 commented on #254
but here i can't find out how to maximize overlay height

[2018-10-22 07:14] gungorbasa opened #259 "Video Short Video Crash on iPad"
**Describe the bug**
Showing an alert view on iPad causes a crash. To fix it, sourceView needs to be set.

**To Reproduce**
Steps to reproduce the behavior:
Use the gallery to choose video
There is a time min restriction on the video
UIAlertView crashes

**Expected behavior**
See an alertview that says the video is too short or too long.

**Environment (please complete the following information):*

[2018-10-22 17:07] #257 closed, assigned to nobody

[2018-10-22 18:30] jewell86 commented on #224
@mohsinka I'm having the exact same issue, with 33 errors related to YPImagePicker. Tried everything, can't figure out a fix.

[2018-10-23 09:40] rajabpour commented on #99
I have same problem, let us to know... PLZ.
@fsalom

[2018-10-23 10:25] rajabpour commented on #99
I found that,
You must add YPImagePicker library to "Link Binary with Library"   ;)
![untitled](https://user-images.githubusercontent.com/2610676/47354330-51919280-d6cb-11e8-94a5-76be0813042f.png)

[2018-10-23 16:46] ugenlik commented on #224
@mohsinka  and @jewell86 , Are you sure you use the correct build settings?

What's in your `Podfile.lock` ?

It should be like

[code]

if not , delete the podfile like from your folder and delete the pods folder too, let only Podfile be in your folder.

then run  `pod update`

if that doesnt work it means your settings are not 4.2 either in your xcode or in your podfile.

You can try following a

[2018-10-23 16:52] jewell86 commented on #224
Thank you, I will try these things. YPImagePicker was working perfectly for
me until I updated to Xcode 10, and then it no longer worked (along with
some other things, I had a ton of issues to figure out and that was the
last one I was working on). I will let you know when I try it, and I really
appreciate your quick response, it is super helpful!!
Jewell

On Tue, Oct 23, 2018 at 9:50 AM ugenlik <

[2018-10-23 17:04] ugenlik commented on #224
@jewell86  When I updated to Swift 4.2 I had a lot of problems too , it was because some frameworks still use swift 3 like Alamofire and Firebase, some of them use Swift 4.0 and some of them use Swift 4.2

You need to adjust your podfile's post installer for each target , like in my previous reply

`config.build_settings['SWIFT_VERSION'] = '4.2'`

It is a painful process to find what each project

[2018-10-23 17:09] jewell86 commented on #224
Heh okay cool, thank you. I have learned Swift on my own and built my
project all on my own, so when this happened I had NO idea how to fix it! I
was actually going to an interview with an employer & couldn't get my app
to build because of the updates, it was pretty embarrassing! I think your
tips will help a lot, I'll try them out asap & seriously appreciate the
help!

On Tue, Oct 23, 2018 at 10:

[2018-10-24 17:04] canarc opened #261 "The next button isn't appearing"
**Describe the bug**
When I take a photo or chose in gallery after filtering there is no next button

**Screenshots**
https://prnt.sc/l9zydy

**Environment (please complete the following information):**
 - Device: [iPhone 7]
 - OS: [iOS 12]
 - Xcode Version [10.0]
 - Swift Version [4.2]

**Installation Type**
 - Cocoapods

[2018-10-25 17:27] El-Buritos opened #263 "Add a crop circle enum possibilities"
Hello very good framework, I read that you thought to do this in the near future but no more news, will you always implement this possibilities `config.showsCrop = .circle`? Thanks to your framework and your reply.

El-Buritos

[2018-10-26 06:40] Jatinharish opened #264 "video is not show properly in ios version 11.4.1 after doing zoom"
Hi,

When we select video from Gallary. and zoom that video. after that i press next button then video is not show properly. Its working fine in all devices but not in device which have version 11.4.1.

![screen shot 2018-10-26 at 12 45 38 pm](https://user-images.githubusercontent.com/12663449/47550541-29996d80-d91d-11e8-85f3-2a99228e9e58.png)

Please  resolve it ASAP

[2018-10-29 20:34] ugenlik opened #265 "Adding Ability to Add Caption / Text to Photos."
**Is your feature request related to a problem? Please describe.**
My app requires adding a caption to a photo when uploading.  Or Adding a caption to each photo when selecting/uploading multiple photos.

Also my users won't need to have Filters or Crops, so I use this library mostly just for the multiple selection and taking photos.

**Describe the solution you'd like**

![captionview](https://us

[2018-10-30 15:41] dasoli commented on #261
@canarc make sure you dont have set stuff like that:
` UINavigationBar.appearance().tintColor = .white

        let attributes = [ NSAttributedString.Key.foregroundColor: UIColor.white,
                           NSAttributedString.Key.font: UIFont.systemFont(ofSize: 14) ]

        UIBarButtonItem.appearance().setTitleTextAttributes(attributes, for: .normal)
        UIBarButtonItem.appearance().se

[2018-11-01 01:06] G1King commented on #236
thanks ！ solved my problem

[2018-11-06 13:24] om-ha commented on #33
@s4cha dude, thanks a lot for your hard work. My previous colleague _heavily_ modified a swift-3 version of YPImagePicker, upgrading to the latest version requires a lot of work and was out of the question. So the quality issue stayed unresolved.

Today I just went in there and used the current cropping implementation from _PHCachingImageManager+Helpers_ file -> _PHCachingImageManager_ class -> _f

[2018-11-07 07:12] bcalmeil opened #269 "Increase the size of icon multi picture"
Hello
I notice that the user don t see the multipicture icon so they don t use it.

Where in the code, can we do it bigger ?

Many thx

[2018-11-09 10:08] bbo-jay opened #270 "Question: Will this work without using the ImagePicker and just use the filters?"

[2018-11-11 18:00] wdcurry opened #271 "workflow for optional crop?"
I don't yet use the repo, and have tried to see a standard (for me) use case is available: while presenting the crop view, to not force a crop, but accept a full image instead. The option to crop or not can be very useful.

[2018-11-13 05:56] raygun101 commented on #236
Yup, fixed it for me, now I can see the actual compilation error.
THANKS!

[2018-11-13 14:27] ghost opened #272 "Ability to override the library's image assets"
**Is your feature request related to a problem? Please describe.**
To create a consistent UI/UX with the rest of my app, it would be nice to be able to override the assets on the YPImagePicker, for instance, the camera taking button image, video taking button image, flash auto image, flash off image, etc.

**Describe the solution you'd like**
To create public outlets for the respective UIButtons s

[2018-11-13 19:43] czxxtil opened #273 "Upload image/video to Firebase"
After reading the comment in #201, I am still not quite sure how to upload images/videos/combination of images&videos to firebase server.
// Mark: start
        picker.didFinishPicking { [unowned picker] items, cancelled in

            if cancelled {
                picker.dismiss(animated: true, completion: nil)
                return
            }
            _ = items.map { print("🧀 \($0)") }

[2018-11-19 20:40] TomWFox commented on #213
I'm experience memory related crashes too. `Message from debugger: Terminated due to memory issue`. In my case it results from scrubbing through cover images quickly on a single video selection. I'm running it on an iPhone 6 on iOS 12.1.1.

**Edit**: Sorry - totally forgot I'm running a beta version on this device!

[2018-11-19 21:11] TomWFox commented on #112
Hi,

I set the following config:
[code]

But if I select a video of 1 minute don't trim it and press done there is no message saying that the video needs to be trimmed.

[2018-11-20 22:21] TomWFox commented on #273
Yep, the did finish picking callback is a good place to upload the selected file. You can use `video.url.path` to upload an image from a local path.

You can also use `video.fetchData(completion: <#T##(Data) -> Void#>)` to get the data to upload to Firebase but I've had issues using this method with a Parse server so I opted for the first method.

[2018-11-21 02:32] czxxtil commented on #273
Thank you so much for the insight. I am new to Swift, would you please provide me an example where excatly I should use video.url.path and what should I write to upload the video to Firebase?

[2018-11-21 09:33] TomWFox commented on #273
Generally speaking the Firebase [docs](https://firebase.google.com/docs/storage/ios/upload-files) is the place to go for this - the documentation is really good and if you get stuck there is a very active Firebase community on [Stack Overflow](https://stackoverflow.com/questions/tagged/firebase).

**But anyway here is a outline of how I would achieve this:**
Add a storage reference in global scope

[2018-11-22 13:10] MandeepSingh1 opened #275 "I don't want to square the video after recording"
Hey Guys, Thanks for your awesome library but I don't want to square the video after recording but still   I need that video to rotate to video. So if I don't use the below code its not working anymore. Can you guys help me

Below is your function:-
static func cropToSquare(filePath: URL, completion: @escaping (_ outputURL : URL?) -> ()) {

        // output file
        let outputPath = makeVideo

[2018-11-26 10:07] vijayevolgence commented on #251
Same problem

[2018-11-26 10:08] vijayevolgence commented on #251
Please fix the issue asap

[2018-11-26 11:08] eshajari opened #276 "Any way to get the mime type of the picked item ?"
Thanks for the lib.

Any one having any solution to get the mime type of the selected media item. ?

[2018-11-29 12:02] MandeepSingh1 opened #277 "Video session is not started"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Video
2. Click on Cancel
3. Again open the picker and go to video and then again click on cancel. Do this scenario for upto 3-4 times. You will see video session is not started properly.

**Environment (please complete the following information):**
 - Device: [e.g. i

[2018-12-04 12:12] bybash commented on #261
Hi,
After capturing a photo, filter view takes the control and manipulates navigation bar, it hides the next button and also it adds a back button. When you go back to photo capture view, navigation bar doesn't show Cancel button and it shows back button which is added in filter view and it is not tappable 👎 I will debug and investigate codes.

[2018-12-05 10:38] bybash commented on #261
I just tried the demo app, it is working good. However, the same codes are not showing navigationbar items correctly inside my project. I consider and debug too much and figure it out, a navigationcontroller is not working good when it is presented by a tabbarcontroller or a modal uiviewcontroller. My view diagram just like this, tabbarcntrl -> navcntrl -> viewcntrl -> modalviewcntrl -> ypimagepic

[2018-12-06 07:41] bybash opened #279 "Only portrait oriented application is not getting correct Image orientation after capture"
Hi there,

In my application, I tried to use YPImagePicker directly with source integration. I have a portrait oriented application and I never needed to use UIDevice.current.orientation, when I tried to capture photos in landscape mode, images weren't rotated correctly. I have checked that my UIDevice.current.orientation is always unknown.
I tried your demo app and it doesn't have that problem so

[2018-12-06 08:03] bybash commented on #176
For the second question, I wrote some code in YPCameraView.swift. You can change constraints to see a full-size camera.
Just change the code inside "convenience init"  method

[code]

to this

[code]

I hope this helps your need.

[2018-12-06 11:32] neodave opened #280 "Example app build issues"
I am getting a "Command PhaseScriptExecution failed with a nonzero exit code" trying to build the example app in xCode 10.1. My coworker is able to build fine, so not sure what is going on. I've tried several suggestions I found online that haven't helped. Anyone else encounter this?

[2018-12-06 15:42] neodave commented on #258
Inside of the YPMediaPhoto class there is a variable asset: PHAsset? This is the what you need in order to get the url. Below are extensions to the PHAsset class that will allow you to get the URL like this

[code]

[2018-12-06 15:43] neodave commented on #258
That formatted strangely. everything from extension PHAsset down should be in one block

[2018-12-07 14:07] HSIOSDevelopment commented on #202
@MandeepSingh1 need to restart camera session when picker will reappear (back from videofilterVC).
So need to update the viewcontroller mode. In YPPickerVC class call the func updateMode(with vc: UIViewController) in viewWillAppear.

[2018-12-07 16:04] neodave commented on #263
This would be very helpful for us as well

[2018-12-07 23:40] mcaldas opened #281 "Images from ".album" are at the very end of the gallery"
**Describe the bug**
When selecting images from `PHAssetCollection` two types of albums are selected `.album` and `.smartAlbum` in 2 different arrays, separately and joined in a loop.
Problem is that regular `.album` results get at the very end of the array, so they are shown at the end of the gallery, even though the creation time is newer

**To Reproduce**
Steps to reproduce the behavior:
0. Mak

[2018-12-08 21:41] mcaldas opened #282 "[Question] Custom filters"
Is there a way to use my own filters?

[2018-12-09 08:34] esabunor opened #283 "Disable default trimming for videos > 60 seconds"
Hi, thank you for this awesome project. I have observed that videos that are greater than 60 seconds are trimmed to 60 seconds after been processed, is there a way to disable this behaviour?

[2018-12-09 08:36] esabunor commented on #283
For future googlers config.video.trimmerMaxDuration = \\ whatever

[2018-12-09 08:36] #283 closed, assigned to nobody

[2018-12-10 09:38] s4cha commented on #283
@esabunor I am going to add it to the readme, thanks for noticing the missing doc :)

[2018-12-10 10:14] s4cha commented on #282
@mcaldas Yes, you can use preexisting iOS filters or even design them yourself.

[code]
Here is the custom filter implementation, which is essentially a function `(CIImage) -> CIImage`
[code]
You can find examples of custom filters in [YPFilter.swift](https://github.com/Yummypets/YPImagePicker/blob/master/Source/Filters/YPFilter.swift)

Hope this helps :)

[2018-12-10 10:52] s4cha commented on #281
Hi @mcaldas
This looks like a bug indeed, thanks for taking the time to write and issue 👍
I can't seem to reproduce it on my side though.
By default, the media request has as `creationDate` sort.
[code]
Are you by any chance using a non null `config.library.options` ? (which would override the default)

Saving a PNG from safari works great on my side, does the issue also happens in that case for y

[2018-12-10 13:04] s4cha commented on #226
@DariusDresp this has been brilliantly fixed by @mpiechocki, this will be available in the next version (probably later today)

[2018-12-10 14:31] mcaldas commented on #281
Hey @s4cha ,
Nope I dont use `config.library.options` anywhere.
I didnt try from safari, tried from telegram, but the thing is that specific image i see it "All Photos" album but not in "Photos" so my guess was something there

[2018-12-10 15:06] UtkuDalmaz opened #284 "[Question] NavigationBar Tint Color Changes"
I use white tint color for Navigation controller navigationbar tint color.
When I present picker view it changes tint color to black
I tried to change tint color back to white on didFinishPicking but it doesn't work
[code]

[2018-12-10 16:40] #247 closed, assigned to nobody

[2018-12-10 17:27] s4cha commented on #280
@neodave There is a swiftlint run script phase, maybe you could try installing [SwiftLint](https://github.com/realm/SwiftLint) and report back?
Hope this helps

[2018-12-10 17:31] s4cha commented on #279
@bybash Thanks for taking the time to document this for other people.
I'm going to leave this open for now :)
I'll take a deeper look whenever I have some time.

[2018-12-10 17:43] neodave commented on #280
I suspected that might be the case, but did not want to install SwiftLint. However I did install the framework in our app and replaced two other frameworks we were hacking together. Overall this is a very impressive project. Having a bit of confusion on customization though, and not getting results I expect. Will keep digging.
One thing we look to add (and share back) is a circular overlay on a sq

[2018-12-10 17:43] s4cha commented on #272
@datureezy You should be able to do this by overriding the `icons` property like so

[code]

Here is the `YPIcons` file for reference
[code]
I'v personally not tried it so I'd love to know if everything works as expected on your side.
Looks like we need to document this in the readme as well :)

[2018-12-10 17:45] s4cha commented on #271
@wdcurry This is not supported at the moment but I like the idea :)

[2018-12-10 17:51] s4cha commented on #270
@bbo-jay I have to check but this should be possible with the pseudo code below
[code]
Let me know if that works :)

[2018-12-10 17:55] nightroadcosplay opened #285 "Video View freeze on iOS 12.1"
When I open the YPImagePicker (default on photo) and switch to video, the video view freeze.
I can still do other things(like: cancel, switch front-rear camera), only the view freeze.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Picker, default photo
2. Switch to video
3. Video view freezes
4. In console I get the following error:

AVAudioSessionPortImpl.mm:56:ValidateRequiredFields

[2018-12-10 20:14] edwardbeecroft commented on #259
Ditto. Crash report:

`Fatal Exception: NSGenericException
Your application has presented a UIAlertController (<UIAlertController: 0x10299a000>) of style UIAlertControllerStyleActionSheet from YPImagePicker.YPImagePicker (<YPImagePicker.YPImagePicker: 0x102172c00>). The modalPresentationStyle of a UIAlertController with this style is UIModalPresentationPopover. You must provide location informatio

[2018-12-10 23:35] mcaldas commented on #282
@s4cha perfect, that did the trick

Thank you!

[2018-12-10 23:35] #282 closed, assigned to nobody

[2018-12-11 22:49] bithavoc opened #286 "Support Tap to focus"
**Is your feature request related to a problem? Please describe.**
I'd be great if we could support Tap to focus when taking photos with the camera

**Describe the solution you'd like**
When capturing photos, upon taping in the screen, the camera should focus that area.

**Describe alternatives you've considered**
https://stackoverflow.com/questions/26682450/set-camera-focus-on-tap-point-with-swif

[2018-12-11 23:18] bithavoc commented on #286
Closing this since the feature was there but a bug was preventing it's use. PR sent.

[2018-12-11 23:18] #286 closed, assigned to nobody

[2018-12-12 03:10] Prabhatjisit opened #288 "Uploading issue"
There is some bug when go to upload in iTunes . Its ok ,when i created a build in the development phase.

[2018-12-12 10:44] Pro2005 commented on #284
The same issue. The problem is inside YPImagePicker
`
// If user has not customized the Nav Bar tintColor, then use black.
        if UINavigationBar.appearance().tintColor == nil {
            UINavigationBar.appearance().tintColor  = .black
        }
`

[2018-12-12 10:47] UtkuDalmaz commented on #284
Any workaround?

[2018-12-12 10:48] Pro2005 commented on #284
You just need to set tintColor using appearance
It should work in most cases

[2018-12-12 10:50] UtkuDalmaz commented on #284
I tried setting tint color in didFinishPicking
`UINavigationBar.appearance().tintColor = .white`

It just doesn't work

[2018-12-12 11:14] Pro2005 commented on #284
I've just forked and commented these lines
https://github.com/Pro2005/YPImagePicker

https://github.com/Pro2005/YPImagePicker/commit/796f1f76b862a05c42a104a22d03c18eee2f1135

[2018-12-12 11:14] UtkuDalmaz commented on #284
Fixed that now

[2018-12-12 11:14] #284 closed, assigned to nobody

[2018-12-23 21:46] calsmith opened #290 "Library crop does not work when maxNumberOfItems = 1"
**Describe the bug**
Cropping from the Library picker only works when . This does not impact the showsCrop = true UI.

**To Reproduce**
Steps to reproduce the behavior:
1. config.library.maxNumberOfItems = 1
2. Pick an image from the Library
3. Zoom into part of the image from the Library picker
4. Original image is returned, crop/zoom is ignored

**Installation Type**
 - Manual

**Additional cont

[2018-12-24 09:59] farhan101 opened #292 "Image picker closes unexpectedly with "Picker deinited 👍" in debug window when click on "Gallery", if phone gallery is empty."
Image picker closes unexpectedly with "Picker deinited 👍"  in debug window when click on "Gallery", if phone gallery is empty.

iPhone - 6s plus
iOS - 12.0.1

[2018-12-25 04:18] jasudev opened #293 "Loading RAW images infinitely."
Loading RAW images infinitely.

There is an infinite loading problem when selecting RAW images.

When selecting a RAW image, the original image must be able to be evicted. Or at least I want to be able to show that I have selected a RAW image. Depending on the support, there may be a way to display "RAW" on the thumbnail image of the image you want to select from the picker list screen.

Please ex

[2018-12-25 04:26] jasudev opened #294 "If you switch to a square, the horizontal and vertical size of the image will be 1px different."
Select a single image and zoom in to a square. If you go to the next screen and check the size of the image, the horizontal and vertical sizes will differ by 1px.

[2018-12-25 10:05] jasudev opened #295 "Default square"
`config.library.onlySquare = false`

I would like to be able to show square images by default when loading library images. The Instagram also sets the square image to default. If you like, you can change the ratio of the original image through the bottom left button.

I would like to be able to set it as square image by default. Or I would like to have such a function.
Thank you.

[2018-12-26 20:44] SonicGerkor opened #296 "Init Picker with Multiple Images button selected"
**Describe the bug**
I wanted to know if you can init the picker with the multiple images button already selected.

[2018-12-28 08:34] jasudev opened #297 "requestImageData RAW image data is nil"
`requestImageData(for: asset, options: options) { data, dataUTI, CTFontOrientation, info in`

When the RAW image (sony raw format ARW) image is selected, "UIImage(data: data)" value in the above function is nil.

[2018-12-28 08:36] jasudev commented on #293
requestImageData(for: asset, options: options) { data, dataUTI, CTFontOrientation, info in
if let data = data, let image = UIImage(data: data)?.resetOrientation() {
When the RAW image (sony raw format ARW) image is selected, "UIImage(data: data)" value in the above function is nil.

[2018-12-28 09:15] farhan101 opened #298 "App size increasing after getting pictures/videos"
App size increasing after getting pictures/videos.
Every time I use YPImagePicker to get videos/images, it increases my app size. It keeps on increasing and increasing. I have to delete the app and reinstall to get it back to normal size. Is there any way to clear the cache?

[2018-12-28 14:56] s4cha commented on #298
Hi @farhan101,

Could you elaborate a bit more on how you measure the App size increase so that we can try to reproduce on our end?
Also, are you experiencing the same using the provided Example project ?

[2018-12-28 14:59] s4cha commented on #297
@jasudev good catch, I've never tried with raw images to be honest :)
Could you provide the raw image triggering the bug so that I can debug it on my side please?
Cheers,

[2018-12-28 15:23] s4cha commented on #296
@SonicGerkor Indeed you can use
[code]
This will force multiple selection :)
Let me know if that fits your use case, cheers!

[2018-12-28 15:32] s4cha commented on #295
@jasudev Thanks for pointing this out. Indeed we want to be as close as possible the to instagram implementation. If I understand well you just want to have the default set to square crop, but still having the option to zoom out. Going to experiment and will report back :)

[2018-12-28 15:36] s4cha commented on #295
Setting `private var shouldCropToSquare = true` in `YPAssetViewContainer.swift` will do the trick :) This will be up in the next version, I'll keep you posted when it's up :)

[2018-12-28 15:45] s4cha commented on #292
@farhan101 Very good catch, looking at it at the moment :)

[2018-12-28 15:51] jasudev commented on #297
@s4cha https://drive.google.com/file/d/1Ts8QJJL2A5mfzkTC7e2r1mLS5128QL2m/view?usp=sharing
Raw file of Sony camera series. Thank you.

[2018-12-28 15:51] SonicGerkor commented on #296
Perfect bro, thanks!

[2018-12-28 15:51] #296 closed, assigned to nobody

[2018-12-29 01:37] jasudev commented on #297
@s4cha http://www.rawsamples.ch/index.php/en/sony

[2018-12-30 19:50] jeanmartin commented on #261
Just encountered the same issue, for me this only happens on iPad (coming from a modal view opened from a SplitView), iPhone works fine. I am also setting the color of UIBarButtonItems manually as described above. Will investigate further.

[2019-01-01 08:35] farhan101 commented on #298
Upload some pictures/videos to accumulate the size. Then go to iPhone's  Settings -> General -> iPhone Storage -> Select your app -> check app and documents & data size. This keeps increasing after uploads.

PS: I printed the app's storage contents and I can see images and videos lying in "temp" folder. I guess they are not being removed from there OR I am missing a some configuration???

I shall

[2019-01-01 08:37] farhan101 commented on #292
Great, thanks.

[2019-01-02 07:45] rehannali commented on #168
Hi, Is this feature implemented?
If yes, then how can I use this, i.e. property name?

[2019-01-02 09:19] #193 closed, assigned to nobody

[2019-01-02 10:38] s4cha commented on #256
@KingOlami Glad this is now solved :)
In the future, please do not reference your issue on other posts, be aware that this does not help solve your issue faster :) Happy new Year!

[2019-01-02 10:41] s4cha commented on #255
@abdullah-et
[code]
This is actually the default configuration :)

[2019-01-02 11:23] s4cha commented on #265
@ugenlik
First of all thank you for taking the time and energy to try and improve the library, this is much appreciated. At the same time, I wish we had discussed this before you issued the pull request.
This is my fault actually for taking a long time to reply 🙏
Our app also needs a caption before sending to the server. However I believe this kind of functionality belongs on the "app side" of thi

[2019-01-02 11:31] s4cha commented on #172
@fairs-222 Thinking about it we are not going to be supporting this use case in the near future. We aim to be an "Instagram picker clone" since they pretty much have the best photo picker around. We will stick to their existing for now :)

[2019-01-02 11:31] #172 closed, assigned to nobody

[2019-01-02 11:34] #183 closed, assigned to nobody

[2019-01-02 13:21] s4cha commented on #168
@rehannali you have an `asset: PHAsset?` in YPMediaPhoto from pictures & videos coming from the library. Please be aware that this points to the original image, aka not filtered nor cropped :)

[2019-01-02 13:25] s4cha commented on #168
[code]

[2019-01-02 13:45] s4cha commented on #288
@Prabhatjisit We are going to need much more details to try and help :)

[2019-01-02 15:30] s4cha commented on #290
@calsmith this is now live in https://github.com/Yummypets/YPImagePicker/releases/tag/3.5.3, thanks a ton for your help on this release 🚀

[2019-01-02 15:30] #290 closed, assigned to nobody

[2019-01-02 15:36] s4cha commented on #295
@jasudev this is now the default in https://github.com/Yummypets/YPImagePicker/releases/tag/3.5.3
Feel free to reopen if it doesn't fit what you wanted :)

[2019-01-02 15:36] #295 closed, assigned to nobody

[2019-01-02 15:56] s4cha commented on #280
@neodave You're welcome, don't hesitate the reach out if needed :)
Have you been able to solve the original issue?

[2019-01-02 16:00] neodave commented on #280
Honestly I haven't tried to solve the example app issue since I got the framework working in my app natively. Again, great framework. I've been in charge of picking our solution, and trust me I've poked around almost every repo here for image pickers. This is the best one

[2019-01-02 16:15] s4cha commented on #276
@eshajari Not sure I get you mean, this would depend on how you encode the image on your side.
For example, when the `didFinishPicking` callback is fired you can do.
[code]
doing so you would upload it using a `image/jpeg` MIME type.

[code]
This would be `image/png` for instance.

Hope this helps :)

[2019-01-02 16:22] s4cha commented on #258
@neodave Thanks a ton for chiming in, I just edited the formatting for clarity :)
@jksjaz Did that help?

[2019-01-02 16:31] s4cha commented on #272
@datureezy @Tom-Fox1  any news?

[2019-01-02 16:34] s4cha commented on #230
@nderkach Thanks for chiming in!
Indeed the name has been renamed to `YPFilter`, you can find a example of custom filters here https://github.com/Yummypets/YPImagePicker/issues/282

Hope this helps :)

[2019-01-02 16:36] s4cha commented on #230
@JKCai I personally think it's a good idea to "fix" a library to a set version (latest is 3.5.3). This prevents changes from happening every time you call pod update 💥

[2019-01-02 16:47] s4cha commented on #261
This is weird indeed, I've never encountered it personally :/

[2019-01-02 16:48] s4cha commented on #273
@Tom-Fox1 thank you so much for chiming in on this one 🥇
@czxxtil any news on this?

[2019-01-02 16:53] s4cha commented on #208
@MandeepSingh1 Any news on this?

[2019-01-02 16:56] s4cha commented on #171
@MandeepSingh1  any news?

[2019-01-02 17:00] s4cha commented on #226
@DariusDresp this should be good in https://github.com/Yummypets/YPImagePicker/releases/tag/3.5.3
Let me know if that solves your issue :)

[2019-01-03 03:15] ugenlik commented on #265
@s4cha I agree merge request shouldn't be merge for various reasons.

But I disagree that adding caption should be only in "app side".

If all apps had a similar approach to Instagram's caption I'd agree captions being on the app side but my app requires individual captions like filters, so I think it should be on the library side.

Another problem doing this on the App Side is UI/UX wise it might

[2019-01-03 10:36] s4cha commented on #280
@neodave Thank you so much for the kind words :)

[2019-01-04 02:17] ghost commented on #272
Haven’t gotten the assets designed but I’m taking your word for it. Thank you for this library!!
On Jan 2, 2019, 10:31 AM -0600, S4cha <notifications@github.com>, wrote:

[2019-01-04 16:06] ghost opened #299 "Ability to remove sound track from video"
**Is your feature request related to a problem? Please describe.**
Video picked from the library always include the sound track. Sometimes you have amazing video with annoying sounds (say cars driving by) and you would like to be able to only keep the video track and ditch the audio track.

**Describe the solution you'd like**
 Similarly to how IG does it, could we add a button for the user to dis

[2019-01-05 12:31] jasudev opened #300 "Linear filter fail."
You can not apply a "Linear" filter to an image if the image size is large.
In the preview, the filter is not applied to the final image that has been changed but is done.

[2019-01-05 18:30] SonicGerkor opened #301 "Present Picker with count of selected pictures"
**Describe the bug**
I have an array of UIImage which I set when selecting images, appending them.
My max is 5, but I can select 1, dismiss it, then another, dismiss it, then 5 more. And it should allow me 3 more, not 5.

Is there a way to present the picker with the current amount of pictures selected?

[2019-01-06 09:35] NikKovIos commented on #301
Change the configuration - max count, depending on how much items already exists.

[2019-01-07 20:18] SonicGerkor commented on #301
Yeah I did that as soon as I finished typing the issue, thanks!

[2019-01-07 20:18] #301 closed, assigned to nobody

[2019-01-10 13:34] nightroadcosplay commented on #285
After some debugging i got this error when the video view freeze:

 [avas] AVAudioSessionPortImpl.mm:56:ValidateRequiredFields: Unknown selected data source for Port Speaker (type: Speaker)

[2019-01-13 10:51] jasudev opened #302 "After changing the album, the automatically selected image is not selected."
In single image selection, if you click Next on the first image automatically selected for the first time after changing the album, the image of the previous album will be processed.

[2019-01-18 10:55] flashadvanced opened #303 "Xcode compile error in YPCropVC"
**Describe the bug**
When building on a simulator I suddenly started getting this error: _Use of unresolved identifier 'UIImpactFeedbackGenerator'_ in YPCropVC.swift file
The strange part is that I can successfully build on a real device and create an archive.

**What I have tried?**
- Clean & Build
- Delete Derived Data and restart Xcode
- Add a SWIFT_ENABLE_BATCH_MODE flag and set it to NO
- Rem

[2019-01-20 09:04] #259 closed, assigned to nobody

[2019-01-22 05:33] angelo-RSVP opened #305 "Additional Config: Disable Crop on Library; Save position of images being cropped"
**Disable Crop on Library**
This can be redundant if we have `config.screens = [.library, .photo]` and `config.showsCrop = .rectangle(ratio: (1/1))`.

Can we have something like `config.library.enableCrop = true`, wherein if it's false we just show the collection of images that can be selected, and show normally (with preview) if true.

**Save position of images being cropped**
When navigating fro

[2019-01-23 12:37] sedler opened #306 "Crash in multipleSelectionButtonTapped"
Since updating from 3.2.0 to 3.5.3 I have several crashes in multipleSelectionButtonTapped. The problem is I can't reproduce them and the crashlog isn't that good. Additionally I have deactivated the multiple selection by setting the maxNumberOfItems to '1' and the method shouldn't be called.

Affected iOS Versions/Devices:
iPhoneX, iPhone 6, iPhone 6s, iPhone7 plus, iPhone XS, iPhone6s Plus
iOS11

[2019-01-24 08:00] #303 closed, assigned to nobody

[2019-01-24 08:16] gangwei910 opened #307 "After pod install the file create a lot Warning issues in Red. Anyone helps. Most of them look like "'NSLayoutRelation' has been renamed to 'NSLayoutConstraint.Relation'""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the fol

[2019-01-24 08:20] gangwei910 commented on #307
Describe the bug
After pod install,  the file creates a lot warning issues in red.  Most of them look like "'NSLayoutRelation' has been renamed to 'NSLayoutConstraint.Relation'". I have no idea how to fix them.

Device: [e.g. iPhone6]
OS: [e.g. iOS8.1]
Xcode Version [e.g. 9.4.1]
Swift Version [e.g. 4.1]
Installation Type

Cocoapods

[2019-01-28 10:11] devliuhuan opened #309 "READEME.md unsuitablity"
**Describe the READEME.md unsuitablity**
all Languages which suported Contry or region is English Name, but "繁體中文（台灣）" is very diffrient,this makes developers from China uncomfortable。

** Advice**
1. Use English for all language instructions
2. Use the supported language to instruce

[2019-01-28 10:22] NikKovIos commented on #309
Sorry, but i can't understand what do you mean😅

[2019-01-28 23:55] mohshaat1990 commented on #285
any solution for this bug?

[2019-01-29 01:26] lonely4flow commented on #309
That means change the Languages part if you can will be more acceptable ,for example:
from:
🇺🇸 English, 🇪🇸 Spanish, 🇫🇷 French 🇷🇺 Russian, 🇳🇱 Dutch, 🇧🇷 Brazilian, 🇹🇷 Turkish, 🇸🇾 Arabic, 🇩🇪 German, 🇮🇹 Italian, 🇯🇵 Japanese, 🇨🇳 Chinese, 🇮🇩 Indonesian, 🇰🇷 Korean, 🇹🇼 繁體中文（台灣）
to:
🇺🇸 English, 🇪🇸 Spanish, 🇫🇷 French 🇷🇺 Russian, 🇳🇱 Dutch, 🇧🇷 Brazilian, 🇹🇷 Turkish, 🇸🇾 Arabic, 🇩🇪 German, 🇮🇹 Italian, 🇯🇵 Japane

[2019-01-29 06:53] NikKovIos commented on #309
Sorry, i'm not a specialist in kinds of languages. If you can, please submit a PR.

[2019-01-29 17:18] neodave commented on #77
I am interested in something like this, but not a crop. I would like to have a circular overlay mask over a square crop to preview what an avatar image will look like. But I don't want to actually make the image a cropped circle, rather a square. That make sense? I am trying to implement it myself and will share my results if this turns out to be an actual crop

[2019-02-02 16:40] s2mr opened #310 "Default multiple selection"
**Is your feature request related to a problem? Please describe.**
Now, if we want to default multiple selection, we are needed to make minimum multiple section count `2`.

**Describe the solution you'd like**
Add default multiple section with bool in Configuration.

**Describe alternatives you've considered**
none.

**Additional context**
none.

[2019-02-08 18:16] MahdiyarTH opened #313 "custom ration"
Is it possible to change ratio when editing photo? Not before presenting viewController.

[2019-02-12 22:47] lshannak opened #314 "Camara preview stuck at black when swiping to video sometimes"
**Description**
When launching the picker and then going to the video section by swiping right, the camera preview for video is stuck at black, sometimes this happens on first use, and it also happens after the first use when the user opens the picker and swipes to the video.
What helps reproduce the issue sometimes is swiping fast to the video section.
The picker is being started from the library

[2019-02-13 06:34] starsPanda opened #315 "customize bottom menu position"
i want the bottom menu on the top of the viewcontroller how can i do that?

[2019-02-15 17:21] yugeshm opened #316 "Code signing "PryntTrimmerView.framework" failed."
When I am uploading my app to App Store I am getting "Code signing "PryntTrimmerView.framework" failed."

![screenshot 2019-02-15 at 10 49 22 pm](https://user-images.githubusercontent.com/22911076/52873011-fac93080-3173-11e9-84d6-5c7edabdc679.png)

**Environment (please complete the following information):**
 - OS: 10.14
 - Xcode Version 10.1
 - Swift Version4.1

**Installation Type**
 - Manual

[2019-02-18 05:41] ashwinrz commented on #176
@bybash Thanks for the tip! This feature is a must for my project. The flip camera/flash buttons are not working for me when I extend this. Any idea why?

[2019-02-18 11:12] barisozr commented on #306
I got these crashes in our app too. From Crashlytics I extracted more information:

In `YPLibraryVC.swift` file, at the line 141 there's a code:
`let asset = mediaManager.fetchResult[currentlySelectedIndex]`

My rough guess is that it's crashed because of the `index out of range`.

Affected iOS devices & versions are similar;
iPhone 7, iPhone 6s, iPhone 5s, iPhone SE, iPhone 6s Plus, iPhone 6 Plus

[2019-02-20 14:51] javiermanzo commented on #295
Hi @s4cha , **onlySquare** is not working. I don't want to crop the photos or videos.

All the videos and photos are cropped.

[2019-02-20 15:27] javiermanzo opened #317 "Start config zoomableView"
Hi,
If I set **config.library.onlySquare = false** the **zoomableView** starts square.

**To Reproduce**
Set **config.library.onlySquare = false**

**Expected behavior**
If the user set **config.library.onlySquare = false** the **zoomableView** start config should not fit square.
If the user set **config.library.onlySquare = true** the **zoomableView** start config should fit square.

[2019-02-20 15:30] javiermanzo commented on #295
I created an issue and pull request #317

[2019-02-21 10:42] adriansergheev commented on #285
on iOS 12.1.4, iPhone SE it is still here.

[2019-02-23 17:26] iqbal0029 commented on #283
how to skip trim screen?

[2019-02-28 04:19] lohenyumnam opened #320 "Video Aspect Ratio other then square"
Any plan for supporting video recording other than Square Aspect ratio ??

[2019-03-01 11:02] aldammit commented on #314
i've got the same problem too

[2019-03-08 07:54] RahulTBI opened #321 "Picker dismiss on iOS 10.3.3 version"
Hi when i present YPImagePicker in above 10.3.3 version it works perfectly. but below that it dismiss instantly.

please help me out

Thanks
RahulTBI

[2019-03-10 11:42] lovesomeone opened #322 "Can you change the 'public' to 'open' in YPPickerVC and YPImagePicker ?"
When I user YPImagePicker  ,I have to custom some UI  . But  when I go to subclass of  YPPickerVC and  YPImagePicker ,the Xcode told me  "Cannot inherit from non-open class "  。 So now I have to change the source code in YPImagePicker。 I think It's not good .
Could you please change it in next version?

[2019-03-11 11:47] iTofu commented on #296
User can't just select one image.

[2019-03-14 09:37] RahulTBI commented on #321
Hiii @ylin0x81 any update?

[2019-03-27 01:08] GergesEid commented on #236
In my case I connect an actual iphone not simulator and run the app once on it, It solved the problem. But connect iphone firstly, then choose it from the menu of simulator, then press run button.
The problem will solve too.

[2019-03-27 07:12] cuirhong opened #324 "Pictures on iclound show abnormal size after downloading"
Before modification
  let videosOptions = PHVideoRequestOptions()
 videosOptions.isNetworkAccessAllowed = true

After modification
let videosOptions = PHVideoRequestOptions()
videosOptions.isNetworkAccessAllowed = true
videosOptions.version = .original

[2019-03-28 05:02] Out1and3r opened #325 "Crash in YPLibrary+LibraryChange.swift"
**Describe the bug**
Fatal Exception:
NSInternalInconsistencyException attempt to delete and reload the same index path (<NSIndexPath: 0x2800dfa60> {length = 2, path = 0 - 0}) closure #1 in YPLibraryVC.photoLibraryDidChange(_:)

**Expected behavior**
Library should not crash

**Environment (please complete the following information):**
 - Device: iPhone X
 - OS: 12.1.4
 - Xcode Version 10.1
 - Swi

[2019-03-30 03:24] xRose1 opened #326 "Trying to use Save Photo Button"
Hello
I have read through other questions but I still need help. I have this function here.

[code]

Whenever I click on the button and it appears to select image, I click on it and I skip the filters. However, when I am about to save the photo, my app crashes. I am not sure what is going on. I am trying to use this image in another controller so that it can be displayed at used. I think this was

[2019-03-31 19:04] shopno111 opened #327 "Problem with Swift 5, problem raising from Stevia fillContainer()"
Hi,
I got a problem with Swift 5, and Problem raising from Stevia fillContainer()

[2019-03-31 21:00] #326 closed, assigned to nobody

[2019-04-01 11:35] userSV opened #328 "How to present the picker again with the images shown as selected"
Is this possible to just present (or push) the picker , select the multiple media and then dismiss (or pop) it and then again present it with the last selected media?

[2019-04-02 05:44] #258 closed, assigned to nobody

[2019-04-03 15:22] xRose1 commented on #273
I would like to know this as well

[2019-04-05 15:27] Skyb0rg opened #329 "YPAlbumCell: How to change textcolor of title & numberOfItems"
Could someone told me how to change the textColors without manipulating the pod?

Thank you

[2019-04-08 04:30] jonathansolorzn opened #330 "Tint color is not applied to icons"
I expected that `config.colors.tintColor` would be applied to all the elements, but it's not applied to the icons.

Shouldn't it be like that?

[2019-04-08 11:34] himanshujamnaniopenxcell opened #331 "Default first image is selected in library but user will be able skip image selection"
By Default first image is selected but I want that if user want to skip the image selection so he can in library.

[2019-04-10 06:13] dstuecken commented on #320
Would also be awesome for photo selection and taking.

[2019-04-10 09:19] DanielWijono commented on #208
var config = YPImagePickerConfiguration()
        config.screens = [.library, .photo, .video]
        config.targetImageSize = .original
        config.library.mediaType = YPlibraryMediaType.photo
        config.usesFrontCamera = false
        config.showsFilters = true

        // Build a picker with your configuration
        let picker = YPImagePicker(configuration: config)

it still crashing o

[2019-04-10 13:26] victormihaita commented on #325
We have the same issue in our project ☝️

[2019-04-10 13:30] victormihaita commented on #306
We get the same crash even if we set `maxNumberOfItems = 1` ☝️

[2019-04-11 13:51] pdee2131 opened #332 "After selecting the normal filter in the filters list"
**Describe the bug**
After selecting the normal filter in the filter section, the selected image fails to select. WHen any other filter is selected it works well but only the normal filter fails to work.

1 a: After selecting Normal FIlter LIke Below

![Screenshot 2019-04-11 at 13 40 00](https://user-images.githubusercontent.com/10502787/55961999-94d2c400-5c5f-11e9-9f26-ee5816b2e813.png)

b:
![Scr

[2019-04-13 03:53] xRose1 opened #333 "Remove Cover Option"
Hi
Is it possible to remove the cover option from the video and only leave the trimmer function. I was wondering if someone knew. Also is it possible to record as much as a person wants and be able to cut down the video or recording to a specified time. Thank you.

[2019-04-14 16:17] snowtema opened #334 "Project broke on new Xcode 10.2"
**Describe the bug**
After upgrading on the new version of Xcode 10.2, the project doesn't compile with an error:
[code]

If I'll delete **pod** and comment **associated code** then the project will successfully be compiled.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade to Xcode 10.2
2. Try to build project
3. See error

**Expected behavior**
Successfully build projects

**Screensh

[2019-04-18 07:17] Saurav1143 commented on #314
also i have got the same issue...

[2019-04-18 10:06] pushpsenairekar2911 opened #335 "Add support for Swift 5.0"
Add support for Swift 5.0

[2019-04-18 13:53] Alexandru993 opened #336 "Cannot record video longer than 60 seconds"
Export of the video failed. Reason: Optional(Error Domain=AVFoundationErrorDomain Code=-11841 "Operation Stopped" UserInfo={NSLocalizedDescription=Operation Stopped, NSLocalizedFailureReason=The video could not be composed.})

[2019-04-19 17:54] #333 closed, assigned to nobody

[2019-04-20 18:30] shopno111 commented on #327
My Issue is solved by updating with latest Stevia.framework

[2019-04-22 17:28] ilai1823 commented on #314
me too

[2019-04-24 08:32] kkadyrbekov commented on #314
i also have same problem

[2019-04-25 13:53] geekellan opened #337 "Video recording after device lock"
**Describe the bug**
When app lock by auto-lock on device, video still recording with black screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Recording video'
2. Click on 'Record'
3. Wait till device lock
4. Unlock device.
5. Video was recorded with black screen and with extended time

 - Swift Version 4.2

**Installation Type**
 - Cocoapods

[2019-04-28 08:28] s4cha commented on #335
@pushpsenairekar2911 I'm on it, Will report back soon :)

[2019-04-28 09:25] #310 closed, assigned to nobody

[2019-04-28 09:36] s4cha commented on #317
@javiermanzo I think there is a confusion here. The `onlySquare` setting forces selecting square images. However setting in to no doesn't "force" non square images.
If you look at the instagram app for example (which is our model for the implemented features), users can choose both square and non-square images, yet the picker always starts with a "crop-to-square" setting. This is actually the inte

[2019-04-28 10:16] s4cha commented on #255
Closing this for now for lack of activity, @abdullah-et don't hesitate to reopen if you still encounter the issue.

[2019-04-28 10:16] #255 closed, assigned to nobody

[2019-04-28 10:18] s4cha commented on #261
@jeanmartin, @canarc, @bybash any news on that one?

[2019-04-28 10:24] s4cha commented on #269
@bcalmeil what you are looking for is :
[code]

Please excuse the late reply, hope that helps :)

[2019-04-28 10:28] #272 closed, assigned to nobody

[2019-04-28 10:35] s4cha commented on #302
This is a very serious bug indeed, I'm trying to fix it for the next (swift5) version :)
Will report back when it's fixed !

[2019-04-28 10:59] canarc commented on #261
I was fixed this subject.I dont remember exactly but it was like about presentation the ypimagepicker.when i was presented it on different page it was worked

[2019-04-28 10:59] #261 closed, assigned to nobody

[2019-04-28 11:53] s4cha commented on #307
Hey @gangwei910 just tried a pod install on a fresh project right now and couldn't reproduce the issue.
Here are the pods pulled on my side:
Installing PryntTrimmerView (3.0.0)
Installing SteviaLayout (4.4.4)
Installing YPImagePicker (3.5.3)

Are you still experiencing the issue? if so what are the pods's versions in your case?

Cheers,

[2019-04-28 11:57] s4cha commented on #309
@devliuhuan thanks for noticing, we'll use English for all languages then, this must have slipped through a Pull request :)

[2019-04-28 12:00] #309 closed, assigned to nobody

[2019-04-28 12:02] s4cha commented on #313
@MahdiyarTH nope this is not available :/

[2019-04-28 12:14] s4cha commented on #315
@starsPanda Do you mean the Library/Photo/Video menu being displayed at the top?
There is no way to do that through the library as is but you can fork it and replace `YPBottomPagerView.swift` by
[code]

![IMG_3587](https://user-images.githubusercontent.com/1812953/56864196-ebf6c980-69bf-11e9-9461-6c44af5ee7c2.PNG)

[2019-04-28 12:23] s4cha commented on #320
@lohenyumnam this is a wanted feature indeed. Our time is quite limited at the moment so if you want to take a crack at it through a PR, feel free :)
@dstuecken Photo selection is not square only and you can already take non-square photos by setting `config.onlySquareImagesFromCamera = false`. Hope this helps.
Cheers :)

[2019-04-28 12:34] s4cha commented on #322
@lovesomeone I am making the change for the next version since it's not a big deal for us. However I don't think this should be the preferred way of customising the picker.
If your use case is simple, this should probably supported via customisation endpoints.
If your use case is very complex and custom, then I guess you'd be better off simply forking the project and adapting it to your custom nee

[2019-04-28 12:54] s4cha commented on #325
@Out1and3r Nice catch and Kudos for providing a working fix, this much much appreciated 👏
This will be in the next (swift 5) version.
I will ping when up :)

[2019-04-28 12:57] s4cha commented on #327
@shopno111 This will be fixed in next (swift 5) version coming soon, thanks for your patience :)

[2019-04-28 13:01] s4cha commented on #334
@snowtema this will be fixed with the upcoming swift 5 version. thanks you for your patience :)

[2019-04-28 13:03] s4cha commented on #276
@eshajari can we close this or are you still experiencing an issue?

[2019-04-28 13:04] s4cha commented on #288
@Prabhatjisit did you solve your issue?

[2019-04-28 13:11] s4cha commented on #332
@pdee2131 wow that is a very weird bug, I unfortunately couldn't reproduce it on my side, could you try to investigate what's happening in the code a little further?

[2019-04-28 13:13] s4cha commented on #331
@himanshujamnaniopenxcell I'm sorry but I'm afraid I can't grasp what your are trying to achieve. Could you please rephrase and elaborate?
Cheers,

[2019-04-28 13:16] s4cha commented on #330
@fenixsolorzano Good one, what icon in particular are you looking to tint?

[2019-04-28 13:18] s4cha commented on #329
@Skyb0rg I'm afraid there is no supported way to do that at the moment. Could you describe your use case in a bit more details to see if we can support it in the future?

[2019-04-28 13:19] s4cha commented on #328
@userSV Unfortunately this is not supported at the moment.

[2019-04-28 13:21] s4cha commented on #321
@RahulTBI I just tried with a 10.3.1 simulator and unfortunately couldn't reproduce the issue. May be is it linked to https://github.com/Yummypets/YPImagePicker/issues/292 is the library empty?

[2019-04-28 19:33] s4cha commented on #302
@jasudev This should be fixed by https://github.com/Yummypets/YPImagePicker/pull/340, this will be part of the upcoming release :)

[2019-04-28 20:02] s4cha commented on #334
This is now solved in https://github.com/Yummypets/YPImagePicker/releases/tag/4.0.0

[2019-04-28 20:02] #334 closed, assigned to nobody

[2019-04-28 20:03] s4cha commented on #335
This is now solved in https://github.com/Yummypets/YPImagePicker/releases/tag/4.0.0

[2019-04-28 20:03] #335 closed, assigned to nobody

[2019-04-28 20:03] s4cha commented on #327
This is now solved in https://github.com/Yummypets/YPImagePicker/releases/tag/4.0.0

[2019-04-28 20:03] #327 closed, assigned to nobody

[2019-04-28 20:04] s4cha commented on #120
@yybot1 this should be fixed in This is now solved in https://github.com/Yummypets/YPImagePicker/releases/tag/4.0.0. If it's not feel free to reopen :)

[2019-04-28 20:04] #120 closed, assigned to nobody

[2019-04-28 20:06] s4cha commented on #325
This is now solved in https://github.com/Yummypets/YPImagePicker/releases/tag/4.0.0

[2019-04-28 20:06] #325 closed, assigned to nobody

[2019-04-28 20:06] s4cha commented on #302
This is now solved in https://github.com/Yummypets/YPImagePicker/releases/tag/4.0.0

[2019-04-28 20:06] #302 closed, assigned to nobody

[2019-04-28 22:34] xRose1 opened #341 "Crop Video to 10 seconds no matter the length"
I am trying to adjust the trimmer so that you can select or record any video of any time or a time range that I picked and then you can trim it to 10 seconds like instagram. Does anyone have an idea on how they can do that or achieved? Thanks

[2019-04-29 03:49] RahulTBI commented on #321
Thanks @s4cha
What should i do if phone gallery is empty?

[2019-04-29 04:05] himanshujamnaniopenxcell commented on #331
Can we do something like user can see skip button initially when there is no image selection and when user select any image can see done button?

[2019-04-29 05:05] jonathansolorzn commented on #330
All of them, _(I believe the ones are the flash and rotate)_

[2019-04-29 05:07] jonathansolorzn opened #342 "Is v4 compatible with swift 4.2"
My project is based in swift 4.2, is the v4 release compatible with it?

[2019-04-29 12:41] dev-mobile01 opened #344 "Error in YPImagePickerExample for swift 5"
Showing Recent Messages
:-1: Multiple commands produce '/Users/esmaeil/Library/Developer/Xcode/DerivedData/YPImagePickerExample-fmxnsnafskomcqhhrpyzocijrwuj/Build/Products/Debug-iphoneos/YPImagePickerExample.app/Frameworks/Stevia.framework':
1) Target 'YPImagePickerExample' has copy command from '/Users/esmaeil/Downloads/YPImagePicker-master/Carthage/Build/iOS/Stevia.framework' to '/Users/esmaeil/

[2019-04-29 14:32] Berk-Kaya commented on #30
How can I disable thumbnail selection?

[2019-04-30 06:42] dev-mobile01 commented on #344
Solved error

[2019-04-30 22:14] Berk-Kaya commented on #333
did you find a solution?

[2019-05-01 07:26] programever commented on #179
I am not sure if it can help, but i can get the file path using below code:
`photo.asset?.requestContentEditingInput(with: PHContentEditingInputRequestOptions()) { (input, _) in
    print(input!.fullSizeImageURL!)
}`
Please note this is async task.

[2019-05-01 22:22] Clint1994 commented on #256
@AdieOlami  I am having the same issue now. Did you have to edit anything in the YPconfigure file? Also how did you unhide the selected image?

Thanks mate.

[2019-05-03 00:32] gintechsystems opened #345 "Picker Display - Config Screens All Causing Long Delay"
**Describe the bug**
When using config.screens, when I set it to config.screens = [.library, .photo, .video], it takes a good 10-15 seconds until the picker shows. It seems to be related to video, as when I take that option out the problem goes away. Code / Logs below.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an instance of YPImagePicker and configure it with config.screens.

*

[2019-05-03 00:37] jasonnmark commented on #280
Still not working... :(

[2019-05-03 00:47] jasonnmark commented on #280
I installed SwiftLint with brew... but I don't know what to do with it. Not surprisingly just installing it didn't do anything... :) My steps are:
1) download the git repository
2) brew install swiftlint
3) open YPImagePickerExample.xcodeproj in Xcode
4) set target to iPhone Xr (I also tried others)
5) Click on "build and run" button

RESULT: Build Failed with 11 warnings and 1 error.

6) click on

[2019-05-03 00:55] jasonnmark commented on #280
I tried installing CocoaPods and Carthage but I'm not actually sure what I'm supposed to do with them. Are they necessary?

[2019-05-03 01:37] jasonnmark commented on #280
I tried the branch called "swift5" and the build no longer fails (still 11 warnings but no errors), but it didn't open the simulator. I finally found that by changing the Scheme (?) on "swift5" to the "example" project (it defaulted to image picker) and it works. Didn't *seem* to work for the latest build though.
![Screen Shot 2019-05-02 at 9 34 33 PM](https://user-images.githubusercontent.com/250

[2019-05-04 11:44] Skyb0rg commented on #329
Hi @s4cha,
i have a dark theme and now it looks like
![Simulator Screen Shot - iPhone Xs Max - 2019-05-04 at 13 43 07](https://user-images.githubusercontent.com/5628005/57178556-906e8500-6e72-11e9-9139-bc0d30927c0b.png)

[2019-05-05 10:29] snowtema commented on #334
Thank you! 😊 🙏

[2019-05-06 04:08] gintechsystems commented on #345
It seems to be when the following code is ran in YPPickerVC.swift:

`
// Video
if YPConfig.screens.contains(.video) {
videoVC = YPVideoCaptureVC()
`

I would like to fork this and see what I can do to help when I get a chance, thanks!

[2019-05-06 08:32] Berk-Kaya commented on #199
It still happens in 4.0

[2019-05-06 17:59] Marquis103 commented on #345
i've noticed the same issue @gintechsystems

[2019-05-06 19:02] Marquis103 opened #346 "Main Thread UI Checker is Violated on present"
I kept having this issue while using the picker in my project.  I then decided to clone the repo and run the example project, and I noticed the same thing.  There appears to be some UI work being implemented on a background thread.  This happens in two different locations.  I traced it back to where I believe you guys are checking permissions, but didn't have time to look further into it.

[code]

[2019-05-08 23:02] Marquis103 commented on #346
I've confirmed that this issue only happens when `config.screens = config.screens = [.library, .photo. .video]`, seems like the `.video` is causing an issue

[2019-05-09 07:42] appfabtech commented on #317
@s4cha I think he means that it would be very useful to have a congif flag telling the library not to start with a "crop-to-square". And that's what I'd need too because I going to use in a tech support app and they want to start library with full size image to pick it
Thanks

[2019-05-09 19:04] MarkusWu commented on #306
Same here. Any update on this issue? Any one has a solution? Thanks.

[2019-05-09 19:43] daveleenew opened #347 "Multiple Selection mode crash when photo library is empty"
**Describe the bug**
Multiple Selection mode crash when photo library is empty

Temporary solution:

YPLibraryVC.swift

if selection.isEmpty {
                ///Temporary solution:
                if(mediaManager.fetchResult.count == 0){return}

                let asset = mediaManager.fetchResult[currentlySelectedIndex]
                selection = [
                    YPLibrarySelection(index:

[2019-05-09 19:53] daveleenew commented on #306
#347

[2019-05-11 11:59] Simerpal commented on #264
has anybody resolved it?

[2019-05-13 11:32] CearsKhush opened #348 "Unable to capture Video with front and back both camera"
Hello,

Thank you for this amazing library. I want to capture one video with front camera and back camera both but I am unable to do this.  I had commented this line         **v.flipButton.isEnabled = !state.isRecording** in this function         **private func updateUIWith(state: ViewState) {** and I started recording and trying to changing camera back to front but whenever I change to camera Its

[2019-05-14 07:23] tejaskdubal opened #349 "Crop image with movable rectangle"
I want to create preview with crop feature along with movable rectangle (please see attached image).

Please provide configuration that change cropping style.

![20110517-cropsquare](https://user-images.githubusercontent.com/32478101/57678579-252d6b80-7647-11e9-9400-be0748c9f634.jpg)

Thanks.

[2019-05-15 14:27] Berk-Kaya opened #350 "No audio when recording long mp4"
**Describe the bug**
When I try to record a video with mp4 format, the video has no audio if it is longer than 30 seconds.

**To Reproduce**
set filetype to mp4 and record a long video

**Environment (please complete the following information):**
 - Device: iPhone XS
 - OS: iOS 12.2
 - Xcode Version 10.2.1
 - Swift Version 5

**Installation Type**
 - Cocoapods

[2019-05-15 19:52] mrayls commented on #336
We also have this problem.

[2019-05-15 20:11] mrayls commented on #314
We also have this issue.

[2019-05-15 22:36] ghost commented on #336
Submitted pull request #351

[2019-05-16 20:59] davidrobertovenegas commented on #271
This would be very useful. End users want a full picture by default.

[2019-05-20 09:37] userSV opened #352 "Order of videos get shuffle"
**Describe the bug**

When the videos are selected from the picker, there order gets shuffle automatically. Also if the images and videos are selected simultaneously, on the preview screen, all images come before the videos.

**To Reproduce**
Steps to reproduce the behavior:
1. Select multiple videos
2. Click on next
3. There order gets shuffled

**Expected behavior**
The order should remain as se

[2019-05-22 19:26] javiermanzo commented on #317
As @appfabtech said, I want to start the library without the crop to square. My PR #318 solves that.

[2019-05-23 02:31] Geoege-xll opened #353 "About whether the height of the UI can be modified in the photo mode, do not want a square"
About whether the height of the UI can be modified in the photo mode, do not want a square

[2019-05-23 14:00] aegzorz commented on #347
We're seeing the same crashes in our app.

[2019-05-24 12:55] Goldy-74 commented on #314
Me too :(

[2019-05-26 11:02] fishfisher opened #354 "Swift Complier Warnings on Swift 5.0"
**Swift Compiler Warnings**

I have updated to latest version (5.0.0) and I am still seeing Swift Complier Warnings in regards to switch cases not handling _@unknown default_.
I am also seeing several compiler warnings in regards to SteviaLayout. I can see the YPImagePicker is referencing Stevia version 4.4.4 and not 4.5.0 (Swift 5 version) in the Podspec.

Am I missing something in my config or i

[2019-05-27 08:48] kslowbullet opened #355 "no back button in the upper left corner, why ,please help me"
var config = YPImagePickerConfiguration()
        config.isScrollToChangeModesEnabled = true
        config.onlySquareImagesFromCamera = true
        config.usesFrontCamera = false
        config.showsPhotoFilters = false
        config.shouldSaveNewPicturesToAlbum = true
        config.albumName = "DefaultYPImagePickerAlbumName"
        config.startOnScreen = YPPickerScreen.library
        config

[2019-05-29 09:01] AkiraTokyo2023 commented on #316
https://stackoverflow.com/questions/54274148/how-to-code-sign-a-carthage-framework-for-app-store-submission

It's work for me.

[2019-05-29 10:16] #316 closed, assigned to nobody

[2019-05-30 05:20] brextonpham opened #356 "YPImagePicker takes long time to open in demo!"
Hi there!

I'm currently running the demo and when you press "Pick" it seems like it takes the picker 5-6 seconds to open! When I go into the example and remove ".video" from the config.screens line (on line 114 in showPicker()) it becomes exponentially faster. Is there a way to fix this as I think about using this? Please let me know, thank you!

[2019-05-30 05:37] brextonpham commented on #356
To clarify — once the picker is brought up once is dismissed, it's super quick to pop up again when you  bring it up after it is loaded the first time

[2019-05-31 06:54] toygift opened #357 "Main Thread Checker! Problem"
**Describe the bug**
Main Thread Checker: UI API called on a background thread: -[UIApplication applicationState]
PID: 11892, TID: 2295184, Thread name: com.apple.CoreMotion.MotionThread, Queue name: com.apple.root.default-qos.overcommit, QoS: 0
Backtrace:
4   libobjc.A.dylib                     0x0000000234adf6f4 <redacted> + 56
5   CoreMotion                          0x000000023b259d9c CoreMotio

[2019-05-31 06:57] victormihaita commented on #347
@daveleenew what is the status for this issue?

[2019-05-31 07:58] daveleenew commented on #347
Sorry i don't know. Please contact the author.

「Victor Mihaita <notifications@github.com>」在 2019年5月31日 週五，下午2:57 寫道：

[2019-05-31 14:13] rezabina86 opened #358 "Update PryntTrimmerView to V4.0.0"
Please update the podspec to use version 4.0.0 of PryntTrimmerView

[2019-06-03 02:11] gintechsystems commented on #346
Bug in Apple's CoreMotionManager:
https://stackoverflow.com/questions/54607856/main-thread-checker-warning-with-coremotion-only-appearing-on-2018-model-iphone

[2019-06-03 02:12] gintechsystems commented on #357
Bug in Apple's CoreMotionManager:
https://stackoverflow.com/questions/54607856/main-thread-checker-warning-with-coremotion-only-appearing-on-2018-model-iphone

Workaround for now is to turn off Main Thread Checker for the scheme having the issue.

[2019-06-03 02:12] gintechsystems commented on #356
Bug in Apple's CoreMotionManager:
https://stackoverflow.com/questions/54607856/main-thread-checker-warning-with-coremotion-only-appearing-on-2018-model-iphone

Workaround for now is to turn off Main Thread Checker for the scheme having the issue.

[2019-06-03 02:12] gintechsystems commented on #345
Bug in Apple's CoreMotionManager:
https://stackoverflow.com/questions/54607856/main-thread-checker-warning-with-coremotion-only-appearing-on-2018-model-iphone

Workaround for now is to turn off Main Thread Checker for the scheme having the issue.

[2019-06-03 02:12] #345 closed, assigned to nobody

[2019-06-03 02:36] toygift commented on #357
thx!!!

[2019-06-03 02:36] #357 closed, assigned to nobody

[2019-06-03 04:58] gintechsystems commented on #350
I found the issue, it turns out AVPlayer can't play a video from AVCaptureSession that has a .MP4 extension that is longer than 10 seconds by default.

This is due to fact that AVCaptureMovieFileOutput creates a MovieFragment every 10 seconds. MP4 doesn't support fragmentation, so for some reason all iOS devices can't play the video, but everything else can.

I created a PR and hopefully we can ge

[2019-06-07 21:57] Palando commented on #314
I had this problem because there was an active phone call. After hanging up it worked.

[2019-06-08 13:58] Palando opened #361 "fromCamera not set correctly for video"
**Describe the bug**
When I make a video then the fromCamera flag is set to false.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a video

**Expected behavior**
The flag should have been set to true.

**Environment (please complete the following information):**
 - Device: iPhone 8 plus
 - OS: 12.x
 - Xcode Version 9.x
 - Swift Version [e.g. 4.1]

**Installation Type**
 - Cocoapods vers

[2019-06-11 14:55] yunustek commented on #320
Has this problem been solved? I'm having this problem too.

[2019-06-11 20:19] UtkuDalmaz commented on #283
Any information about this?

[2019-06-12 14:01] dizcloud opened #362 "I want the video preview get start in Picker page in original size"
Thank you for your wonderful YPImagePicker, it helps me a lot.
And I get into a problem:
 I want the video preview get start in Picker page in original size, and I could not found the right code to modify.

[2019-06-12 15:16] iqbal0029 commented on #283
var config = YPImagePickerConfiguration()
config.showsCrop = .none

[2019-06-17 07:40] MourinhoLove opened #363 "how I get image file path"

[2019-06-24 23:25] diegogarciar commented on #362
Hey, found a solution?
I also need to provide this feature

[2019-06-27 08:25] Simerpal commented on #352
I am having this issue how do I solve it?

[2019-06-27 14:24] barisozr commented on #358
There's an open PR (#360) but I don't know when it will be merged and released. Could you update us on this @s4cha?

[2019-06-28 09:36] qky1412 commented on #317
so how to 'start the library without the crop to square'?

[2019-07-01 03:10] roarapps opened #365 "Default Zoomout"
Thank you for this awesome library

Is it possible to have an option not to zoom in when the library loads?

[2019-07-01 10:49] yokochi opened #366 "I want to deselect when multiple selection mode by default"
**Is your feature request related to a problem? Please describe.**
In the current Multiple selection mode, the first image is selected.

**Describe the solution you'd like**
In Multiple selection mode I want the image to be deselected by default

[2019-07-03 09:22] zunjae commented on #42
Would it be possible to get the truly original image, not taking into account the crop? I've spent countless hours just to get the library to give me the actual image before crop.

[2019-07-04 23:54] atilimcetin commented on #365
Also can we have an option to disable (hide) the zoom button?

[2019-07-08 15:36] Vollando commented on #176
@ashwinp-r don't know if you're still stuck on this, but I've found that increasing the buttonsContainer offset to something like `buttonsContainer.Bottom == previewViewContainer.Bottom - 50` allows for the flip camera/flash buttons to still be interactable. I'm not too familiar with how this library works since it's still new to me, but this does result in the capturePhotoImage icon appearing hig

[2019-07-08 15:38] Vollando commented on #353
You might find this useful https://github.com/Yummypets/YPImagePicker/issues/176#issuecomment-444782670

[2019-07-09 11:27] NirajCapermint commented on #336
Same issue, have any solution?

[2019-07-10 12:12] UtkuDalmaz opened #367 "Problem video compression when selected from library"
You can check screen recording here

https://www.icloud.com/photos/#0oBSiCVj9uj0xlsCO3_FLyAbw

here is the configuration

[code]

[2019-07-10 12:53] Vollando commented on #347
Having similar issue where pressing multiple selection button after denying photo library access permission results in a crash

[2019-07-10 13:30] UtkuDalmaz commented on #367
I guess this issue is related to iCloud videos.
When a video is stored on iCloud this problem may happen.

[2019-07-12 04:30] angelo-RSVP commented on #347
Update: Just hid the button on first launch until permission is checked

public override func viewDidLoad() {
        super.viewDidLoad()
        . . .
        v.assetViewContainer.multipleSelectionButton.isHidden = true
 }

[2019-07-14 06:52] gaoweimaster opened #368 "ShotButton FlipButton FlashButton disappear"
**Describe the bug**
In camera view FlipButton,FlashButton and ShotButton disappear
These buttons still work, just invisible

Try add code
    self.bringSubviewToFront(shotButton)
in YPCameraView.swift, not works

How to fix it ?
Thanks

![IMG_0116](https://user-images.githubusercontent.com/7658740/61180276-c5534100-a646-11e9-88f5-bc01ea2217bf.PNG)

[2019-07-14 09:27] vtesoho opened #369 "How to change the image display area size?"
How to change the image display area size?
I need to select multiple images and return them directly.
But I want to control the display scale here, for example 16/9

![image](https://user-images.githubusercontent.com/29875549/61181698-4537d600-a65c-11e9-94d2-4b4fc0b7c6ab.png)

[2019-07-15 00:46] #369 closed, assigned to nobody

[2019-07-19 14:14] UtkuDalmaz opened #373 "Image Sizing question"
When I click to change the sizing button on YPImagePicker, it shows the original size of the image. But on Instagram, it shows a copped version of the image.

I am uploading 2 images showing the results

### Instagram
![IMG_0326](https://user-images.githubusercontent.com/2130592/61541517-81967800-aa48-11e9-9d17-52e97bb532c2.jpg)

### YPImagePicker
![IMG_0327](https://user-images.githubusercontent.

[2019-07-23 12:52] bilgeeren commented on #367
We have the same issue. Also when trying to pick i cloud images program stuck on loading spinner. Is there any chance that you've already solved these?  @s4cha @NikKovIos

[2019-07-31 10:37] kasnitski commented on #367
The same issue for me with iCloud videos. Do you know how to fix this?

[2019-08-01 08:26] fdemircan commented on #366
Hello yokochi,

Remove the code from the defaultmultipleselect inside the YPLibraryVC;

[code]

[2019-08-01 17:51] NikKovIos commented on #317
Sorry guys, you need to import the library in your project and make the changes from https://github.com/Yummypets/YPImagePicker/pull/318 by yourself.

[2019-08-01 17:51] #317 closed, assigned to nobody

[2019-08-01 18:04] NikKovIos commented on #265
Totally agree with @s4cha. In my app the caption also use the custom UI. Image picker library should pick image and pass on. Cropping, filters is already side functions, but they are complex and the library allows to disable them. UI for caption always different and not needed there.

However folks who need this feature can copy code manually from MR https://github.com/Yummypets/YPImagePicker/pull

[2019-08-01 18:04] #265 closed, assigned to nobody

[2019-08-02 06:46] midhun-tw opened #379 "Stuck while switching image to video and vice versa"
**Describe the bug**
When I am trying to switch from image mode to video mode the camera screen is stuck with the previous image instead of showing realtime camera view

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If a

[2019-08-02 19:54] neodave commented on #292
Was this ever resolved? Still an issue

[2019-08-02 21:59] neodave commented on #292
After looking at this more closely it is a feature not a bug. There is delegate function noPhotos that is called. Inside YPPickerVC is where that delegate method is called, and that is where the dismiss is. Removing that will stop the instant dismissal. Now the question is how to switch to the camera if no photos are in the library

[2019-08-06 11:30] petritz commented on #215
@sulaimansust could you share how you added the rotation functionality?

[2019-08-06 14:03] SarathInno opened #380 "Move directly to Cover Image selection View Controller"
I am trying to use a trim video & cover selection in a single view controller with two tabs.

I want to navigate to Cover selection View Controller & use its features alone without using gallery selection page.

I have attached my incomplete view Controller for reference & required view controller from YPImage Picker

**Required View Controller & Features**
![View Controller Required](https://user

[2019-08-07 02:43] miaoyuxuan opened #381 "Can you add a configuration: the setting can only select pictures or only select videos."
The first one selects pictures, the video is not optional. The first one selects the video, the picture is not optional.

[2019-08-09 20:10] cs14rendra opened #382 "Video picker dismiss automatically"
I want to pick only video from library. when I launch picker it dismiss automatically. It happen only when library is empty, means library do not have any video files. if I add some video files to library then it is working fine.

This is my configuration code.

        config.library.mediaType = .video
        config.screens = [.library]
        config.library.maxNumberOfItems = 1
        config.

[2019-08-11 18:24] ljs19923 opened #383 "Video Compression"
Hi!
How can i have a compression between AVAssetExportPresetHighestQuality & AVAssetExportPresetMediumQuality please ?
The quality of medium quality is too low... But AVAssetExportPresetHighestQuality size is so big

Thanks

[2019-08-22 03:55] Cleversou1983 opened #385 "Front camera orientation"
Hi there, I've a app with only portrait orientation, when use the lib to capture from front face camera, it not rotate the image, as happens with back camera... Is there a way to workaround this? Thanks a lot!!!

[2019-08-22 23:33] J-L opened #387 "Customizing the Photo button area"
Forgive me, I couldn't find anything in the docs.

Is there a way of hiding area below the photo /video preview (the white area with the capture button) in the config?

Thanks!

[2019-08-22 23:45] J-L commented on #387
hmmm, found the set color customization.

Is it possible to set the camera preview height to the full size of the phone (minus the nav bars?)

[2019-08-26 09:39] kazukisugita opened #388 "Fix build failing on Swift 5.1 (Xcode 11.0 beta 6 (11M392q))"
**Is your feature request related to a problem? Please describe.**
Yes. Which is fixing build failing on Swift 5.1.
I found this great library couldn't build on carthage, even with `--no-use-binaries`.
So I forked and seeked problems. Just only changing `import`, I've checked correct build succeeded on Xcode 11.0 beta 6 (11M392q).

**Describe the solution you'd like**
Build Succeeded in Swift 5.1

[2019-08-27 15:24] Sehyris opened #389 "Video preview is not updated after selecting a new one"
**Describe the bug**
While selecting a video from the picker, the old video preview appears behind the new selected video preview.

**To Reproduce**
Steps to reproduce the behavior:
1. Open YPImagePicker controller
2. Tap on Library tab
3. Select a video, change the selected video to another from the grid
4. See error

**Expected behavior**
After selecting a new video from the grid the preview sho

[2019-08-27 15:28] simao-coutinho opened #390 "Crash selecting image from library"
[GatekeeperXPC] Connection to assetsd was interrupted or assetsd died

Log error:

Process:               lldb-rpc-server [13860]
Path:                  /Applications/Xcode.app/Contents/SharedFrameworks/LLDBRPC.framework/Versions/A/Resources/lldb-rpc-server
Identifier:            lldb-rpc-server
Version:               2
Code Type:             X86-64 (Native)
Parent Process:        Xcode [13797]
Re

[2019-08-29 15:24] Sehyris opened #391 "iOS13 Support"
Are you going to provide a new version with iOS13 support? We are having issues after selecting a video, the video preview is not updated correctly

**To Reproduce**
Steps to reproduce the behavior:
1. Open YPImagePicker controller
2. Tap on Library tab
3. Select a video, change the selected video to another from the grid
4. See error

**Expected behavior**
After selecting a new video from the gri

[2019-08-30 19:23] kasnitski commented on #391
The same for me. Does anybody tried to fix it?

[2019-09-02 05:14] choiks14 commented on #382
same here.

[2019-09-04 17:12] SaidAlSouti commented on #209
How to lock the picker in portrait mode?

[2019-09-05 20:38] Sehyris commented on #391
@kasnitski , @s4cha can you provide any input here?

[2019-09-11 12:50] mhmdzaid opened #392 "Image URL"
I cannot see the url for selected photo there is only url for video not for taken image or selected one

[2019-09-12 10:23] mhmdzaid commented on #363
here is the answer : [ https://github.com/Yummypets/YPImagePicker/issues/258](url)

[2019-09-12 10:25] mhmdzaid commented on #363
this extension will get the url of image but not for the one which  taken from camera

[2019-09-18 01:04] jonnyarc opened #395 "Unable to compile with Xcode11, wrong imports"
**Describe the bug**
Error compiling YPPhotoSaver.swift
PHCachingImageManager+Extensions.swift

**To Reproduce**
Steps to reproduce the behavior:
Open the main project and compile with Xcode 11 GM

**Expected behavior**
Compiles the framework

**Environment (please complete the following information):**
 - Device: MacBook Pro
 - OS: Mojave
 - Xcode Version 11.0 (11A420a)
 - Swift Version 5.1

**In

[2019-09-20 04:58] YogendraPatel commented on #382
@bithavoc @appfabtech @heitara @ezisazis @Seepak

i also get same issue. Please help me if anyone find solution.

[2019-09-20 09:21] YogendraPatel commented on #389
@Sehyris Same issue. please help me if you find any solution.

[2019-09-20 10:16] YogendraPatel commented on #348
@CearsKhush I also want this feature. have you find any solution?

[2019-09-20 10:55] YogendraPatel commented on #362
@dizcloud @diegogarciar i also want this feature

[2019-09-20 11:46] YogendraPatel opened #396 "Library video preview not completely scroll"
**Describe the bug**
When i select video from library, that video has no scrolling completely in preview

**To Reproduce**
Select video from library

**Expected behavior**
Properly scroll in all side and perfect crop square video

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the following information):**
 - Device: iPhone5s
 - OS: iOS

[2019-09-20 12:33] CearsKhush commented on #348
@YogendraPatel  I had integrated **SCRecorder's** camera in to this library to solve my problem, Here is link for **SCRecorder** https://github.com/rFlex/SCRecorder

[2019-09-20 12:56] Edward-Bazko commented on #264
Also reproduces on iPhone 6 and 6s, iOS 12.4.1.

@Simerpal adding this line helped:
[code]
in `LibraryMediaManager.swift` class, method `fetchVideoUrlAndCrop(...)`, line 70. So it's somehow related to iCloud video fetching.

[2019-09-23 09:02] YogendraPatel commented on #365
@roarapps i want same functionality. if you find any solution then please help me.

[2019-09-23 15:07] Sehyris commented on #389
No solutions yet

[2019-09-25 14:55] rbecharast-chwy commented on #395
Hi, I have a same issue. In my case the error is:
```Module compiled with Swift 5.0 cannot be imported by the Swift 5.1``` on ```import Stevia```

Thanks

[2019-10-01 09:24] mustafaqutbuddin opened #398 "Video in landscape not rotating to portrait mode."
Video captured through camera stays in landscape mode and the orientation doesn't change.

![IMG_69378A6ACD9A-1](https://user-images.githubusercontent.com/13258829/65950268-2bd24900-e457-11e9-9e79-68153012f29d.jpeg)

[2019-10-01 11:53] tryWabbit commented on #344
What did you do to solve the error @momeni1367 ?

[2019-10-03 03:24] dieptx opened #399 "`cancel` and `next` button in navigation bar is approached to the edge"
![Simulator Screen Shot - iPhone 11 - 2019-10-03 at 10 17 39](https://user-images.githubusercontent.com/17880912/66097240-c8b3f400-e5c7-11e9-95ab-d8156849751f.png)
How to padding Cancel, Next button to the edge?
Plz, help me

[2019-10-03 13:09] Salmancs43 opened #400 "Video Overlap issue."
![WhatsApp Image 2019-10-03 at 6 05 00 PM](https://user-images.githubusercontent.com/23050315/66129215-e6557d80-e608-11e9-840d-f2b175158f05.jpeg)
Hi
Thanks for amazing library. I am using the version 4.1.2 and I found one issue. When I select a video and after selection I select another video then the second video appears in the background of the first video in a  pause mode and first video is sti

[2019-10-03 15:30] Sehyris commented on #400
I'm having the same issue... Please let me know if you find a workaround.

[2019-10-03 15:36] dieptx commented on #400
How to padding `Cancel` and `Next` button in navigation bar with the edge ? Plz help me, thanks

[2019-10-03 15:44] Sehyris commented on #400
@oTranXuanDiep - I'm not having that issue. But I saw your screenshot and looks like you are using the default presentation style, could you try with 'fullScreen' option?

[2019-10-03 17:05] dieptx commented on #400
@Sehyris I saw modalPresentationStyle set fullscreen when init with custom configuration at https://github.com/Yummypets/YPImagePicker/blob/53ac8ef10460f87d86c710db2b76b9e06a083086/Source/YPImagePicker.swift#L49 :(.

[2019-10-04 05:55] Salmancs43 commented on #400
I didn't change anything in code for padding.

[2019-10-04 05:56] Salmancs43 commented on #400
Sure and let me know if you find any solution

[2019-10-04 08:39] midhun-tw opened #401 "Permission issue"
**Describe the bug**
The app is not asking for gallery access permission

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the fol

[2019-10-04 08:45] dieptx commented on #400
Ohhh. Thank you!!! I tried to override `viewWillAppear` of YPPickerVC and customize navigation bar so my issue was resolved.

**And how can i change double tap to select or deselect image to single tap when enable multiple selection images? That behavior likes images selection of Messenger app**

[2019-10-04 21:25] Clint1994 commented on #387
How did you find the color customization for the photo button?

[2019-10-04 22:00] Clint1994 opened #402 "Changing shot button icon does not change."
I'm trying to change the camera shot button from green to black. I've edited the button color, however when I try changing the icon image it stays the same ( green) every time.

` shotButton.setImage(YPConfig.icons.capturePhotoImage, for: .normal)`

`public var capturePhotoImage: UIImage = imageFromBundle("Capture")`

I changed the name from yp_iconCapture to "Capture" so I could use my own custom

[2019-10-07 11:42] gali8 opened #403 "Message from debugger: Terminated due to memory issue"
Library is crashing on real device.

- iPhone X with iOS 13.1.2.
- Last pod.

When i tap the "take" button, the app crash with a "Message from debugger: Terminated due to memory issue" error.

[2019-10-07 12:08] gali8 commented on #403
I think that is an iOS 13 bug.
Same issue with other libraries, until i restarted the iphone.

[2019-10-07 12:08] #403 closed, assigned to nobody

[2019-10-08 09:39] akshay-shah-dev commented on #391
i am capturing video OS 12.2 but camera not open just display black screen.

[2019-10-08 09:41] ruanorz commented on #337
same error here... did you solve it? thank you

[2019-10-08 09:46] ruanorz commented on #314
any solution?

[2019-10-08 09:54] akshay-shah-dev opened #404 "start capturing video but not able to capture video just display black screen."
**Describe the bug**
i am capturing video for open first capture image and click on button video but video not capturing just display black screen.

**Environment (please complete the following information):**
 - Device: [iphone 6 version 12.2]
 - OS: [10.14.5]
 - Xcode Version [10.1]
 - Swift Version [4.1]

**Installation Type**
 - Cocoapods

[2019-10-10 12:23] hayetech commented on #186
I have done that in "Source" folder throughout, do I need a bridging header now?
@s4cha

[2019-10-10 20:52] Skyb0rg opened #405 "cancel button is black"
**Describe the bug**
After creating a new picker the cancel Button is black on black background.
All cancel buttons in the app are now black instead of Blue before.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Picker
2. Click on not visible "cancel"

**Expected behavior**
dont change color of cancel button

**Environment (please complete the following information):**
 - Device: [e.g.

[2019-10-10 21:13] Skyb0rg commented on #405
OK found this in you code:

//If user has not customized the Nav Bar tintColor, then use black.
[code]

i think this is the "Problem".
Why do you change it global?

[2019-10-11 15:17] Sehyris commented on #400
@Salmancs43 did you find any solution for this?

[2019-10-12 20:10] NikKovIos commented on #405
Fixed https://github.com/Yummypets/YPImagePicker/commit/6839864da946f9baa73fc1de5d4cdd9035ab5ab4

[2019-10-12 20:10] #405 closed, assigned to nobody

[2019-10-16 07:34] tpid-syauqi opened #406 "Get Photos Name in Multiple"
picker.didFinishPicking { [unowned picker] items, cancelled in
 for item in items {
                            switch item {
                            case .photo(let photo):
                                print(photo)
                            case .video(let video):
                                print(video)
                            }
                        }
 }

how i get photo file

[2019-10-17 01:46] #406 closed, assigned to nobody

[2019-10-22 14:57] OlegZhuckovich opened #407 "Dark mode customization"
Thanks for wonderful lib! Are you planning to add dark mode support to the image picker?
It seems like on iOS 13 in dark mode some parts of the picker aren't black and I haven't the ability to customize them...

[2019-10-23 02:56] zhangfangtaozft opened #408 "In iOS 13 the UI is different : is not full screen. How to fix it?"
below iOS13 is like this:

![Simulator Screen Shot - iPhone XS Max - 2019-10-23 at 10 51 14](https://user-images.githubusercontent.com/11926205/67352663-27dfa580-f583-11e9-899d-86e5050f7d39.png)
But, in iOS 13 is like this:

![Simulator Screen Shot - iPhone Xs Max - 2019-10-23 at 10 55 05](https://user-images.githubusercontent.com/11926205/67352819-9f153980-f583-11e9-8310-4ab077f3cf5b.png)

but I

[2019-10-23 16:55] Sehyris commented on #408
Hi @zhangfangtaozft , you just need to change the modal presentation style. Like this:
[code]

[2019-10-24 09:42] zhangfangtaozft commented on #408
Thank you,the problem is solved!

[2019-10-24 09:42] #408 closed, assigned to nobody

[2019-10-24 18:44] yehezkiel17 commented on #215
Is this the rotating image feature already deployed? If already deployed, which the version?

[2019-10-25 10:01] wzio opened #409 "YPLibrarySelection cannot store it own croprect in multi-selection"
**Describe the bug**
When multiple images are selected with different `croprect`, `YPLibrarySelection` does not correctly store the `scrollViewContentOffset`,` scrollViewZoomScale`, `cropRect` properties, but it will take the value of the `YPLibraryView`'s `assetZoomableView` and `currentCropRect` properties.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the exmaple project
2. sele

[2019-10-25 11:17] boboxiaodd opened #410 "VideoTrimmer with .mov has wrong size"
**Describe the bug**
when select a video with .mov type, VideoTrimmer has black area
select an mp4 file ,it's correct

**Screenshots**
![image](https://user-images.githubusercontent.com/4714247/67567233-1bfb0b80-f75c-11e9-9a98-a94014eb3b74.png)

**Environment (please complete the following information):**
 - Device: [e.g. iPhone6] iPhone 11
 - OS: [e.g. iOS8.1] 13.2
 - Xcode Version [e.g. 9.4.1] 1

[2019-10-28 09:26] kira2015 commented on #401
![image](https://user-images.githubusercontent.com/14231117/67667054-ff531380-f9a7-11e9-9160-8f3312a6a992.png)

[2019-10-28 09:35] kira2015 commented on #399
config.screens = [.library,.photo]

[2019-10-28 17:13] gali8 commented on #194
Hi, this is the right solution, using appearance. Note that Theme.....Color is just a kind of structs into my app.

`        let navBarImagePicker = UINavigationBar.appearance(whenContainedInInstancesOf: [YPImagePicker.self])
        navBarImagePicker.isTranslucent = Theme.ImagePicker.NavigationBar.isTranslucent
        navBarImagePicker.tintColor = Theme.ImagePicker.NavigationBar.tintColor

[2019-10-31 12:28] boboxiaodd commented on #400
i think the reason is the secord video is from iCloud

[2019-11-06 09:12] rahulrvarma opened #412 "How to open directly Filters View (YPPhotoFiltersVC) to change the applied filter to a selected photo"
**What I wanted?**
I have multiple photos picked from the gallery and shown in a CollectionView.
There is an Edit button on my collectionViewCell which should open the Filter options directly for that photo.

**Here is what I applied: Solution**

    @objc func openYPPhotoFilterVc(_ sender:UIButton)
    {
        let item = self.arrayOfAllSelectedPhotos![sender.tag]
        switch item
        {

[2019-11-06 09:12] #412 closed, assigned to nobody

[2019-11-06 11:13] xyqjay commented on #381
want this tooooooooooo

But I feel I have to do it myself.

[2019-11-06 22:57] schveiguy commented on #209
So this is fine, you are free not to support it. However, if you do not want to support landscape, the view controller should tell the os. I fixed my instance by adding the following function to YPImagePicker.swift:

[code]

Without this, the above horrible "half-visible" orientation is what happens.

[2019-11-06 23:34] schveiguy opened #413 "Allow the camera to take multiple pictures"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to capture multiple pictures from the camera I am aware of your answers in #172, but I think this is a possible way to achieve it (at least give the option for it).

**Describe the solution you'd like**
Provide a mechanism inside the callback to start the camera again. Right now, my only option is to dismiss the

[2019-11-07 00:23] schveiguy commented on #317
I added a new PR that I think will be accommodating enough. #414

[2019-11-07 00:42] schveiguy opened #415 "Pager buttons disappear with multi-select mode"
**Describe the bug**
I start the YPImagePicker with camera mode, but allow library mode. At the bottom, I get two buttons "Photo" and "Library". If I switch to "Library", and use the multi-select feature, the buttons disappear. If I then swipe back, the buttons are still gone. I have to swipe over to the library to switch to single photo mode, and then the buttons come back.

**To Reproduce**
1. R

[2019-11-07 05:20] thierrybucco opened #416 "Moved & Zoomed photo in crop mode is moving when touching Done button"
When I touch Done button, cropped photo (moved) is moving before closing YPCropView.
Take a look at my recorded screen.

[RPReplay_Final1573103726.MP4.zip](https://github.com/Yummypets/YPImagePicker/files/3817969/RPReplay_Final1573103726.MP4.zip)

[2019-11-07 09:20] Emefar opened #417 "Missing Done Button"
<img width="402" alt="Screenshot at Nov 07 12-11-40" src="https://user-images.githubusercontent.com/36764954/68375844-a24e1f00-0158-11ea-8394-2f1e1f6710fe.png">

I cannot save photos. Video saving is working nice but not working save image. I am using Xcode 11.1 and i tried ios 13.1.2 and 13.1.3. How can i save selected image?

[2019-11-07 15:24] schveiguy opened #418 "Included PryntTrimmerView framework won't sign"
**Describe the bug**
I'm using a manual installation to include the project. Basically I add the YPImagePicker project as a subproject of mine. I added the PryntTrimmerView framework as an embedded library to my distribution, but when I go to archive my project and distribute on enterprise, it says that it can't sign the IPA. The error I get in the log is:

[code]

And then a large printout of dat

[2019-11-07 16:36] schveiguy commented on #418
I guess I had to use Carthage to copy the files. I didn't realize how it works, now I'm able to build properly.

You should really update your "Manual Installation" page to identify that you need to install carthage to get it to work.

[2019-11-07 16:36] #418 closed, assigned to nobody

[2019-11-08 02:35] jinjinbary opened #419 "ios13.1 can't find nextbutton in filterpage"
ios 13.1
i can't find nextbutton in filterselectpage

[2019-11-09 11:22] Emefar commented on #419
@NikKovIos Please answer. I cannot find too. I cannot save photos.

[2019-11-11 05:52] jinjinbary commented on #419
This problem is due to ios 13.1 dark mode.
 inpo.list -> user interface style -> light
This solves the problem.

[2019-11-11 05:52] jinjinbary commented on #417
This problem is due to ios 13.1 dark mode.
 inpo.list -> user interface style -> light
This solves the problem.

[2019-11-11 11:11] Emefar commented on #417
I am not using dark mode. I am already using light mode. And i added light mode at info.plist but nothing changed. @jinjinbary If you fix problem, i can donate you.

[2019-11-12 06:39] jinjinbary commented on #417
@Emefar sorry,
Before I run the above solution
Update xcode to 11.2 or 11.2.1 and rebuild project
This is all I can give

[2019-11-12 10:44] Emefar commented on #417
@jinjinbary I am already building Xcode 11.2 and i updated phone os version to 13.2.2 but still i cannot see next icon. But when i pick select video, i can click next icon. And this is my picker func.

    func showPicker(){
        var config = YPImagePickerConfiguration()
        config.library.onlySquare = true

        let picker = YPImagePicker(configuration: config)
        picker.didFinishP

[2019-11-16 14:13] touyu opened #421 "What is the reason why YPPhotoFiltersVC's background color is red?"
Hi, Thank you for the useful library.

Can YPPhotoFiltersVC's background color be changed by the user?
Why is it red by default?

[2019-11-17 18:34] rahulrvarma opened #422 "How to convert a PHAsset object to YPMediaItem? Is there a way to do this?"
Hi,

I have an object of PHAsset and want to covert that to an object of YPMediaItem because I have an array of YPMediaItem.
Need urgent help!!

Thanks in advance

[2019-11-20 11:14] midhun-tw opened #423 "crop"
Please include option for users to crop their pictures with custom sizes with adjust crop height width with dragging

[2019-11-20 20:02] TapanRaut opened #424 "Gap between navigation bar and collection view"
when i am navigatin to "YPSelectionsGalleryVC.swift" , there is a gap between navigation bar and collection view.

![Simulator Screen Shot - iPhone 8 Plus - 2019-11-20 at 02 02 34](https://user-images.githubusercontent.com/11292204/69273394-4a0a2900-0bfe-11ea-95b1-038060b29d77.png)

[2019-11-20 20:08] TapanRaut opened #425 "Crash when selecting library"
When i am clicking on library button, the app crash.Getting fatal error.

at the following code i am getting the error: -
 var topHeight: CGFloat {
        get { return v.assetViewContainerConstraintTop.constant }
        set {
            if newValue >= v.assetZoomableViewMinimalVisibleHeight - v.assetViewContainer.frame.height {
                v.assetViewContainerConstraintTop.constant = newVal

[2019-11-24 07:07] rahulrvarma commented on #422
Hi @s4cha @NikKovIos
Please help on this. This is urgent. I have to launch the app and just waiting for this.
I am using - pod 'YPImagePicker', '~> 3.4.0' as the project does not supports above Swift 4.0

Thank you

[2019-11-25 07:27] NikKovIos commented on #422
Hello! I don't remember if it supports the initialization with PHAsset in 3.4.0 version. If not, you can copy the cureent project and translate to swift 4 by yourself. In YPMediaItem you would find initializators with PHAsset.

[2019-11-26 20:37] thierrybucco opened #426 "Rotation on iPad broke all UI"
Display camera view on iPad, then rotate it.
![IMG_0622](https://user-images.githubusercontent.com/12764744/69670777-aa67f300-1062-11ea-9f0c-caa27a1e6413.PNG)

[2019-11-27 01:09] MourinhoLove commented on #363
OK,Thank you.

[2019-11-27 16:26] dizcloud opened #427 "How can I get the video asset after compress ?"
I want to get the video asset after compress?
Because I want to get get the file size and compare it to the original video.

[2019-11-27 18:22] NikKovIos commented on #419
The problem is because of color.

[2019-11-30 01:27] irosenb opened #428 "Turn on/off Multiselect by configuration"
I would love a way to turn on multiselect through the config object.

[2019-12-01 12:26] gu0315 opened #429 "How to use in Swift5.2"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the fol

[2019-12-09 10:16] s4cha commented on #422
Hi @rahulrvarma I'm afraid`3.4.0` version didn't support initializing a `YPMediaItem` with a `PHAsset`. This is only supported in later versions. My best bet would be for you to integrate the library manually with the code so that you can edit it to your needs.
Hope it helps

[2019-12-09 10:26] s4cha commented on #421
Hi @touyu,
Pretty unexpected that the view would be red. Do you experience this in the `YPImagePickerExample` sample project provided as well?
You can modify this via the `YPImagePickerConfiguration` object like so:
[code]
Let me know if that works :)

[2019-12-09 10:40] touyu commented on #421
It was fixed by commit of https://github.com/Yummypets/YPImagePicker/commit/9ac91d1d36617507bd05215273ff45ef90fdf007
Thank you .

[2019-12-09 10:40] #421 closed, assigned to nobody

[2019-12-09 10:40] s4cha commented on #417
@Emefar do you experience this issue with the sample project `YPImagePickerExample` provided as well ?

[2019-12-09 11:12] s4cha commented on #416
@thierrybucco Wow this is very weird indeed. Can you reproduce the issue with the sample project provided?
PS: please excuse the late reply 🙏

[2019-12-09 11:39] s4cha commented on #401
Hi @midhun-tw & @kira2015 this has been identified and will be fixed in the next version, hopefully next week.
Thanks a lot for your patience 🙏

[2019-12-10 08:53] s4cha commented on #306
This should be fixed with @heikorehder PR https://github.com/Yummypets/YPImagePicker/pull/386
It will be deployed in the next version, hopefully by the end of the week.

[2019-12-10 09:05] s4cha commented on #347
This should be fixed with @hansemannn PR. It will be in the next version, hopefully by the end of the week.

[2019-12-10 09:10] s4cha commented on #425
Hi @TapanRaut Could you give me some more information on the environment, the more details the better:  Installation type (Carthage/cocoapods/ manually) Library version, Xcode Version etc.
Also are you able to reproduce the issue in the sample project provided as well ?  Thanks a lot in advance.

[2019-12-10 09:26] s4cha commented on #429
@gu0315 Swift 5.2 is not officially released yet so it's not supported at the moment. could you explain why you need Swift 5.2 at the moment ?

[2019-12-10 09:28] s4cha commented on #401
This has been fixed by https://github.com/Yummypets/YPImagePicker/pull/386 :)

[2019-12-10 09:52] s4cha commented on #390
Hi @BanenoLuso this might have been fixed by https://github.com/Yummypets/YPImagePicker/pull/386, are you able to reproduce the issue locally on your machine ?

[2019-12-10 09:54] s4cha commented on #395
@jonnyarc @rodribech20 Swift 5.1 & Xcode 11 support was pushed in 4.1.2 on October 2. https://github.com/Yummypets/YPImagePicker/releases/tag/4.1.2
Are you still experiencing the issue?

[2019-12-10 10:58] s4cha commented on #350
@Berk-Kaya Thank you for reporting this. @gintechsystems Can't thank you enough for finding the issue and taking the time to make the fix, this is greatly appreciated :) This will be in the next version.

[2019-12-10 11:05] s4cha commented on #424
@TapanRaut Could you give a bit more details about your setup so that we can reproduce it on our end please?

[2019-12-11 01:34] jonnyarc commented on #395
Thank you this issue was resolved.

[2019-12-11 01:34] #395 closed, assigned to nobody

[2019-12-11 09:13] s4cha commented on #407
Hi @OlegZhuckovich Dark mode is on its way for next version. @chrischute worked on it on https://github.com/Yummypets/YPImagePicker/pull/420 :)

[2019-12-11 10:10] s4cha commented on #419
@jinjinbary @Emefar Cant you try to reproduce your issue with the sample project from master? this should be fixed with the dark mode support coming in the next version :)

[2019-12-11 10:44] s4cha commented on #279
@bybash next version will use the accelerometer directly  thanks to  @kf99916 PR https://github.com/Yummypets/YPImagePicker/pull/376/files.
So this will yield the correct orientation independently from DeviceOrientationNotifications. 🎉

[2019-12-11 13:29] s4cha commented on #399
@oTranXuanDiep Are you still experiencing the issue ? `modalPresentationStyle`was forced to `.fullScreen` since 4.1.2 which probably fixes your issue :) Let me know.

[2019-12-11 13:58] s4cha commented on #428
@irosenb Could you describe in more details your use case please ?

[2019-12-11 14:35] s4cha commented on #320
Non square video taking will be available in next version :)

[2019-12-11 14:40] s4cha commented on #176
Hi folks, I'm happy to announce that both zooming and full screen preview will be available in the next version :)

[2019-12-11 14:49] s4cha commented on #426
@thierrybucco Nice catch. The picker only works in portrait mode, we need to lock its orientation from our side. This will be fixed in next version :)

[2019-12-11 15:03] s4cha commented on #426
Well forcing `supportedInterfaceOrientations` to `portrait` in `YPImagePicker` works for phones but the orientation callbacks are not called on iPads. No idea at the moment so it will not make it to the next version unfortunately

[2019-12-11 15:33] #320 closed, assigned to nobody

[2019-12-11 15:37] Sehyris commented on #389
@s4cha - are you able to reproduce this issue. Now I'm also seeing this:
<img width="512" alt="Screen Shot 2019-12-11 at 9 35 28 AM" src="https://user-images.githubusercontent.com/5171041/70635555-bffc2180-1bf9-11ea-91e6-6331f3b322be.png">

[2019-12-11 15:38] #279 closed, assigned to nobody

[2019-12-11 15:43] #306 closed, assigned to nobody

[2019-12-11 15:43] #347 closed, assigned to nobody

[2019-12-11 15:53] Emefar commented on #417
@s4cha YPImagePickerExample is working fine. And i created new project and YPImagePicker is worked fine too. But it is not working my project. I'm using you library, just i added new bottom button for done ;)

[2019-12-11 16:16] Emefar commented on #419
@s4cha I think is not relevant dark mode. I am not using dark mode. Btw i am using force white mode.

[2019-12-12 10:50] gaetano78 opened #430 "Appearance() break the colors in all the app in which the library is added"
In the file YImagePicker.swift, the lines:

 if UINavigationBar.appearance().tintColor == nil {
          UINavigationBar.appearance().tintColor  = .black
  }

Break the UI of my app, as the line  "UINavigationBar.appearance().tintColor  = .black" change the color of backbutton in all my navigation controllers. I think you should not use appearance, as it is a global things. In my case, I just com

[2019-12-17 13:36] gu0315 opened #431 "How does YPImagePicker set it to not be able to select both video and image at the same time"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-12-17 16:25] jakubradzik opened #432 "Fatal error when picking recently deleted photo from library"
**Describe the bug**
When picking photo from library and switching app to system gallery app I delete the photo I just picked with the picker. The list below picked image updates but the photo itself doesn't disappear. When clicking 'next' button app crashes - 403 line of YPLibraryVC class - fatalError() in guard let.
Is there a way to commit the crash?

**To Reproduce**
Steps to reproduce the beh

[2019-12-17 18:45] Hitesh0321 opened #433 "White screen shown on camera view of video recorder."
**To Reproduce**
by tapping on video option from bottom some works fine but some shows white screen on camera portion.
![WhatsApp Image 2019-12-18 at 12 09 19 AM](https://user-images.githubusercontent.com/28647621/71024617-531de580-212b-11ea-8dd5-9467d22e5194.jpeg)

**Environment (please complete the following information):**
 - Device: iPhone7
 - OS: iOS13.2
 - Xcode Version 11.1
 - Swift Version

[2019-12-18 11:29] RobSwish opened #434 "Default to iOS13 system icons"
I'd like to suggest defaulting to the new iOS13 icon provided by Apple when they are available and if the icons have not been overridden. They look great and there's an icon for everything.

[2019-12-18 13:25] RobSwish commented on #417
Could it be that you are setting the tint to white?

`config.colors.tintColor` = .white

You may even be setting your tint globally for your whole app.

`UINavigationBar.appearance().tintColor = .white`

Your nav is white, so you can't see it? I recommend using the "Debug view hierarchy" tool. You'll most likely see that the button is there as you can tap it, but it's the wrong colour.

[2019-12-18 19:28] RobSwish commented on #426
I've had issues like this before with iPad in landscape, to make it at least useable instead of completely broken perhaps you could just make the views left and right constraints based around the readable content guides on iPad.

This way it will be heavily inset on iPad but it should at least make it look decent and be functional 🙂

Of course the swipe animation won't be as nice too, but still. I

[2019-12-20 08:47] #226 closed, assigned to nobody

[2019-12-20 08:52] s4cha commented on #233
Closing this for lack of activity, feel free to reopen if needed.

[2019-12-20 08:52] #233 closed, assigned to nobody

[2019-12-20 09:06] s4cha commented on #230
Closing for lack of activity. Feel free to reopen if needed :)

[2019-12-20 09:06] #230 closed, assigned to nobody

[2019-12-20 09:15] s4cha commented on #269
Closing this for lack of activity, feel free to reopen if needed :)

[2019-12-20 09:15] #269 closed, assigned to nobody

[2019-12-20 09:16] s4cha commented on #270
Closing this for lack of activity. Feel free to reopen if needed :)

[2019-12-20 09:16] #270 closed, assigned to nobody

[2019-12-20 09:21] s4cha commented on #276
Closing this for lack of activity, fee free to reopen if needed :)

[2019-12-20 09:21] #276 closed, assigned to nobody

[2019-12-20 09:42] s4cha commented on #307
Closing this for lack of activity. Feel free to reopen if needed :)

[2019-12-20 09:42] #307 closed, assigned to nobody

[2019-12-20 09:45] s4cha commented on #315
Closing this for lack of activity, Fee free to reopen if needed :)

[2019-12-20 09:45] #315 closed, assigned to nobody

[2019-12-20 09:51] s4cha commented on #322
Closing this for lack of activity.

[2019-12-20 09:51] #322 closed, assigned to nobody

[2019-12-20 10:01] s4cha commented on #332
@pdee2131 are you still having this issue?

[2019-12-20 10:10] s4cha commented on #342
Hi @fenixsolorzano v4 is in Swift 5. Closing this for now. Feel free to reopen if needed :)
PS: Please excuse the late reply 🙏

[2019-12-20 10:10] #342 closed, assigned to nobody

[2019-12-20 10:19] s4cha commented on #350
Closing this as this is now solved :)

[2019-12-20 10:19] #350 closed, assigned to nobody

[2019-12-20 10:22] #358 closed, assigned to nobody

[2019-12-20 10:26] s4cha commented on #288
Closing for lack of activity, feel free to reopen if needed :)

[2019-12-20 10:26] #288 closed, assigned to nobody

[2019-12-20 10:39] s4cha commented on #388
Hi @kazukisugita thanks for noticing and suggesting a fix, I think this has been fixed in the meantime :) Feel free to reopen if needed !

[2019-12-20 10:39] #388 closed, assigned to nobody

[2019-12-20 10:46] s4cha commented on #344
This should be solved by now :) Feel free to reopen if needed.

[2019-12-20 10:46] #344 closed, assigned to nobody

[2019-12-20 10:58] #401 closed, assigned to nobody

[2019-12-20 11:03] s4cha commented on #381
@miaoyuxuan I am not sure I fully understand what your end goal is, could you please elaborate?

[2019-12-20 12:37] Hamza-Almass opened #435 "Change navbar and tabbar color"
Hello ,

I have the issue with change the background color for the nabber and tabbar with tint color
is this color only support in library?

thank you

[2019-12-25 04:30] metawin99 opened #438 "Report bug : Remove image not working"
**Describe the bug**
removeImage  in YPSelectionsGalleryVC nor working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Gallery'
2. Click on Pick image.'
3. delete image
4. not working

**Environment (please complete the following information):**
 - Device: [e.g. iPhoneX]
 - OS: [e.g. iOS12.2]
 - Xcode Version [e.g. 11.3]
 - Swift Version [e.g. 5]

**Installation Type**
 - Cocoapods
 -

[2019-12-26 20:04] bios90 commented on #333
Found solution how to disable bottom buttons.

Just activate search and search for "YPVideoFiltersVC". Open that file (Agree with file editing in this library if needed). To disable cover button just comment lines in this file :

`coverBottomItem.textLabel.text = YPConfig.wordings.cover`
`coverBottomItem.button.addTarget(self, action: #selector(selectCover), for: .touchUpInside)`

Now you cover bu

[2019-12-29 06:06] TapanRaut commented on #424
Hi,

   Sorry for the late response. Actually when i am selecting more than one
image from library and clicking the next button. This type of error is
happening, If i will select only one image then no issue is there.Because
for only one image it navigating  me to the filterView.

 I am using xcode 11, swift 4.2, ios 13. Same problem also with ios 12 and
xcode 10. In iphone 5s it is working fine,

[2019-12-31 12:06] app-arianamini commented on #438
Replace this method in YPSelectionsGalleryVC with:

[code]

[2020-01-02 11:29] parveen702 commented on #404
I have same issue

[2020-01-02 13:17] s4cha commented on #407
@OlegZhuckovich Dark mode is now supported in [4.1.3](https://github.com/Yummypets/YPImagePicker/releases/tag/4.1.3), let me know if that fits your needs :)

[2020-01-02 14:16] s4cha commented on #410
@boboxiaodd, indeed. This seems to happen on iCloud videos on my side. I'm going to rollback into git to see when this has been introduced.

[2020-01-03 05:19] UmairAhmed420 opened #439 "Hi"
can you tell me its android version is available anywhere?

[2020-01-03 08:38] OlegZhuckovich commented on #407
@s4cha, thanks, it looks wonderful in the last version!

[2020-01-03 08:58] s4cha commented on #407
Glad you like it !

[2020-01-03 08:58] #407 closed, assigned to nobody

[2020-01-03 09:11] s4cha commented on #439
Hi @UmairAhmed420, unfortunately I don't know of any similar open source project. Internally we use a modified version of https://github.com/burhanrashid52/PhotoEditor for our Android App.
Hope it helps :)

[2020-01-03 09:21] s4cha commented on #404
I have the same issue as well. This seems to happen randomly, looks like a threading issue. If you have any details or if you find ways to reproduce it, please share as much details as possible so we can fix it.

[2020-01-03 15:47] Mattesackboy commented on #424
Same problem here

[2020-01-03 15:47] mkals opened #440 "Swift Package Manager support"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-01-03 15:48] mkals commented on #440
Hello, any chance of making this package available for installation through the new Swift Package Manager?

[2020-01-03 16:10] UtkuDalmaz commented on #373
Any idea on this question? @s4cha

[2020-01-06 06:22] parveen702 commented on #404
It can be reproduce easily and frequently. Just switch form photo capture to video capture. You will find video screen stuck.
Kind Regards

Parveen Khan | iOS Application Developer
Dotsquares Ltd "Celebrating 16 Years of Success"
T: +44 (0) 1273 900273 | T: +44 (0) 1273 900296 | W: www.dotsquares.com <http://www.dotsquares.com/> | Skype: parveen.khan@dotsquares.com <mailto:krishan.kumar@dotsquares

[2020-01-06 09:14] taimoorsuleman opened #441 "Video Recording Not working , switching the tab"
**Describe the bug**
Video Recording Not working, switching the tab
**To Reproduce**
Steps to reproduce the behavior:
1. Open Picker
2. Click on Video button , to record video
3. Click on Photo Button
4. Now again click on Video Button, Start Video recording, But Buttons updates but video recording not started

**Expected behavior**
A clear and concise description of what you expected to happen.

[2020-01-06 09:22] taimoorsuleman commented on #404
I have the same issue and reproduced frequently.
Just switch tabs from photo to video.

[2020-01-06 09:36] s4cha commented on #440
Hi @mkals Unfortunately Swift Package manager doesn't (yet) support resources, such as images xibs, or .strings files for translations. One hacky way would be to put all the resources files in the source code:
- Transform xibs to pure code (easy and desirable)
- Find a way to use translations via code (no strings files)
- Replace images by code generated assets (via paint code for example)
Conside

[2020-01-06 10:21] s4cha commented on #424
Hi @TapanRaut & @Mattesackboy I am able to reproduce the issue when installing:
- Install 4.1.3 via Cocoapods or Carthage
- iPhone 8 plus simulator (iOS 13) (iOS 12 works fine)
- Somehow the bug is not there when testing with the `YPImagePickerExample` Project
 This is quite mysterious I am going to investigate and report back when I know more.

[2020-01-06 10:27] s4cha commented on #424
Ok I found that the issue comes from `hidesStatusBar` config entry in iOS13.
Setting `config.hidesStatusBar = false` should solve your issue in the meantime :)

[2020-01-06 10:46] s4cha commented on #424
This has been fixed and will be available in the next version (this week)

[2020-01-06 10:56] parveen702 commented on #404
i have resolved this issue on calling video start function after some delay
DispatchQueue.main.asyncAfter(deadline: .now() + 0.1) {
                videoVC.start()
            }

[2020-01-06 13:24] #439 closed, assigned to nobody

[2020-01-06 14:15] s4cha commented on #410
Rolling back doesn't help. the bug is there as well. After testing it seems to happen on videos whose `mediaFormat` (helper below) is`vide/avc1`. `vide/hvc1` work well. I don't know (yet) why recent (local?) videos are in `vide/hvc1` format while older (iCloud?) videos are in `vide/avc1`

[code]

[2020-01-07 09:02] s4cha commented on #410
Somehow this only happens on iOS 13 on my side, not 0n iOS 12.
Clues are stacking...
- Only happens under iOS 13
- Only happens to `vide/avc1` format

[2020-01-07 10:06] mkals commented on #440
Thanks a lot for your answer, it makes a lot of sense to wait under these circumstances! Hopefully, support for resources is added soon. Thanks!

[2020-01-07 10:06] #440 closed, assigned to nobody

[2020-01-07 11:22] LiborZa commented on #410
@s4cha Did you find out where is the issue and how to fix this?

[2020-01-07 12:59] rbecharast-chwy commented on #410
I have the same issue And this happen to me on iOS 12 and 13. Any solutions? Thanks

[2020-01-07 13:40] s4cha commented on #410
Well, I just found the fix after 2 days of extensive search... 🥂
Setting `videosOptions.deliveryMode = .highQualityFormat` `line 71` of `LibraryMediaManager.swift` fixes it on my side.
The reason (I assume) is that other delivery modes grab degraded versions of the video (from iCloud for example) and the crop fails since the videos dimensions returned by `requestAVAsset` are actually lower than th

[2020-01-07 15:34] s4cha commented on #367
@UtkuDalmaz while trying to fix https://github.com/Yummypets/YPImagePicker/issues/410 I think I stumbled across the fix for this.
Setting `videosOptions.deliveryMode = .highQualityFormat` `line 71` of `LibraryMediaManager.swift` fixes it on my side.
The reason is that other delivery modes grab degraded versions of the video (from iCloud for example) and the resulting final video quality is degrade

[2020-01-07 16:04] rbecharast-chwy commented on #410
Hi @s4cha, I added the code line and now it is working!!! Thank you very much!

[2020-01-07 17:26] s4cha commented on #433
Thanks for reporting this will be tracked here: https://github.com/Yummypets/YPImagePicker/issues/404

[2020-01-07 17:26] #433 closed, assigned to nobody

[2020-01-07 17:29] s4cha commented on #391
Hi @Sehyris The latest version supports iOS13 (dark mode and some fixes).
Concerning the "video preview is not updated correctly" This will hopefully be available later this week. iOS13 got us all very busy 😅

[2020-01-07 17:36] s4cha commented on #383
Hi @JulienLevallois

[code]

I suggest you experiment with these to find the compression you're happy with :)

PS: Please excuse the oh so long reply 😂

[2020-01-07 18:49] UtkuDalmaz commented on #367
@s4cha yeah it is working good now. Thank you.
Btw man I posted a question on #373
Could you check it sometime when you are available?

[2020-01-08 08:50] s4cha commented on #410
@rodribech20 Thanks a ton for confirming the fix on you end. I will let you know when it's live :)

[2020-01-08 13:01] emresancaktar commented on #305
Did you find any solution ? I don't want to crope my image too.

[2020-01-08 17:24] rbecharast-chwy opened #442 "shot button/record button are hidden on iOS 12 in the latest version (4.1.3)"
**Describe the bug**
I updated to latest version (from 4.1.2 to 4.1.3) the shot button and record button disappeared on photo/video tabs for iOS 12. In iOS 13 is working.

**Screenshots**
![IMG_5439](https://user-images.githubusercontent.com/823023/72000592-669c0800-3222-11ea-97c1-5e1f64e2566f.PNG)
![IMG_5438](https://user-images.githubusercontent.com/823023/72000594-669c0800-3222-11ea-8dfd-833b65

[2020-01-08 17:30] rbecharast-chwy commented on #442
Also I could not see the rotate camera button and flash button. Thanks

[2020-01-09 08:59] s4cha commented on #373
@UtkuDalmaz Mmm I see. I actually never noticed that instagram cropped pictures even after tapping the "sizing button". There is no way to change it like instagram at the moment unfortunately. If you can I'd be curious to know what rule they apply, is it a certain image ratio?

[2020-01-09 09:00] s4cha commented on #367
@UtkuDalmaz thanks a ton for letting me know :) The new version is coming out today !
Btw I answered your question, please excuse the oh so late reply 🙏

[2020-01-09 09:05] s4cha commented on #305
@angelo-RSVP Never though of this and this is redundant indeed. We have other priorities (urgent bug fixes) at the moment but this definitely desirable.
@emresancaktar Have you tried `config.showsCrop = .none` (which is the default value) ?

[2020-01-09 09:16] s4cha commented on #438
@metawin99  thanks for noticing and letting us know :) @app-arianamini Thanks for issuing a fix !

[2020-01-09 09:35] #438 closed, assigned to nobody

[2020-01-09 09:35] s4cha commented on #438
This has just been fixed on master and will be available later today :)

[2020-01-09 09:50] s4cha commented on #434
Hi @RobSwish That is definitely a road we want to take. We have to support previous versions so this would only be available for iOS13 devices. I'm quite busy at the moment but feel free to take a crack at it with a PR :)

[2020-01-09 10:31] s4cha commented on #430
@gaetano78 thanks a ton for reporting this serious issue 🙏. Will let you know once a fix is issued

[2020-01-09 10:43] #430 closed, assigned to s4cha

[2020-01-09 10:44] UtkuDalmaz commented on #373
@s4cha I am sure it is a certain image ratio but I don't know exactly. The problem is that we use YPImagePicker to let our users share their stuff to our Instagram like feed, so when they tap "sizing button" of YPImagePicker it shows the full-size image and it looks too tall on the feed, I think that was also the reason Instagram doesn't use it at the full size.

[2020-01-09 13:03] s4cha commented on #391
@Sehyris could you check if your issue is solved in the latest version https://github.com/Yummypets/YPImagePicker/releases/tag/4.2.0 ?
Thanks

[2020-01-09 13:04] s4cha commented on #367
@bilgeeren @UtkuDalmaz @kasnitski The latest https://github.com/Yummypets/YPImagePicker/releases/tag/4.2.0 version should solve your issues. let me know how this goes :)

[2020-01-09 13:05] s4cha commented on #410
https://github.com/Yummypets/YPImagePicker/releases/tag/4.2.0 is out 🎉

[2020-01-09 13:06] s4cha commented on #438
This is now live in https://github.com/Yummypets/YPImagePicker/releases/tag/4.2.0

[2020-01-09 13:06] s4cha commented on #424
This is now live in https://github.com/Yummypets/YPImagePicker/releases/tag/4.2.0 :)

[2020-01-09 13:07] s4cha commented on #430
@gaetano78 This is now fixed in https://github.com/Yummypets/YPImagePicker/releases/tag/4.2.0

[2020-01-09 13:26] s4cha commented on #171
Closing for now for lack of activity, feel free to reopen if needed.

[2020-01-09 13:26] #171 closed, assigned to nobody

[2020-01-09 13:29] s4cha commented on #203
The `colors` struct in the config file now enables you to customize the colours :)

[2020-01-09 13:29] #203 closed, assigned to nobody

[2020-01-09 13:31] s4cha commented on #206
Closing this for lack of activity. Feel free to reopen if needed.

[2020-01-09 13:31] #206 closed, assigned to nobody

[2020-01-09 13:33] s4cha commented on #217
@utgodmode Can you try with the latest 4.2.0 release and let me know how this goes ? Thanks in advance !

[2020-01-09 13:38] s4cha commented on #429
@gu0315 have you tried the latest release 4.2.0
https://github.com/Yummypets/YPImagePicker/releases/tag/4.2.0 ?

[2020-01-09 13:41] s4cha commented on #280
Closing this for lack of activity. Feel free to reopen if needed :)

[2020-01-09 13:41] #280 closed, assigned to nobody

[2020-01-09 13:43] s4cha commented on #417
@Emefar I suggest you try the latest https://github.com/Yummypets/YPImagePicker/releases/tag/4.2.0 release. This probably fixes your issue along with other nice improvements. Let me know how this goes :)

[2020-01-09 13:43] #424 closed, assigned to nobody

[2020-01-09 13:44] s4cha commented on #425
Hi @TapanRaut is this still happening in the latest https://github.com/Yummypets/YPImagePicker/releases/tag/4.2.0 release ?

[2020-01-09 13:46] s4cha commented on #208
Closing for lack of activity, feel free to reopen if needed :)

[2020-01-09 13:46] #208 closed, assigned to nobody

[2020-01-09 13:50] s4cha commented on #399
Closing this for lack of activity, feel free to reopen if needed.

[2020-01-09 13:50] #399 closed, assigned to nobody

[2020-01-09 13:52] s4cha commented on #294
@jasudev eagle eye. Have no idea why at the moment. We need to investigate :)

[2020-01-09 14:02] s4cha commented on #235
@fikretsengul Have you found a way?

[2020-01-09 14:05] s4cha commented on #57
@lazar89nis Can you reproduce the issue with the latest release 4.2.0 ? I couldn't reproduce it on my side.

[2020-01-09 14:06] s4cha commented on #223
@zhangchenzhuo thanks a ton for the precision, the other issue is tracked separately :)

[2020-01-09 14:16] s4cha commented on #218
@blurtime AVAssetExportPresetHEVCHighestQuality works well on my side. any new on this?

[2020-01-09 14:55] emresancaktar commented on #305
Hello @s4cha thanks for the quick answer. Yes, I fixed my problem with `config.onlySquareImagesFromCamera = false`  somehow `config.showsCrop = .none` didn't work for me. Thanks for the library btw.

[2020-01-09 16:44] Sehyris commented on #391
Thanks @s4cha. I'm able to see the iOS13 fixes, however, the video preview is not working properly (it is better than before, after some seconds the overlapping view is removed). After switching between videos I can see the previous video in front of the selected video. Please see the attached images.
I'm using iPhone 8, OS 13.3 and library version 4.2.0.

<img width="551" alt="Screen Shot 2020-01

[2020-01-10 08:58] s4cha commented on #391
@Sehyris Now I understand with the screenshot. I somehow thought preview was referring to the crop screen in which we had a known bug, my bad. This one shouldn't be to hard to fix. Will keep you posted :)

[2020-01-10 19:29] deeplinkage opened #444 "Landscape recording"
When you record landscape (left or right) I can see there is orientation returned and videoObject with connections containing that orientation in `YPVideoCaptureHelper - startRecording()`

However on the Trim and later on my preview screen I can see that video is in Portrait mode, and now needs to be rotated to the rotation on which it was recorder.

So if I record video in the landscapeRight, I n

[2020-01-13 06:57] boboxiaodd commented on #410
good job!

[2020-01-13 06:57] #410 closed, assigned to nobody

[2020-01-13 12:44] midhun-tw opened #445 "Recent photos"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Please add an gallery option to pick recent images
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternat

[2020-01-14 04:00] EpicDraws commented on #186
Was anyone ever able to get this going with an ObjC project?

[2020-01-14 09:12] s4cha commented on #186
@EpicDraws I don't think so (yet). I could become compatible by switching swift `struct` to `class`.
The future proof way would be to migrate the Obj-C project to swift though 🙃

[2020-01-15 03:33] nguyenvanphituoc opened #446 "Disk space is very low: No Result 🛑"
**Description**
When my device have around 500mb left, i opened photo albums and chose images that make UI freeze of loading.

Steps to reproduce the behavior:
1. Go to photo albums by YPImagePicker
2. Choose images
3. Waiting...
4. Still waiting...

**Expected behavior**
Need a notice of error
Can I have a delegate func for error happened?

**Screenshots**
![IMG_C6A6E140E9CF-1](https://user-image

[2020-01-17 14:04] asimrazakhan commented on #413
I wants to have two button on the image capture view, can you help me achieving this.

[2020-01-17 14:44] schveiguy commented on #413
@asimrazakhan take a look at the code and see if you can duplicate the button setup. It shouldn't be too difficult. I'm happy with my hack for this, so not going to really put any more time into it.

[2020-01-18 07:54] Imanmf opened #447 "How can set Font to bottom buttons - library and camera buttons"
Hello, thank you for this amazing library. it is so good.
I need to change bottom button font.
I change nav bar item font with this code:
let attributes = [NSAttributedString.Key.font : UIFont.fontWith(style: .bold, size: .large) ]
        UINavigationBar.appearance().titleTextAttributes = attributes // Title fonts
        UIBarButtonItem.appearance().setTitleTextAttributes(attributes, for: .norma

[2020-01-19 09:30] BossOz commented on #428
I think there is already this feature.
I'm using this
[code]
This is working for me.
Hope this help.

[2020-01-23 09:42] fishfisher opened #448 "Save button white on white - not visible."
After selecting photo and user is sent to Crop - the Save button in the bottom right corner is not visible due to white tint on white background. Visible when switching to dark mode.

**Environment**
 - Device: iPhone11Pro
 - OS: iOS13.3
 - Xcode Version 11.3.1
 - Swift Version 5

**Installation Type**
 - Cocoapods

[2020-01-27 06:14] userSV commented on #441
Have you got any fix for this issue? I am facing the same issue randomly.

[2020-01-28 13:32] nastasiupta opened #450 "Cancel button now showed in navigation bar"
**Describe the bug**
A clear and concise description of what the bug is.
When I open the YPImagePicker, the cancel button is not showed. But if i tap on the navigaton bar, the cancel completion is called. After I make a photo I have the next button and the back button displayed.

**To Reproduce**
Steps to reproduce the behavior:
I used this configuration:
[code]
**Expected behavior**
A clear and c

[2020-01-28 13:45] nastasiupta opened #451 "Set different title color for Library/Camera/Video"
**Is your feature request related to a problem? Please describe.**
For "Library" title is black, and for "camera"/"v"ideo is white. Should be nice to be able to change that

**Describe the solution you'd like**
configuration.colors.libraryTitleColor = ...
configuration.colors.cameraTitleColor = ...
configuration.colors.videoTitleColor = ...

(or maybe just one method for all 3)..

**Describe alter

[2020-01-29 14:26] #450 closed, assigned to nobody

[2020-02-06 07:18] pushpankq commented on #218
AVAssetExportPresetHEVCHighestQuality is also not working in my iPhone 6

[2020-02-06 07:24] pushpankq commented on #218
and I found a link regarding this

https://support.apple.com/en-us/HT207022

I think iPhone 6 doesn't support HEVC

https://support.apple.com/en-us/HT207022

[2020-02-07 04:44] iceyu07 opened #453 "Value of type 'YPConfigLibrary' has no member 'isSquareByDefault'"
config.library.isSquareByDefault = true
<<<<<<<<
   Value of type 'YPConfigLibrary' has no member 'isSquareByDefault'

[2020-02-07 17:37] Shivani-Bajaj opened #454 "Unable to run the project in higher version of xcode i.e with higher swift version than compiled framework version"
1.  Fork the project
2. Then clone the project
3. On running the project in xcode 11.3.1, it gives the error "Module compiled with Swift 5.0.1 cannot be imported by the Swift 5.1.3 compiler" in file YPFiltersView, on line "import Stevia"

[2020-02-09 08:07] TilakMaddy opened #455 "Error while integrating in Swift UI"
Below is an attempt to integrate YPImagePicker into SwiftUI.  So when I call `YummyViewController` inside a `VStack` in the main body of `ContentView` I get the error described below

[code]

**CONSOLE MESSAGE**

[2020-02-09 08:44] TilakMaddy opened #456 "A working model in SwiftUI please !"
I am always frustrated when it comes to integrating pre-made Swift projects into Swift UI projects because the code always seems to break.

I want a working model that I can call in SwiftUI directly like ...
`YummyPets(config: config)
      .onPickedItems { items in
              ......
             ......
      }
`

As an alternative , I tired creating a struct extending `UIViewControllerRepresen

[2020-02-10 17:50] anoels commented on #455
Here is the solution:

[code]

[2020-02-14 10:51] carmelogallo opened #457 "YPMenuItem's textLabel font"
Hey guys!

Seems that there is no way to have a custom font for YPMenuItem's textLabel :)

Can you guys add that possibility? Right now it is static to `UIFont(name: "Ubuntu-Medium", size: 16)` and I have to change it manually every time.

Thanks

[2020-02-14 10:56] carmelogallo opened #458 "Picker is dismissed automatically if noPhoto even though user can always take a picture!"
Hey guys!

I've just faced which I think is a wrong user experience. In case the device has no photo the picker is automatically dismissed even though I have set the picker with the possibility to take a photo with the camera.

I just add this work around in`YPPickerVC` replacing `noPhotosForOptions()` method with the follow one:
[code]

Hope I can find it in the next release!!!

[2020-02-24 09:11] greatokonkwo opened #459 "Retrieving GIF image data from the users camera roll"
You guys have really done a stellar job with this open-source project. I was wondering how I could retrieve gif data from the gif images saved on the user's camera roll?

[2020-02-25 12:20] Afrah-Tayyab opened #460 "i want to select multiple picture from library."
want to select multiple picture from library.

i want to select multiple pictures from library and as given code in the example i am doing same. i.e

            for item in items {
                switch item {
                case .photo(let photo):
                    print(photo)

 ------------->  self.imagesList.append((photo.asset?.image)!)
the code infant of arrow making an issue that asset

[2020-02-27 03:33] chokyungjin opened #461 "Hi , I want to apply LUT to image"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-02-28 13:41] TilakMaddy commented on #455
yeah but I figured out a much shorter solution. And I am not sure if what
you are saying is correct , did you actually test it ?

[2020-02-28 13:50] anoels commented on #455
Yes, I have tested. It works.

[2020-02-29 07:27] 1262068532 commented on #458
Hi I also noticed this issue, however your above code doesn't work. Any suggestions?

[2020-03-01 14:07] KaufmannTrofim commented on #455
Doesn't work for me. I am still getting the same warning in console. How I can fix it?

[2020-03-01 15:29] anoels commented on #455
Please try the following one: "to call the struct (YummyView(image: Binding<Image?>#>)

`class YPImagePickerUIViewController: UIViewController {

    var selectedItems = [YPMediaItem]()

    let selectedImageV = UIImageView()
    let pickButton = UIButton()
    let resultsButton = UIButton()

    override func viewDidLoad() {
        super.viewDidLoad()
        view.backgroundColor = .systemBackgr

[2020-03-01 15:41] KaufmannTrofim commented on #455
Thank you! It worked

[2020-03-03 03:43] #461 closed, assigned to nobody

[2020-03-03 09:46] sssbohdan opened #463 "Single tap to deselect"
Right now to deselect photo in multiple selection mode user taps the first time on the image and it appears in preview and then taps the second time to deselect. Can it somehow be configured so everything is done by single tap? Thanks.

[2020-03-04 09:12] #463 closed, assigned to nobody

[2020-03-05 05:32] bstarsolutions commented on #233
Hi you,
Same the question, Pls let me know the way dismiss CameraView(LibraryView) when User click doesn't allow (Cancel button)on the permission alert. I would like to callback action back to previous after the user revokes it.
Thanks!
Hieu Bui

[2020-03-05 06:37] bstarsolutions opened #464 "Get action when don't allow access camera or library"
Hi you,
Pls, let me know the way dismiss CameraView(LibraryView) when the User clicks don't allow (Cancel button)on the permission alert. I would like to callback action back to previous after the user revokes it.
Thanks!
Hieu Bui

[2020-03-06 10:19] carmelogallo commented on #458
For me it is working. No clue why for you doesn't.

[2020-03-06 10:20] carmelogallo commented on #409
Some problem here but only when I try to crop an image doing a zoom+scroll. Then if I choose another image and select back the one that I've edited, it will return to the original zoom+scroll. Any clue when this will be added?

[Screen Recording 2020-03-06 at 22.02.17.zip](https://github.com/Yummypets/YPImagePicker/files/4300388/Screen.Recording.2020-03-06.at.22.02.17.zip)

[2020-03-06 10:23] carmelogallo commented on #409
@s4cha could you help here? This is a valid point that in my opinion should be fixed.

[2020-03-06 12:38] UtkuDalmaz commented on #367
@s4cha sorry for the very late reply but this time I have a problem when a video recorded via YPImagePicker, check this video please https://drive.google.com/open?id=1p7dBU6w-i_VE8adQPscO0tinV0Sh5yqW

There is a strange black space under the video and it is not in expected sizes

[2020-03-07 21:17] UtkuDalmaz opened #465 "Black space on video after recorded via YPImagePicker"
I have a problem when a video recorded via YPImagePicker, check this video please

https://drive.google.com/open?id=1p7dBU6w-i_VE8adQPscO0tinV0Sh5yqW

There is a strange black space under the video and it is not in expected sizes

[2020-03-10 06:04] NikhilGangurde opened #466 "images should be selected in gallary if some images are selected at first."
**Is your feature request related to a problem? Please describe.**

I have set my library maximum item to 9. First, I selected 4 images from the gallery and then again open YPImagePicker and select 2 images and those images are added to the first 4 image array(until this works fine.) If I open YPImagePicker again and select 4 images it is exceeding the maximum count which causes that all images ar

[2020-03-11 06:50] metawin99 opened #467 "Func defaultMultipleSelection not working"
**Describe the bug**
set confix app
config.library.defaultMultipleSelection = true

**To Reproduce**
Steps to reproduce the behavior:
1. Go camera

**Expected behavior**
multiple selection show default

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the following information):**
 - Device: [e.g. iPhoneX]
 - OS: [e.g. iOS12]
 - Xcode Ver

[2020-03-11 10:04] metawin99 opened #468 "set defaultMultipleSelection show image album display wrong"
**Describe the bug**
when defaultMultipleSelection

**To Reproduce**
Steps to reproduce the behavior:
1. set defaultMultipleSelection = true
2. show album in image gallery
3. display wrong

**Expected behavior**
right space in image

**Screenshots**
[<a href="https://ibb.co/vh02DzN"><img src="https://i.ibb.co/BG08wsh/Simulator-Screen-Shot-i-Phone-11-Pro-Max-2020-03-11-at-16-56-54.png" alt="Simulat

[2020-03-11 23:55] Steveaxelrod007 commented on #352
Same here, any way we can easily fix this?

[2020-03-12 10:53] Ganesh623 opened #469 "Add SPM Support"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-03-17 18:53] sssbohdan commented on #415
Hi, I have the same issue. Have you been able to fix that? Thanks.

[2020-03-17 18:59] schveiguy commented on #415
I haven't solved it, as it's not super-critical (you can still go back and forth with swiping, and there is a way to get out of it with the back button or deselecting multi-photo). Plus the use case is not usual -- you know most times whether you are going to take a photo or import from the library, so you don't spend a lot of time going back and forth.

I just wanted to report it more as a nuisan

[2020-03-19 02:20] jinthislife commented on #467
Did you set maxNumberOfItems as well?
For example,

        var config = YPImagePickerConfiguration()
        config.library.defaultMultipleSelection = true
        config.library.maxNumberOfItems = 10

[2020-03-19 04:06] #467 closed, assigned to nobody

[2020-03-19 05:44] jinthislife commented on #428
By setting defaultMultipleSelection as true or false, you can turn it on or off.

For example,

    var config = YPImagePickerConfiguration()
    config.library.defaultMultipleSelection = true
    config.library.maxNumberOfItems = 10

[2020-03-20 21:53] OmegaWulf commented on #465
I'm seeing the same issue.

[2020-03-21 14:45] UtkuDalmaz commented on #417
I am having the same problem and I don't know how it happened. It just disappeared. It only happens in ios13 not ios12

[2020-03-21 14:57] UtkuDalmaz commented on #465
Anyone here? @s4cha

[2020-03-26 09:31] bahampton commented on #455
Without use of a coordinator how do you go about passing back data to the swiftUI View/Navigate to other swiftUI views on completion?

[2020-03-26 11:27] anoels commented on #455
@Binding is one of SwiftUI’s less used property wrappers, it lets us declare that one value actually comes from elsewhere, and should be shared in both places.

[2020-03-27 13:57] ProKashif opened #472 "App Crash"
**Describe the bug**
App Crash on Camera capture click

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Open Camera'
2. Click on 'click camera capture photo button'
4. See error

**Expected behavior**
Fatal Exception: NSGenericException
0  CoreFoundation                 0x204220ec4 __exceptionPreprocess
1  libobjc.A.dylib                0x2033f1a50 objc_exception_throw
2  AVFoundation

[2020-03-30 05:13] #185 closed, assigned to nobody

[2020-04-03 20:04] faganello60 opened #473 "Swift Package Manager?"

[2020-04-03 22:27] dillonsvincent commented on #465
I'm also experiencing this only with videos taken with YPPicker, It looks like it's cutting off the top portion of the video. It not only does this in the trim preview but also in the final video as well.

[2020-04-06 19:47] roip890 commented on #451
This will let you change the "Library" color:
`UINavigationBar.appearance().titleTextAttributes = [.foregroundColor: foregroundColor]`

[2020-04-06 20:08] brhoomjs opened #474 "Black video from library after compress"
**Describe the bug**
Some .MP4 videos selected from the library sent by WhatsApp. After select it turned fully black with audio.
![IMG_5496](https://user-images.githubusercontent.com/12615977/78600301-c3c84980-7863-11ea-9559-988f79bc539b.PNG)

**Environment**
 - Device: [iPhone 11 Pro]
 - OS: [13.4]
 - Xcode Version [11.4]
 - Swift Version [5.0]

**Installation Type**
 - Cocoapods

[2020-04-07 08:06] cwestMobile commented on #465
Plus one!

[2020-04-09 19:50] zainanjum100 commented on #369
i want to do the same , how did you fix this

[2020-04-11 18:30] victors1681 commented on #186
I created a swift bridge then a callback function to return the image in Objective-C

[code]

[2020-04-11 19:46] BillBunting commented on #186
@peakerWu , similar to @victors1681 , I wrapped it to expose it to Objective C with the settings I want for my app. Calling it from Objective-C becomes very simple.

[code]

Then call it as follows from Objective C.

[code]

[2020-04-15 00:35] fantasma10 commented on #465
Plus one!

[2020-04-15 17:27] fantasma10 commented on #465
Plus one!

[2020-04-15 23:25] ArmyXomuiL opened #475 "Xcode 11.4"
Cannot build by Xcode 11.4.
Xcode 11.2 - all ok on the same code.

<img width="980" alt="Снимок экрана 2020-04-16 в 02 23 56" src="https://user-images.githubusercontent.com/8521655/79398483-777ab900-7f89-11ea-9d36-65bd60660e07.png">

[2020-04-16 12:18] userSV opened #476 "How can i display the picker with some set of images selected?"
I am displaying the picker and when the user selects some images and then dismiss the picker, I want to present the picker again with the last images selected as pre-selected on picker. Does the current functionality supports it? or is there any approach to do that.

[2020-04-17 08:18] wzio commented on #409
[fixed by this](https://github.com/Yummypets/YPImagePicker/pull/411), this will be closed

[2020-04-17 08:18] #409 closed, assigned to nobody

[2020-04-17 09:31] aaparth opened #477 "Next button disable by default"
**Describe the bug**
When the gallery view is open and the first image is selected then at that time the Next Button is disabled as it should be enabled.

**To Reproduce**
Steps to reproduce the behavior:
Check the attached image

**Expected behavior**
Next button should be enabled by default

**Screenshots**
If applicable, add screenshots to help explain your problem.

[https://drive.google.com/f

[2020-04-17 16:07] keyhan76 opened #478 "Crash in YPLibraryVC.multipleSelectionButtonTapped()"
**Environment (please complete the following information):**
 - Device: iPhone 7 Plus
 - OS: 13.3.1
 - Xcode Version 11.4.0
 - Swift Version 5.2

**Installation Type**
 - Cocoapods

**Additional context**
There is no additional log file. Just got this crash report in Crashlytics and it's on line 149 of YPLibraryVC.swift .

[2020-04-18 15:49] carmelogallo commented on #409
@wzio Is it fixed though? In which version?I still don't see the fix.

[2020-04-18 16:10] carmelogallo opened #479 "`func resizedImageIfNeeded() -> UIImage` white bottom line if size has decimals"
In base of the original image size, the `resizedImageIfNeeded()` resize it to a size with decimal values ( 100,5) which as result, the final image will have a white lines at the bottom and right. Check the attached screenshoot that was made forcing the return size to `1449,5`.

![Screenshot 2020-04-18 at 18 08 07](https://user-images.githubusercontent.com/895478/79642747-a9656880-819f-11ea-83c5-47

[2020-04-20 21:01] dillonsvincent opened #480 "Mute Video Previews"
Is there a way to start video previews muted, they always start with sounds I'd like to start all videos in the preview, and trim views muted.

[2020-04-22 13:32] nastasiupta opened #481 "Disable images preview in library images picker"
**Is your feature request related to a problem? Please describe.**
I want to use the library picker function, without having to show the preview square, on top of library images content.

**Describe the solution you'd like**
I think the best option is to have a flag in YPConfigLibrary
displayImagesPreview: Bool = true // display images preview by default, during selection

**Describe alternatives

[2020-04-23 13:11] xxKRASHxx commented on #474
The same, not only for the WhatsApp , but for edited videos from gallery.

[2020-04-24 00:57] pduvall commented on #112
Further to Tom's previous comment, there is still no apparent way to enforce a max duration limit on videos while also allowing longer videos from the library to be trimmed to that same max duration. This would be very helpful for some common use cases, and most of the necessary functionality to accomplish this is already implemented in the library.

[2020-04-28 12:58] ManuelEMR opened #483 "Recorded portrait video is rotated on selection"
After choosing a recorded portrait video, the video's thumbnail is getting rotated, also when I try to upload this video anywhere else it's also rotated.

Why is this happening or how can I disabled it?

[2020-04-30 17:41] DanielZanchi opened #484 "Avoid compression"
Is there any way to avoid video compression?

I only need to get the thumbnail of a video, the compression is slow and I will not use the video anyway.

[2020-05-01 10:50] xxKRASHxx commented on #474
@brhoomjs  have you tried on a real device? Seems the issue reproduces only on a simulator

[2020-05-03 20:04] LeenaTekani commented on #474
Same issue faced when I tried to pick the boomerang videos with 3 second

[2020-05-04 09:25] TeeAche commented on #455
Hello,
Thank you all for the informations. I managed to get it working, but when I click on cancel button, the YPImagepicker always reappears as I suppose the Button toggle is still on true. How can I change the toggle state back in my contentView? Thanks a lot!

[2020-05-04 10:08] Maulik699 commented on #459
Any update on this? I also want to select GIF from photo library but it's not working. please fix this.

[2020-05-04 18:13] UtkuDalmaz commented on #465
I guess this project is no longer maintained

[2020-05-05 18:39] hezhez commented on #484
I was looking also for an answer to this issue, how can i skip compression ?

[2020-05-10 18:09] M-I-N opened #486 "How to disable multiple selection if video item is being selected?"
I'm in a state where multiple images can be picked but not multiple videos. This also means, in the multiple selection mode, if any video item is selected the multiple selection needs to be switched to single mode selection.

I'm already using `config.library.maxNumberOfItems = 5` to be able to pick multiple media items. But I can't find a way to accomplish the scenario described above.

[2020-05-10 23:43] ahmedsafadii commented on #472
same for me

[2020-05-11 10:57] nastasiupta commented on #474
@xxKRASHxx  This issue happens on a real device as well.
I have the same issue with the compression.
Here is a video that I received on WhatsApp:
https://drive.google.com/file/d/1bHEs-iUAS-qPYFiqOeHKFm0aZyBxJEso/view?usp=sharing

[2020-05-11 11:51] nastasiupta commented on #484
I have the same issue with the compression.
Here is a video that I received on WhatsApp:
https://drive.google.com/file/d/1bHEs-iUAS-qPYFiqOeHKFm0aZyBxJEso/view?usp=sharing

[2020-05-11 12:43] NikKovIos commented on #486
@M-I-N hello!) Sorry, don't have time for this now. Can you fix it and create a PR by yourself?

[2020-05-13 11:01] nastasiupta commented on #367
I still have this issue... you can get the video from here: https://drive.google.com/file/d/1bHEs-iUAS-qPYFiqOeHKFm0aZyBxJEso/view?usp=sharing

[2020-05-18 02:37] rahulravindran0108 opened #487 "didFinishPicking never called when instantiating another imagePicker inside navigation context"
I ran into a weird problem, though managed to solve the issue on my own. I am wondering if this is to due to some sort of singleton pattern being applied in the `YPImagePicker` navigation context.

## What I tried to do

Instantiate a regular image only `YPImagePicker` and in this instance's `didFinishPicking` - push my own View controller (VC) so clicking back got me back into the filter VC. With

[2020-05-19 17:12] tony-halloapp opened #488 "Order is not respected when selecting multiple video"
If multiple selection is enabled and multiple videos are selected (ie. 10 videos) the order in which they are selected are not respected in didFinishPicking

Note: The ordering for images work fine

[2020-05-19 20:06] mlm249 commented on #402
This way seemed to work for me

[code]

[2020-05-20 07:05] CivelXu opened #489 "Module compiled error"
Module compiled with Swift 5.1.3 cannot be imported by the Swift 5.2.2 compiler: /Users/civelxu/Downloads/YPImagePicker-master/Carthage/Build/iOS/Stevia.framework/Modules/Stevia.swiftmodule/x86_64.swiftmodule

[2020-05-20 14:54] Mani-gloify opened #490 "How to get image name while selecting an image"
I am selecting an image and I need image name which was saved in photos app.

[2020-05-20 17:51] Abhishek224 commented on #475
Any updates on this ??

[2020-05-21 01:26] Amang-dezhi commented on #465
Find this line of code:
let t1 = CGAffineTransform(translationX: clipVideoTrack.naturalSize.height, y: -(clipVideoTrack.naturalSize.width - clipVideoTrack.naturalSize.height) / 2)

and change it to:
        let t1 = CGAffineTransform(translationX: clipVideoTrack.naturalSize.height, y: 0)

[2020-05-21 08:37] UtkuDalmaz commented on #465
Thanks It worked!

[2020-05-21 11:25] zrfrank commented on #469
Upvote for SPM support!

[2020-05-22 01:20] Amang-dezhi commented on #465
I think, if
"YPConfig.onlySquareImagesFromCamera" is true, then
let t1 = CGAffineTransform(translationX: clipVideoTrack.naturalSize.height, y: -(clipVideoTrack.naturalSize.width - clipVideoTrack.naturalSize.height) / 2)
is right; when it's false, then we should use:
let t1 = CGAffineTransform(translationX: clipVideoTrack.naturalSize.height, y: 0)

[2020-05-22 10:23] brhoomjs commented on #474
For all devices with all versions.

[2020-05-24 12:55] carmelogallo opened #491 "Wrong NavigationBar layout in iOS 13 with "card" presentation style"
Hey guys,

as described in the title, I get a wrong navigation bar layout in iOS when I present the picker not in fullscreen.

See attached picture:
![IMG_74588BA1AB4D-1](https://user-images.githubusercontent.com/895478/82754625-70d43280-9dce-11ea-9084-8e36c79bfcf3.jpeg)

The weird part is that with an iPhone with top notch like iPhone X or 11 I don't have the problem. It only occurs on iPhone wit

[2020-05-25 16:04] Clint1994 commented on #402
@mlm249  Thank you.

[2020-05-26 06:35] kyounghak opened #492 "How to show multiple image selected if image item is being selected?"
is there any ways or functions to show if the image is already selected when present picker

[2020-05-26 07:40] kyounghak commented on #328
still not supported?

[2020-05-26 14:11] turk-jk commented on #474
I have the same problem with real devices. Mainly I have seen it to happen in videos that were recorded on Android device. not always. but very frequently with this set up.

[2020-05-26 19:48] glaphi commented on #491
Did you set modalPresentationStyle = .fullScreen
before presenting this controller?

[2020-05-26 19:52] carmelogallo commented on #491
No because the whole point is to have it with the new iOS 13 presentation style. And as I said, works perfectly on iPhone X, Xr, Xs and 11.

I guess something is off in the way you handle the layout. I’d check there :)

[2020-05-26 20:09] brhoomjs commented on #474
Thanks :)

[2020-05-26 20:09] #474 closed, assigned to nobody

[2020-05-28 15:20] nastasiupta commented on #367
@s4cha  @NikKovIos  any updates on this? :)

[2020-05-28 15:41] andreyyudin commented on #413
@asimrazakhan were you able to add another button or find an alternative library?

[2020-05-28 21:31] NikKovIos commented on #367
The original thread is fixed by s4cha. if you need, please, create new issues with good description :)

[2020-05-28 21:31] #367 closed, assigned to nobody

[2020-05-28 21:34] NikKovIos commented on #491
Show your code how you present picker. Also check the example - i test it on iPhoneSE and it works well.

[2020-05-28 21:36] NikKovIos commented on #478
Sorry, it's not enough info to fix it. Thanks for your time :)

[2020-05-28 21:36] #478 closed, assigned to nobody

[2020-05-28 21:40] #391 closed, assigned to s4cha

[2020-05-29 14:28] nastasiupta commented on #484
@s4cha  @NikKovIos  any thoughts on this guys :)? For a recorded video of 1 minute, it takes about 30-35  seconds to fetch...

[2020-05-30 15:59] keyhan76 commented on #208
I'm getting the same crash on version 4.2.0 on iPhone Xs Max, iOS 13.5

[2020-05-30 22:11] armaghan84 opened #494 "Capture multiple images with single tap with 2s delay"
Is there way to archive this?

Capturing multiple images in-camera view while tapping shoot button once with 2s delay in capturing.

[2020-06-01 15:50] justColbs opened #495 "Option to remove the photo preview in library for easier multiple selection"
**Describe the solution you'd like**
The selected photo preview when viewing Library can take up a lot of space. I would love to be able to remove that so that all the photos will fill the view and multiple selection will be faster and easier.

Would this be considered if I submitted a PR for it?

[2020-06-02 06:49] s4cha commented on #473
Hi @faganello60 This is in discussion here: https://github.com/Yummypets/YPImagePicker/issues/469

[2020-06-02 06:49] #473 closed, assigned to nobody

[2020-06-02 06:51] s4cha commented on #469
Hi, Swift package manager support is one of the main goals on the roadmap.
At the moment SPM does not support resources in packages (xibs/fonts/images).
I have to check if there is a way to bypass this limitation until SPM supports resources, which is on their roadmap. Until then we need to be patient :)

[2020-06-02 07:40] s4cha commented on #475
This is an annoying problem happening when using pre-built frameworks, here via Carthage.
What happens is that Carthage frameworks were built with a different version of Xcode (there are so many out there !). A useful command to know is `carthage update [LibName] --no-use-binaries`, which builds the Carthage dependency with the local version of Xcode :).
In our case we need to do
[code]
This shoul

[2020-06-02 07:42] s4cha commented on #475
I just pushed the fix with libraries built with latest Xcode (11.5)

[2020-06-02 07:45] Abhishek224 commented on #475
The support from stevia has been removed from pod for higher versions of swift.
So just this can be fixed by integrating stevia as a package dependency solution to the project. this fixes it all.

[2020-06-02 07:45] Abhishek224 commented on #489
The support from stevia has been removed from pod for higher versions of swift.
So just this can be fixed by integrating stevia as a package dependency solution to the project. this fixes it all.

[2020-06-02 07:46] Abhishek224 commented on #429
The support from stevia has been removed from pod for higher versions of swift.
So just this can be fixed by integrating stevia as a package dependency solution to the project. this fixes it all.

[2020-06-02 07:51] s4cha commented on #475
Yep indeed, @Abhishek224 can you confirm that Cocoapods supports embedded Swift Package manager dependencies? If so this is a no-brainer indeed :)

[2020-06-02 07:54] s4cha commented on #475
We need to make sure this works with Carthage as well. I am going to experiment and will report back !

[2020-06-02 08:21] s4cha commented on #475
@Abhishek224 PryntTrimmerView does not support SPM at the moment, and it has embedded resources, which prevents adding support. On simple solution might be to manually link it.

[2020-06-02 08:27] Abhishek224 commented on #475
Agreed to the approach, though once I would to like to play around that as well. Will post here if any updates

[2020-06-02 08:28] Haibo-Zhou commented on #489
I get the same issue, so how could I fix this?

[2020-06-02 08:29] Abhishek224 commented on #489
For now you may add stevia as a dependency in SPM to get it ongoing.

[2020-06-02 18:12] Haibo-Zhou commented on #489
Thx, it is fixed, however there is another one - "Module compiled with Swift 5.1.3 cannot be imported by the Swift 5.2.2 compiler: /Users/Chuck/Downloads/YPImagePicker-master/Carthage/Build/iOS/PryntTrimmerView.framework/Modules/PryntTrimmerView.swiftmodule/x86_64.swiftmodule".

It seems that PryntTrimmerView has no SWP support now.

[2020-06-02 18:37] Abhishek224 commented on #489
Yes the PryntTrimmerView has no SPM support, you can add it manually to get it working.. I did not had much of need for prynt trimmer framework.. so

[2020-06-03 03:56] roarapps opened #496 "Catalyst Support Please!"
Trying to build this in Catalyst and getting an error, be good to have a wrapper so it won't fail

'jpegPhotoDataRepresentation(forJPEGSampleBuffer:previewPhotoSampleBuffer:)' is unavailable in Mac Catalyst

[2020-06-03 04:28] Haibo-Zhou commented on #489
Noted! I want to have a run on the example project of YPImagePicker to see what it is worked like. And to decide if I use it or native Core Image. Well, I care about only images effect too:) So I may try to remove the prynt trimmer things from example code.

[2020-06-03 04:40] Haibo-Zhou opened #497 "Is this available on Swift UI?"

[2020-06-03 12:26] nastasiupta opened #498 "Memory issue for 4k 60fps video (5min ~1GB)"
**Describe the bug**
I have one video recorded before, using an iPhone 11 (4K 60 FPS video length about 5 mins and 30 seconds).
Works fine with small videos (2mins)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Camera' app
2. Switch to Video and select 4K and 60FPS (default is HD and 30FPS)
2. Record a video ... 5 mins (
3. Open your app, add media (video)
4. Select the video that y

[2020-06-04 14:22] s4cha commented on #484
Hi @DanielZanchi @hezhez @nastasiupta
I think th option you're looking for is:
[code]
as per the Apple documentation states
[code]
I tried on my side with a big video and it seems to do the trick. It will also bypass crop since it gives the raw video. It is not instantaneous for long videos but it seems to be 10x faster than when using compression presets.
Let me know if that works on your side :)

[2020-06-04 14:28] s4cha commented on #498
This is discussed in https://github.com/Yummypets/YPImagePicker/issues/484

[2020-06-04 14:28] #498 closed, assigned to nobody

[2020-06-05 09:09] fukemy opened #499 "get all photo from picker"
hello, as your tutorial i just see the way to get single photo
[code]

so if i want to get all photo that i picked, please update the doc plz

[2020-06-05 09:15] fukemy commented on #499
sorry im wrong in doc knowledge,
[code]
its work

[2020-06-05 09:15] #499 closed, assigned to nobody

[2020-06-05 11:50] Rajesh9274 commented on #333
This solution not working in latest i tried but i cant disable cover button.

[2020-06-06 21:15] janczakb opened #500 "Support Categories filter"
Example:

![7A3F486E-D65A-46C0-975D-916E6369953F](https://user-images.githubusercontent.com/4959534/83954683-98ee7780-a84b-11ea-8448-c75cb3bd71a0.gif)

[2020-06-06 21:18] janczakb opened #501 "support for Polish language"
I can create a Polish translation for you

[2020-06-06 21:35] janczakb opened #502 "basic functions such as brightness, contrast, sharpening, saturation, etc. are missing"
basic functions such as brightness, contrast, sharpening, saturation, etc. are missing

[2020-06-08 02:43] h3x22 commented on #460
I also have the same problem, can u help me ? @s4cha

[2020-06-08 07:31] FurkanEmin opened #503 "Image Crop"
How can i disable image cropping ?

[2020-06-08 07:33] #503 closed, assigned to nobody

[2020-06-08 21:42] mendesbarreto commented on #423
This feature will be very helpful.

[2020-06-12 01:36] roarapps commented on #502
Thats not basic function...

[2020-06-14 20:34] anya-ji opened #506 "[Question]change navigation bar color different from that of the entire app"
I have set UINavigationBar.appearance() for other views. As a result, the navigation bar of the picker will always have the same color as the other views, and the UI configurations doesn't work in this case.
Is there a way to work around to only change the navigation bar color of the picker?
Thanks!

[2020-06-15 12:34] boblepepeur commented on #496
Same here, thanks for this amazing picker !

[2020-06-15 12:43] boblepepeur commented on #496
Looks very easy to support Catalyst,

just add

`#if !targetEnvironment(macCatalyst)
...
#endif`

where you have some errors

[2020-06-17 03:56] roarapps commented on #496
Yea, i guess we could do a PR. I vote @boblepepeur to do this :)

[2020-06-17 05:43] turk-jk opened #507 "YPVideoFiltersVC -> Don't have coverImage or asset"
**Describe the bug**
YPVideoFiltersVC -> Don't have coverImage or asset. in VideoFiltersVC.swift line 137

**To Reproduce**
Steps to reproduce the behavior:
1. Go to camera video view
2. Click on record and stop recording after sometime
3. click on next in the nav bar in the trim and cover view. You will see endless activity indicator
4. See error in Xcode debug
 YPVideoFiltersVC -> Don't have cov

[2020-06-17 06:01] cimonk commented on #483
I have this problem too.
Could any one help us?

Updated:
I found the point, if it set as below, it will get the wrong orientation video

But if it set as below, it will get the correct orientation video

or

Is your problem same with it?

[2020-06-17 07:05] boblepepeur commented on #496
ahaha, I will take a look, i can compile it on catalyst but the view is broken on big screen

[2020-06-17 07:23] UtkuDalmaz commented on #465
@s4cha can you please update the project with this fix?

[2020-06-17 09:47] keyhan76 opened #509 "Crash on `YPImagePickerConfiguration()`"
After updating to latest version of library from version 4.0.0, it crashes on 'YPImagePickerConfiguration()'.
Xcode Version: 11.5 (11E608c)
Swift: 5.2
iOS: 13.5

[2020-06-18 13:17] ashisht85 commented on #404
Hi Sir,
I am using YPImagePicker Library in our iOS Swift 4 code App. but in this library I am facing a major issue. when we capture video from android device and upload/load this video via YPImagePicker Library to our app. then this Library is showing black cover image and Thumbnail image. while this video is properly working on android device. here we are attaching some screen shot where this li

[2020-06-19 17:29] sanketfirodiya opened #510 "Change order of selected photos/videos"
IG offers this and could be useful if users want to arrange selected photos and videos in a specific order.

Happy to contribute to building this, but wanted to understand any historical context around why it doesn’t exist, if it’s a bandwidth issue or something else.

[2020-06-22 06:26] cielojr commented on #492
use config settings
`imagePickerConfig.library.preselectedItems = [<YPMediaItem>]  `

[2020-06-24 06:47] twinkalH opened #511 "addInfiniteScroll is not calling in XR in collectionview"
**Describe the bug**
addInfiniteScroll method is not calling in collectionview in iPhone XR while it is working well with the tableView. Scrolling direction is Vertical.

**Expected behavior**
addInfiniteScroll should working well in all devices and in any version

**Screenshots**
![Screenshot 2020-06-24 at 12 16 30 PM](https://user-images.githubusercontent.com/54909636/85510146-91cdb480-b614-11ea

[2020-06-24 07:00] #511 closed, assigned to nobody

[2020-06-25 08:33] #507 closed, assigned to nobody

[2020-06-25 10:02] IhorChernysh opened #512 "Black screen when Video tab selected"
Hello!
The problem is - when switching the tabs, the screen is black when selected 'Video' tab. Any ideas about it?

[2020-06-25 12:23] ljs19923 commented on #491
@cikpis did you find a solution ? I have the same problem.. with my ios 13, iphone 11 pro

[2020-06-25 13:15] carmelogallo commented on #491
My mistake was that I was presenting the picker inside another UINavigationController :)

[2020-06-25 13:17] carmelogallo commented on #491
I'm closing this and sorry for not doing this before, cheers!

[2020-06-25 13:17] #491 closed, assigned to nobody

[2020-06-26 21:39] Ludotrico opened #513 "Decrese second jump when picking video thumbnail"
As of now, when choosing a thumbnail, it seems like the jumps are quite drastic about 2-3seconds.

I think it would be beneficial if the thumbnail range was decreased to 1 second or a sub-second time. This would allow for more precise thumbnail curation.

Thoughts?

[2020-06-26 21:42] Ludotrico opened #514 "Multiple selection dimension inconsistency"
I am aware that this library is meant to copy instagrams media picker.

One issue I have found is that when selecting multiple peices of media from the library, the dimensions are inconsistent. If the user picks a photo with a 1:1 ratio and then an image with a 16:9 ratio, the library does not force one ratio or the other like instagram does.

Currently this feature:
`config.library.onlySquare = t

[2020-06-27 17:55] tarasChernysh commented on #512
I have the same problem. I see that if I used to `attachmentConfig.screens = [.library, .video]` then video recording worked as expected. But when I use `attachmentConfig.screens = [.library, .photo, .video]` then video recording don't work - I see either black screen or frosen screen. Could anybody help me please?

[2020-06-29 11:08] twinkalH opened #516 "Airdropped photos are not showingup into the library"
**Describe the bug**
Airdropped photos from MacBook are not showing up into the library and some of these are at the end.

**Expected behavior**
Airdropped photos should also work fine as the normal camera roll photos and should be first not at the end.

**Environment:**
 - Device: All
 - OS: iOS13.3 up
 - Xcode Version 11.3
 - Swift Version 4.0

**Installation Type**
 - Cocoapods

[2020-06-30 09:16] fukemy opened #517 "viewwillappear not called when dismiss picker"
hello, i have notification register in viewwillappear class (my Viewcontroller), then destroy it on viewwilldisapper. But i checked when show present picker -> viewwilldisapper called, but when dismiss -> viewwillappear not called. Can you help me know the problem?

[2020-07-01 13:19] abdulrehman73331 opened #518 "Can we make Crop and Filter option optional?"
Hi is it possible to make crop and filter screen optional? I mean like in whatsapp if we take picture then we have option either to send the image or crop it or apply filter.
What's happening at the moment is we have to go through 3 steps first take picture or pick from library then apply filter then crop it (i dont want 3 steps)

[2020-07-01 18:49] andreyyoshua opened #519 "Handle the Limited Photos Library (WWDC 20 Update)"
**Is your feature request related to a problem? Please describe.**
We got an update from WWDC20 that we need to handle limited photos library in our app like it is said on this video https://developer.apple.com/videos/play/wwdc2020/10652/

**Describe the solution you'd like**
Please provide the solution for new permission to handle this Limited Photo library in iOS 14 above

[2020-07-03 11:31] BhavikWings commented on #512
I have also same problem. When I switching from .photo to .video then blank screen appears but when I am switching between .library to .video then it will work. Could anybody help me please?

[2020-07-03 11:39] IhorChernysh commented on #518
@abdulrehman73331 Hello! You can open 'YPImagePickerConfiguration' file and I think there is some properties, that you need to set in your view controller. Hope it will help you.

[2020-07-03 13:58] abdulrehman73331 commented on #518
@IhorChernysh  hey, there is option to remove filter and crop permanently. I don't want to remove. I want to make it optional. But I want to give options on first screen of crop and filter instead of user going to second and third screen for filter and crop.

[2020-07-03 14:46] data-augur opened #520 "Incompatible Swift version 5.2"
HI,
The framework is not compatible with swift 5.2. I am currently on swift 5.2 and unable to use it.

[2020-07-03 21:12] Ludotrico commented on #488
I agree, I wonder why this is the case?

[2020-07-04 20:38] heitara commented on #514
Hello @Ludotrico,

I think that the best solution at the moment is to handle the resource manually once your callback (handler) is invoked. You can trim the asset if you want. I don't think that the library should force the same aspect ration, because some part of the image will be lost. I would prefer to give the developer freedom to decide what to do in those cases.

[2020-07-04 20:41] heitara commented on #513
Hm, which jump do you refer?

Could you share a bit more context so I can get better understanding what should be improved? If you attach a video that illustrates the problem that would be perfect.

[2020-07-05 09:22] heitara commented on #488
I’ll investigate this and get back to you. Could be something minor.

[2020-07-05 20:54] roarapps commented on #519
Yes Please!!

[2020-07-06 01:10] Ludotrico commented on #513
@heitara

https://youtu.be/yNWTS1VuHYU

[2020-07-06 03:00] Ludotrico opened #521 "[BUG] Videos not trimmed"
Bug description:
When selecting multiple videos, if one of them is above the set `trimmerMaxDuration` and the user does not tap on the video to trim it, the exported videos remain untrimmed.

How to reproduce:
Set the config settings to something similar:

[code]

Then use multiple selection to select multiple videos, make sure one video is longer than the `trimmerMaxDuration` of 60 seconds and cl

[2020-07-07 13:17] StackHelp opened #522 "Cancel button always black colored"
I have tried to set the tint color of the navigation bar as suggested in ReadMe but still the cancel button always of black color. How to make it of a different colors?

       let attrs = [
            NSAttributedString.Key.foregroundColor: UIColor.white,
            NSAttributedString.Key.font: UIFont.boldFont()
        ]

        UINavigationBar.appearance().barTintColor = UIColor(hexInt: 0x00

[2020-07-12 06:07] iOSDroid67 opened #523 "How get .mov file from YPMediaItem"
after select image and video in picker, I want to send all file to server. How I can get video file from selectedItem list? I can get url and thumbnail but I can not get .mov file from data.

thanks

[2020-07-12 19:20] saurabhbajajcode opened #524 "Though defaultMultipleSelection is true still multiple selection is not enabled"
**Describe the bug**
When we set `YPImagePickerConfiguration().library.defaultMultipleSelection = true` still multiple selection is not enabled by default.

**To Reproduce**
Steps to reproduce the behavior:
1. Create YPImagePicker object. You can use following code:
[code]
2. Call above function on tap of a button
3. Select only 1 image. Tap Next.
4. Again open image picker.
5. When image picker i

[2020-07-12 19:42] saurabhbajajcode commented on #524
I do not have access to link PR #525 with this issue.

[2020-07-15 21:53] heitara commented on #521
@Ludotrico what would be the expected behavior here? To trim the first X seconds of all videos that are longer? To force the trim ui flow, when such a video exists? Do the same for all the videos?

I'm slightly confused, the library should give you (as a developer) a freedom to decide which behavior to be triggered. So, the question is more - what's the correct behavior when there is more than one

[2020-07-15 21:53] heitara commented on #521
@Ludotrico what would be the expected behavior here? To trim the first X seconds of all videos that are longer? To force the trim ui flow, when such a video exists? Do the same for all the videos?

I'm slightly confused, the library should give you (as a developer) a freedom to decide which behavior to be triggered. So, the question is more - what's the correct behavior when there is more than one

[2020-07-17 03:21] HananMehmood5 opened #526 "Add Support to add library through Swift Dependency Manager and Update Read.me file respectively."

[2020-07-20 12:46] jensonjohn001 commented on #423
+1 needed

[2020-07-20 12:46] jensonjohn001 commented on #349
It will be helpful if available.

[2020-07-23 08:37] Ludotrico commented on #521
@heitara the expected behavior should be exactly like Instagrams. If a user picks a video that is longer than 60 seconds (the specified trimmerMaxDuration), and he does not open the trim view, the video should _automatically_ be trimmed to include only the first 60 seconds. Predictable and easy for the user.

Thoughts?

[2020-07-23 14:55] ljs19923 commented on #491
@cikpis what do you mean ? Because i have the same error, and i dont find any solutions

[2020-07-23 14:56] carmelogallo commented on #491
@JulienLevallois https://github.com/Yummypets/YPImagePicker/issues/491#issuecomment-649533935

[2020-07-23 15:01] ljs19923 commented on #491
The bug appears if the viewcontroller which presents the picker is itself a viewcontroller presenting, so it's really weird. I dont understand how to resolve that

I have this flow :

NavigationController1 -> VC1 -> present with formSheet style -> VC2 -> present with formSheet style -> YPImagePicker

In this case I have the bug…

If I have this flow :

NavigationController1 -> VC1 -> present with

[2020-07-24 07:12] solomonkim2002 opened #528 "Video has a black bar at the bottom when "config.onlySquareImagesFromCamera = false""
**Describe the bug**
Video has a black bar at the bottom when "config.onlySquareImagesFromCamera = false"

**To Reproduce**
Steps to reproduce the behavior:
1. set config.onlySquareImagesFromCamera = false
2. Take a video with the camera
3. On the trim video/choose cover page, the video has a black bar attached below it
4. The black bar does not disappear

**Expected behavior**
The video should pl

[2020-07-28 07:17] UmairAhmed420 opened #530 "Hi Need your Little Attention"
Can you tell me is there any android library like yours imagePicker

[2020-07-30 12:11] VishalSharma91 commented on #528
@BballerKim facing same issue, any update on it?
I think there was white UI on the top of it which is transparent after config.onlySquareImagesFromCamera = false, and getting in middle of recording! @s4cha any help here?

[2020-07-31 07:55] xlsd commented on #236
it does not work for me. Xcode12 bate3

[2020-08-01 23:27] Ludotrico commented on #521
@heitara we are currently waiting on [this branch](https://github.com/Yummypets/YPImagePicker/pull/515) to be merged, it fixes this issue. @mendesbarreto

[2020-08-02 07:51] heitara commented on #521
I've approved the PR. Waiting for a final merge.

[2020-08-03 23:16] solomonkim2002 commented on #528
@VishalSharma91 I was unable to find a solution, were you? @NikKovIos any advice by any chance

[2020-08-04 09:13] NikKovIos opened #531 "Donate"
Hi to everyone!)

Just want to notice, that it's public open source project and it depends only on our enthusiasm. Your investments allow us to spend more time to this project and make it more awesome!!!

Link to donate: https://opencollective.com/freshos

🙌🙏🏻

[2020-08-04 09:32] s4cha commented on #524
Hi @saurabhbajajcode,
Thank you so much for noticing that, documenting it thoroughly with video gif (amazing!) and issuing a clean PR that fixes it.
This is really splendid !

[2020-08-04 17:28] #521 closed, assigned to nobody

[2020-08-04 17:30] Ludotrico commented on #488
@heitara @mendesbarreto @s4cha Any ideas? Multiple selection that incorporates images and videos scrambles the order.

[2020-08-04 22:09] heitara commented on #488
@Ludotrico could you share exact steps. For example: open example app. Pick 5 images and 5 videos. The order is 2v,2i,3i... expected order is 1i,2i,3i...

[2020-08-04 22:34] tony-halloapp commented on #488
If there are 5 images and 5 videos and the picked order is
1v, 2v, 3v, 4v, 5v, 1i, 2i, 3i, 4i, 5i
the expected order should be the same but it almost never end up that way, especially if the videoes are large

guessing that it could be when a large video is selected it takes time to either transpose the video or just put it into the array so if the user picks an image or smaller video right after,

[2020-08-04 23:28] heitara commented on #488
I found the problem. @tony-halloapp @Ludotrico  could you guys check the following version using the sample project? https://github.com/Yummypets/YPImagePicker/pull/533
You can find a working version here - https://github.com/heitara/YPImagePicker/tree/feature/issue-488

[2020-08-04 23:37] heitara commented on #523
Hi! You can use the PHAsset property of the video object and export the video in different formats  -https://developer.apple.com/documentation/photokit/phimagemanager/1616981-requestexportsessionforvideo?language=objc

[2020-08-04 23:48] heitara commented on #522
This is a working example:
[code]

[2020-08-04 23:49] heitara commented on #520
@data-augur what exactly is the problem? Which part is not working, could you be a bit more specific?

[2020-08-05 03:19] Ludotrico commented on #488
@heitara thank you for investigating! I just pasted your changes in my project that is currently running the up to date version of the master. Unfortunately the problem persists. Images seem to always be placed before videos, disregarding order.

https://youtu.be/LonRlghD8-w

@tony-halloapp same on your end?

[2020-08-05 11:21] s4cha commented on #501
Hi @janczakb someone did it recently, it is available in the freshly released 4.3.0

[2020-08-05 11:21] #501 closed, assigned to nobody

[2020-08-05 11:23] s4cha commented on #526
Hi, this is definitely something that we want to support. We have resources that prevented us to use SPM.
This might change soon with the advancements of SPM (binary support for example)

[2020-08-05 11:24] s4cha commented on #497
Hi @Haibo-Zhou, no idea, I think you should be able to wrap it with `UIViewControllerRepresentable`.

[2020-08-05 11:25] s4cha commented on #530
@UmairAhmed420 Not that I know of unfortunately

[2020-08-05 11:28] s4cha commented on #457
Hi @cikpis,

in 4.3.0 you should be able to use `config.fonts.menuItemFont = UIFont.systemFont(ofSize: 10, weight: .semibold)`

Let me know if that works for you,

[2020-08-05 11:32] carmelogallo commented on #457
Cool! I'll give it a try soon!

[2020-08-05 11:38] s4cha commented on #468
@metawin99, thank you for reporting this. A bug concerning `defaultMultipleSelection` has been fixes in 4.3.0. Could you please tell me if that fixed it for you ?

[2020-08-05 11:41] heitara commented on #516
@twinkalH the items in the gallery are sorted by "creationDate" (YPLibraryVC#293). So, the AIRdrop-ed items could have different (much older) creationDate. So, those items are somewhere in the Gallery, but probably you have to scroll a lot more.

I'm experimenting with different sortDescriptor, but the result is not the same like in Recent (in Photos app). I'll keep looking for a solution.

[2020-08-05 11:51] heitara commented on #530
@UmairAhmed420  - this might be a good start - https://github.com/ShahabGT/InstagramPicker

[2020-08-05 11:51] s4cha commented on #526
This is already tracked here: https://github.com/Yummypets/YPImagePicker/issues/469

[2020-08-05 11:51] #526 closed, assigned to nobody

[2020-08-05 11:52] heitara commented on #524
@s4cha shall we close this, once it's already merged?

[2020-08-05 11:54] heitara commented on #517
I guess, you face this on iOS 13. This is related to the new VC behavior. You should read more about different workarounds - https://stackoverflow.com/questions/56568967/detecting-sheet-was-dismissed-on-ios-13

Please, close the issue if this helps you to solve your problem.

[2020-08-05 12:06] s4cha commented on #476
@userSV this is supported via the `config.library.preselectedItems = selectedItems` in the ExampleProject.
However it seems like there is a bug (at least in 4.3.0) version

[2020-08-05 12:08] s4cha commented on #475
Libs have been updated for Xcode 11.6, closing this for now, we'll track the rest in separate issues.

[2020-08-05 12:08] #475 closed, assigned to nobody

[2020-08-05 12:11] s4cha commented on #484
@DanielZanchi have you been able to try out `AVAssetExportPresetPassthrough` ?

[2020-08-05 12:12] s4cha commented on #486
@M-I-N extremely busy as well at the moment, this looks like a valid use case though. If you can try and take a crack at it yourself, that'd be amazing.

[2020-08-05 12:13] DanielZanchi commented on #484
Yes. It works fine

[2020-08-05 12:14] nastasiupta commented on #484
Yes, works fine with AVAssetExportPresetPassthrough ;)

[2020-08-05 12:16] s4cha commented on #479
@cikpis, nice catch! Could you open a PR for this ?

[2020-08-05 12:19] s4cha commented on #454
Hi @Shivani-Bajaj please see https://github.com/Yummypets/YPImagePicker/issues/475

[2020-08-05 12:19] s4cha commented on #489
Hi, please see https://github.com/Yummypets/YPImagePicker/issues/475

[2020-08-05 12:21] s4cha commented on #496
This is a great idea, I have very little time available at the moment so if one o you could take a crack at it that'd be great 👍

[2020-08-05 12:22] s4cha commented on #500
Hi @janczakb This is not something high priority in our roadmap so we'll probably never support this use case.
If you want to contribute though, feel free to submit a Pull request :)

[2020-08-05 12:26] s4cha commented on #495
@justColbs, this has been asked before https://github.com/Yummypets/YPImagePicker/issues/481. I'm all for it! If you can issue a PR that would be amazing 😍

[2020-08-05 12:31] #484 closed, assigned to nobody

[2020-08-05 12:33] s4cha commented on #510
@sanketfirodiya Our rationale is basically if instagram does it then we should probably support it (since users will want the same). All lights are green, it's just that noone took a crack at it (yet), but here you are :)

[2020-08-05 18:16] justColbs commented on #495
@s4cha Got it! I'm not able to submit a PR at the moment, but would love to see it. Sorry for the duplicate!

[2020-08-05 18:16] #495 closed, assigned to nobody

[2020-08-05 19:56] AnkitGhoniya opened #534 "video not open"
i have set below code to open video recording but open default "Library & photo" as per below ss.

CODE:
@IBAction func btnCameraClicked(_ sender: UIButton) {

        var config = YPImagePickerConfiguration()
        // [Edit configuration here ...]
        // Build a picker with your configuration
        let picker = YPImagePicker(configuration: config)

        config.video.compression = AVAss

[2020-08-06 07:14] s4cha commented on #534
Hi @AnkitGhoniyam you need to set
[code]

[2020-08-06 07:37] s4cha commented on #477
@aaparth Good catch, could you share your config please? On my side it looks like the suspect is ` config.library.preselectedItems`

[2020-08-06 08:20] s4cha commented on #524
Yep, this should be fixed as of 4.3.0 and coming 4.3.1 :)

[2020-08-06 08:20] #524 closed, assigned to nobody

[2020-08-06 08:45] s4cha commented on #476
`config.library.preselectedItems` should work fine as of 4.3.1, let me know how it goes :)

[2020-08-06 08:48] s4cha commented on #477
This should be fixed in 4.3.1, let me know :)

[2020-08-06 08:55] fukemy commented on #517
worked now thanks

[2020-08-06 08:55] #517 closed, assigned to nobody

[2020-08-06 08:59] aaparth commented on #477
@s4cha

here is my config

        var config = YPImagePickerConfiguration()
        config.shouldSaveNewPicturesToAlbum = false
        config.startOnScreen = .library
        config.screens = [.library, .photo, .video]
        config.showsPhotoFilters = true
        config.showsVideoTrimmer = true
        config.maxCameraZoomFactor = 2.0

        config.video.compression = AVAssetExportPresetMed

[2020-08-06 15:51] #534 closed, assigned to nobody

[2020-08-06 18:28] VitaliiDeveloper opened #535 "Memory overhead"
**Describe the bug**
If in your library would be a large image like:
https://eoimages.gsfc.nasa.gov/images/imagerecords/73000/73751/world.topo.bathy.200407.3x21600x21600.C1.png
App gonna be terminate!

**To Reproduce**
Download image to the library:
https://eoimages.gsfc.nasa.gov/images/imagerecords/73000/73751/world.topo.bathy.200407.3x21600x21600.C1.png
Let the YPImagePicker open it in the list

[2020-08-06 18:53] Ludotrico commented on #535
I experience the same thing. The app also terminates if you scroll too quickly through the library and you have big files stored.

[2020-08-06 20:25] Ludotrico opened #536 "[bug?] YPMediaVideo.fetchData unimplemented"
I have been pulling my hair for hours trying to figure out why the data from calling .fetchData on videos always had 0 bytes despite marking:

[code]

I finally found why:

[code]

Why is this unimplemented? Any plans on implementation? Is this meant to be free-form?

[2020-08-07 18:13] VitaliiDeveloper commented on #535
@Ludotrico Well, I can fix all of this problem with the memory problem later. Or maybe somebody will do this early :)

[2020-08-08 06:37] szdkkk commented on #509
TRY to clean your project and rebuild. I met this problem when upgrading from 4.2.1 to 4.3.1

[2020-08-08 12:49] keyhan76 commented on #509
@szdkkk ok sure,thanks👍🏻

[2020-08-11 00:45] lucaslupo opened #537 "maxNumberOfItems per media type"
**Is your feature request related to a problem? Please describe.**
Currently, one can only set `maxNumberOfItems` for the entire library configuration. It would be great if we can apply such constraint per data type. In my use case I need to allow the user to select multiple photo BUT if the user selects a video they can only select one.

[2020-08-11 07:56] UtkuDalmaz opened #538 "No video after last update"
There is no video after video recording, there is sound but no video.

var config = YPImagePickerConfiguration()
        config.library.mediaType = .photoAndVideo
        config.library.onlySquare  = false
        config.onlySquareImagesFromCamera = false
        config.targetImageSize = .original
        config.usesFrontCamera = true
        config.showsPhotoFilters = true
        config.library.

[2020-08-12 07:44] sayleejoy opened #539 "On Filter screen, need to click "Next" twice to dismiss the picker"
**Describe the bug**
any one have any idea why need to click "Next" twice on image filter interface to dismiss the picker?

enable filter function in config
disable crop function in config
doesn't matter select single or multiple images

**To Reproduce**
Steps to reproduce the behavior:
1. Pick images, click "next" button on upper right hand corner to enter image filter interface
2. Click "next" b

[2020-08-12 09:32] deeplinkage opened #540 "Support UIDocumentPickerViewController (apple rejects approval since no support for Files folder files)"
We need to support UIDocumentPickerViewController in order for this app to be approved by app store.

I have been rejected and that is the reason. This is now enforced as new policy to use new features like iCloud and Files App.

Here is a message from Apple:

Guideline 2.5.15 - Performance - Software Requirements

We noticed that your app enables users to view and select files, but it does not in