[2020-08-12 18:51] Ludotrico commented on #540
This is definitively of utmost importance, no one wants to build apps for the simulator

[2020-08-12 22:32] andr-ec commented on #469
Xcode 12 now includes the latest SPM which allows us to include resources! Any timeline for SPM in this project? Thanks!

[2020-08-13 15:40] sayleejoy commented on #539
never mind, I got it solved by changing some coding

[2020-08-13 15:40] #539 closed, assigned to nobody

[2020-08-16 01:19] BillBunting commented on #426
Still an issue also with selecting photos. I receive support requests from users indicating they can not select multiple photos on iPad.  It turns out, it is because they are in landscape orientation (confirmed on iPad 2 model A1566 iOS 13.6 in simulator).

[2020-08-18 06:47] haojin2020 opened #542 "PHAuthorizationStatus.limited is not handled on iOS 14"
**Describe the bug**
PHAuthorizationStatus.limited is not handled on iOS 14

**To Reproduce**
1. Select "Select photos" from the privacy confirm dialog.

**Expected behavior**

**Screenshots**
<img width="284" alt="Screenshot" src="https://user-images.githubusercontent.com/66354606/90479614-85239380-e161-11ea-9d98-fb88f0442d3d.png">

**Environment (please complete the following information):**
 -

[2020-08-18 09:06] EinfachHans commented on #392
+1

[2020-08-18 22:01] Alipacman commented on #234
Hey @s4cha, I would be really happy if you would support landscape in the future, since most iPad apps are rotatable. Can't you use the widthOniPad property to have a fixed width and set the hight accordingly, then everything else should be done by auto layout?

Anyway, I would understand if you decide not to implement landscape mode, since it is some effort for a small amount of people, who build

[2020-08-21 03:42] dan085 opened #543 "circle oval after crop image [Avatar picture]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
**It would be necessary to be able to have a circle as a reference when crop the image**
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

this option
 /* Adds a Crop step in the photo taking

[2020-08-21 06:41] caspahouzer commented on #365
same here

[2020-08-21 08:25] userSV opened #544 "Does this picker is also supported in iPadOS"
I have an app which needs to be built in both iOS and iPad, and I am already using this picker in iOS app. So, is there any way that this can be used in iPad app as well.

[2020-08-21 08:56] tallot13 commented on #522
also black in sample project in this repo, left bar button items not changed color

UINavigationBar.appearance().tintColor

not working

[2020-08-21 08:58] tallot13 commented on #522
worked, but not in album...

[2020-08-21 09:12] tallot13 commented on #522
https://github.com/Yummypets/YPImagePicker/blob/5f90725766db9d6a9437b82ee63658042eaf67d1/Source/YPPickerVC.swift#L200
https://github.com/Yummypets/YPImagePicker/blob/5f90725766db9d6a9437b82ee63658042eaf67d1/Source/YPImagePicker.swift#L56
how avoid this? color hardcoded. After removed this lines, UINavigationBar.appearance().tintColor - works
![Simulator Screen Shot - iPhone SE (2nd generation) - 2

[2020-08-21 21:28] #509 closed, assigned to nobody

[2020-08-24 20:36] NikKovIos commented on #488
@heitara Does https://github.com/Yummypets/YPImagePicker/pull/533 fix that?

[2020-08-25 06:10] heitara commented on #488
@NikKovIos exactly. The sort function keeps the selection order "stable".

[2020-08-25 07:12] NikKovIos commented on #488
@heitara so 488 mr i can close?

[2020-08-25 07:13] heitara commented on #488
Yes, please.

[2020-08-25 07:57] #488 closed, assigned to nobody

[2020-08-25 07:59] NikKovIos commented on #544
Just try :)

[2020-08-25 21:04] uxight opened #546 "preSelectItemOnMultipleSelection not work"
config.library.preSelectItemOnMultipleSelection = false

I also tried below code and combination.
config.library.preselectedItems = nil
(or config.library.preselectedItems = [])

But first Item is always selected.

[2020-08-26 02:33] Ludotrico commented on #546
@peymankh @s4cha I have the exact same problem, +1

[2020-08-27 05:15] mikebryant71 commented on #483
@s4cha
Hey, I've been having this issue too, tested on iPhone X - iOS 13.5.1
### Steps to reproduce:
1. Take a video in portrait with the camera app
2. Open up YPImagePicker in library mode
3. Select recorded video.
4. Video will be oriented the wrong way

 I found a fix based off the AVMutableVideoComposition documentation

Adding `videoCompositionTrack.preferredTransform = transform` on line 119

[2020-08-27 06:48] xmw-simon opened #548 "present error"
hi ,  author
 No matter where I call it, it will return to the home page，and my tabBar appear two times UITabBarItems

[2020-08-27 07:23] #548 closed, assigned to nobody

[2020-08-27 11:04] userSV commented on #544
can't use it because the UI is completely distorted. Is there any other alternative for this?

[2020-08-28 06:14] nickeyzzz commented on #544
Looks absolutely fine for me. I believe you can use it for iPad.

[2020-08-28 06:16] userSV commented on #544
@nickeyzzz did you change some configurations for iPad? and are you using latest version. Can you please share the screenshot like how is it looking at your side.

[2020-08-28 10:40] userSV commented on #544
Finally I got how to configure this with widthOniPad property for iPad.
`let preferredContentSize = CGSize(width: self.view.frame.size.width, height: 600)
        YPImagePickerConfiguration.widthOniPad = preferredContentSize.width`

[2020-08-28 14:43] nickeyzzz opened #549 "Video halts on iPhone device"
Describe the bug
Video halts on iPhone 8 / iOS currently latest 13.6.1 all the time
on iPhone X / iOS currently latest 13.6.1 about 10% of times

To Reproduce
Steps to reproduce the behavior:
Just go to Video page

Screenshots
https://www.dropbox.com/s/1qosruev2xygilx/2020-08-28%2021.36.52.png?dl=0

Environment (please complete the following information):
iPhone 8 / iOS currently latest 13.6.1 all

[2020-08-28 14:50] nickeyzzz commented on #549
Photo works ok, video on iPhone 8 just shows black square. Record button gets enabled in a second, but nothing changes. Switching to front camera has no effect. Clicking the Record button has no effect, the timer doesn't even start. It may start to work after several attempts (changing to Photo and back to Video).

[2020-08-28 15:17] nickeyzzz commented on #549
iPad 2 (or something, some old one) with iOS 12 - video halts. iPhone X - problem 10% of times, may be even less. iPhone 11 Pro  - works perfectly. Seems to be a problem for slower devices.

[2020-08-28 15:24] nickeyzzz commented on #544
Sorry for late reply, I've just checked on iPad 2, even without your fix - looks fine just out of the box. But I have a problem when rotating the iPad.
Also got problem with video.
https://github.com/Yummypets/YPImagePicker/issues/549

[2020-08-28 15:35] nickeyzzz opened #550 "Problem with iPad on rotation"
Running example app on the emulator, start Image picker, then rotate.
https://www.dropbox.com/s/6r0nbsrzie0gqog/Simulator%20Screen%20Shot%20-%20iPad%20Pro%20%289.7-inch%29%20-%202020-08-28%20at%2022.34.35.png?dl=0

[2020-08-28 16:22] nickeyzzz commented on #549
The problem is here
`    public func stopCamera() {
        if session.isRunning {
            sessionQueue.async { [weak self] in
                self?.session.stopRunning()
            }
        }
    }
`
session stops in async mode, so may be when video session starts after photo session and photo session is not finished yet, then video session doesn't start the normal way.
Problem does no exis

[2020-08-28 17:13] Ludotrico commented on #549
This needs attention + 1

[2020-08-28 17:41] #544 closed, assigned to nobody

[2020-08-28 18:14] nickeyzzz commented on #512
Made a pull request for this, but some attention of creators required.

[2020-08-29 06:11] nickeyzzz commented on #550
It won't work correct as this won't be called on modern iPads:
    open override var supportedInterfaceOrientations: UIInterfaceOrientationMask {
        return .portrait
    }
until you didn't set "Requires full screen" in General tab of your Target.
https://stackoverflow.com/questions/35274428/supportedinterfaceorientations-not-called-in-ipad

If 'Requires full screen' setting from 'General' is

[2020-08-29 06:13] nickeyzzz commented on #550
I think this can be added to documentation or the whole Picker requires some fixes for handling iPad rotations correct way.

[2020-08-29 07:49] nickeyzzz opened #552 "Gallery, Photo, Video and... Audio"
For some cases it would be cool to have the Audio for recording some voice messages. This should look similar to video and act the same, but for voice or whatever else sound files.

[2020-08-29 09:07] UtkuDalmaz opened #553 "Value of type 'AVCapturePhotoOutput' has no member 'supportedFlashModes'"
I am having this error on PostiOS10PhotoCapture.swift

[code]

Any idea?

[2020-08-29 11:41] CreatorMetaSky commented on #553
I think this is xcode 12 beta 6 bug.

[2020-08-29 15:06] peymankh4 commented on #546
@s4cha Can certainly reproduce the issue now.

We always have an item preselected in `refreshMediaRequest` being called from `initialize`. This used to be cleared out in `showMultipleSelection` but now has moved to `multipleSelectionButtonTapped` to preserve the selection.

Not entirely sure what to change here not to break current functionality, would be great if you could have a look as well and

[2020-08-29 15:19] peymankh4 commented on #546
I have put a fix in place, it does resolve the problem! Hopefully won't break the current pre-selection functionality.

@Ludotrico and @uxight Feel free to give my branch a go and let me know if that resolves your issue.

[2020-08-29 19:48] Ludotrico commented on #546
@peymankh thank you for the fix, it seems to work well.

However, I do not believe it is the best way to approach it. Any ideas @s4cha @NikKovIos?

[2020-08-30 07:19] uxight commented on #546
I think the problem is refreshMediaRequest() function in initialize()
refreshMediaRequest calls addToSelection(indexPath: IndexPath(row: 0, section: 0))
because in that time multipleSelectionEnabled is not true yet.

so I add parameter like this:
refreshMediaRequest(needsDefaultSelection: Bool = true)

and fix in initialize() to:
...
refreshMediaRequest(needsDefaultSelection: YPConfig.library.defa

[2020-08-30 08:35] Ludotrico commented on #546
@uxight make sure to tag users (@peymankh) that you are intending to communicate with.

[2020-09-01 12:30] kanagudurai commented on #553
How to fix this ? any idea ?

[2020-09-02 12:49] alinmuntean commented on #553
I'm having the same issue with Xcode 12 beta 6...

[2020-09-03 07:14] CreatorMetaSky commented on #553
wait for next release of xcode 12,😅

[2020-09-04 10:03] StephanKornerTrihow opened #556 "mp4 fileType Configuration does not work"
**Describe the bug**
We use YPImagePicker in our iOS App to generate a video. The video is then uploaded to a Firebase storage.

We use the Firestore share function to share the video later on.

It turns out that .mov videos do not play in Google Chrome Browser.

Therefore we set the YPImagePicker Configuration to be an .mp4 video fileType - and its quality to AVAssetExportPresetHighestQuality.

H

[2020-09-09 14:27] luap2703 opened #557 "Image Editing feature? (Contrast/Brightness/Vignette/...)"
Hey, is there yet a feature to modify Contrast/Brightness... in the pipeline?

I found the same feature in https://github.com/muukii/Pixel
but failed when I tried to implement it.

Cheers
Paul

[2020-09-11 11:03] KOSURUUDAYSAIKUMAR opened #558 "Displaying the image url"
Hi Teams,
I have a requirement, I need to display image in an image view, it is working fine, But I need to send the image url as backend.

I tried many ways but there is no image url. Can anyone please help me ?

[2020-09-11 22:44] timothyerwin commented on #479
@s4cha I'm also noticing similar behavior...does this need a PR? It's a 1 line change?

[2020-09-13 18:16] armaghan84 opened #559 "Multiple Photos Capturing from camera"
Can anyone have implemented or can help in implementing multiple photos capturing from the camera?

[2020-09-14 02:06] luatvudinh opened #560 "Active scene will be resign"
Please check and explain to me why app triggered function `sceneWillResignActive(_:)` when I showed image picker.

Thanks team.

[2020-09-14 02:10] luatvudinh commented on #560
I reviewed and realize that this issue might be cause of iOS present popup to request access camera and photos.

[2020-09-14 20:58] deeplinkage commented on #540
Any update?

[2020-09-15 15:13] AnkitGhoniya opened #561 "Video cover photo selection."
Hello
i want to hide Video cover photo selection fromVideo trimmer view how can i do this?.

thank you.

[2020-09-16 00:42] canaksoy commented on #553
same error on Xcode 12.0 GM (Simulator)
working on device

[2020-09-16 04:56] CreatorMetaSky commented on #553
I think can use this code.

[code]

you can see the pull request at : https://github.com/Yummypets/YPImagePicker/pull/565

[2020-09-16 17:37] cclaflin89 commented on #537
+1

[2020-09-16 21:34] grantespo opened #563 "Xcode 12: Cannot convert value of type 'CMTime' to type 'NSValue' in coercion"
I am using v `4.3.1`

Upon updating Xcode to 12, I cannot build my app!

This error occurs in ThumbSelectorView.swift Line 141
**Cannot convert value of type 'CMTime' to type 'NSValue' in coercion**

<img width="912" alt="Screen Shot 2020-09-16 at 5 33 41 PM" src="https://user-images.githubusercontent.com/19721824/93394845-d8f9c900-f842-11ea-97ef-23090fa361d8.png">

[2020-09-16 23:27] timothyerwin commented on #563
I'm getting the same problem...when I fixed this I got a lot of other build errors for YPImagePicker:

e.g.

[code]

[2020-09-16 23:29] timothyerwin commented on #553
this is confirmed still broken in xcode 12 official release

[2020-09-16 23:31] timothyerwin commented on #520
@heitara it doesn't build on xcode 12

[2020-09-16 23:37] timothyerwin commented on #553
I was able to fix this temporarily by deleting this code, which my project doesn't need anyway :)

[code]

[2020-09-17 00:47] colbylim commented on #563
@grantespo
Modify [time as NSValue] to [NSValue(time: time)]
generator?.generateCGImagesAsynchronously(forTimes: **[NSValue(time: time)]**,

@timothyerwin
Occurs only in the simulator.

#if arch(i386) || arch(x86_64)
settings.flashMode = .off
#else
if let deviceInput = deviceInput {
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if deviceInput.device.isFlashAvailable {
&nbsp;&nbsp;&nbsp;&nbsp;&nb

[2020-09-17 03:07] grantespo commented on #563
@colbylim thanks that worked,
but to fixup timothy's issue, I just removed the flash code altogether since i am only using the image picker.

[2020-09-17 06:07] CreatorMetaSky commented on #563
if use cocoapods, you can add this line to your podfile:

[code]

[2020-09-17 06:31] heitara commented on #520
Ok. I'll check it.

[2020-09-17 08:43] CreatorMetaSky commented on #563
please see the pull request: https://github.com/Yummypets/YPImagePicker/pull/565

[2020-09-17 09:48] alinmuntean commented on #553
@NikKovIos Hi, any chance of having a new release which can be used with latest Xcode 12?

[2020-09-17 10:46] hactar commented on #553
We've created a fork which comments out this section of code and so allows building with Xcode 12 gm here: https://github.com/bikemap/YPImagePicker - feel free use this fork as a workaround until the issue is resolved here.

[2020-09-18 04:39] HePingLaoSan opened #567 "Incompatible Swift version, example was built with 5.2.4 , not 5.3"
Incompatible Swift version, example was built with 5.2.4 , not 5.3

[2020-09-18 08:41] petrykDima opened #568 "Xcode 12 issue"
<img width="271" alt="93570993-803e4380-f99c-11ea-8b4a-ccfa3855d981" src="https://user-images.githubusercontent.com/43542141/93576764-e67a9480-f9a3-11ea-8fcb-0ce685635fa5.png">

[2020-09-18 11:48] NikKovIos opened #569 "Xcode 12 bugs and errors"
Because of a lot of similar issues, i would close everything and collect all info here.

1) `Value of type 'AVCapturePhotoOutput' has no member 'supportedFlashModes'`

SO thread: https://stackoverflow.com/questions/63953256/xcode-12-value-of-type-avcapturephotooutput-has-no-member-supportedflashmode?noredirect=1#comment113092610_63953256
Apple discussion: https://developer.apple.com/forums/thread/

[2020-09-18 11:53] #568 closed, assigned to nobody

[2020-09-18 11:53] #567 closed, assigned to nobody

[2020-09-18 11:54] #563 closed, assigned to nobody

[2020-09-18 12:22] M-I-N commented on #569
Would you accept any PR on this? Possibly with the temporary workaround mentioned?

[2020-09-18 12:25] NikKovIos commented on #569
@M-I-N In 96bf9abe615cb24e39240f9d7305d7f3ed76f4ff there are changes, but you still wouldn't be able to build, because Stevia and PryntTrimmerView needs to be updated.
Waiting for @s4cha. He told, that would be available next monday.

[2020-09-18 12:36] M-I-N commented on #569
@NikKovIos , yes I've sorted that issue with `PryntTrimmerView` (as they have already fixed [HHK1
/PryntTrimmerView#70](https://github.com/HHK1/PryntTrimmerView/pull/70)). Using with cocoapods works fine from my side. [Here](https://github.com/M-I-N/YPImagePicker/tree/fix/xcode12) is the working version if you would like to take a look.

[2020-09-19 19:42] MhmdSalah commented on #569
Please update the podspec file asap.

Please notice that trying to build the current pod with xcode 12 in one of my projects gave me weird errors that did not point the this pod, and after trying to remove pod one by one it turned out a problem with this pod.

The weird errors pointed to other pods that build successfully with this pod removed and said one of the following for each error:
Command

[2020-09-21 07:16] maestrovsmaster commented on #569
I have a problem:
Cannot convert value of type 'CMTime' to type 'NSValue' in coercion
my pod:
pod 'YPImagePicker'
use_frameworks!

[2020-09-21 09:00] quangpc-zz commented on #569
@maestrovsmaster temporary point to master branch and update version for PryntTrimmerView worked for me.
You can try update your pod file like this:

[code]

[2020-09-21 10:33] maestrovsmaster commented on #569
after pod reinstall i have a problem with PryntTrimmerView:

[!] CocoaPods could not find compatible versions for pod "PryntTrimmerView":
  In Podfile:
    PryntTrimmerView (~> 4.0.2)

    YPImagePicker (from `https://github.com/Yummypets/YPImagePicker.git`) was resolved to 4.3.1, which depends on
      PryntTrimmerView (~> 4.0.0)

None of your spec sources contain a spec satisfying the dependenci

[2020-09-21 11:37] maestrovsmaster commented on #569
It help for me:
pod 'YPImagePicker', :git => 'https://github.com/Yummypets/YPImagePicker.git'
pod 'PryntTrimmerView', :git => 'https://github.com/HHK1/PryntTrimmerView.git'
use_frameworks!

[2020-09-21 13:49] s4cha commented on #569
@NikKovIos back from holiday fully charged to tackled these nasty build issues. I should have time to take a look tomorrow and will keep you guys posted.

[2020-09-21 14:07] s4cha commented on #569
@NikKovIos running
`carthage update Stevia --platform iOS`
`carthage update PryntTrimmerView --platform iOS`
Which rebuilds the dependencies locally (with Xcode 12)
fixed the build for me. Does this work on your side ?

[2020-09-21 14:13] NikKovIos commented on #569
@s4cha i get the error

Here is the log
[code]

Let's remove carthage dependencies and leave only cocoapods. For now we duplicate carthage and pod dependencies.

Also error: `/r/YPImagePicker/YPImagePickerExample/YPImagePickerExample.xcodeproj Building for iOS Simulator, but the linked and embedded framework 'PryntTrimmerView.framework' was built for iOS.`
And after `import Stevia` the error `Modu

[2020-09-22 07:36] s4cha commented on #569
@NikKovIos the Carthage build should be fixed with this PR, if you can take a look : https://github.com/Yummypets/YPImagePicker/pull/571

Also, although this is not a very popular opinion, and now that SPM handles embedded resources, I'd be all for using SPM only and ditching the other package managers. Apple's way is the way. Handling multiple managers takes up half of our time which would be way

[2020-09-22 08:49] #569 closed, assigned to s4cha, NikKovIos

[2020-09-23 09:59] s4cha commented on #569
For all the people ready to take the leap to Swift Package Manager, a beta version is available here:
package `https://github.com/Yummypets/YPImagePicker` branch `spm`.
This should work perfectly with Xcode 12. Let me know how this goes for you.

[2020-09-23 13:29] fukemy opened #572 "please update pod for ios 14"
after update ios14, i got this error

<img width="1164" alt="Screen Shot 2020-09-23 at 20 29 16" src="https://user-images.githubusercontent.com/8202437/94019035-83419580-fddb-11ea-8826-ecace15ef421.png">

[2020-09-23 13:41] fukemy commented on #563
nope, change pod code is not good solution

[2020-09-24 09:21] almet88 commented on #572
https://github.com/Yummypets/YPImagePicker/issues/563 this helps, but generally, pod needs to be updated, it crashes when user cancels selection and Apple Review team says that it crashes, but I can't find where.

[2020-09-24 10:42] fukemy commented on #572
@almet88 use firebase analystic to check problem bro

[2020-09-24 10:51] almet88 commented on #572
It crashes on line 183 in file YPLibraryVC if user does not give access to any photo in Limited photo access mode.

[2020-09-24 11:00] fukemy commented on #572
i think u can request permission before using library each time

[2020-09-24 11:05] almet88 commented on #572
Yes, but it crashes if user gives LIMITED permission, then iOS 14 shows him his gallery to choose photos that he allows app to use and if user doesn't choose any photo, app crashes since it tries to create the asset from the first photo from library (I think for preview or smth like that)

[2020-09-24 13:34] s4cha commented on #560
@luatvudinh I have no idea to be honest :)

[2020-09-24 13:36] s4cha commented on #558
Hi @KOSURUUDAYSAIKUMAR, in order to have an Url, your image needs to be uploaded somewhere. This sounds like the chicken or the egg problem :)

[2020-09-24 13:37] s4cha commented on #557
@paulo2703 this is not available as of now.

[2020-09-24 13:41] s4cha commented on #556
@StephanKornerTrihow thanks for such a detailed report, this is very appreciated. Time is very limited at the moment (quite bombarded with Xcode12 related issues). Could you try to investigate a fix on your side?

[2020-09-24 13:42] s4cha commented on #552
@nickeyzzz Unfortunately I'm not sure this is something we'd want to support.

[2020-09-24 13:45] nickeyzzz commented on #552
That's absolutely fine, quite reasonable. It was just a guess and idea :)

[2020-09-24 13:47] s4cha commented on #549
@nickeyzzz Thank you so much for the details and the potential fix 👍 . Could you please try a test project with Carthage or SPM (spm branch), to see if the problem package manager-related (which would be weird).
That would really help :)

[2020-09-24 13:48] luatvudinh commented on #560
I think that from iOS 13 the scenes exist and when we present YP image picker, the current scene will be resigned and replacing by new scene. That is why the function `sceneWillResignActive(_:)` be triggered.

[2020-09-24 13:53] s4cha commented on #540
This is really strange. I think dozens of apps using this picker got approved recently (ours included). You should be able to make an appeal in the meantime.

[2020-09-24 13:53] nickeyzzz commented on #549
Absolutely not. It has the same behaviour in your test app, so it's not related to a package manager in any way. Please take a look at my fix. It's related to procedures Start/StopCamera that do act at the same moment when you change photo-video. That must be semaphored.

[2020-09-24 13:59] s4cha commented on #538
@UtkuDalmaz I think `config.video.fileType = .mp4` might be the culprit. could you try with that line commented and tell me if that changes anything?

[2020-09-24 14:01] s4cha commented on #537
@lucaslupo This definitely sounds like a valid use-case. Dunno when we'd have time for this though (lots of issues atm). Would you be willing to take a crack at it through a PR ?

[2020-09-24 14:05] s4cha commented on #536
Well, that is weird to say the least. Is that code even called? I think there is an issue with `mp4` videos the moment.
Could you confirm the issue comes form the mp4 setting ?

[2020-09-24 14:06] s4cha commented on #535
@VitaliiDeveloper if you have fix ideas, that'd be amazing :)

[2020-09-24 14:06] #530 closed, assigned to nobody

[2020-09-24 14:08] s4cha commented on #523
@iOSDroid67 Did that solve your issue?

[2020-09-24 14:12] s4cha commented on #518
@abdulrehman73331 this is not supported at the moment, the setting I set prior to showing the picker and can't be changed by the user.

[2020-09-24 14:13] s4cha commented on #516
@heitara Thank you so much for your help on those issues, this is Very appreciated 🥇

[2020-09-24 14:16] s4cha commented on #514
@Ludotrico great issue found here, Thanks for the detailed explanation. Both points seem valid but I'd err on the side of doing the Instagram's way. As you said this is meant to be a copycat so I think we should mirror Instagram's way of doing things as closely as possible.

[2020-09-24 14:19] s4cha commented on #513
If I understand well this is the time for the preview to update. This looks way too long indeed.

[2020-09-24 14:26] s4cha commented on #520
@data-augur are you still having the issue? If so could you detail a bit more please?

[2020-09-24 14:27] riazhazan opened #573 "Adding option to reduce the bit rate of bigger video files"
**Is your feature request related to a problem? Please describe.**
I can set the compression of video, but I am not able to set the bit rate of a video which drastically reduces the file size

**Describe the solution you'd like**
just like compression option, it would be better if we could add a set bitrate option

[2020-09-24 15:02] iKK001 commented on #556
From my side, no time for a fix as well. Such an iOS update always puts some time-limits to everybody.

As a workarround, I do the .mp4 encoding myself with the following method (see below).

Maybe this is helpful for you to eventually integrate it into YPImagePicker.

[code]

[2020-09-24 17:02] heitara commented on #514
Should we provide a default implementation that copies the Instagram behavior and allow to override it? What do you think @s4cha

[2020-09-25 08:58] LuYinhao opened #575 "How can I select multiple photos without selecting the first photo by default?"
How can I select multiple photos without selecting the first photo by default?

[2020-09-25 10:19] zunjae opened #576 "Crash on granting limited access"
**Describe the bug**
The app will crash within YPImagePicker if the user grants limited photos access

Version 4.3.1

Solution:
Add the `.limited` switch case in `checkPermissionToAccessPhotoLibrary`.

[2020-09-25 13:10] NikKovIos commented on #572
Crash reproduced only with `defaultMultipleSelection == true`.
Fixed 89acc4c3bea687f53e7b05a9adab08153f158721

[2020-09-25 13:10] #572 closed, assigned to nobody

[2020-09-25 13:11] NikKovIos commented on #576
Fixed 89acc4c3bea687f53e7b05a9adab08153f158721

[2020-09-25 13:11] #576 closed, assigned to nobody

[2020-09-25 13:11] NikKovIos commented on #575
Describe what you want more detail please.

[2020-09-25 13:12] NikKovIos commented on #573
@riazhazan write here if ios SDK give such an API.

[2020-09-25 13:14] NikKovIos commented on #553
Fixed https://github.com/Yummypets/YPImagePicker/issues/569

[2020-09-25 13:15] #553 closed, assigned to nobody

[2020-09-25 18:26] Ludotrico commented on #536
@s4cha that code does nothing. It returns an empty Data object, the function is completely unimplemented.

[2020-09-25 18:34] Ludotrico commented on #575
@LuYinhao @NikKovIos this is a feature that has been implemented, but does not work correctly.
Try:

        config.library.preSelectItemOnMultipleSelection = false
        config.library.defaultMultipleSelection = true

[2020-09-25 18:36] Ludotrico commented on #513
@s4cha @heitara any suggestions?

[2020-09-26 19:59] magdy-kamal-ok opened #577 "Add Xcode 12 support"
**Is your feature request related to a problem? Please describe.**
need to support xcode 12 because there is issues related to building on xcode 12.

[2020-09-27 03:29] LuYinhao commented on #575
When I set it to multi-select, when I enter the album, the first image will be selected automatically. But I don't want that effect. I want to choose the pictures myself. Because the first picture is often not the one I want to pick.

[2020-09-27 04:23] mazharulbelal commented on #542
Can't run the example project.  occurs the same issue. "Type 'PHAuthorizationStatus' has no member 'limited'".

Environment
Xcode Version: 11.6 (11E708)
Device: Simulator
OS: 13.6

[2020-09-27 16:49] NikKovIos commented on #577
@magdy-kamal-ok just use last commit.

[2020-09-27 16:49] #577 closed, assigned to nobody

[2020-09-27 16:50] NikKovIos commented on #542
Added

[2020-09-27 16:50] #542 closed, assigned to nobody

[2020-09-27 16:50] NikKovIos commented on #519
Added 89acc4c3bea687f53e7b05a9adab08153f158721

[2020-09-27 16:50] #519 closed, assigned to nobody

[2020-09-27 17:01] NikKovIos commented on #535
@VitaliiDeveloper any updates?

[2020-09-27 17:04] NikKovIos commented on #285
@andriansergheev @nightroadcosplay is it still actual?

[2020-09-27 21:17] VitaliiDeveloper commented on #535
No. Because haven't time to fix this bug. It not high priority in the general. Not so a lot of users gonna be using large images witch gonna be terminate the app.

[2020-09-28 08:47] NikKovIos commented on #218
Closed because of stale. Feel free to reopen.

[2020-09-28 08:47] #218 closed, assigned to s4cha

[2020-09-28 22:52] heitara commented on #520
I've checked the latest master and it builds fine using iOS 14. Anything wrong on your end?

[2020-09-29 09:27] sadeghgoo opened #578 "in iOS 14 when user not allowed to use all photos, apple present own default image picker."
in iOS 14 when user not allowed to use all photos, apple present own default image picker. How can I handle that in YPImage picker

[2020-10-01 06:36] 5fcgdaeb commented on #43
I see that there is the `PreiOS10PhotoCapture` class inside the Pod (4.4.0 version) and that still spits out multiple warnings. The actual issue is closed but the warnings will always remain with this approach.

Just figured out that XCode doesn't provide any means to silence these warnings. All good!

[2020-10-01 10:23] riazhazan commented on #573
@NikKovIos

I am adding Objective c code. The below code will help to do the compression. In below code you can compress video by specifying **resolution and bitrate**

`- (void)compressVideoWithInputVideoUrl:(NSURL *) inputVideoUrl
{
    /* Create Output File Url */

    NSArray *paths = NSSearchPathForDirectoriesInDomains(NSDocumentDirectory, NSUserDomainMask, YES);
    NSString *documentsDirect

[2020-10-01 14:48] murilxaraujo commented on #578
When user selects to allow some photos option the system will show them a picker to select the images it will expose to the app, and after that, it should show the custom picker presenting only the previously selected images. I don't think it can be changed since it is a change in the privacy feature.

[2020-10-02 08:19] PushkinT opened #579 "How change filters title color?"
When I set filters view background color as black, I don't see filters title color.
How can I change text color?

[2020-10-02 14:17] gcamp806 opened #580 "v4.4.0 does not compile with Xcode 11.7"
**Describe the bug**
Compiler error: Type 'PHAuthorizationStatus' has no member 'limited'

**To Reproduce**
Build an app which uses v4.4.0, the compiler will error on YPLibraryVC.swift line 247.

**Expected behavior**
No compiler errors in the YPImagePicker library

**Screenshots**
![Screen Shot 2020-10-02 at 9 14 41 AM](https://user-images.githubusercontent.com/903819/94933277-cc56b100-048f-11eb-

[2020-10-02 15:55] cclaflin89 commented on #575
+1

[2020-10-02 17:48] cclaflin89 commented on #373
+1

[2020-10-05 17:37] soujohnreis commented on #580
+1 to this

[2020-10-06 09:21] alimirzamani commented on #528
I have the same problem. Should we wait for an update?

[2020-10-06 20:23] sharjeelahmed commented on #458
@cikpis did you find the solution ? . the above code doesn't work for me as well

[2020-10-07 08:54] NikKovIos commented on #528
Fixed 46abe699ec11a7d32898f3cddb64d98fee32e8cf

[2020-10-07 08:54] #528 closed, assigned to nobody

[2020-10-07 08:56] NikKovIos commented on #465
https://github.com/Yummypets/YPImagePicker/issues/528
Fixed 46abe69

[2020-10-07 08:56] #465 closed, assigned to nobody

[2020-10-07 08:57] NikKovIos commented on #355
If bug still exist - reopen with screenshot please.

[2020-10-07 08:57] #355 closed, assigned to nobody

[2020-10-07 09:00] NikKovIos commented on #580
@soujohnreis @gcamp806
Please add a Pull Request where it would be something like `if #available(iOS 14.0, *) {`

[2020-10-07 09:07] NikKovIos commented on #578
Agree with @murilxaraujo

[2020-10-07 09:07] #578 closed, assigned to nobody

[2020-10-07 10:19] NikKovIos commented on #575
Fixed 3f9dedec7584e5381370a0576a5077d0dc0b34d8

[2020-10-07 10:19] #575 closed, assigned to nobody

[2020-10-07 10:20] #492 closed, assigned to nobody

[2020-10-07 10:26] #520 closed, assigned to nobody

[2020-10-07 14:38] gcamp806 commented on #580
@NikKovIos  PR #581 submitted!

[2020-10-08 10:19] #580 closed, assigned to nobody

[2020-10-08 10:42] NikKovIos commented on #573
I found an implementation to copy from, but not have time to do it now.
https://github.com/VideoFlint/VIExportSession/tree/master/VIExportSession

[2020-10-08 13:17] userSV opened #582 "YPImagePicker -> AVAsset -> Could not create an export session"
I am using the pod version 4.3.1 and when I select a video and then click on next, the loader keeps on loading. And in the console the error "YPImagePicker -> AVAsset -> Could not create an export session" is printed. I have checked on iPhone 11 pro max simulator and found the issue , the same case worked fine on iPhone X simulator.

Steps to reproduce the behavior:
1. Show picker and select a vid

[2020-10-12 12:50] ndemie opened #583 "Setting a size limit"
I would love to be able to set a size limit for photos and videos, and if a selected item goes over that limit show an error/alert, the same way it is being done with a time limit for videos.

It this currently a possibility? I couldn't find anything in regards to this in the docs or the code.

[2020-10-13 15:09] prashanththota09 commented on #211
Currently i am facing with the same issue. Is this feature implemented or yet to be implemented ?

[2020-10-13 15:48] petrykDima opened #584 "Crash on deselecting limited access image (iOS 14)."
**Describe the bug**
Picker crashing after deselecting previous photos and selecting new ones in limited access. If the user has chosen limited access to his media files, after restarting the application and calling the picker, he can supplement his selected media files or leave them in the form in which they were selected during the previous session. If the user chooses to supplement his choice,

[2020-10-13 16:18] petrykDima opened #585 "Picker automatically disappears if the user has not selected any media files limited access (iOS 14)"
**Describe the bug**
The picker is automatically closed if the user has not selected any media in the limited access mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch the application.
2. Call YPImagePicker.
3. On access selection pop-up window, select “Select Photos ...“.
4. Press Done button with no media selected.
5. YPImagePicker is automatically closed until the user selects a

[2020-10-14 10:37] StephanKornerTrihow commented on #383
Will there be a video compression change-feature in YPImagePicker soon ?

To clarify, I mean some sort of button or dropdown-menu for the user to change video compression while having the picker open. (very similar to Apple's native iPhone-Setting option (to be found under Camera Settings) called "Video Format Control" option - that eventually shows compression-quality right there where you need i

[2020-10-14 12:29] lachezartodorov commented on #455
@TeeAche You have to remove the `showPicker()` from `viewDidAppear`
I believe it is there for testing purposes.

[2020-10-15 06:42] olehmalovichko commented on #585
is there any solution?

[2020-10-15 09:10] petrykDima commented on #585
Steel wait for any reaction from developer =(

[2020-10-15 09:24] ndemie commented on #251
This still seems to be an issue. Has anyone managed to resolve this? Cause right now it's impossible to use recorded videos making that feature completely broken.

[2020-10-15 09:25] ndemie commented on #361
This is still an issue. fromCamera is not being set when using a recorded video

[2020-10-16 11:28] StephanKornerTrihow commented on #385
Same here - YPImagePicker does not rotate the front-camera image correctly (as YPImagePicker does correctly with the rear-camera image).

Landscape with front-camera (acquired with "didFinishPicking" delegate method) does show correct width and height.

However, the photo.image (or photo.originalImage) delivered by "didFinishPicking" for Landscape-aquired fotos from front-camera are corrupt (90 de

[2020-10-19 05:19] choiks14 commented on #584
same here

[2020-10-19 12:30] userSV commented on #582
Does anybody has idea of this issue? I am not sure if this issue is only in the respective simulators only or on the real devices as well.

[2020-10-22 07:25] Maxvit5 opened #588 "add swift package manager"
Hi
please add swift package manager

[2020-10-22 15:57] petrykDima commented on #585
Ask user permission for use photos, before open Controller.
It helped me.

[2020-10-22 15:58] petrykDima commented on #584
Ask user permission for use photos, before open Controller.
It helped me.

[2020-10-23 09:06] mosesmwongela opened #589 "Java/Kotlin version please?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-23 13:57] naveenjangra2 opened #590 "Camera issue"
Record video from the camera in full-screen mode. there is a black stripe below the video
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Camera Recording'
2. Click on the 'Recording button'
3. Stop Recording
4. See the video in the preview section

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to h

[2020-10-23 15:41] StephanKornerTrihow commented on #556
Any news to the .mp4 conversion of videos ?  In your application, it turns out that we really would like to have video's being able to show in Chrome Browser. Right now, this still does not work.

[2020-10-23 21:01] Claeysson commented on #455
This is my solution. Doesn't produce a blank VC in the background as in the other suggested answers.

[code]

[2020-10-24 05:29] #590 closed, assigned to nobody

[2020-10-24 05:29] naveenjangra2 commented on #590
Thanks it is fixed in new code but not published for pod file.

[2020-10-26 12:02] StephanKornerTrihow opened #592 "video compression not working"
Setting the YPImagePickerConfiguration to be

`config.video.compression = AVAssetExportPreset640x480`

then I would expect the video received by the callback 'didFinishPicking' to be of size 640x480

However, the video size is 1920x1080 instead !

Why is that ?

I deduct the size by the following code (i.e. videoURL given by `didFinishPicking`)

[code]

Looking into your YPImagePicker library code

[2020-10-26 14:51] isayeter opened #593 "About crop view frame"
Hello, when I use 9:16 aspect ratio for image crop, I see a screen like this:

![Simulator Screen Shot - iPhone 11 - 2020-10-26 at 17 49 04](https://user-images.githubusercontent.com/3602109/97187601-a634e000-17b3-11eb-8f30-8e3c36b7821e.png)

But the problem is OK and Cancel butons at the bottom does not appearing (they are black color), is there any way to frame photo area above that buttons?

li

[2020-10-28 03:53] arthurfaredge opened #594 "Gallery selection is stuck when first photo was not granted permission"
**Describe the bug**
The gallery view automatically selects the first photo and shows preview.  If the first photo was not given permission by the user,
it shows up a blank on the YPPicker gallery and it tries to show the preview of this.  This is where the picker view gets stuck.  User cannot select on a different picker.  It also happens when the users selects a blank space (OS did not give perm

[2020-10-28 08:27] victormihaita opened #595 "How can I hide the squareCropButton?"
**Is your feature request related to a problem? Please describe.**
I don't want to have the button `squareCropButton` on the screen when picking images

**Describe alternatives you've considered**
It should be an option in the config for hiding buttons.

[2020-10-28 08:45] riazhazan commented on #483
I do have the same issue. Any Solutions so far?

[2020-10-28 09:21] riazhazan commented on #483
Yes. This worked for me also. This can be merged to master and deploy.

[2020-10-28 12:20] vd1516 opened #596 "Background Audio Support"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-28 14:45] deeplinkage commented on #298
This is a big issue if you upload big video files like I do. How can this be resolved? Thanks

[2020-11-02 08:44] Will-ZJ opened #599 "swift version adapt"
**Describe the bug**
![71604306488_ pic_hd](https://user-images.githubusercontent.com/22385702/97847238-45b12000-1d2a-11eb-91be-89afb19a9fa3.jpg)

compiler error info: /Users/XXXX/Downloads/YPImagePicker-master/Source/Filters/YPFiltersView.swift:9:8: Module compiled with Swift 5.3 cannot be imported by the Swift 5.1.3 compiler: /Users/will/Downloads/YPImagePicker-master/Carthage/Build/iOS/Stevia.f

[2020-11-02 19:01] AnnieNinaJoyceV opened #600 "Accessibility Voice Over"
**Is your feature request related to a problem? Please describe.**
We found that Voice Over is not included in this library. We believe it requires some fine tuning like instead of letting it read the image name for buttons, make it read its actual behaviour based name.

**Describe the solution you'd like**
Voice Over to read crisp name or description of each element to make it easier for Visually

[2020-11-02 21:15] ikrikelas commented on #593
Same problem here

[2020-11-05 15:30] updev0612 commented on #599
please install Stevia with CocoaPod or Swift Package manager.
If you have still such issue, you have to initi project in Xcode 11.

[2020-11-06 02:16] minseks commented on #585
I face a similar problem. When there is no media file in the user's device, the picker will be automatically dismissed after opening the picker. However, because there is no media in the library, user needs to use the photo or video tab to take photos or videos, but it cannot be satisfied because of the mechanism of YPImagePicker.

I think the `noPhotosForOptions()` function should be changed.
`

[2020-11-06 08:28] StephanKornerTrihow commented on #550
iPad Rotation on iPad does not work. Right side of picker is black. (version = XCode 12 release)

![JQfCX](https://user-images.githubusercontent.com/65535058/98343431-1ba17b80-2012-11eb-8cbe-fc3916c79d4e.gif)

I tried something like the following inside YPImagePicker.swift, but without success.

Do you know how the landscape rotation can be done otherwise ?

[code]

[2020-11-09 07:05] vishalsata1804 opened #602 "While Selecting Image From Camera and Gallery it create issue Of Loader"
Selection from Both camera and Library Creating issue ,loader is Continue loading Can you Please Guide me

[2020-11-09 09:34] vishalsata1804 commented on #602
By Using Skip gallery selection Option this will Work now

[2020-11-09 09:34] #602 closed, assigned to nobody

[2020-11-11 06:22] r-a-o commented on #1
Hi, is there a specific reason for dynamically linking Stevia? Since its dynamically linked, its messing with my project's other autolayout library (EasyPeasy). I am unable to use this repo because the dependency is dynamically linked. Any solution? Can we remove dynamic linking of Stevia?
@s4cha

[2020-11-11 07:01] r-a-o opened #603 "Stevia creating issue with main project auto layout library"
Dynamically linked dependency, Stevia, is creating a lot of class conflicts with EasyPeasy which is another popular autolayout library which I use in my project.
Is there a way I can remove dynamic linking of Stevia and still make YPImagePicker work?

[2020-11-13 02:54] mdfalcon104 opened #604 "Thread 1: Fatal error: Unexpectedly found nil while unwrapping an Optional value"
I am running the code on the simulator, although I know the capture video or image only works on the real phone but i got an error while using this library on the simulator. Can we fix it?
<img width="1157" alt="Screen Shot 2020-11-13 at 09 52 41" src="https://user-images.githubusercontent.com/5404685/99022936-25892880-2596-11eb-8938-7fd01d14e5ea.png">

[2020-11-17 03:52] cloke commented on #588
@Maxvit5 This is supported, but you have to specify the branch. https://github.com/Yummypets/YPImagePicker branch `spm`. I missed the specify branch part in the readme at first and kept thinking it was broken.

[2020-11-17 05:28] kamrankhan07 commented on #585
My workaround

[code]

set PHPhotoLibraryPreventAutomaticLimitedAccessAlert to YES in app’s info.plist

[2020-11-19 11:58] ibrahimzakarya opened #606 "trimmed video duration"
**Describe the bug**
when i select a video then trim it the (asset.duration) give me the original video duration, not the trimmed one

**To Reproduce**
Steps to reproduce the behavior:
1. set config.showsVideoTrimmer = true
2. select video from library
3. trim it
4. print the duration
5. it will show the original video seconds count

**Expected behavior**
the asset duration is expected to be the t

[2020-11-21 20:09] Ricardo1980 opened #607 "[Bug] Properties bottomMenuItemSelectedTextColour and bottomMenuItemUnSelectedTextColour are not used"
**Describe the bug**
bottomMenuItemSelectedTextColour and bottomMenuItemUnSelectedTextColour are completely ignored by the app. It does not matter what color we use.
I also see that in the source code they only appear once.

bottomMenuItemSelectedTextColour
https://github.com/Yummypets/YPImagePicker/blob/5f90725766db9d6a9437b82ee63658042eaf67d1/Source/Configuration/YPImagePickerConfiguration.swift

[2020-11-28 13:08] mdfalcon104 opened #610 "No active and enabled video connection"
I got this crash log on iPhone 5s

 1.0.1 (1.0.1)
 12.4.9 (16H5)
 iPhone 5s
 Nov 28, 2020, 4:42:49 PM

[code]

[2020-11-29 03:05] HariMahesh opened #612 "Change color of Image shutter"
Is it possible to change the color of the Image shutter (the circular button that you tap to take the photo)? It is currently the green-ish color. I have looked through the YPColors file and I can't seem to find the a color setting to adjust for that button.

[2020-11-29 22:20] inossan-dev opened #613 "Remove video background noise"
Hi, your work is really helpful to me. Congratulations!
I would like to remove or reduce the background noise after recording a video.
How can I do it please?

[2020-12-03 11:19] umangbista2 opened #615 "Header "Stevia-Swift.h" not found"
**bug**
Unable to run the project.

**Screenshots**

![Screenshot 2020-12-03 at 4 24 30 PM](https://user-images.githubusercontent.com/27769844/101006625-35899c00-3587-11eb-8dc0-493680939354.png)

**Environment:**
 - Device: [e.g. iPhone7]
 - OS: [e.g. iOS13.1.3]
 - Xcode Version [e.g. 12.2]
 - Swift Version [e.g. 5.3.1]

[2020-12-05 21:30] EinfachHans opened #616 "feat: Disable Cover Option in trimmer"
**Is your feature request related to a problem? Please describe.**
Currently if you enable the video trimming, you automatically have the cover selection enabled. I don't need / use this and don't want to show this feature.

**Describe the solution you'd like**
It should be able to disable it via a config variable

[2020-12-06 11:06] cruisediary commented on #612
Hi @HariMahesh.
I found two solution to change color configuring `YPImagePickerConfiguration()`

**First**
Change your own colored image shutter, I create resource to adjust color theme.

example image resource what I create to change color

![example](https://user-images.githubusercontent.com/2609775/101278347-0f216600-37fe-11eb-8249-ea4318035c20.png)

[code]

**Second**
Use tint color with rende

[2020-12-09 05:49] brajpalSingh905 opened #617 "Filters"
video filter is not available

[2020-12-10 07:10] Songyeyaosong opened #618 "When "config.library.mediaType = YPlibraryMediaType.photoAndVideo", I only want to choose photo or only video. How can i do."
First of all, Sorry for my poor English.
When "config.library.mediaType = YPlibraryMediaType.photoAndVideo".
We can both choose photo and video.
But I only want to choose photo or video.
So when I set config.library.mediaType = YPlibraryMediaType.photo.
There is only one way to select the video that is use YPImagePicker to record a video.
So how to do that when I choose the photo then I can't choo

[2020-12-14 06:34] HariMahesh commented on #612
Thank you! I'll try this out and let you know!

[2020-12-14 09:31] xinzy commented on #236
And XCode 12.2

[2020-12-14 11:59] jensonjohn001 commented on #464
+1

[2020-12-15 09:18] maksymIv3 commented on #516
Hi guys. Just asking if we have any changes regarding this issue?

[2020-12-15 11:31] heitara commented on #516
All media is sorted by creation date. So the airdropped files are in the collection but at different position. There is no easy way to order those the same way like in Photos app. Any ideas are appreciated how that can be achieved.

[2020-12-15 11:59] riazhazan commented on #550
@StephanKornerTrihow Did you find any solution for this issue? @nickeyzzz

[2020-12-15 13:58] StephanKornerTrihow commented on #550
no - not yet

Indeed, I observed that landscape rotation on iPhone is also error-prone (especially when in camera-mode). I am waiting on some input from the YPImagePicker cracks on this.

[2020-12-16 12:49] lazyvar commented on #618
@Songyeyaosong I don't think this library has the capability to do what you want. You would have to show a prompt to the user asking if they would like to select a photo or video and then based on that choice, present the media picker with the correct configuration. You could also fork this library and add a case `photoOrVideo` to `YPlibraryMediaType` and implement the logic yourself.

[2020-12-16 12:55] Jony-Ive-1993 opened #619 "how to add specific filter only"
I need only Mono, Noir and Tonal filte.

[2020-12-17 06:32] MagicFlow29 commented on #536
Hi same issue here, and yes this is with .MP4. Can we work on getting a fix in for this? Happy to help.

[2020-12-21 07:11] #483 closed, assigned to nobody

[2020-12-22 08:25] vietstone-ng opened #620 "Can not run example app by "pod try YPImagePicker""
**Describe the bug**
Can not run example app by "pod try YPImagePicker"

**To Reproduce**
Steps to reproduce the behavior:
1. Open Terminal, run "pod try YPImagePicker"
2. In Xcode, run target "YPImagePickerExample"
3. There're 3 errors reported by Xcode:

**Expected behavior**
The app is opend on device

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="1512

[2020-12-22 16:07] traviscalley opened #621 "Crashing in iOS14 when selecting video or capturing video."
The bug occurs when I am finishing trimming a video, pressing next always results in a crash. Regardless of whether the video was captured from the camera or selected from the gallery.

**To Reproduce**
1. Select video
2. Trim video
3. Press Next
4. Crash...

**Expected behavior**
I am trying to store the video URL in a variable. So, I can then present the video to the user using AVPlayer.

**Envi

[2020-12-23 02:59] moltovivo opened #622 "Preview clips non-square images"
**Describe the bug**
After selecting multiple images from the library, they are displayed in the preview screen all as squares. Even if the isSquareByDefault is false. So photos which should be in portrait orientation are clipped at their top and bottom edges.
The main problem with this is it can give the user the misleading impression that their photo has been cropped, before they upload it to th

[2020-12-23 11:19] IrelDev opened #623 "YPImagePickerExample Xcode 12 build error"
**Describe the bug**
Cannot build YPImagePickerExample because of the following error:
Building for iOS, but the linked and embedded framework 'PryntTrimmerView.framework' was built for iOS + iOS Simulator.

**Environment:**
 - Device: iPhone 6s real device, iPhone 12 Pro Max simulator
 - OS: 14.3
 - Xcode Version: 14.3 & 14.2
 - Swift Version: 5.3

[2020-12-27 13:14] rezamagnet opened #624 "After record video nothing happened"
**Describe the bug**
after record video nothing happened

**To Reproduce**
Steps to reproduce the behavior:

Use these code:
var config = YPImagePickerConfiguration()
config.video.fileType = .mp4
config.video.compression = AVAssetExportPresetLowQuality
config.screens = [.library, .photo, .video]
config.library.mediaType = .photoAndVideo
let picker = YPImagePicker(configuration: config)
present(pic

[2020-12-28 10:02] bleakas commented on #603
same problem

[2020-12-30 15:17] #621 closed, assigned to nobody

[2020-12-30 15:17] traviscalley commented on #621
Turned out to be an issue with a TimeObserver object.

[2020-12-30 15:18] traviscalley commented on #617
I would like video filters as well.

[2020-12-31 09:02] rezamagnet commented on #624
it was iOS bug even screen recording on my iOS device doesn't work, after i know this bug, I restart my phone and everything goes fine but this takes me some times to understand the solution.

I'm using iOS 14.3

[2021-01-01 19:35] #624 closed, assigned to nobody

[2021-01-02 12:37] foobar98 commented on #580
@NikKovIos When can we expect this to be released?

[2021-01-03 13:48] musakokcen commented on #620
I also have the same issue!

"Module compiled with Swift 5.3 cannot be imported by the Swift 5.3.2 compiler"

[2021-01-03 17:06] niteshgupta27 commented on #623
plz add PryntTrimmerView.framework' pod in podfile

[2021-01-06 09:58] GuriSarao commented on #592
Is there any solution for video compression, I am also not able to compress the video by AVAssetExportPreset640x480

[2021-01-12 10:15] Ahmad-Mawdoo3-Khwaja opened #626 "Couldn't install YPImagePicker via Swift Package Manager"
I'm trying to install this library via SPM, but I got error below.

<img width="719" alt="Screen Shot 2021-01-12 at 12 13 53 PM" src="https://user-images.githubusercontent.com/69298052/104300991-d09f5b00-54cf-11eb-9b30-dec7c1bf0692.png">

 - iOS
 - Xcode
 - Swift

**Installation Type**
 - SPM

[2021-01-13 10:08] ashisht85 opened #627 "Video is not showing fit on the gallery"
Hi sir,
I am using YPImagePicker library in our project. in this library I am facing issue.  issue is  when we choose video from gallery then this video in the gallery in not showing proper fit. some part(screen shot attached) is being hidden in left and some part in right. if we adjust according to screen via zoom in(screen shot attached). than it again unfit on screen when we click next button.

[2021-01-14 12:55] ashisht85 commented on #627
Hi Sir,
This is Gentle Reminder!
Please Check and tell me what should I do. I am waiting here please resolved ASAP.

[2021-01-14 12:56] ashisht85 commented on #627
Gentle Reminder!

[2021-01-14 21:07] balavor commented on #627
Hey @ashisht85
Did you try to update `YPImagePickerConfiguration`?
[code]

[2021-01-19 09:40] ashisht85 commented on #627
Thanks Sir, now its working fine as expected.

[2021-01-19 18:40] cclaflin89 commented on #416
The crop rectangle moves when tapping `Save` or `Cancel`. I tested in version 4.4.0

[2021-01-20 17:50] takasurazeem opened #629 "Can I use the picker as the first screen of the app?"
Can I use it as the first screen of the app with callback functions like `videoDidGetSelected(_ animated) { }`

[2021-01-25 07:14] ibrahimzakarya commented on #606
Could anyone elaborate please?

[2021-01-25 08:31] Ludotrico opened #630 "[BUG] Thumbnail can be selected outside of trim"
When trimming a video and then selecting a thumbnail, the thumbnail chooser view is unaware of the trim and allows you to choose a frame outside of the trim.

This is not good @heitara @NikKovIos

[2021-01-25 08:51] heitara commented on #630
@Ludotrico could you record a short video that illustrates this bug?

[2021-01-25 16:16] teamkhabriya opened #631 "Square video recording"
Video camera is recording in sqaure mode, how can we record full screen portrait mode ??

[2021-01-25 17:12] GuriSarao commented on #631
When try to full screen it shows black screen at bottom of video.

[2021-01-25 20:12] Ludotrico commented on #630
https://youtu.be/f7JQYdOIC5g Did you get a chance to look at this? @heitara @NikKovIos @s4cha

[2021-01-26 04:16] Dipteeanques opened #632 "i want the bottom menu on the center of the viewcontroller how can i do that?"

[2021-01-26 12:17] majid701 commented on #550
I'm having the same issue on ipad, any idea on the fix or when it will be fixed?

[2021-02-02 07:59] DJDrama commented on #456
I've successfully implemented picker in swiftui by looking at the issue you mentioned.
Just using state and binding variables, we can get the selected image from the uirepresentable.

[2021-02-04 15:41] vietstone-ng commented on #623
@niteshgupta27 Can you describe in more detail?. I'm trying to make a PR for this issue, but it seems the framework was added in a way that I don't know.

[2021-02-04 15:43] vietstone-ng commented on #620
Does anyone know how to fix this? As I'm using this cool pod, I'm trying to make a PR to fix this issue. But it seems that these frameworks were added in a way I don't know.

[2021-02-05 10:44] iKK001 commented on #626
same here - please add the necessary manifest. Thank you

[2021-02-06 18:54] TilakMaddy commented on #456
Wow ! 🤩  that was so quick mate 🥇 :)

[2021-02-06 18:54] #456 closed, assigned to nobody

[2021-02-07 06:04] dev-Lena opened #633 "Fix Typo"
in README.md

There is a typo in this paragraph: **Plist entries**
need to fix: ad -> add

you'll need to **add** these `plist entries` :

[2021-02-07 16:20] DJDrama commented on #456
@TilakMaddy 1 year has past. time moves fast

[2021-02-12 07:10] uyrruewib opened #635 "the camera cannot open"
Hi everyone, I import the code that provide in the usage and also add the privacy in info, however, when I click the green button in the photo column, the camera did not show which cannot capture any photo, also the video face same problem. it shows an error like below:

[AVCapturePhotoOutput capturePhotoWithSettings:delegate:] No active and enabled video connection"

Does anyone have idea how to

[2021-02-12 08:33] nastasiupta commented on #459
@s4cha  what about this? do you consider enabling support for GIFs picking from photos gallery?

[2021-02-12 08:34] nastasiupta commented on #185
@NikKovIos @s4cha guys can we reconsider this option :)) ?

[2021-02-12 09:14] NikKovIos commented on #185
@nastasiupta i don't think so, sorry)
But you can try to make a MR and we would watch it.

[2021-02-12 14:42] riazhazan commented on #400
@Salmancs43 Did you find a solution for this?

[2021-02-12 19:04] RogelioHIT commented on #16
Hi, I'm setting video as start screen, but keeps going to library my config is

[code]

I'm doing something wrong? or is there another way to force this?
The problem is that if the device don't have any video, it just closes the picker, and it seems like an error

[2021-02-13 15:54] ibrahimzakarya commented on #575
I can't see the change when installing from cocoapods .... any thoughts
<img width="902" alt="Screen Shot 2021-02-13 at 7 53 49 PM" src="https://user-images.githubusercontent.com/20393720/107854434-34050b80-6e35-11eb-8f2e-1a111ca42d8b.png">

[2021-02-15 10:21] majid701 opened #636 "Crash on multiple selection YPLibraryVC.showMultipleSelection() [YPLibraryVC.swift:182]"
I am seeing this crash on my Crashlytics dashboard for many users. Looks like something is happening when selecting multiple images down below is the stack trace. All the crash occurrences are on iOS 14. The crash is happening on both iphone devices and ipad devices. I have not been able to reproduce it yet!

My configuration of the image picker:

[code]

**Stacktrace:**
**Crashed: com.apple.main-

[2021-02-15 10:25] majid701 opened #637 "Crash on YPLibraryVC.swift line 471"
I have not been able to reproduce this one. Not that common but happens sometimes:
100% iphone devices
100% iOS 14

**Stacktrace:**

**Crashed: com.apple.root.user-initiated-qos
EXC_BREAKPOINT 0x00000001887d5fb0**

Crashed: com.apple.root.user-initiated-qos
0  libswiftCore.dylib             0x1887d5fb0 _assertionFailure(_:_:file:line:flags:) + 488
1  YPImagePicker                  0x1047b27bc clos

[2021-02-15 14:45] aiosDeveloper opened #638 "rotate image"
Can you add feature for rotate image after select them? in instagram, there is tab for Edit but this library do not care it.

[2021-02-15 23:20] patthehuman opened #639 "Remove the Preview square at the top of the screen"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to modally show the screen without the big preview square at the top of the view controller. I only want the small gallery squares for my selection and use of images.

**Describe the solution you'd like**
I would like to only have the smaller grid of preview images when selecting media.

**Describe alternatives

[2021-02-18 12:45] jacobsapps opened #640 ""Unowned" in README causing problems"
**Describe the bug**
The use of "unowned" in the readme for `picker.didFinishPicking { [unowned picker] items, _ in` causes crashes when the picker is used in a modal view. This can be easily fixed by suggesting using [weak picker] instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Create imagepicker over an already modal view
2. Take photo
3. Very quickly try to dismiss the modal at t

[2021-02-18 16:30] aksonov commented on #455
Good solution, thanks! Do you know how to show my custom 'next' screen after user taps "Next" for MediaPicker (like in Instagram, create new post screen is shown after image selected)?

[2021-02-25 10:37] marvukusic opened #642 "Video preprocessing too long without progress indicator"
**Describe the issue**
Issue is that longer compressed videos take too much time to transition to trimming screen after recording end with no UI elements like activity/progress indicator.

**To Reproduce**
Start recording a video. Stop after 3 minutes. Observe how long it takes to transition to trimming screen.

**Possible solution**
Add activity/progress indicator between recording and trimming s

[2021-02-25 16:34] riazhazan commented on #642
I fixed the same issue like this. Modified the YPLoaders.swift & YPVideoCaptureHelper.swift
----------------------------------

YPLoaders.swift
==============
struct YPLoaders {
    static var defaultLoader: UIBarButtonItem {
        let spinner = UIActivityIndicatorView(style: .gray)
        if let spinnerColor = YPConfig.colors.navigationBarActivityIndicatorColor {
            spinner.color = sp

[2021-02-26 09:31] marvukusic commented on #642
@riazhazan Ok, I'll try that. Thx.

[2021-02-26 13:33] rbecharast-chwy commented on #580
@NikKovIos When can we expect this to be released?

[2021-02-26 19:05] aritroper opened #643 "Add custom images to picker"
It would be nice if you could initialize the picker with a custom set of UIImages. It would be even nicer if this is an album option from the Library dropdown.

[2021-02-28 12:13] said13 opened #644 "Can not update pod's code to 4.4.0"
After pod install/update terminal says that 4.4.0 is installed, but the code is old. For example in `YPLibraryVC.swift` the `refreshMediaRequest` function is without `preSelectItemOnMultipleSelection` bug fixing code.
I have as issue with pod updating or this Is a library issue?

[2021-02-28 13:38] ibrahimzakarya commented on #644
me too

[2021-02-28 19:33] Husseinhj commented on #610
same exception

[2021-03-01 06:38] riazhazan commented on #618
case .photo:
            config.screens = [.photo, .library]
            config.library.mediaType = .photo
        case .video:
            config.screens = [.library, .video]
            config.library.mediaType = .video

Please see if this may help you @Songyeyaosong

[2021-03-04 10:29] ashish752 commented on #160
Thanks

[2021-03-06 17:26] ramluro1 commented on #455
Do you mind sharing the rest of your SwiftUI code. I am trying to figure out the following:
1. How do I get the image back into SwiftUI
2. How can I use SwiftUI to manage the "Select Image" button instead of having it in the view controller
3. How can I use SwiftUI to display the selected image and not show it in the view controller

Thank you

[2021-03-12 06:51] larrydnlee opened #647 "Could you please explain how to config if we want to crop the image into rectangular such as 800x400 ??"

[2021-03-12 14:41] #455 closed, assigned to nobody

[2021-03-16 09:37] wanderingfairy opened #648 "How to use custom ratio in YPLibraryView?"
<img width="61" alt="button" src="https://user-images.githubusercontent.com/56634480/111287232-5c776400-8686-11eb-9c4c-bd8835153ba1.png">

Tapping the scale button in the ImagePickerView shows an image with a square ratio and an image with an original ratio.
I want to use a square ratio and a predefined custom ratio instead of the original ratio. (16:9 for landscape images, 4:5 for portrait images

[2021-03-17 03:01] Ludotrico commented on #630
It has been a few months, any signs of life? @heitara @NikKovIos @s4cha

[2021-03-17 03:02] Ludotrico commented on #514
@s4cha updates?

[2021-03-18 09:06] #620 closed, assigned to nobody

[2021-03-18 09:08] #623 closed, assigned to nobody

[2021-03-18 19:44] NikKovIos commented on #630
Unfortunately this functional depends on https://github.com/HHK1/PryntTrimmerView/issues pod.

[2021-03-19 11:04] NikKovIos commented on #630
We with @s4cha decided to insert PryntTrimmerView code into the project and remove the cocoapods dependence for this. It will help to give the possibility to fix the bug.

[2021-03-19 17:27] Ludotrico commented on #630
That's a good start, thank you @NikKovIos

[2021-03-24 08:00] said13 commented on #644
`  pod 'YPImagePicker', :git => 'https://github.com/Yummypets/YPImagePicker'`
fixed the issue

[2021-03-24 08:00] #644 closed, assigned to nobody

[2021-03-26 13:25] pramittewari commented on #594
+1

[2021-03-26 13:25] pramittewari commented on #464
+1

[2021-03-26 13:29] pramittewari opened #650 "Photo Library / Media Library / Camera Usage Permission Issue"
If the permissions are denied when the picker is loaded for the first time, the picker isn't dismissed.
Either the picker should be dismissed or there should be a callback with the authorisation result so the user can dismiss.
However a callback would be more customisable.

[2021-03-30 06:30] 338drive commented on #637
I have same issue. Can't reproduce but some of users have this problem
iOS: 14.4.1
Device: iPhone 6s Plus

Crashed: com.apple.root.user-initiated-qos
0  libswiftCore.dylib             0x18e556aa8 _assertionFailure(_:_:file:line:flags:) + 488
1  YPImagePicker                  0x104c1a7bc closure #1 in YPLibraryVC.selectedMedia(photoCallback:videoCallback:multipleItemsCallback:) + 471 (YPLibraryVC.s

[2021-03-30 22:28] calebmitcler opened #651 "config.showsCrop for videos"
Would be nice to crop the selected video to a specific aspect ratio

[2021-03-31 05:47] brightroots7 commented on #629
Yes, you can create a subclass of `YPImagePicker` thas all, You can get the callbacks on the subclass as well.

`
    final class MediaPickerController: YPImagePicker {

        private init() {
            super.init(configuration: MediaPickerController.getConfiguration())
        }

        required init(configuration: YPImagePickerConfiguration) {
            super.init(configuration: configura

[2021-04-02 15:53] fukemy commented on #575
got same problem here even
[code]

[2021-04-06 17:41] fukemy commented on #575
hi, i updated to version 4.4.0 but still see this line have only !multipleSelectionEnabled, can u double check it again @NikKovIos

[2021-04-07 18:21] schveiguy opened #652 "Allow suppression of flipping front camera"
**Is your feature request related to a problem? Please describe.**
My app that uses YPImagePicker is used to take pictures of things used in auditing. In many cases, the pictures are of nameplate data (i.e. volts amps, etc), and in many cases it's easier to use the front camera to take the picture instead of the rear camera. When this happens, the nameplate text is shown backwards. I understand th

[2021-04-07 18:21] schveiguy commented on #652
Note, I still would want the preview to be flipped, just not the resulting image.

[2021-04-07 19:23] smedic commented on #365
@s4cha ?

[2021-04-07 19:35] smedic opened #653 ""Select only" shows videos in all cases"
If we set "Select only" in app permissions, we will see both videos and images. But if we select "All Photos" it shows only images.

Setting this does not help.
config.library.mediaType = .photo

Any idea why and how to  filter out videos?

[2021-04-08 10:01] ghost opened #654 "Line indicating progress while trimming video doesn't work till You start trimming a video"
**Describe the bug**
The line indicating progress while playing/trimming video doesn't work till You You start trimming it.

**To Reproduce**
Steps to reproduce the behavior:
1. Open plugin
2. Tap the record button and record a short video.
3. While you're on 'Trim' screen, tap the video anywhere to start playing
And the progress line won't be moving. But if you swipe this trimming thing a little

[2021-04-08 10:07] ghost opened #655 "You can still press the recording button after You're done with recording"
**Describe the bug**
Right now You can stop the recording, press the record button again quickly to start recording again and You’ll end up with a short video that's few seconds long.

**To Reproduce**
Steps to reproduce the behavior:
1. Tap the record button to start recording
2. Wait 30 seconds
3. Tap the record button to stop recording
4. And then tap it quickly again
And it’ll start recording

[2021-04-08 10:28] ghost opened #656 "Trimming indicator disappears after a few seconds"
**Describe the bug**
After you’re done recording a video, you’re redirected to the ‘Trim’ screen. But when You tap ‘next’ it seems as if you’re redirected to this same exact screen for the second time.

**To Reproduce**
1. Record something for 10s, tap the red stop button
2. You’ll be redirected to the ‘Trim’ screen, tap the ‘Next’ button
And after a few seconds, the loading animation is gone and

[2021-04-11 21:24] NikKovIos commented on #575
Check the last release 4.5.0

[2021-04-13 08:03] gupta1111-eng commented on #176
@s4cha any update on  full screen preview?

[2021-04-14 08:47] norbdev commented on #626
![Képernyőfotó 2021-04-14 - 10 46 47](https://user-images.githubusercontent.com/11431750/114681736-b9f6e300-9d0e-11eb-89e5-6cea626f1d62.png)

[2021-04-14 08:49] norbdev opened #657 "Update SPM and Stevia version"
Please update the "spm" branch and the Stevia version.

[2021-04-16 07:20] hansemannn commented on #637
Same here (multiple crashes, all iOS 14, iPhone 7 + X):
[code]

[2021-04-21 12:51] nastasiupta opened #658 "Memory spikes after selecting 25 photos and press "Next" without applying any filter"
**Describe the bug**
If I select 25 photos from the album the those just closes the screen (like locking it for example) after I press "Next" on the filters screen.
This is the memory increasing after each step
Opening de screen - 80 mb
Opening the YPImagePicker with the default album - 101 mb
Switching from the main album to a custom one - 146 mb (goes back to 136 after few seconds)
Selecting 25

[2021-04-22 10:10] nastasiupta commented on #658
Also related to this issue: https://stackoverflow.com/questions/25447171/uiimagepicker-image-size-is-more-than-original

for example, one photo that I used has the following size:
in finder: 2.5mb (wp1848524-8k-wallpapers.jpg from .zip)
After I select that image from YPImagePicker and I call the compression function:
10mb:
(lldb) po self.jpegData(compressionQuality: 1.0)
▿ Optional<Data>
  ▿ some

[2021-04-24 06:19] Ludotrico commented on #392
@s4cha  @NikKovIos @heitara  This is quite a big issue, any updates?

[2021-05-12 08:34] cclaflin89 opened #660 "Square video cropping"
I'm not sure it's a bug. When I choose a video from the library in square view (button at the bottom left of preview area), I'm getting a full-screen video.
So when I play the video with AVPlayerViewController, it shows full-screen video. Not square cropped.
How can I get a cropped video?

I tested with the sample project in this repo and the version I tried is 4.5.0.

Device: iPhone X
Swift 5.3
X

[2021-05-18 03:26] MoonshineSG opened #661 "Crop before filters in multi select"
**Is your feature request related to a problem? Please describe.**
As per the title, I would like to be able to crop and then apply a filter in multi selection (from library)

**Describe the solution you'd like**
as above

**Describe alternatives you've considered**
can't think of an alternative

**Additional context**
none

[2021-05-18 10:27] MoonshineSG opened #662 "showsCrop in MultipleSelection"
**Describe the bug**
when selecting multiple photos, the "cropping" screen is skipped

**To Reproduce**
Steps to reproduce the behavior:
1. Select Multiple Photos
2. Click on 'Next'

**Expected behavior**
Should display the cropping screens

**Screenshots**
n/a

**Environment (please complete the following information):**
 - Device: XS
 - OS: 14.5.1
 - Xcode Version 12.5
 - Swift Version 5

**Inst

[2021-05-19 03:03] v66177 commented on #636
Selects 0 photo to access, then you will be able to repeat that crash.

Change line 133 in YPLibraryVC.swift as blew:

`if YPConfig.library.minNumberOfItems > 1, mediaManager.hasResultItems {`

[2021-05-19 07:43] MoonshineSG commented on #662
The same way as tapping on a video that has been selected and added to the gallery pops up the trim , on a photo it should pop up a crop. Maybe crop on a video as well?

Or even better, there's that square that indicates "editable". That could be a button to bring up the crop...

[2021-05-19 11:51] MoonshineSG commented on #662
or use the selection zoom level to apply the crop...

anyway I wonder if anyone reads these...

[2021-05-22 13:10] RoqueCampos commented on #361
+1 I'm having the same problem. A workaround is to check if the video.asset object is nil, but it would be nice to have this little bug corrected

[2021-05-24 06:36] asger777 opened #664 "YPVideoCaptureHelper - .usesFrontCamera"
YPVideoCaptureHelper -> line 207

let aDevice = deviceForPosition(YPConfig.usesFrontCamera ? .front: .back)

please add this line to video camera, for configuration about using front camera first.

[2021-05-27 08:23] MoonshineSG commented on #661
This could be "easily" done if capturing the crop and position of the image selection ...

[2021-05-29 09:14] nitingohel commented on #137
I am not sure but the issue is there. as you can see there is crop review there after choosing video from gallery or record then on next it show full video not cropped video. check the attached video so you guys can notice the bug.

Crop working for image very well not crop not working for video anymore.

looking for solution please

https://user-images.githubusercontent.com/5137595/120064912-5346

[2021-05-29 09:16] nitingohel opened #665 "Crop not working for video ( choose from gamary or capture by camera )"
I am not sure but the issue is there. as you can see there is crop review there after choosing video from gallery or record then on next it show full video not cropped video. check the attached video so you guys can notice the bug.

Crop working for image very well not crop not working for video anymore.

looking for solution please

https://user-images.githubusercontent.com/5137595/120064912-5346

[2021-06-01 12:33] AndriiHanets commented on #637
Same random crashes

[code]

[2021-06-02 18:51] gupta1111-eng commented on #630
Hi @NikKovIos Any update on this?

[2021-06-04 08:58] anhntsi commented on #636
Hi @vvm,

I has received crash logs about `YPLibraryVC.showMultipleSelection()`.
I has try to reproduced the crash but I can't.

Because the condition `YPConfig.library.minNumberOfItems > 1` isn't match. How to reproduce the crash?

[2021-06-04 23:56] NikKovIos commented on #630
I've been granted an access to push and publish updates for TrimmerView but don't have time to fix that. However, you can create an issue in https://github.com/HHK1/PryntTrimmerView/issues to make the changes faster.

[2021-06-07 09:19] gihancs commented on #306
Hello, This bug is still exist.

[2021-06-16 07:36] amit123ios opened #667 "choose video in iPhone simulator its failed"
**Describe the bug**
When I choose video in iPhone simulator its failed , and shows this error-

Export of the video failed : Optional(Error Domain=AVFoundationErrorDomain Code=-11800 "The operation could not be completed" UserInfo={NSLocalizedFailureReason=An unknown error occurred (-12212), NSLocalizedDescription=The operation could not be completed, NSUnderlyingError=0x600000f96a90 {Error Domai

[2021-06-19 15:38] devSC opened #668 "Crash in selectedMedia method"
Crashed: com.apple.root.user-initiated-qos
0  libswiftCore.dylib             0x188c00cfc _assertionFailure(_:_:file:line:flags:) + 492
1  YPImagePicker                  0x106e5a7fc closure #1 in YPLibraryVC.selectedMedia(photoCallback:videoCallback:multipleItemsCallback:) + 471 (YPLibraryVC.swift:471)
2  YPImagePicker                  0x106e7f034 thunk for @escaping @callee_guaranteed () -> () + 4

[2021-06-24 06:27] chang-guofeng commented on #624
I meet the same issue even after restart my phone..

it says:
[ImageManager] First stage of an opportunistic image request returned a non-table format image, this is not fatal, but it is unexpected

iOS 12.5.4

Any one knows what's happing?

[2021-06-24 10:41] JayMehta97 commented on #409
@wzio I can't see this issue being solved by current master branch code

[2021-06-25 02:14] Ludotrico opened #669 "[CRASH]"
When selecting multiple videos and then hitting next:

2021-06-24 19:12:42.939086-0700 MyApp[33986:7240425] [core] "Error returned from daemon: Error Domain=com.apple.accounts Code=7 "(null)""
YPAssetZoomableView >>> No image

[2021-06-26 02:26] awerudev commented on #667
@amit123ios Any update? I am getting the same error.

[2021-06-26 18:31] #669 closed, assigned to nobody

[2021-07-01 17:47] timothyerwin commented on #662
I read it with my morning coffee.

[2021-07-01 17:49] timothyerwin commented on #642
@riazhazan can you fix the code formatting?

[2021-07-02 15:10] rudsberg opened #670 "Is there a way to specify an aspect ratio inside the library VC?"
The application I am building is intended not to allow any arbitrary crop to be applied to an image, instead a specific aspect ratio is only allowed. So, is it possible to use the same behaviour as "showsCrop" has, but have it being applied in the library VC? That is, I would like to restrict to only change to crop to a given aspect ratio inside the library VC. I am aware of the "showsCrop" attrib

[2021-07-03 16:07] justdan0227 opened #671 "Refresh of Library"
How do you go about selecting another image from the library that isn't in your current selected list - aka select and image and then call YPImagePicker again - Library just shows what you added the first time.  I have to exit the app and restart to get the message about adding items to your list.

[2021-07-03 16:23] justdan0227 opened #672 "Crop Verbiage"
Can you provide a way to allow us to add verbiage to the CROP screen - instructing users what to do?

[2021-07-04 02:57] dan085 commented on #671
Hello @justdan0227  Do you Have any solution? Regards!

[2021-07-07 07:42] rudsberg commented on #657
I would also highly appreciate if the spm branch was updated to the latest version on master. Are there plans of doing that or to include support for SPM on master branch?  @NikKovIos @kiyot @s4cha
We are developing an app that is going to be released in August and we need the #575 fix that was included in the 4.5.0 release when going live.

Cheers. Loving the library, amazing work.

[2021-07-07 12:25] baraql opened #673 "Picker lags for a second when swiping between Camera and Library the first time"
This issue is more drastic on phones with more photos. Would it be possible to load/initialize the library view right as the picker is shown even if the picker is opened to camera? This will probably reduce lag. Or have the library tab as a blank view and then initialize the library view on top of it when the swipe finishes?

[2021-07-12 10:31] zhujiahong commented on #363
How can i get image URL from camera?
Please help Thank you!

[2021-07-12 10:34] zhujiahong opened #674 "How can i get image URL from Camera"
Please help me  Thank you

[2021-07-14 13:22] KOSURUUDAYSAIKUMAR commented on #674
Hi Friends,
Can you please send me code how to get an image url using camera and photo library,
I have a requirement.

[2021-07-15 07:17] zhujiahong commented on #674
https://github.com/Yummypets/YPImagePicker/issues/258#issuecomment-444916171
There is a method to get the URL of the album, but I found that this method cannot get the photos in the camera, so I finally used ` let imageData = photo.image.jpegData(compressionQuality: 1)` to process the photo results

[2021-07-15 11:17] KOSURUUDAYSAIKUMAR commented on #258
Hi Friends,
public class YPMediaPhoto {

    public var image: UIImage { return modifiedImage ?? originalImage }
    public let originalImage: UIImage
    public var modifiedImage: UIImage?
    public let fromCamera: Bool
    public let exifMeta: [String: Any]?
    public var asset: PHAsset?
    public var url: URL?
    public var imageURL: URL?
    public init(image: UIImage, exifMeta: [String: A

[2021-07-15 15:48] SzymonMatysik commented on #516
have you tried
 `options.sortDescriptors = [NSSortDescriptor(key: "modificationDate", ascending: false)]`

[2021-07-16 08:53] SzymonMatysik opened #676 "Library sorting strategy should not be connected with album choose menu"
**Describe the bug**
When i set the options on library
[code]
then in gallery disappears option to change album (top arrow).

How it is connected feature?

**To Reproduce**
Steps to reproduce the behavior:
1. Set the options on library in code.
2.  Go to gallery
3. The arrow to choose album is missing

**Expected behavior**
I'd like to separate sorting strategy from the choose album menu.

**Envir

[2021-07-24 08:23] jacobsapps opened #677 "Not building on M1 Mac"
**Describe the bug**
I recently started modularising my app, and upgraded to an M1 mac. I'm not sure what caused it, but now I have an `unidentified symbol` error with YPImagePicker making it unusable.

**Here's the error message**
Undefined symbols for architecture arm64:
  "nominal type descriptor for YPImagePicker.YPImagePicker", referenced from:
      _symbolic _____SgXw 13YPImagePickerAAC in

[2021-07-24 08:31] jacobsapps commented on #677
Solved - the key clue was

`closure #1 ([YPImagePicker.YPMediaItem], Swift.Bool) -> () in ModelKit.UserProfileViewController.(openImagePicker in _35A64F389204FE9098F97E78F050C743)() -> () in UserProfileViewController.o`

The offending code was:

[code]

I re-wrote it from scratch without the weak picker and by using the boolean second argument, and it worked. I then transitioned line-by-line to th

[2021-07-24 08:31] #677 closed, assigned to nobody

[2021-07-27 13:21] rbecharast-chwy commented on #585
Hello, is there any solution?

[2021-07-27 13:25] petrykDima commented on #585
@rodribech20 I check permission for use photos library.

If it **"Allow use all photos"** - show button for library
if it **"Allow use just some photos"** - check do We have more then 0 images. And show button for library and manage button, for manage amount of photos
if if **"No access"** - button will redirect to settings

[2021-07-27 18:41] chenium commented on #637
Has there been any progress regarding this crash? We're also receiving crash reports related to this and unable to reproduce the crash locally. My suspicion is that `self.selection`, a mutable container is being access through multiple threads raising a potential race condition. Any thoughts?

[2021-07-30 11:47] AlexisLampouridis commented on #648
Have you find any solution or workaround ?

[2021-07-30 13:38] erickva commented on #392
I am using the latest version (4.5), some time after this conversation started and I still cannot see the `.url` property for gallery or camera images, it is always nil.

If you still need it, you could convert the image to data and store it in a local url:

[code]

[2021-08-05 11:31] keiitix opened #678 "I am using photoAndVideo and multiple selectable settings. I want to be able to select only photos and only videos.How can i do"
I ask a question for the first time.
First, I'm sorry if I make a mistake.

I am  planning to select multiple items such as config.library.maxNumberOfItems = 3.

But if you select a photo, you don't want to let the video select.
If you select a video, you don't want to let the photo select.

It may be possible to judge MediaType with the DidSelect method of CollectionView in YPLibraryVC + Collecti

[2021-08-09 13:19] SeNeO opened #680 "Replace PHPhotoLibrary.requestAuthorization(_:) with PHPhotoLibrary.requestAuthorization(for:handler:)"
As of iOS 14.0 `requestAuthorization(_:)` and `authorizationStatus()` are now deprecated they should be replace by `requestAuthorization(for:handler:)`and `authorizationStatus(for:)`.

[2021-08-11 21:35] #680 closed, assigned to nobody

[2021-08-12 13:52] SeNeO commented on #657
Is there any news on this? I'm using SPM too and the last release on this branch is almost one year old.

[2021-08-12 14:12] NikKovIos commented on #657
About update to SPM can help only @s4cha

[2021-08-12 22:59] NikKovIos commented on #678
Did you see ?
[code]

[2021-08-14 21:57] NikKovIos commented on #585
Check c3e9343b21c1e1b147eb41eb0f2c191ff394910d
Is now behaviour as you suggest?

[2021-08-14 21:57] NikKovIos commented on #680
Check c3e9343b21c1e1b147eb41eb0f2c191ff394910d

[2021-08-14 22:53] NikKovIos commented on #671
Check 246cdf8fb440b9dce4bff233f54d6871ee0656bb if the bug still occures.
If yes, use `Bug report` template to create an issue.

[2021-08-14 22:53] #671 closed, assigned to nobody

[2021-08-14 22:54] #676 closed, assigned to nobody

[2021-08-14 22:56] NikKovIos commented on #672
Use `feature request` template.

[2021-08-14 22:56] #672 closed, assigned to nobody

[2021-08-14 22:59] NikKovIos commented on #668
Assertion removed with log

[2021-08-14 22:59] #668 closed, assigned to nobody

[2021-08-14 23:01] NikKovIos commented on #667
If you wouldn't correctly fill the steps to reproduce, we couldn't help.

[2021-08-14 23:02] NikKovIos commented on #650
Implemented

[2021-08-14 23:02] #650 closed, assigned to nobody

[2021-08-14 23:06] #664 closed, assigned to nobody

[2021-08-14 23:09] #640 closed, assigned to nobody

[2021-08-14 23:17] NikKovIos commented on #652
Hi. You can make a PR for that.

[2021-08-14 23:21] NikKovIos commented on #637
@chenium I think you're right. Now I did replaced assert by log. That wouldn't fix the problem, but user stop crash.
If someone can reproduce it, please make a PR.
Related https://github.com/Yummypets/YPImagePicker/issues/668

[2021-08-14 23:23] NikKovIos commented on #636
Should be fixed now in master. Check 88cf5f9f1ce7fb89d0ebe2d9bcb8f5e0cf4dfc90 please.

[2021-08-14 23:23] #636 closed, assigned to nobody

[2021-08-14 23:23] NikKovIos commented on #584
Should be fixed now in master. Check 88cf5f9 please.

[2021-08-14 23:23] #584 closed, assigned to nobody

[2021-08-14 23:24] NikKovIos commented on #610
Related https://github.com/Yummypets/YPImagePicker/issues/472

[2021-08-14 23:24] NikKovIos commented on #472
Duplicate of https://github.com/Yummypets/YPImagePicker/issues/610

[2021-08-14 23:25] #472 closed, assigned to nobody

[2021-08-14 23:25] #425 closed, assigned to nobody

[2021-08-14 23:26] NikKovIos commented on #390
No activity.

[2021-08-14 23:26] #390 closed, assigned to nobody

[2021-08-17 06:14] s4cha commented on #635
@uyrruewib This is quite weird indeed, could you elaborate a bit more your environment?
- YPImagePicker version
- Xcode version
- iOS Device / Version
- Package manager integration (Swift Package Manager, Carthage, Cocoapods, Source code)

[2021-08-17 06:46] s4cha commented on #647
Hi @larrydnlee,
You would need to enable the crop feature with a ratio of 2/1 (aka 800/400) and cap the targetSize to 800.
Please note that if the library image is smaller than 800 in width the output image won't necessarily be 800x400.
[code]
Hope this helps,

[2021-08-17 06:55] s4cha commented on #648
@wanderingfairy, this feature is not supported at the moment.
What comes closer is the ability to crop the image to a certain ratio after the selection with:
[code]
but this does not allow to apply different ratio depending on image orientation.
That sounds like a cool feature though, if you have time, feel free to take a shot at it !

[2021-08-17 07:25] AndriiHanets commented on #361
+1

[2021-08-17 07:32] s4cha commented on #662
@Moonshine, this looks like a cool improvement and I'd suggest you take a shot in a PR if you have time. Please be aware that the team behind this project also have day jobs and very limited amount of time.

[2021-08-17 07:44] s4cha commented on #670
Hi @rudsberg, the crop feature is only available as an extra step at the moment, the library preview only handling square crops.
To disable the crop feature altogether you can use `config.showsCrop = .none`, which is the default value.
To force a custom image ratio, you can use  `config.showsCrop = .rectangle(ratio: (16/9))` for example.

[2021-08-17 07:54] s4cha commented on #678
@keiitix I'm afraid the feature you're describing does not exist.
Also, such a feature might look odd UX-wise, as after selection the first video, all pictures would disappear from the library screen.I think UX wise you might be better of solving that by having two buttons prior to showing the picker: "Choose videos" & "Choose photos" and customise each picker accordingly.
Hope this helps ( and co

[2021-08-17 12:02] takasuratcc commented on #629
`restorationClass = MediaPickerController.self` ```
Cannot assign value of type 'MediaPickerController.Type' to type 'UIViewControllerRestoration.Type?'
Insert ' as! UIViewControllerRestoration.Type' ```

```let vc = ShareMediaViewController(with: items)``` ```<- Cannot find 'ShareMediaViewController' in scope```

I am getting these two errors while attempting to try this solution :/

[2021-08-24 06:47] afaqsaqi commented on #615
Do you find any solution to this problem?

[2021-08-27 17:19] NeRo8 opened #686 "React Native"
Hi, some one can give answer how i can import this library in my react native application?

[2021-08-28 08:41] #686 closed, assigned to nobody

[2021-08-28 08:46] NeRo8 opened #687 "Update pods"
Hi every one, can you change in file podspec  resources onto resource_bundle. Now I have problem

I read about this error, and find this post [How to fix Multiple commands produce](https://newbedev.com/can-t-assign-xcassets-to-the-main-target-on-xcode-11)

[2021-09-06 11:47] sameer4 opened #688 "Picker should request Library permission for shouldSaveNewPicturesToAlbum = true case"
**Describe the bug**
Currently picker requests library access permission when user navigate to library tab. so if we set shouldSaveNewPicturesToAlbum = true and user capture an image without going to library, picker won't save the image to album

**To Reproduce**
Steps to reproduce the behavior:
1) install a fresh(remove old) app or reset permissions.
2) present the picker with config shouldSaveNe

[2021-09-06 15:50] okiookio commented on #657
please add this Package.swift :

// swift-tools-version:5.3
// The swift-tools-version declares the minimum version of Swift required to build this package.

import PackageDescription

let package = Package(
    name: "YPImagePicker",
    defaultLocalization: "en",
    platforms: [
        .iOS(.v13),
    ],
    products: [
        // Products define the executables and libraries a package produce

[2021-09-07 19:54] NikKovIos commented on #687
Hello, please, create a PR.

[2021-09-07 19:55] NikKovIos commented on #688
@sameer4 did you try last commit in master branch?

[2021-09-09 16:24] vladggordiichuk opened #690 "xCode 13, iOS 15 Wrong NavBar background color"
Please, adjust YPImagePicker to work on iOS 15.

![Simulator Screen Shot - iPhone 12 Pro - 2021-09-09 at 18 45 23](https://user-images.githubusercontent.com/25669477/132724575-448455de-dc3d-4671-9acf-a83f2d42bfea.png)

[2021-09-10 06:40] gintechsystems opened #691 "Portrait (Vertical) Cropping?"
**Is your feature request related to a problem? Please describe.**
When specifying the crop rectangle ratio, it only works horizontally.

**Describe the solution you'd like**
We should be able to specify if the crop ratio is going to be used horizontally or vertically.

**Describe alternatives you've considered**
I did fork the YPImagePicker library and began editing the YPCropView file.

[2021-09-10 08:16] AlexisLampouridis commented on #670
Hello @s4cha I want to add something to this.

After taking a picture and the next step is filters , the filter preview is always 4:3 and we cannot change it.
And in my use-case which needs the output to be 16:9 creates a problem , because I need to convert the image to 16:9 bypassing the .crop stage of the library and the user cannot select what he wants to be shown to the final image.

So it wou

[2021-09-15 17:15] justdan0227 commented on #690
Seeing this as well.  Please update

[2021-09-15 17:32] justdan0227 commented on #690
I did notice that if you add

let picker = YPImagePicker(configuration: config)
        picker.navigationBar.tintColor = .white

that you at least get the CANCEL button back.  However, can't get the Library Titles (which is a button) to show up yet?

[2021-09-15 17:48] justdan0227 commented on #690
And to fix the library title color (for now) inside of

**open class YPPickerVC:**

you need to change

[code]

[2021-09-19 13:53] NikKovIos commented on #657
Check https://github.com/Yummypets/YPImagePicker/releases/tag/5.0.0

[2021-09-19 13:53] #657 closed, assigned to s4cha

[2021-09-19 13:54] NikKovIos commented on #626
https://github.com/Yummypets/YPImagePicker/releases/tag/5.0.0

[2021-09-19 13:54] #626 closed, assigned to nobody

[2021-09-19 13:54] NikKovIos commented on #588
https://github.com/Yummypets/YPImagePicker/releases/tag/5.0.0

[2021-09-19 13:54] #588 closed, assigned to nobody

[2021-09-19 13:54] NikKovIos commented on #469
https://github.com/Yummypets/YPImagePicker/releases/tag/5.0.0

[2021-09-19 13:54] #469 closed, assigned to s4cha

[2021-09-19 13:54] NikKovIos commented on #489
https://github.com/Yummypets/YPImagePicker/releases/tag/5.0.0

[2021-09-19 13:54] #489 closed, assigned to nobody

[2021-09-23 12:25] snowtema opened #699 "Crash while showing picker"
**Describe the bug**
I configured a photo picker latest version like this:
[code]
and later call `self.present(self.picker, animated: true, completion: nil)`, after that app crashed with stack:

[code]

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Environment (please complete the following information):**
 - Device: iPhone12 Pro (Simulator / Device)
 -

[2021-09-23 16:35] NikKovIos commented on #699
@snowtema it seems, that the problem with bundle dispatch. If anyone can help with that it would be appriciated!

[2021-09-23 16:36] NikKovIos commented on #687
Seems that it's not a problem of this pod.

[2021-09-23 16:36] #687 closed, assigned to nobody

[2021-09-24 12:30] s4cha commented on #690
Hey, this is an annoying change on Xcode13/iOS15. Until we update the library. here is the fix:
[code]
source: https://developer.apple.com/forums/thread/682420

[2021-09-26 04:21] ashwani280496 commented on #669
how did you solve this?

[2021-09-26 14:43] tsahi-deri commented on #691
@gintechsystems What do you mean by 'only works horizontally'.
What values are you providing to rectangle ratio ?

If I got you right, my changes [here](https://github.com/Yummypets/YPImagePicker/pull/666) should solve your issue.

[2021-09-26 15:26] gintechsystems commented on #691
@tsahi-deri That is exactly what I was talking about. Looks like we both had the same idea going haha. I tried less than 1 but it wasn't working, would always fill the screen and go past the edges. Thanks for working on this. I will close this issue!

[2021-09-26 15:26] #691 closed, assigned to nobody

[2021-09-28 08:15] kamrankhan07 commented on #699
looks like SPM only issue

[code]

[2021-09-28 09:44] s4cha commented on #699
Able to reproduce on 5.0.0 on my end. Looking at it

[2021-09-28 12:21] s4cha commented on #699
@snowtema can you try the package on the `spm_fix` branch and let me know if that works ?

[2021-09-28 14:58] patskovn commented on #699
I tried, works perfectly

[2021-09-28 16:17] s4cha commented on #699
Awesome! Will try to update the official release tomorrow 👍

[2021-09-28 17:01] Edwin97 opened #703 "Change theme color"
Hey I try to change the backgroundColor and navigation title color but nothing work .... kindly assist

    var config = YPImagePickerConfiguration()
    config.colors.tintColor = theme.tintColor
    config.colors.coverSelectorBorderColor = theme.backgroundColor
    config.colors.navigationBarActivityIndicatorColor = theme.tintColor
    config.colors.photoVideoScreenBackground = theme.backgroundCo

[2021-09-30 09:13] okiookio commented on #699
same on mine

[2021-09-30 11:24] snowtema commented on #699
yeah, it works! Thank you!

[2021-10-01 05:33] SaidAlSouti commented on #699
I had and issue in xcode 13
with spm_fix branch

error is
`YPImagePicker/YPLibraryVC.swift:114: Fatal error: Unexpectedly found nil while implicitly unwrapping an Optional value
2021-10-01 09:36:59.532650+0400 RealEstate[39718:4638912] YPImagePicker/YPLibraryVC.swift:114: Fatal error: Unexpectedly found nil while implicitly unwrapping an Optional value`

in this line
114 `v.assetZoomableView.cropA

[2021-10-04 12:28] tsahi-deri commented on #699
@s4cha Any update regarding a new release with that fix ?

[2021-10-04 14:30] NikKovIos commented on #699
@tsahi-deri @SaidAlSouti @okiookio
Please try this https://github.com/Yummypets/YPImagePicker/pull/702. If it works correctly, I would make an update.

[2021-10-06 02:14] KeWangKW commented on #690
I solved the problem by modifying the code

![image](https://user-images.githubusercontent.com/24774145/136129990-72a104ba-8614-4b12-9ee2-403869c1bdf2.png)

[2021-10-07 14:17] hadouken111 opened #704 "Video cover not working fine"
Hello,
when I try to change the video cover that not really work.
In instagram when you select the cover you can make a cover at any millisecond/moment of the video, but here this is not possible, you can only make a cover at some moment of the video, so I have only 2 or 3 cover possible for a video that made really bad cover quality,  there is possible to change that and make a cover at any momen

[2021-10-12 08:53] hansemannn commented on #637
Happy to sponsor a bug bounty for this. Anyone able to fix this?

[2021-10-12 10:53] NikKovIos commented on #637
@hansemannn I can't reproduce it. Maybe you can fix it?

[2021-10-12 11:17] hansemannn commented on #637
Unfortunately I wasn't ever able to reproduce it, I just noticed it via Crashlytics. I feel like it's some kind of threading issue or maybe #696, but I wasn't even able to reproduce that.

[2021-10-12 11:23] NikKovIos commented on #637
@hansemannn so am I 🤷🏻‍♂️

[2021-10-12 14:38] majid701 commented on #637
@hansemannn @NikKovIos
It happens when selecting multiple assets from the library and from data I received on the crashlytics dashboard it's happening 100% on iOS 14 and above. Looks like something is happening when user taps on the multiple selection button:

`Crashed: com.apple.main-thread
0  YPImagePicker                  0x3b1b0 YPLibraryVC.showMultipleSelection() + 182 (YPLibraryVC.swift:182)

[2021-10-16 22:33] keremcesme commented on #648
@wanderingfairy, @s4cha, I would like to let you know that I found a temporary solution. I reviewed `YPAssetZoomableView` and made a few changes.

I defined a variable named `public var assetType: Int`.
[code]
I set the `assetType` while calculating the frame of the selected Asset within the `setAssetFrame()` function.

[code]
Then I updated the fitImage function. If the user wants a 4:5 ratio for

[2021-10-19 09:52] Seepak commented on #594
On peut avoir un fix svp ?

[2021-10-20 04:41] hardmen commented on #236
it does not work for me. Xcode13.0.

[2021-10-27 14:15] justdan0227 opened #707 "[screen order] ?"
Am I just missing where you specify that you want .library to open first vs .photo?  I want both but want the opening screen to be .library

[2021-10-28 16:49] sikloDev commented on #236
did you find a solution for this good sir?

[2021-10-30 01:53] superdev89 commented on #699
Crashing on Xcode 13 - version 5.0.0 Installed via SPM

[2021-10-30 07:28] NikKovIos commented on #699
@superdev89 Check https://github.com/Yummypets/YPImagePicker/issues/699#issuecomment-933544570

[2021-11-02 16:33] xlevchenko commented on #236
Hi,
Steps To get fixes of these errors:
![20210707172729582](https://user-images.githubusercontent.com/34953510/139906563-82395fba-190c-486f-bdf7-a6aaa748aa80.png)

SWIFT_COMPILATION_MODE

[2021-11-04 16:50] rehannali opened #708 "Crash After Permission Disable"
**Describe the bug**
The app is crashed if the user disabled permission for photos. And after that tried to capture it, application crashed.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Application
2. After giving all permission, go back to settings
3. Disable photos permission
4. Tried to capture the picture, it crashes.

**Expected behavior**
It should ask permission and save image

[2021-11-06 20:19] KoodosDev commented on #516
@heitara
Do you came up with any solution yet?

[2021-11-06 23:48] heitara commented on #516
I tried a bunch of things without much luck. Can you give it a try with the modificationDate?

[2021-11-09 09:34] rehannali commented on #708
If you try it for the first time and the first screen is the camera, it also crashed and then ask for permission rather than first ask for permission and then allow you to capture an image.

[2021-11-09 14:37] gnovakovski opened #709 "Cannot infer contextual base in reference to member 'ypSystemBackground'"
**Describe the bug**
A clear and concise description of what the bug is.
I just imported the YPImagePicker with Pods, and i receiving the compiling error: Cannot infer contextual base in reference to member 'ypSystemBackground'. This happens inside the lib
**To Reproduce**
Steps to reproduce the behavior:
1 - added YPImagePicker to pods
2 - pod deintegrate
3 - pod install
4 - add framework YPImage

[2021-11-10 12:43] sahbazali commented on #690
If you use YPImagePicker in multiple place you can add convenience init method and use it for wrapping navigation bar changes. (At least until the problem being fixed inside framework)

[code]

[2021-11-19 21:10] josephelkhoury commented on #667
Hello,

I'm having the exact same error but not for all videos. Some videos are being rejected but I don't understand why.

Any help?

[2021-11-24 08:46] fukemy opened #711 "crash in v5.0.0"
i got this error:
Thread 1: "[<UIView 0x10b6c8720> setValue:forUndefinedKey:]: this class is not key value coding-compliant for the key assetViewContainer."

from:
[code]

[2021-11-24 08:54] fukemy commented on #711
![Screen Shot 2021-11-24 at 15 53 55](https://user-images.githubusercontent.com/8202437/143205759-c3110c5e-fee9-40b2-bebf-a616a77e47e2.png)

[2021-11-26 11:17] kraakk001 commented on #707
You should use:
 config.startOnScreen = YPPickerScreen.library

[2021-11-30 01:34] pduvall opened #712 "Allowing the user to select a portion of a library video that is over the maximum length"
I'm currently looking to restrict the selected video length to 15 seconds, but without simply truncating the video beyond the first 15 seconds. Is there a configuration that will allow the user to choose a video from their library, and use the trimmer to select exactly which 15 seconds of the video they would like to use? I have tried the following configuration settings:

`config.video.libraryTim

[2021-12-02 12:59] nastasiupta commented on #480
@s4cha Any feedback on this?

[2021-12-05 00:45] zewkini opened #714 "Upload Video to Photos App"
Would like to see a clear way to upload/save videos to Apple's Photos app. Right now it only saves to the YPImagePicker's tmp data container on a mobile device and there is no easy way to access them for editing or upload them to the Photos app. You can save photos easily to the Photos app but not videos.

[2021-12-05 16:42] 2jumper3 commented on #711
++ ver 5.0.0
running on 7plus, Xcode Version 13.1 (13A1030d). MacBook Pro M1

[2021-12-06 13:14] fukemy commented on #550
still get portrait in iPad. even parent screen is in landscape mode

[2021-12-10 07:53] ghost opened #716 "The passed torchMode 2 is not supported"
use the front camera，click the flash button

[2021-12-13 20:41] domadiya-ashok opened #717 "Need Image Rotation and Crop features."
Hey guys,

Can you please add this features in this library? I am using for long time in my many project as well as my own product. I need one Image rotation and cropping feature if you guys can do for me. Really appreciated and thank you!

[2021-12-16 19:24] BarryBryant commented on #699
Ran into same issue confirmed spm_fix branch is working

[2021-12-16 19:52] NikKovIos commented on #699
@BarryBryant its outdated for now. Check the last commit in master branch. It should work too.

[2021-12-22 03:10] gintechsystems opened #718 "Stevia Package Version Differences Causing Issues"
When working in the example project of YPImagePicker, it uses the Swift Package Manager Stevia 5.1.1. This is causing issues when using YPImagePicker through cocoapods in others projects because it uses 4.7.3 but the example is using SPM 5.1.1.

This mainly creates confusion and forces the developer to know which methods are supported in 4.7.3 and which are in 5.1.1 when working with this library.

[2022-01-05 15:36] krzysiek84 commented on #637
This happens from time to time to one of the users of my app.

I've got crash log from XCode. It crashes in `showMultipleSelection` and it shows the issue was because of "Unexpectedly found nil while implicitly unwrapping an Optional Value".
In this line:
`let asset = mediaManager.fetchResult[currentlySelectedIndex]`

So looks like fetchResult is nil. No idea though why this happens, how to replic

[2022-01-06 10:12] NikKovIos commented on #716
Fixed in dd2fa33748cc1c29f64b38adde2d4709476c5343

[2022-01-06 10:12] #716 closed, assigned to nobody

[2022-01-06 11:00] NikKovIos commented on #718
Still a lot of people use cocoapods (so am I) and in our team we don't use SPM because of VPN issues. SPM is too automatic for us.
So I recommend to wait until apple make SPM more effective and convenience.

[2022-01-06 19:19] NikKovIos commented on #718
@gintechsystems please try https://github.com/Yummypets/YPImagePicker/releases/tag/5.1.1 and tell if it build ok with SPM or cocoapods.

[2022-01-06 19:19] NikKovIos commented on #711
@fukemy @2jumper3 try https://github.com/Yummypets/YPImagePicker/releases/tag/5.1.1 it should fix the crash. If found - open the new issue.

[2022-01-06 19:20] #711 closed, assigned to nobody

[2022-01-06 19:20] NikKovIos commented on #708
Try https://github.com/Yummypets/YPImagePicker/releases/tag/5.1.1 it should fix the crash. If found - open the new issue.

[2022-01-06 19:20] #708 closed, assigned to nobody

[2022-01-06 19:21] NikKovIos commented on #699
Try https://github.com/Yummypets/YPImagePicker/releases/tag/5.1.1 it should fix the crash. If found - open the new issue.

[2022-01-06 19:21] #699 closed, assigned to nobody

[2022-01-06 19:46] gintechsystems commented on #718
@NikKovIos I will try that and let you know.

Thanks for clarifying your issues with SPM, I was not aware of those. I am still using cocoapods myself as SPM seems to be very specific about versioning too and you can't easily use a forked version of a library through github.

[2022-01-06 19:48] NikKovIos commented on #718
@gintechsystems also SPM is a big problem if you haven't internet connection or it is slow.

[2022-01-06 19:51] gintechsystems commented on #718
Yeah you are correct, I personally wish Stevia would allow for cocoapods still with the latest version. They dropped support to early! Maybe someone else has forked it to stay supported on cocoapods, we can investigate that so we don't have two dependency managers.

[2022-01-06 19:52] NikKovIos commented on #718
@gintechsystems I've made a PR today https://github.com/freshOS/Stevia/pull/163 Give a like to it ;)
Yes there is one person who did it. Check the network section of Stevia repo.

[2022-01-06 20:01] gintechsystems commented on #718
I gave it a like, you said one person did it why don't you use that version in the picker for now until Stevia adds back support? Are you concerned about that person keeping the lib up to date?

[2022-01-06 20:26] NikKovIos commented on #718
@gintechsystems because his repo is outdated too. Now I've bringing back old versions of Stevia for cocoapods and SPM. Check new release description.

[2022-01-06 20:31] gintechsystems commented on #718
I see. Lets hope Stevia adds back support for cocoapods. I think your listed reasons are fair enough for them to do it. I subscribed so I will be watching the thread as well.

[2022-01-06 21:02] NikKovIos commented on #637
Tryed to fix it in beed49d4ac6f2a8fe260d461992b365c5e9eaf4f
You can try this commit and say if it help.

[2022-01-08 11:29] #707 closed, assigned to nobody

[2022-01-08 12:36] NikKovIos commented on #32
Too old issue. Feel free to open new.

[2022-01-08 12:36] #32 closed, assigned to nobody

[2022-01-08 12:36] NikKovIos commented on #56
Too old issue. Feel free to open new.

[2022-01-08 12:36] #56 closed, assigned to nobody

[2022-01-08 12:36] NikKovIos commented on #77
Too old issue. Feel free to open new.

[2022-01-08 12:36] #77 closed, assigned to nobody

[2022-01-08 12:36] NikKovIos commented on #101
Too old issue. Feel free to open new.

[2022-01-08 12:36] #101 closed, assigned to nobody

[2022-01-08 12:37] NikKovIos commented on #152
Too old issue. Feel free to open new.

[2022-01-08 12:37] #152 closed, assigned to nobody

[2022-01-08 12:37] NikKovIos commented on #162
Too old issue. Feel free to open new.

[2022-01-08 12:37] #162 closed, assigned to nobody

[2022-01-08 12:37] NikKovIos commented on #168
Too old issue. Feel free to open new.

[2022-01-08 12:37] #168 closed, assigned to nobody

[2022-01-08 12:37] NikKovIos commented on #176
Too old issue. Feel free to open new.

[2022-01-08 12:37] #176 closed, assigned to nobody

[2022-01-08 12:38] NikKovIos commented on #179
Too old issue. Feel free to open new.

[2022-01-08 12:38] #179 closed, assigned to nobody

[2022-01-08 12:38] NikKovIos commented on #184
Too old issue. Feel free to open new.

[2022-01-08 12:38] #184 closed, assigned to nobody

[2022-01-08 12:38] NikKovIos commented on #194
Too old issue. Feel free to open new.

[2022-01-08 12:38] #194 closed, assigned to nobody

[2022-01-08 12:38] NikKovIos commented on #197
Too old issue. Feel free to open new.

[2022-01-08 12:38] #197 closed, assigned to nobody

[2022-01-08 12:38] NikKovIos commented on #202
Too old issue. Feel free to open new.

[2022-01-08 12:38] #202 closed, assigned to nobody

[2022-01-08 12:38] NikKovIos commented on #205
Too old issue. Feel free to open new.

[2022-01-08 12:38] #205 closed, assigned to nobody

[2022-01-08 12:38] NikKovIos commented on #209
Too old issue. Feel free to open new.

[2022-01-08 12:38] #209 closed, assigned to nobody

[2022-01-08 12:39] NikKovIos commented on #210
Too old issue. Feel free to open new.

[2022-01-08 12:39] #210 closed, assigned to nobody

[2022-01-08 12:39] NikKovIos commented on #211
Too old issue. Feel free to open new.

[2022-01-08 12:39] #211 closed, assigned to nobody

[2022-01-08 12:39] NikKovIos commented on #212
Too old issue. Feel free to open new.

[2022-01-08 12:39] #212 closed, assigned to s4cha

[2022-01-08 12:40] NikKovIos commented on #213
Too old issue. Feel free to open new.

[2022-01-08 12:40] #213 closed, assigned to nobody

[2022-01-08 12:40] NikKovIos commented on #217
Too old issue. Feel free to open new.

[2022-01-08 12:40] #217 closed, assigned to s4cha

[2022-01-08 12:40] NikKovIos commented on #220
Too old issue. Feel free to open new.

[2022-01-08 12:40] #220 closed, assigned to nobody

[2022-01-08 12:40] NikKovIos commented on #231
Too old issue. Feel free to open new.

[2022-01-08 12:40] #231 closed, assigned to nobody

[2022-01-08 12:43] NikKovIos commented on #251
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:43] #251 closed, assigned to nobody

[2022-01-08 12:43] NikKovIos commented on #235
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:43] #235 closed, assigned to nobody

[2022-01-08 12:43] NikKovIos commented on #234
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:43] #234 closed, assigned to nobody

[2022-01-08 12:43] NikKovIos commented on #254
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:43] #254 closed, assigned to nobody

[2022-01-08 12:44] NikKovIos commented on #263
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:44] #263 closed, assigned to nobody

[2022-01-08 12:44] NikKovIos commented on #264
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:44] #264 closed, assigned to nobody

[2022-01-08 12:44] NikKovIos commented on #271
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:44] #271 closed, assigned to nobody

[2022-01-08 12:44] NikKovIos commented on #273
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:44] #273 closed, assigned to nobody

[2022-01-08 12:44] NikKovIos commented on #275
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:44] #275 closed, assigned to nobody

[2022-01-08 12:44] NikKovIos commented on #277
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:44] #277 closed, assigned to nobody

[2022-01-08 12:44] NikKovIos commented on #281
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:44] #281 closed, assigned to nobody

[2022-01-08 12:44] NikKovIos commented on #285
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:44] #285 closed, assigned to nobody

[2022-01-08 12:44] NikKovIos commented on #292
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:44] #292 closed, assigned to nobody

[2022-01-08 12:44] NikKovIos commented on #293
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:44] #293 closed, assigned to nobody

[2022-01-08 12:44] NikKovIos commented on #294
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:44] #294 closed, assigned to nobody

[2022-01-08 12:44] NikKovIos commented on #297
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:44] #297 closed, assigned to nobody

[2022-01-08 12:45] NikKovIos commented on #298
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:45] #298 closed, assigned to nobody

[2022-01-08 12:45] NikKovIos commented on #299
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:45] #299 closed, assigned to nobody

[2022-01-08 12:45] NikKovIos commented on #300
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:45] #300 closed, assigned to nobody

[2022-01-08 12:45] NikKovIos commented on #313
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:45] #313 closed, assigned to nobody

[2022-01-08 12:45] NikKovIos commented on #305
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:45] #305 closed, assigned to nobody

[2022-01-08 12:45] NikKovIos commented on #314
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:45] #314 closed, assigned to nobody

[2022-01-08 12:46] NikKovIos commented on #321
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:46] #321 closed, assigned to nobody

[2022-01-08 12:46] NikKovIos commented on #324
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:46] #324 closed, assigned to nobody

[2022-01-08 12:46] NikKovIos commented on #328
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:46] #328 closed, assigned to nobody

[2022-01-08 12:46] NikKovIos commented on #329
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:46] #329 closed, assigned to nobody

[2022-01-08 12:46] NikKovIos commented on #330
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:46] #330 closed, assigned to nobody

[2022-01-08 12:46] NikKovIos commented on #331
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:46] #331 closed, assigned to nobody

[2022-01-08 12:46] NikKovIos commented on #332
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:46] #332 closed, assigned to nobody

[2022-01-08 12:46] NikKovIos commented on #336
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:46] #336 closed, assigned to nobody

[2022-01-08 12:46] NikKovIos commented on #337
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:46] #337 closed, assigned to nobody

[2022-01-08 12:46] NikKovIos commented on #341
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:46] #341 closed, assigned to nobody

[2022-01-08 12:46] NikKovIos commented on #346
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:46] #346 closed, assigned to nobody

[2022-01-08 12:46] NikKovIos commented on #348
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:46] #348 closed, assigned to nobody

[2022-01-08 12:46] NikKovIos commented on #349
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:46] #349 closed, assigned to nobody

[2022-01-08 12:46] NikKovIos commented on #352
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:46] #352 closed, assigned to nobody

[2022-01-08 12:46] NikKovIos commented on #353
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:46] #353 closed, assigned to nobody

[2022-01-08 12:47] NikKovIos commented on #354
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:47] #354 closed, assigned to nobody

[2022-01-08 12:47] NikKovIos commented on #356
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:47] #356 closed, assigned to nobody

[2022-01-08 12:47] NikKovIos commented on #361
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:47] #361 closed, assigned to nobody

[2022-01-08 12:47] NikKovIos commented on #362
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:47] #362 closed, assigned to nobody

[2022-01-08 12:47] NikKovIos commented on #363
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:47] #363 closed, assigned to nobody

[2022-01-08 12:47] NikKovIos commented on #365
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:47] #365 closed, assigned to nobody

[2022-01-08 12:47] NikKovIos commented on #366
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:47] #366 closed, assigned to nobody

[2022-01-08 12:47] NikKovIos commented on #368
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:47] #368 closed, assigned to nobody

[2022-01-08 12:47] NikKovIos commented on #373
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 12:47] #373 closed, assigned to nobody

[2022-01-08 12:47] gaoweimaster commented on #368
This is an automatic reply.I have received your letter and I will respond to it ASAP.Thank you very much.

[2022-01-08 15:11] NikKovIos commented on #429
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:11] #429 closed, assigned to nobody

[2022-01-08 15:11] NikKovIos commented on #428
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:11] #428 closed, assigned to nobody

[2022-01-08 15:11] NikKovIos commented on #423
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:11] #423 closed, assigned to nobody

[2022-01-08 15:12] NikKovIos commented on #426
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:12] #426 closed, assigned to nobody

[2022-01-08 15:12] NikKovIos commented on #427
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:12] #427 closed, assigned to nobody

[2022-01-08 15:12] NikKovIos commented on #379
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:12] #379 closed, assigned to nobody

[2022-01-08 15:12] NikKovIos commented on #380
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:12] #380 closed, assigned to nobody

[2022-01-08 15:12] NikKovIos commented on #381
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:12] #381 closed, assigned to nobody

[2022-01-08 15:12] NikKovIos commented on #382
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:12] #382 closed, assigned to nobody

[2022-01-08 15:12] NikKovIos commented on #383
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:12] #383 closed, assigned to nobody

[2022-01-08 15:12] NikKovIos commented on #385
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:12] #385 closed, assigned to nobody

[2022-01-08 15:12] NikKovIos commented on #387
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:12] #387 closed, assigned to nobody

[2022-01-08 15:13] NikKovIos commented on #389
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:13] #389 closed, assigned to nobody

[2022-01-08 15:13] NikKovIos commented on #392
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:13] #392 closed, assigned to nobody

[2022-01-08 15:13] NikKovIos commented on #396
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:13] #396 closed, assigned to nobody

[2022-01-08 15:13] NikKovIos commented on #398
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:13] #398 closed, assigned to nobody

[2022-01-08 15:13] NikKovIos commented on #400
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:13] #400 closed, assigned to nobody

[2022-01-08 15:13] NikKovIos commented on #402
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:13] #402 closed, assigned to nobody

[2022-01-08 15:13] NikKovIos commented on #404
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:13] #404 closed, assigned to nobody

[2022-01-08 15:13] NikKovIos commented on #413
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:13] #413 closed, assigned to nobody

[2022-01-08 15:13] NikKovIos commented on #415
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:13] #415 closed, assigned to nobody

[2022-01-08 15:13] NikKovIos commented on #416
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:13] #416 closed, assigned to nobody

[2022-01-08 15:13] NikKovIos commented on #417
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:13] #417 closed, assigned to nobody

[2022-01-08 15:13] NikKovIos commented on #419
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:13] #419 closed, assigned to nobody

[2022-01-08 15:14] NikKovIos commented on #422
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:14] #422 closed, assigned to nobody

[2022-01-08 15:15] NikKovIos commented on #431
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:15] #431 closed, assigned to nobody

[2022-01-08 15:15] NikKovIos commented on #432
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:15] #432 closed, assigned to nobody

[2022-01-08 15:16] NikKovIos commented on #434
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:16] #434 closed, assigned to nobody

[2022-01-08 15:16] NikKovIos commented on #435
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:16] #435 closed, assigned to nobody

[2022-01-08 15:16] NikKovIos commented on #441
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:16] #441 closed, assigned to nobody

[2022-01-08 15:16] NikKovIos commented on #442
There is 2022 year outside🎉 Old outdated issues are closing. Please search if there are already existing issues with the same problem before opening new ☮

[2022-01-08 15:16] #442 closed, assigned to nobody

[2022-01-08 15:17] NikKovIos commented on #615
Should be fixed.

[2022-01-08 15:17] #615 closed, assigned to nobody

[2022-01-08 15:17] #477 closed, assigned to s4cha

[2022-01-08 15:18] #476 closed, assigned to nobody

[2022-01-08 15:18] NikKovIos commented on #460
Check the last version please.

[2022-01-08 15:18] #460 closed, assigned to nobody

[2022-01-08 15:34] NikKovIos commented on #690
Please check last release. I don't have such a problem in ios 15.

[2022-01-08 15:37] NikKovIos commented on #549
Please check last release and reopen if still can reproduce with description of concrete steps to reproduce :)

[2022-01-08 15:37] #549 closed, assigned to nobody

[2022-01-08 15:37] NikKovIos commented on #512
Please check last release and reopen if still can reproduce with description of concrete steps to reproduce :)

[2022-01-08 15:37] #512 closed, assigned to nobody

[2022-01-08 15:43] schveiguy commented on #415
Interesting to close actual bugs without fixing instead of enhancements. Not sure what message that sends.

[2022-01-08 15:46] NikKovIos commented on #415
@schveiguy check https://github.com/Yummypets/YPImagePicker/releases/tag/5.2.1
If still actual you should write here or make a PR by yourself.

[2022-01-09 04:56] sssbohdan commented on #415
Nice attitude, what was the point of closing? To just show fake visibility of work?

[2022-01-09 08:13] NikKovIos commented on #415
@sssbohdan There are a lot of stale, not reprodusable and not actual bug since left so many time and so many changes in master. I don't have time to check them all. And it's bad to left them in tail in repo. If you don't know - in big projects (like Alamofire) there is a bot that automatically close bug when there are some time left and no activity in them. So the actual issues are always in top a

[2022-01-09 08:18] NikKovIos commented on #718
@gintechsystems open new issue if find problems.

[2022-01-09 08:18] #718 closed, assigned to nobody

[2022-01-09 08:19] NikKovIos commented on #717
Describe more detail how do you see this feature and where at what places of the app?

[2022-01-09 08:20] NikKovIos commented on #714
So what exactly you want? The preferable way.

[2022-01-09 08:21] NikKovIos commented on #712
YPImagePicker use https://github.com/HHK1/PryntTrimmerView for cropping the video and for getting thumbnail for video.
You can contribute in PryntTrimmerView so the YPImagePicker will get this functional too. 🙂

[2022-01-09 08:21] #712 closed, assigned to nobody

[2022-01-09 08:22] NikKovIos commented on #704
YPImagePicker use https://github.com/HHK1/PryntTrimmerView for cropping the video and for getting thumbnail for video.
You can contribute in PryntTrimmerView so the YPImagePicker will get this functional too. 🙂

[2022-01-09 08:22] #704 closed, assigned to nobody

[2022-01-09 08:23] NikKovIos commented on #690
Feel free to reopen if still exist with link to this issue.

[2022-01-09 08:23] #690 closed, assigned to nobody

[2022-01-09 08:27] NikKovIos commented on #660
Main discussion in https://github.com/Yummypets/YPImagePicker/issues/665.

[2022-01-09 08:27] #660 closed, assigned to nobody

[2022-01-09 08:31] NikKovIos commented on #667
https://user-images.githubusercontent.com/16647690/148675060-e1c8b120-4b30-41aa-856a-00aaaca97a5b.mp4

In https://github.com/Yummypets/YPImagePicker/releases/tag/5.2.1 works well.

[2022-01-09 08:31] #667 closed, assigned to nobody

[2022-01-09 08:33] NikKovIos commented on #656
@anderiss Thank you for such a good explanation! Seems that in https://github.com/Yummypets/YPImagePicker/releases/tag/5.2.1 it's already fixed.

[2022-01-09 08:33] #656 closed, assigned to nobody

[2022-01-09 08:34] NikKovIos commented on #642
https://github.com/Yummypets/YPImagePicker/releases/tag/5.2.1 seems that there is already fixed.

[2022-01-09 08:34] #642 closed, assigned to nobody

[2022-01-09 08:37] NikKovIos commented on #585
Closing. Should be fixed in https://github.com/Yummypets/YPImagePicker/releases/tag/5.2.1

[2022-01-09 08:37] #585 closed, assigned to nobody

[2022-01-09 08:38] NikKovIos commented on #658
link https://github.com/Yummypets/YPImagePicker/issues/535

[2022-01-09 08:39] NikKovIos commented on #535
Closing. All activity about memory would be there https://github.com/Yummypets/YPImagePicker/issues/658

[2022-01-09 08:39] #535 closed, assigned to nobody

[2022-01-09 08:40] NikKovIos commented on #637
Use https://github.com/Yummypets/YPImagePicker/releases/tag/5.2.1
Should be fixed there)

[2022-01-09 08:40] #637 closed, assigned to nobody

[2022-01-09 08:42] NikKovIos commented on #496
https://github.com/Yummypets/YPImagePicker/releases/tag/5.2.1 removed `jpegPhotoDataRepresentation`. Now should work. Someone test please!

[2022-01-09 08:45] NikKovIos commented on #540
It's not reproducing in my side. If you have such a problem, please make a PR with link to this issue.

[2022-01-09 08:45] #540 closed, assigned to nobody

[2022-01-09 08:45] NikKovIos commented on #458
https://github.com/Yummypets/YPImagePicker/releases/tag/5.2.1 should fix this.

[2022-01-09 08:45] #458 closed, assigned to nobody

[2022-01-09 08:46] NikKovIos commented on #610
Should be fixed in https://github.com/Yummypets/YPImagePicker/releases/tag/5.2.1
Feel free to open new issue if found.

[2022-01-09 08:46] #610 closed, assigned to nobody

[2022-01-09 18:35] takasurazeem commented on #629
BUMP.

[2022-01-09 22:21] zewkini commented on #714
In VideoFiltersVC.swift, at line 127, I changed the code in the do-catch function to where I commented out the
let path:String = destinationURL.path and added two UI functions to check if the video can be saved to the Photos album and then save it if it is ok to save. It's been a while since I worked on it so I'm not entirely sure if that's all I did.

        do {
            let asset = AVURLAss

[2022-01-15 08:47] micabal commented on #522
Update to the latest version 5.2.1
I had the same issue with the outdated 4.5.0 😉

[2022-01-16 08:29] denzeltinashe commented on #456
lmao, 2 years

[2022-01-17 05:53] alloc33 commented on #603
same!

[2022-01-17 15:27] mikemike396 commented on #550
Any update on this? We are facing this same issue where the selection view is broken on iPad in landscape. If we enable `requires full screen` the issue is fixed. Seems to be outlined here that its not possible to support split screen multi-tasking with orientation locking -> https://stackoverflow.com/a/56267601/757503

[2022-01-17 16:50] fukemy commented on #550
im using other lib that handle all better

[2022-01-17 16:53] mikemike396 commented on #550
Which one?

[2022-01-18 08:47] fukemy commented on #550
https://github.com/hyperoslo/ImagePicker

[2022-01-19 18:04] hansemannn opened #720 "Be able to upgrade permissions on iOS 14+"
Starting with iOS 14, image permissions are managed through `PHPhotoLibrary.authorizationStatus(for: .readWrite)` (like correctly being used already, yey!). A good improvement in user experience could be to check the current authorization status and show a tiny "Select more photos …" bar above the picture selection if the current permission level is `.limited`. Instagram does that pretty well and

[2022-01-20 07:32] leenatekani5 opened #721 "Cover image Selection issue"
When I select last frame of the video it doesn't gives the proper image. So I have to add two lines in the "YPVideoFilters" class to fix this issue.

Following is the code which you need to add in the class after initialising the imageGenerator object.

 imageGenerator?.requestedTimeToleranceAfter = CMTime.zero
 imageGenerator?.requestedTimeToleranceBefore = CMTime.zero

[2022-01-21 10:30] NikKovIos commented on #720
Nice idea, but don't have time for it)

[2022-01-21 10:31] NikKovIos commented on #721
Thanks)

[2022-01-27 07:31] Never9002 commented on #709
https://github.com/apple/swift-evolution/blob/main/proposals/0287-implicit-member-chains.md
This might help

[2022-01-31 05:58] M-I-N opened #722 "Returning to library view from video filters vc makes the selected video item unplayable"
**Describe the bug**
When a video item is selected in the library view and navigated to video filters view controller, returning to the library view from filters view controller doesn't allow playing video item back again.

**To Reproduce**
Prerequisite: `YPConfig.showsVideoTrimmer = true` which is default anyways.
Steps to reproduce the behavior:
1. Go to Gallery tab
2. Click on any video item (i

[2022-01-31 09:07] itbeyond commented on #550
I am seeing the same issue and it is a show stopper for me.
@fukemy the referenced other library dos not unfortunately have video support etc so reduces the functionality somewhat.

[2022-02-01 19:02] nekflamm commented on #665
Actually @NikKovIos after a lot of investigation and changes, I just found that changing
[code]

to use the default value instead :
[code]

Video are correctly cropped as expected on your example project.
Please let us know here if you have any additional info.

[2022-02-03 13:42] harifsp opened #725 "How can we do Pause and Resume video recording?"

[2022-02-07 23:25] AhmedAbouelkher commented on #709
Hello,
I was wondering if you could solve the issue?

[2022-02-08 07:09] kundaliyavishal opened #726 "Add support of minimum zoom scaling in YPAssetZoomableView"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
- If user select too wide horizontal image or too high vertical image. At that time I want to fit image in way that full image does not fit in crop area. .

**Describe the solution you'd like**
A clear and concise description of what you wa

[2022-02-09 16:59] krzysiek84 commented on #637
@NikKovIos  Can confirm that i no longer see the crash in YPImagePicker when using 5.2.1 version 👍

[2022-02-18 12:21] vandanamodi opened #728 "Recent image not showing in selection list library when I save image from Airdrop"
**Describe the bug**
Not able to see Recent image on top in recent folder which is download from google and save through airdrop

**To Reproduce**
Steps to reproduce the behavior:
1. Go to google save any large size image download from - https://7132.com/en/corporate/press/high-resolution-images
2. now Share image to iPhone through airdrop
3. And now open library you can see that that images are n

[2022-02-18 12:30] vandanamodi opened #729 "Can I Change Image limit text like The limit is 20 Images or video"
I want to set my own text for image limit exceed text label

**Describe the solution you'd like**
is there any property that I can change text of Image limit exceed label or if not then can you please update this change in library
Please check attachment for exact text reference
![IMG_1327](https://user-images.githubusercontent.com/95464295/154683166-2434326a-1364-4f27-817f-09bbfb0a3af3.PNG)

[2022-02-21 22:46] isayeter opened #730 "Not deleting the video source in tmp folder"
Hello, after chosing a video and trimming it, framework copies the inputVideo for the trim operations and returns the copied one URL's in callback. But, as I see, it forgots to delete the inputVideo in the tmp folder.

Problem is here: https://github.com/Yummypets/YPImagePicker/blob/5fedc2d95a2ac584e01e301b9a2416d11fc6e273/Source/Filters/Video/YPVideoFiltersVC.swift#L209

[2022-02-24 13:56] schveiguy commented on #729
Please do not ping random people.

[2022-02-24 15:15] gintechsystems commented on #729
Yes, please do not tag random people. @vandanamodi Please look at "warningMaxItemsLimit" which is part of the configuration.wordings (YPImagePickerConfiguration.shared.wordings), this should point you in the right direction. (https://github.com/Yummypets/YPImagePicker/blob/master/Source/Configuration/YPWordings.swift)

[2022-02-25 10:01] vandanamodi commented on #729
ya sorry for inconvenience. i won't. Thank you for the update.

[2022-02-25 10:52] calaforrai opened #733 "Detect if the picture was taken with front camera"
Hello,

it's possible to detect if the picture was taken with the front camera ?
thank for your help

[2022-03-03 08:30] skopf commented on #709
As described in the linked page, this syntax requires Swift 5.4 or later, available in XCode 12.5 or later.

If you cannot upgrade XCode, you can alternatively change the line to:
[code]

[2022-03-04 10:59] calaforrai opened #734 "Memory still increasing if cancelling the picker"
When I open the picker, I choose a photo, on the filter screen I don't use any filter and I click on the back button, I click on the cancel button to close the picker, each new opening of the picker the memory increases by 30mb

Any Help please ?

**Environment :**
 - Device: Iphone 11
 - OS: IOS 13.3
 - Xcode Version 12.0
 - Swift Version 5.0
 **- Project in ObjC**

**Installation Type**
- Cocoap

[2022-03-08 08:45] calaforrai commented on #734
Is this project still maintained ? can someone give me some help ? thank @NikKovIos

[2022-03-10 06:37] M-I-N opened #735 "Crash when hardware corrupted camera is used for capturing photo"
**Describe the bug**
When any camera is corrupted for hardware failure, using that camera for capturing photo causes a fatal crash. Also the camera flipping feature doesn't work. A console log is printed in the case of fatal crash:

**To Reproduce**
Prerequisite: An iPhone with a camera (preferably back camera) that is corrupted due to hardware failure.
Steps to reproduce the behavior:
1. Run the

[2022-03-14 16:18] nickdnk opened #736 "Don't use static appearance methods for customization"
**Is your feature request related to a problem? Please describe.**
You cannot really apply custom fonts to the navigation controller when using the `UIAppearance` approach. You can only customize *some* of the items or *all items in your app*, which is really weird and causes inconsistent appearance. For instance, I can set the `rightBarButtonFont`, but that does not apply to the disabled state of

[2022-03-15 07:53] epitosoft commented on #709
For others to see: I can confirm that this was the issue; was running an outdated version of Xcode (12.4). Instead waiting to install a new version of XCode, I just "unlocked" the class and updated the lib to your suggestion. Built and ran perfectly.

[2022-03-16 08:36] ROOKIE-lori opened #737 "Crash signal SIGTRAP"
I got crash info from background many times,  but i can find problem. crash info:
YQT                                 0x0000000100d8ecd8 YQT   10436721
YQT                                 0x0000000100d8ee2c YQT   10440122   libsystem_platform.dylib            0x00000001ee39029c 4F256518-F4E4-35C7-BA0E-3F0C26B9D24E   211483   libswiftCore.dylib                  0x00000001a634da24 $ss17_assertionFai

[2022-03-17 08:18] MostafaALZOUBI1994 opened #738 "Add dynamic crop ratio"
I need a dynamic crop like whatsapp

[2022-03-23 02:17] GPX-NSlog opened #739 "How to customize the blank status page when the user does not select any picture resources?"
![IMG_0850](https://user-images.githubusercontent.com/17864687/159610850-d3daeae3-e188-49ea-8695-5cb1eefa690a.PNG)

[2022-03-24 04:37] ghost opened #740 "Default selection related to preSelectItemOnMultipleSelection"
Hello YPImagePicker Team.

i am using the library in my project, so while using at first no images are selected(when i need select images i need to click on selection button which might be confusing to general users) when i want to select image from gallery.

Then i used this line and selection button is enabled & the first image comes automatically selected as shown in the screenshot.
config.libr

[2022-03-31 08:47] calaforrai opened #741 "STILL MAINTAINED ????"
Hello,
Is the project still maintained because I asked 2 questions, one was a major memory leak problem, none of which was answered
Thank @bithavoc @appfabtech @schveiguy @vietstone-ng @heitara

Question 1 : #734 (memory Issue)
Question 2 : #733

[2022-03-31 08:50] heitara commented on #741
@calaforrai could you link your questions here, please?

[2022-03-31 09:44] calaforrai commented on #741
@heitara For a memory problem, I created a custom function, I know it's not an optimized solution and probably not a good solution, but it slightly reduces the memory allocation of the picker, I call this function when I close the picker without selecting a photo and when I select a photo it does not reduce the memory allocation so the memory increases by around 70mb with each photo selection, on

[2022-03-31 10:05] heitara commented on #741
I'll investigate and get back to you later today.

[2022-04-01 10:44] heitara commented on #734
Hello @calaforrai ! I can't reproduce this behavior with the leak using the default example project `YPImagePickerExample`. Please, explore it and I hope it would help you understand what creates the leak in you case.
Tip: To make it work on Xcode 13 you have add the dependencies using SPM.

[2022-04-01 11:48] heitara commented on #733
Hi! There is nothing specific in this library yet. You are welcome to add it (you can check YPCameraVC line 159).
Also, you can use the image EXIF data or the image resolution to detect if it's the front camera. Read a bit more about such a workaround [here](https://stackoverflow.com/questions/34370865/how-to-detect-if-photo-taken-from-front-camera).

[2022-04-01 11:51] heitara commented on #741
I've answered to the linked issues. I'll ask @NikKovIos  to close this issue.

[2022-04-01 12:16] calaforrai commented on #733
ok thank you for your answer I will take a look this :)

[2022-04-01 17:34] calaforrai commented on #734
@heitara Thank for your answer but the example project seems to not work on xcode 12 I'm getting this errors

`Type 'ExampleViewController' does not conform to protocol 'YPImagePickerDelegate'`

`Cannot infer contextual base in reference to member 'ypSystemBackground'`

[2022-04-01 18:25] heitara commented on #734
Which branch are you using? Master?

I can try tomorrow with a completely new checkout and I'll let you know what I see.

[2022-04-01 19:32] calaforrai commented on #734
Yes I try with the master

[2022-04-01 23:42] #733 closed, assigned to nobody

[2022-04-01 23:43] #741 closed, assigned to nobody

[2022-04-01 23:46] NikKovIos commented on #734
Right now I've tried the last commit in master branch and it build well. Xcode 13.2.1 (13C100)

[2022-04-02 08:32] calaforrai commented on #734
Ok but the example project seems to not work with xcode 12, I can't update my macbook (Catalina max) so I can't install xcode 13 too, the master branch can be compatible with xcode 12 ?

[2022-04-02 08:49] NikKovIos commented on #734
I don't know. Try to fix this error and make a PR.

[2022-04-06 07:46] bauloc commented on #639
same here, any ideal to remove preview view on top?

[2022-04-15 10:28] rehannali opened #742 "App Crash if use Stevia 5.1.0"
**Describe the bug**
I'm using stevia in my project with SPM version 5.1.0. When I installed YPImagePicker It didn't install the latest one which cause the application to crash. I remove stevia from the project and this library installed the 4.8.0 version of stevia and the 5.2.1 version working fine.

**To Reproduce**
Steps to reproduce the behaviour:
1. Install Stevia from SPM
2. Install YPImageP

[2022-04-20 15:31] diegothucao opened #743 "How to crop video with ratio 7:8 and force to crop"
I want to crop video with ratio 7:8 but not sure how to set it up. It should show top area (video player area)  with ratio 7:8 also right ?
And could we have feature like force to crop with a specific ratio as 7:8, without it we cannot press button Next in top right ?

[2022-04-26 08:07] #722 closed, assigned to nobody

[2022-05-27 02:23] Joseph-Sam commented on #480
I too am interested in this. I think this should be the default setting.

[2022-06-15 14:59] #743 closed, assigned to nobody

[2022-06-16 11:52] dawnnnnn commented on #57
I have this problem with the latest release 5.2.1.

when I choose a slo-mo video, it will throw exception:

YPImagePicker. LibraryMediaManager.swift -> fetchVideoUrlAndCropWithDuration(for:cropRect:duration:callback:) -> Export of the video failed : Optional(Error Domain=AVFoundationErrorDomain Code=-11800 "The operation could not be completed" UserInfo={NSLocalizedFailureReason=An unknown error o

[2022-06-29 06:23] ioslaozhao opened #750 "The language always is english."
The language always is english, but my Iphone's language is Chinese

pod version: 4.5.0

ios 15.4.1, ipone7

[2022-07-05 03:09] Joseph-Sam commented on #730
I'm seeing a similar issue but even without using video trimming. Simply selecting a video and hitting next seems to save them to the temp folder.
All persistent data in my project uses forSecurityApplicationGroupIdentifier/CoreData.

[2022-07-23 19:24] kamrankhan07 commented on #455
SwiftUI
[code]

MediaPicker.swift

[code]

References:
https://www.hackingwithswift.com/books/ios-swiftui/using-coordinators-to-manage-swiftui-view-controllers
https://stackoverflow.com/questions/70962237/use-ypimagepikcer-in-swiftui

[2022-07-23 21:55] DevJlls opened #753 "Front camera distorts image in landscape"
When ever I take an image with the front camera and hold my phone in landscape, the image is distorted. Please see the image attached to get a better understanding.
![IMG_6316](https://user-images.githubusercontent.com/109878469/180624086-9500d09c-4a1e-45f3-bae9-2859bd7e2e82.JPG)

[2022-07-26 20:07] StasKovalov commented on #740
@PikkupM, try to use this prop
![image](https://user-images.githubusercontent.com/46489028/181102589-c615e89c-ead3-45ef-926f-e9cf7278e6f9.png)

[2022-08-25 06:36] MostafaALZOUBI1994 opened #756 "no result from gallery when try it on iphone 8"
**Describe the bug**
PHCachingImageManager+Extensions.swift -> fetch(photo:callback:) -> No Result 🛑 (line: 97)

**To Reproduce**
Steps to reproduce the behavior:
open picker
source type = .photoLibrary
there is no result from gallery
![Simulator Screen Shot - iPhone 8 - 2022-08-25 at 08 49 37](https://user-images.githubusercontent.com/67752747/186592461-f2d7620a-7951-4fb7-9458-150178bf2ca3.png)

[2022-08-25 13:09] JuFa512 commented on #753
Here is how I fixed this issue:

In `YPCameraVC` look for `func shoot()` and replace the code with this code:

`.

       func shoot() {

        v.shotButton.isEnabled = false

        photoCapture.shoot { imageData in

            guard let shotImage = UIImage(data: imageData) else {
                return
            }

            self.photoCapture.stopCamera()

            var image = shotIma

[2022-08-29 15:46] d-nakajima opened #757 "Set NavigationRightButton text to "ok" or "done" on the last page"
**Is your feature request related to a problem? Please describe.**
I'm frustrated by navigationRightButton's text being not appropriate on some cases.
e.g. The filter page is last page on the case that enable filter and disable cropping. So I think that navigationRightButton should be "ok"(or done) button. But now, It is a "Next" button.

**Describe the solution you'd like**
Judge the page being l

[2022-09-02 08:57] niralishaha25 commented on #592
looking for solution , even I am unable to compress the video by AVAssetExportPreset640x480

[2022-09-08 11:20] priyanka-vithani opened #759 "Crop multiple selected image"
I am using this library in my project. in which i need a feature like WhatsApp
in WhatsApp we can select multiple image and we have separate option of crop for each image.

i did not find this feature in this library. if it is present please let me know how to use it as i am not aware of it.

Thank you.

[2022-09-14 11:24] petomuro opened #760 "Question: How can I customize cancel button in SwiftUI?"
Here is my SwiftUI code:
[code]

[2022-09-20 01:10] messkim opened #761 "Crash App in release version"
**Describe the bug**
Hello, I am sorry in advance for my lack of English.

Crash occurs when presenting ypimagepicker.
The peculiarity of this issue occurs on devices that have iOS16 updated.
There is no error in the development environment, and it occurs in the updated version in testflight.

It looks like an error related to [preferredInterfaceOrientationForPresentation], but I don't know what t

[2022-09-20 01:21] messkim commented on #761
Here's some additional information.
in YPImagePicker.swift file,

before
-> modalPresentationStyle = .fullScreen

after
-> if #available(iOS 13.0, *) {
            modalPresentationStyle = .automatic
       } else {
            modalPresentationStyle = .fullScreen
       }

There is no problem with the current testflight version, but further investigation is required.

[2022-09-20 01:21] #761 closed, assigned to nobody

[2022-09-28 12:11] vandanamodi30 opened #762 "library picker text not showing with updated Localization on every time open picker"
localization for Library not update when bundle.main localize update only update when kill App and relaunch and the open it , library  text should with updated localize after localize update in bundle.main.
**To Reproduce**
Steps to reproduce the behavior:
1. by default any language set -> open library
2. check library, cancle, ok and library option text showing in English lang correct
3. then cha

[2022-09-28 19:31] NikKovIos commented on #762
@vandanamodi30 can you create a PR with this?

[2022-09-29 00:02] wkwyatt opened #763 "App Crashes when Changing Selected Image"
**Is your feature request related to a problem? Please describe.**
When you deselect a selected image and select another without confirming the new image by tapping it the app crashes
e.g. Image is selected, you deselect the image and select another, tap done, app crashes
YPImagePicker/YPLibraryVC.swift:531: Fatal error: Unexpectedly found nil while unwrapping an Optional value

**Describe the sol

[2022-10-03 16:02] tangzzz-fan opened #764 "Cannot support Carthage"
Cannot integrate with Carthage, met the error like: xcodebuild timed out while trying to read YPImagePicker.xcworkspace 😭

[2022-10-03 16:03] tangzzz-fan commented on #764
is it on your roadmap?

[2022-10-03 16:14] tangzzz-fan commented on #764
Found in 5.0.0 removed carthage support, close issue

[2022-10-03 16:14] #764 closed, assigned to nobody

[2022-10-16 03:23] ArMouReR commented on #671
@justdan0227 @dan085 Have you found solution to this problem ?

[2022-10-25 13:57] AdlerJS commented on #763
I am getting the same error but slightly different steps to reproduce.

1.) Open picker and observe that the first image in the library is highlighted and seems selected.
2.) Without clicking any other photo press "Done" in the top right
3.) App Crashes with the error above and "selectedAssets" has 0 values upon breakpoint inspection

**Describe the solution you'd like**
 - selectedAssets.first sh

[2022-11-01 22:59] tonilopezmr opened #770 "showsCrop doesn't work with multiple selection"
On multiple selection the crop view doesn't show, I'd like to crop all selected images after selection.

Is there a way to use your crop view to crop the images after selection by myself if showsCrop doesn't support multiple selections?

Thanks

[2022-11-02 17:27] tonilopezmr commented on #770
And could we have access to the `YPCropView`? I think it could be interesting to be able to access to the crop view separately

[2022-11-07 04:54] fukemy commented on #344
how did u solved this?

[2022-11-07 04:54] fukemy commented on #687
how did u solved this?

[2022-11-07 06:19] fukemy commented on #406
how?

[2022-11-25 10:04] halpz commented on #459
how do you tell if a UIImage returned from the picker is a GIF?